<section class="contianer">
    <div class="dialog-header" mat-dialog-title>  
        <div class="row p-0">           
            <i class="col-1 d-flex justify-content-end material-icons dialog-close" mat-dialog-close>close</i>
        </div>    
    </div>
    <div  id="print-section">
    <form  [formGroup]="form" class="m-2" setDir *ngIf="pQ.length">
        <div dir="auto">
            <div class="logo">
                <div class="row">
                    <div class="col-md-6">
                        <a href="#" class="col-md-12 d-flex justify-content-start ml-2 mr-2">
                            <img class="sidebar-logo" src="./assets/img/express_logo.png" />
                        </a>
                      </div>
                    <div class="col-md-6">
                        <h4>اكسبرس بوست للبريد</h4>
                        <h5>EXPRESS POST</h5>
                       </div>
                
                
                </div>
            </div>
            <div class="col-md-12" >
                <label for="">{{'Date'| translate}}</label> : &nbsp;
                <span>  {{todayDate |date :'dd-MM-yyyy'}}</span>
            </div>
           
            <div class="col-md-12" >
                <p>  {{pQ[0].customerName}}  /الساده </p>
               
            </div>
            <div class="col-md-12" >
                <p>   تحيه طيبه وبعد </p>       
            </div>
            <div class="col-md-12" >
                <p>الموضوع:عرض سعر </p>       
            </div>
            <div class="col-md-12" >
                <p>تهديكم اكسبريس بوست للبريد اطيب تحياتها وتتمني لكم دوام التقدم والازدهار في عملكم والسعي في  <br>مسيرة التطور لرقي بلدنا الحبيبه ويسرنا نقدم لكم عرض سعر توزيع التقرير المالي والاداري الخاص بجمعيتكم الموقره  
                     </p>       
            </div>
            <div class="row p-12 mat-elevation-z8" dir="auto" *ngIf="pQ[0].pqItems.hasAmount===false">
                <table mat-table [dataSource]="pQ">
    
                    <ng-container matColumnDef="itemDescription">
                        <th mat-header-cell *matHeaderCellDef> {{'Item Description' | translate}} </th>
                        <td mat-cell *matCellDef="let element"> {{element.pqItems.itemDescription}} </td>
                        <td mat-footer-cell *matFooterCellDef> {{'Total'|translate}} </td>
                    </ng-container>
                    <!-- <ng-container matColumnDef="amount">
                        <th mat-header-cell *matHeaderCellDef> {{'Amount' | translate}} </th>
                        <td mat-cell *matCellDef="let element"> {{element.pqItems.amount}}</td>
                        <td mat-footer-cell *matFooterCellDef>  </td>
                    </ng-container> -->
                  
                    <ng-container matColumnDef="price">
                        <th mat-header-cell *matHeaderCellDef> {{'Price' | translate}} </th>
                        <td mat-cell *matCellDef="let element"> {{element.pqItems.itemPrice}} {{element.pqItems.currencyName}}</td>
                        <td mat-footer-cell *matFooterCellDef> {{pQ[0].pqItems.total}} {{pQ[0].pqItems.currencyName}} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="notes">                   
                        <th mat-header-cell *matHeaderCellDef> {{'Notes' | translate}}</th>
                        <td mat-cell *matCellDef="let element">
                            <div [innerHTML]="pQ[0].pqItems.notes"></div>
                             </td>
                             <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedWithouAmountColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedWithouAmountColumns;"></tr>
                    <tr mat-footer-row class="totalbudget" *matFooterRowDef="displayedWithouAmountColumns"></tr>
               
                </table>
          
        </div>
                    
            <div class="row p-12 mat-elevation-z8" dir="auto" *ngIf="pQ[0].pqItems.hasAmount">
                <table mat-table [dataSource]="pQ">
    
                    <ng-container matColumnDef="itemDescription">
                        <th mat-header-cell *matHeaderCellDef> {{'Item Description' | translate}} </th>
                        <td mat-cell *matCellDef="let element"> {{element.pqItems.itemDescription}} </td>
                        <td mat-footer-cell *matFooterCellDef> {{'Total'|translate}} </td>
                    </ng-container>
                    <ng-container matColumnDef="amount">
                        <th mat-header-cell *matHeaderCellDef> {{'Amount' | translate}} </th>
                        <td mat-cell *matCellDef="let element"> {{element.pqItems.amount}}</td>
                        <td mat-footer-cell *matFooterCellDef>  </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="price">
                        <th mat-header-cell *matHeaderCellDef> {{'Price' | translate}} </th>
                        <td mat-cell *matCellDef="let element"> {{element.pqItems.itemPrice}} {{element.pqItems.currencyName}}</td>
                        <td mat-footer-cell *matFooterCellDef> {{pQ[0].pqItems.total}} {{pQ[0].pqItems.currencyName}} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="notes">                   
                        <th mat-header-cell *matHeaderCellDef> {{'Notes' | translate}}</th>
                        <td mat-cell *matCellDef="let element">
                            <div [innerHTML]="pQ[0].pqItems.notes"></div>
                             </td>
                             <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    <tr mat-footer-row class="totalbudget" *matFooterRowDef="displayedColumns"></tr>
               
                </table>
          
        </div>
        </div>
         <br>
         <div class="col-md-12" >
            <p> اجمالي العرض:</p>       
        </div>

         <div class="col-md-12" >
            <p>
                آملين ان ينال عرضنا هذا علي رضاءكم وموافقتكم
                وتفضلوا بقبول فائق الاحترام.....  
                 </p>       
        </div>
    
    </form>  
    </div> 
    <div mat-dialog-actions class="p-4">
        <button type="button" mat-button class="btn-submit-blue ml-1 mr-1" (click)="printForm()">
            {{'Print' | translate}}
        </button>
    </div>
</section>