<section class="contianer">
    <div class="dialog-header" mat-dialog-title>  
        <div class="row p-0">           
            <i class="col-1 d-flex justify-content-end material-icons dialog-close" mat-dialog-close>close</i>
        </div>    
    </div>
    <div  id="print-section">
    <form  [formGroup]="form" class="m-2" setDir *ngIf="mailItem" class="formSec">
        <div dir="auto">
            <div class="logo">
                <div class="row">
                    <div class="col-md-6">
                        <a href="#" class="col-md-12 d-flex justify-content-start ml-2 mr-2">
                            <img class="sidebar-logo" src="./assets/img/express_logo.png" />
                        </a>
                      </div>
                    <div class="col-md-6">
                        <h4>اكسبرس بوست للبريد</h4>
                        <h5>EXPRESS POST</h5>
                       </div>
                
                
                </div>
            </div>
            <div class="row" >
                <label for="">{{'Date'| translate}}</label> : &nbsp;
                <span>  {{todayDate |date :'dd-MM-yyyy'}}</span>
            </div>
           
            <div class="row">
                <label>الساده</label> : &nbsp;
                <span>{{mailItem.businessCustomerName}}</span>   &nbsp;
              <label>المحترمين</label>
            </div>
            <div class="col-md-12" >
                <center>   تحيه طيبه وبعد </center>       
            </div>
            <div class="row" >
                <label>الموضوع/ بيان بحالة البعثه البريديه برقم</label> : &nbsp;
                <span>{{mailItem.parCode}}</span>                    
            </div>
<div *ngIf="type==='delivered'">
            <div class="col-md-12">
                <p>
                  بناءآ علي طلب سيادتكم بالاستفسار عن حالة البعثه البريديه المذكوره اعلاه
                  باسم السيد {{mailItem.consigneeName}} والوارده الينا بتاريخ  يرجي العلم بانه تم تسليم البعثه البريديه الي السيد بتاريخ  {{mailItem.delivedDate|date :'dd-MM-yyyy'}} في نفس العنوان المسجل علي مغلف البعثه
                  البريديه وتم اصدارهذه الافاده بناءآ علي 
                  طلب سيادتكم ودون اي مسؤؤليه تجاه الشركه 
                </p>       
            </div>
            <div class="col-md-12" >
                <p>
                    وتفضلوا بقبول فائق الاحترام والتقدير
                </p>       
            </div>
        <div class="row">
            <div class="col-md-6">
                <h4>اكسبرس بوست للبريد</h4>
            </div>
        </div>
    </div>
    <div *ngIf="type==='returned'">
        <div class="row">
            <p>
              بناءآ علي طلب سيادتكم بالاستفسار عن حالة البعثه البريديه رقم  {{mailItem.parCode}} والوارده الينا بتاريخ 
                {{mailItem.createdDate |date :'dd-MM-yyyy'}}
            </p>
            <p> باسم السيد {{mailItem.consigneeName}}
                نحيطكم علمآ بان هذه البعثه مرتجعه
              
                <br>وذالك للسبب التالي :: 
                {{mailItem.returnReason}}
            
            </p>
            تم اصدار هذه الافاده بناءآ علي طلب من سيادتكم ودون اي مسؤؤليه تجاه الشركه 
            <p> 
            </p>     
        </div>
        <div class="row" >
            <p>
                وتفضلوا بقبول فائق الاحترام والتقدير
            </p>       
        </div>
    <div class="row">
        <div class="col-md-6">
            <h4>اكسبرس بوست للبريد</h4>
        </div>
    </div>
</div>
        </div>
    </form>  
    </div> 
    <div mat-dialog-actions class="p-4">
        <button type="button" mat-button class="btn-submit-blue ml-1 mr-1" (click)="printForm()">
            {{'Print' | translate}}
        </button>
    </div>
</section>