<div class="main-content" setDir dir="auto">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <header-as-card title="{{'Geo Fences' | translate}}">
                    </header-as-card>
                </div>
            </div>
        </div>

        <div class="row d-flex justify-content-end p-0 m-0 mb-3">
            <button mat-raised-button color="primary" (click)="createGeoFence()" class="btn btn-danger"
               
            *ngxPermissionsOnly="['AddGeofence']">
                {{"Add Geofence" | translate}}
            </button>

            <button mat-raised-button color="primary" class="btn btn-success" (click)="exportGeoFence()"
              
            *ngxPermissionsOnly="['ExportGeoFence']">
                {{'Export' | translate}}
            </button>
        </div>

        <div class="geo-fences scroll row" *ngIf="fences?.length > 0">
            <div class="p-2 col-md-4" *ngFor="let fence of fences;let index = index">
                <mat-card class="custom-card">
                    <mat-card-title class="pl-2 pr-2">
                        <b class="mt-2">{{fence.name}}</b>
                        <button mat-icon-button [matMenuTriggerFor]="menu"
                            [ngStyle]="{'float':locale != 'ar' ? 'right' : 'left' }">
                            <mat-icon>more_horiz</mat-icon>
                        </button>

                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="editGeoFence(fence)"
                                *ngxPermissionsOnly="['UpdateGeofence']">
                                {{'Edit' | translate}}
                            </button>

                            <button mat-menu-item *ngxPermissionsOnly="['DeleteGeofence']">
                                <app-confirm-deletion
                                    title="{{'Are you sure you want to delete this Geofence?' | translate}}"
                                    (confirm)="onConfirm($event,fence)" [showIcon]="false"
                                    btnText="{{'Delete' | translate}}">
                                </app-confirm-deletion>
                            </button>
                        </mat-menu>
                    </mat-card-title>

                    <mat-card-content>
                        <div class="col-12">
                            <b *ngIf="fence.description">{{'Description' | translate}}:</b> {{fence.description}}
                            <br />

                            <b *ngIf="fence.geoFenceBlocks">{{'Blocks' | translate}}:</b>
                            <span *ngFor="let geofenceblock of fence.geoFenceBlocks">
                                [ {{geofenceblock.area}} Block {{geofenceblock.block}}]
                            </span>



                            <p fxFlex="70%">
                                {{'Last updated' | translate}}: {{fence.updatedDate | dateToTimezone}}
                            </p>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>