<section class="container-fluid" dir="ltr" style="overflow: hidden;">
    <div class="dialog-header" mat-dialog-title>
        <div class="row p-0">
            <h4 class="col-11 d-flex justify-content-start">{{'Print Mailitems Receipt' | translate}}</h4>
            <i class="col-1 d-flex justify-content-end material-icons dialog-close" mat-dialog-close>close</i>
        </div>
    </div>

    <div mat-dialog-content dir="rtl" id="print-section">
        <div class="row" *ngFor="let row of mailItems">
            <div class="col-md-6 col-sm-12 text-right">
                <p>اكسبريس بوست للبريد</p>
                <p>ت:22490005</p>
            </div>

            <div class="col-md-6 col-sm-12 text-left">
                <p>Express Post</p>
                <p>Tel:22490005</p>
            </div>

            <div class="col-md-12 col-sm-12 text-center">
                <p>سند استلام بريد</p>
                <p>Mail Receipt Form</p>
                <p>www.expostkw.com</p>
                <p>التاريخ :02/09/2019 امر التوزيع 838 الكشف 12366</p>
            </div>

            <div class="col-md-8 col-sm-12 text-right">
                <h4>اسم المرسل : وزارة العدل</h4>
                <br>
                <h4>ادارة كتاب محكمة: الكلية الاحمدي</h4>
            </div>

            <div class="col-md-4 col-sm-12 d-flex justify-content-end">
                <ngx-barcode [bc-value]="row.mailItemBarCode" [bc-display-value]="true"></ngx-barcode>
            </div>

            <div class="col-md-12 col-sm-12">
                <table class="table table-borderless">
                    <tbody>
                        <tr class="mb-1">
                            <td class="border-cell text-right">اسم المرسل اليه</td>
                            <td class="dotted-row text-right">مصنع قصر الامرات</td>
                            <td class="border-cell">To</td>
                        </tr>

                        <tr class="mb-1">
                            <td class="border-cell text-right">العنوان</td>
                            <td class="dotted-row text-right">
                                {{row.governorate}}, {{row.area}}, {{row.block}}, {{row.building}}, {{row.street}},
                                {{row.flat}}</td>
                            <td class="border-cell">Location</td>
                        </tr>

                        <tr class="mb-1">
                            <td class="border-cell text-right">الرقم الالي</td>
                            <td class="dotted-row text-right"></td>
                            <td class="border-cell">A.N.</td>
                        </tr>

                        <tr class="mb-1">
                            <td class="border-cell text-right">اسم المستخدم</td>
                            <td class="dotted-row text-right"></td>
                            <td class="border-cell">Rec. name</td>
                        </tr>


                        <tr class="mb-1">
                            <td class="border-cell text-right">صفة المستخدم</td>
                            <td class="dotted-row text-right"></td>
                            <td class="border-cell">Discribe</td>
                        </tr>

                        <tr>
                            <td class="border-cell text-right">تاريخ الاستلام</td>
                            <td class="dotted-row text-right"></td>
                            <td class="border-cell">Date</td>
                        </tr>

                        <tr class="mb-1">
                            <td class="border-cell text-right">الساعة</td>
                            <td class="dotted-row text-right"></td>
                            <td class="border-cell">Time</td>
                        </tr>

                        <tr class="mb-1">
                            <td class="border-cell text-right">التوقيع</td>
                            <td class="dotted-row text-right"></td>
                            <td class="border-cell">Signature</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- start actions -->
    <div mat-dialog-actions class="row d-flex justify-content-end p-4">
        <button type="button" mat-button class="btn-submit-blue ml-1 mr-1" (click)="printScreen()">
            {{'Print Mailitems' | translate}}
        </button>

        <button type="button" mat-button class="btn-close-red ml-1 mr-1" mat-dialog-close>
            {{'Close' | translate}}
        </button>
    </div>
    <!-- end actions -->
</section>