<!-- <mat-form-field>
    <mat-label>Search place</mat-label>
    <input type="text" matInput [formControl]="searchControl" [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let place of filteredPlaces" [value]="place">
            {{place}}
        </mat-option>
    </mat-autocomplete>
</mat-form-field> -->