.attachments {
    h4 {
        text-decoration: underline;
    }
}

.remove-text {
    color: red;
    font-size: 16px;
    font-weight: bold;
}
.disabled
{
  pointer-events: none;
  /* for "disabled" effect */
  opacity: 0.7;
 
}
