<form class="row" [formGroup]="form">
    <!-- <mat-form-field setDir class="col-md-4 col-sm-12">
        <mat-label>{{'Customer Code' | translate}}</mat-label>
        <input type="text" placeholder="{{'Customer Code' | translate}}" matInput [matAutocomplete]="autoCustomerCode"
            formControlName="businessCode" (keyup)="onSearch($event,'autoCustomerCode')"
            autocomplete="off" required>
        <mat-autocomplete autoActiveFirstOption #autoCustomerCode="matAutocomplete" 
                    (optionSelected)="optionSelected($event,'autoCustomerCode')">
            <mat-option *ngFor="let option of businessCustomers" [value]="option.businessCode"
            (click)="setBusinessCustomerCode(option)"
            >
                {{option.businessCode}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field> -->

    <!-- <mat-form-field setDir class="col-md-4 col-sm-12">
        <mat-label>{{'Business Industry' | translate}}</mat-label>
        <input type="text" placeholder="{{'Business Industry' | translate}}" matInput formControlName="businessTypeName"
            [matAutocomplete]="autoBusinessIndustry" (keyup)="onSearch($event,'autoBusinessIndustry')" required>
        <mat-autocomplete autoActiveFirstOption #autoBusinessIndustry="matAutocomplete"
            (optionSelected)="optionSelected($event,'autoBusinessIndustry')">
            <mat-option *ngFor="let businessType of businessTypes" [value]="businessType.name_en"
                (click)="setBusinessIndustry(businessType)">
                {{businessType['name_'+locale]}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field> -->
    <mat-form-field setDir class="col-md-4">
        <mat-label>{{'Business Industry' | translate}}</mat-label>
        <select matNativeControl formControlName="businessTypeId" required
            (change)="optionSelected($event.target.value,'autoBusinessIndustry')">
            <option *ngFor="let businessType of businessTypes" [value]="businessType.id">
                {{businessType['name_'+locale]}}
            </option>
        </select>
    </mat-form-field>

    <!-- <mat-form-field setDir class="col-md-4 col-sm-12">
        <mat-label>{{'Business Name' | translate}}</mat-label>
        <input type="text" placeholder="{{'Customer Name' | translate}}" matInput [matAutocomplete]="autoBusinessName"
            (keyup)="onSearch($event,'autoBusinessName')" required>
        <mat-autocomplete autoActiveFirstOption #autoBusinessName="matAutocomplete"
            (optionSelected)="optionSelected($event,'autoBusinessName')">
            <mat-option *ngFor="let option of businessCustomers" [value]="option.businessName"
                (click)="setBusinessName(option)">
                {{option.businessName}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field> -->

    <mat-form-field setDir class="col-md-4 col-sm-12">
        <mat-label>{{'Business Name' | translate}}</mat-label>
        <select required matNativeControl class="pl-2 pr-2" formControlName="businessCustomerId"
            (change)="optionSelected($event.target.value,'autoBusinessName')">
            <option *ngFor="let option of businessCustomers" [value]="option.id">
                {{option.businessName}}
            </option>
        </select>
    </mat-form-field>
    <!-- 
    <mat-form-field setDir class="col-md-4 col-sm-12">
        <mat-label>{{'Branch' | translate}}</mat-label>
        <input type="text" placeholder="{{'Branch' | translate}}" matInput [matAutocomplete]="autoBranch"
            formControlName="hQBranchName" (keyup)="onSearch($event,'branches')" required>
        <mat-autocomplete autoActiveFirstOption #autoBranch="matAutocomplete"
            (optionSelected)="optionSelectedBranch($event,'branches')">
            <mat-option *ngFor="let option of branches" [value]="option.name" (click)="setBranch(option)">
                {{option.name}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field> -->

    <mat-form-field setDir class="col-md-4 col-sm-12">
        <mat-label>{{'Branch' | translate}}</mat-label>
        <select matNativeControl class="pl-2 pr-2" formControlName="businessCustomerBranchId"
            (change)="optionSelected($event.target.value,'autoBranch')"  required>
            <option *ngFor="let option of branches" [value]="option.id">
                {{option.name}}
            </option>
        </select>
    </mat-form-field>
    <!-- 
    <mat-form-field setDir class="col-md-4 col-sm-12">
        <mat-label>{{'Department' | translate}}</mat-label>
        <input type="text" placeholder="{{'Customer Name' | translate}}" matInput [matAutocomplete]="autoDepartment"
            formControlName="departmentName" (keyup)="onSearch($event,'autoDepartment')">
        <mat-autocomplete autoActiveFirstOption #autoDepartment="matAutocomplete"
            (optionSelected)="optionSelected($event,'autoDepartment')">
            <mat-option *ngFor="let department of departments" [value]="department.name_en"
                (click)="setDepartment(department)">
                {{department['name_' + locale]}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field> -->

    <mat-form-field setDir class="col-md-4 col-sm-12">
        <mat-label>{{'Department' | translate}}</mat-label>
        <select matNativeControl class="pl-2 pr-2" formControlName="departmentId"
            (change)="optionSelected($event.target.value,'autoDepartment')">
            <option *ngFor="let department of departments" [value]="department.id">
                {{department['name_' + locale]}}
            </option>
        </select>
    </mat-form-field>
    <!-- <mat-form-field setDir class="col-md-4 col-sm-12">
        <mat-label>{{'Contract Code' | translate}}</mat-label>
        <input type="text" placeholder="{{'Contract Code' | translate}}" matInput [matAutocomplete]="autoContractCode"
        formControlName="contractCode" (keyup)="onSearch($event,'autoContractCode')">
        <mat-autocomplete autoActiveFirstOption #autoContractCode="matAutocomplete"
            (optionSelected)="optionSelected($event,'autoContractCode')">
            <mat-option *ngFor="let option of contracts" [value]="option.code"
            (click)="setContractCode(option)"
            >
                {{option.code}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <mat-form-field setDir class="col-md-4 col-sm-12">
        <mat-label>{{'Contract Status' | translate}}</mat-label>
        <input matInput placeholder="{{'Contract Status' | translate}}" formControlName="contractStatus" type="text">
    </mat-form-field> -->

    <!-- <mat-form-field setDir class="col-md-4 col-sm-12">
        <mat-label>{{'Ordered By' | translate}}</mat-label>
        <input type="text" placeholder="{{'Ordered By' | translate}}" matInput [matAutocomplete]="autoOrderedBy"
            formControlName="orderByName" (keyup)="onSearch($event,'autoOrderedBy')">
        <mat-autocomplete autoActiveFirstOption #autoOrderedBy="matAutocomplete"
            (optionSelected)="optionSelected($event,'autoOrderedBy')">
            <mat-option *ngFor="let option of businessCustomerContacts" [value]="option.fullName"
                (click)="setOrderedBy(option)">
                {{option.fullName}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field> -->

    <mat-form-field setDir class="col-md-4 col-sm-12">
        <mat-label>{{'Ordered By' | translate}}</mat-label>
        <select matNativeControl class="pl-2 pr-2" formControlName="orderById">
            <option *ngFor="let option of businessCustomerContacts" [value]="option.id">
                {{option.fullName}}
            </option>
        </select>
    </mat-form-field>

    <mat-form-field setDir class="col-md-4 col-sm-12">
        <mat-label>{{'Service Sector' | translate}}</mat-label>
        <select matNativeControl class="pl-2 pr-2" formControlName="serviceSectorId"
            (ngModelChange)="optionSelected($event,'autoServiceSector')" [disabled]="isDisabled">
            <option *ngFor="let option of serviceSectors" [value]="option.id">
                {{option.name}}
            </option>
        </select>
    </mat-form-field>
    <!-- <mat-form-field setDir class="col-md-4 col-sm-12">
        <mat-label>{{'CID' | translate}}</mat-label>
        <input matInput placeholder="{{'CID' | translate}}" type="text" formControlName="businessCID" required>
    </mat-form-field> -->



    <!-- <mat-form-field class="col-md-4 col-sm-12">
        <input matInput placeholder="{{'Order Placement Date & Time' | translate}}" type="date"
            formControlName="startedAt"  (change)="datechange($event,'startedAt')">
    </mat-form-field> -->
    <mat-form-field setDir class="col-md-4 col-sm-12">
        <mat-label>{{'Order Placement Date & Time' | translate}}</mat-label>
        <input matInput [matDatepicker]="dateOfStartedAtPicker" formControlName="startedAt" [min]="minDate"
            [max]="maxDate">
        <mat-datepicker-toggle matSuffix [for]="dateOfStartedAtPicker"></mat-datepicker-toggle>
        <mat-datepicker #dateOfStartedAtPicker></mat-datepicker>
    </mat-form-field>


    <!-- <mat-form-field class="col-md-4 col-sm-12">
        <input matInput placeholder="{{'Ready for Pickup At' | translate}}" type="date" 
        formControlName="readyAt" (change)="datechange($event,'readyAt')">
    </mat-form-field> -->
    <mat-form-field setDir class="col-md-4 col-sm-12">
        <mat-label>{{'Ready for Pickup At' | translate}}</mat-label>
        <input matInput [matDatepicker]="dateOfReadyAtPicker" formControlName="readyAt" [min]="minDate" [max]="maxDate">
        <mat-datepicker-toggle matSuffix [for]="dateOfReadyAtPicker"></mat-datepicker-toggle>
        <mat-datepicker #dateOfReadyAtPicker></mat-datepicker>
    </mat-form-field>

    <!-- <mat-form-field class="col-md-4 col-sm-12">
        <input matInput placeholder="{{'Delivery Before' | translate}}" type="date"
         formControlName="deliveryBefore" (change)="datechange($event,'deliveryBefore')">
    </mat-form-field> -->

    <mat-form-field setDir class="col-md-4 col-sm-12">
        <mat-label>{{'Delivery Before' | translate}}</mat-label>
        <input matInput [matDatepicker]="dateOfDeliveryBeforePicker" formControlName="deliveryBefore" [min]="minDate"
            [max]="maxDate">
        <mat-datepicker-toggle matSuffix [for]="dateOfDeliveryBeforePicker"></mat-datepicker-toggle>
        <mat-datepicker #dateOfDeliveryBeforePicker></mat-datepicker>
    </mat-form-field>
    <!-- <mat-form-field setDir class="col-md-4 col-sm-12">
        <mat-label>{{'Pickup Location' | translate}}</mat-label>
        <select matNativeControl class="pl-2 pr-2" formControlName="pickupLocationId">
            <option *ngFor="let option of pickupLocations" [value]="option.id">
                {{option['name_' + locale]}}
            </option>
        </select>
    </mat-form-field> -->

    <!-- <div setDir class="col-md-4 col-sm-12">
        <input-counter (onCount)="onCount($event)"></input-counter>
    </div> -->


    <mat-form-field setDir class="col-md-4 col-sm-12">
        <mat-label>{{'Pickup Request Notification' | translate}}</mat-label>
        <mat-select matNativeControl class="pl-2 pr-2" formControlName="pickupRequestNotificationId">
            <mat-option *ngFor="let option of pickupRequestNotifications" [value]="option.id">
                {{option['name_' + locale]}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <!-- <mat-form-field setDir class="col-md-4 col-sm-12">
        <mat-label>{{'Assigned Driver' | translate}}</mat-label>
        <input matInput placeholder="{{'Assigned Driver' | translate}}" formControlName="assignedDriver" type="text">
    </mat-form-field> -->

    <!-- <mat-form-field setDir class="col-md-4 col-sm-12 mt-2">
        <mat-label>{{'Driver Name' | translate}}</mat-label>
        <select matNativeControl class="pl-2 pr-2"  [formControl]="driverId">
            <option *ngFor="let option of drivers" [value]="option.id">
                {{option.username}}
            </option>
        </select>
    </mat-form-field> -->

    <!-- <mat-form-field setDir class="col-md-4 col-sm-12 mt-2">
        <mat-label>{{'Driver Code' | translate}}</mat-label>
        <input type="text" placeholder="{{'Driver Code' | translate}}" matInput [matAutocomplete]="autoDriverCode"
        [formControl]="form.get('driverId')"
        (keyup)="onSearch($event,'autoDriverCode')" >
        <mat-autocomplete autoActiveFirstOption #autoDriverCode="matAutocomplete"
            (optionSelected)="optionSelected($event,'autoDriverCode')">
            <mat-option *ngFor="let option of drivers" [value]="option.id">
                {{option.code}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field> -->



</form>

<form form class="row" [formGroup]="formInternational" *ngIf="show">

    <mat-form-field class="col-md-4 col-sm-12">
        <input matInput placeholder="{{'AirWayBillNumber ' | translate}}" type="text" formControlName="airWayBillNumber"
            required>
    </mat-form-field>

    <mat-form-field class="col-md-4 col-sm-12">
        <input matInput placeholder="{{'CourierTrackingNumber ' | translate}}" type="text"
            formControlName="courierTrackingNumber" required>
    </mat-form-field>

    <mat-form-field setDir class="col-md-4 col-sm-12">
        <mat-label>{{'Courier ' | translate}}</mat-label>
        <select matNativeControl class="pl-2 pr-2" formControlName="courierId" required>
            <option *ngFor="let option of couriers" [value]="option.id">
                {{option.name}}
            </option>
        </select>
    </mat-form-field>

</form>
<div setDir class="col-md-12 col-sm-12 row">

    <div setDir class="col-md-12 col-sm-12 row" *ngIf="showForCreate">
        <mat-radio-group required>
            <mat-radio-button [value]="1" (change)="radioChange($event)" [checked]="myAddressChecked" class="ml-1 mr-1 mt-2">{{'My
                Address' | translate}}
            </mat-radio-button>

            <mat-radio-button [value]="2" (change)="radioChange($event)" [checked]="newAddressChecked" class="ml-1 mr-1 mt-2">{{'New Address ' |
                translate}}
            </mat-radio-button>
        </mat-radio-group>
    </div>

    <div class="col-md-12" *ngIf="showForCreate" [ngClass]="{'disabled':myAddressChecked}">
        <app-address (onAddressChanges)="onAddressChanges($event)" [addressToReplace]="addressDate" [col]="'col-md-3'"
            [validateAddress]="submitted" (validAddress)="validAddress($event)">
        </app-address>
    </div>
</div>
<section setDir class="attachments col-md-12 col-sm-12 row">
    <div class="col-6 d-flex justify-content-start">
        <h4>{{'Attachments' | translate}}</h4>
    </div>

    <div class="col-6 d-flex justify-content-end">
        <label class="btn-bs-file btn btn-success">
            {{'Add Attachment' | translate}}
            <input type="file" hidden (change)="onSelectFile($event)" accept="{{accept}}" />
        </label>
    </div>

    <div class="col-md-12 col-sm-12 row">
        <span class="col-md-4 col-sm-12" *ngFor="let file of filesToDisplay">
            {{file}} <mat-icon (click)="remove(file)" class="remove-text">close</mat-icon>
        </span>
    </div>
</section>