<!-- start logo section -->
<div class="logo">
    <div class="row">
        <a href="#" class="col-md-12 d-flex justify-content-start ml-2 mr-2">
            <img class="sidebar-logo" src="./assets/img/express_logo.png" />
        </a>
    </div>
</div>
<!-- end logo section -->

<!-- start sidebar -->
<div class="sidebar-wrapper">
    <!-- start menu items -->
    <ul class="nav pt-3" dir="auto">
        <li *ngFor="let menuItem of menuItems;let index = index" class="{{menuItem.class}} nav-item"
            data-toggle="collapse" [attr.data-target]="'#' + menuItem.title" aria-expanded="false"
            [attr.data-controls]="'#' + menuItem.title">
            <ng-container *ngIf="menuItem?.children?.length == 0">
                <a class="nav-link" [routerLink]="[menuItem.path]" (click)="setActive(menuItem.path)"
                    [routerLinkActive]="'active'" *ngxPermissionsOnly="menuItem.permissions">
                    <span class="row" [dir]="dir">
                        <span class="col-3">
                            <i class="material-icons text-light">{{menuItem.icon}}</i>
                        </span>

                        <span class="col-9 item-title p-0">
                            {{menuItem.title | translate}}
                        </span>
                    </span>
                </a>
            </ng-container>

            <ng-container *ngIf="menuItem?.children?.length > 0">
                <a class="nav-link" href="javascript: void(0)" *ngxPermissionsOnly="menuItem.permissions">
                    <span class="row" (click)="setActive(menuItem.path)" setDir>
                        <span class="col-2"><i class="material-icons text-light">{{menuItem.icon}}</i></span>
                        <span class="col-8 item-title d-flex justify-content-start">
                            {{menuItem.title | translate}}
                        </span>
                        <span class="col-2"><i class="material-icons text-light">arrow_drop_down</i></span>
                    </span>
                </a>

                <ul class="collapse list-unstyled internalUl mt-2" id="{{menuItem.title}}">
                    <li *ngFor="let child of menuItem.children;let childIndex = index"
                        class="dropdownpage {{child.class}} nav-item">
                        <a class="nav-link m-0 ml-2 p-1 child-link" [routerLink]="[child.path]"
                            (click)="setActive(child.path,menuItem.title)" [routerLinkActive]="'active'"
                            *ngxPermissionsOnly="child.permissions">
                            <span class="row pl-1 pr-1" [dir]="dir">
                                <span class="col-2 pl-1 pr-1">
                                    <i class="material-icons text-light">{{child.icon}}</i>
                                </span>

                                <span class="col-10 item-title pl-1 pr-1">
                                    {{child.title | translate}}
                                </span>
                            </span>
                        </a>
                    </li>
                </ul>
            </ng-container>
        </li>
    </ul>
    <!-- end menu items -->
</div>
<!-- end sidebar -->