@import "./../../scss/colors.scss";

.card {
    border-radius: 0px;
}

.card-profile .card-avatar {
    margin: 0px auto 0;
}

.card-profile {
    margin-top: 1px;
    text-align: center;
}

.card-profile .card-avatar + .card-body {
    margin-top: 0px;
}

.nav {
    margin-top: 0px;
    display: block;
    margin-bottom: 20px !important;
    background-color: $blue;
    background: linear-gradient(60deg, #3a376d 0%, #014996);
}

li.active > a {
    background-color: #f82020;
}

li > a {
    color: #fff;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.card-profile .card-avatar {
    max-width: 80px;
    max-height: 80px;
}

.nav li:hover > a {
    color: #ffffff;
}

.marginLeft {
    float: none !important;
}

.aBlock {
    display: block;
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
    margin-top: 14px;
}

.internalUl {
    padding-left: 1.5em;
    background-color: $blue;
    background: linear-gradient(90deg, #013f82 0%, rgba(1, 73, 150, 1) 89%);
}

.sidebar-icon {
    color: $blue;
    font-size: 28px;
}

.logo-image {
    height: 60px;
}

.toggle-icon {
    color: $blue;
    i {
        font-size: 28px;
        cursor: pointer;
    }
}

.bottom-border {
    background-color: white;
    border-bottom-left-radius: 10em 2em;
    border-bottom-right-radius: 10em 2em;
}

.username {
    font-size: 24px;
    font-weight: bold;
    color: $red;
    text-transform: capitalize;
}

.username:hover {
    cursor: pointer;
    text-decoration: underline;
}

.item-title {
    font-size: 1rem;
    text-align: start !important;
}

.sidebar-logo {
    height: 5rem;
}

.logo {
    background-color: white;
}

.child-link {
    width: 85%;
}
