<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <header-as-card title="{{'Partner Profile' | translate}}">
                    </header-as-card>

                    <form [formGroup]="customerForm">

                        <div class="card-body">
                            <div class="row">
                                <mat-form-field class="col-md-6 col-sm-12">
                                    <mat-label>{{'Customer Name' | translate}} </mat-label>
                                    <input matInput placeholder="{{'Customer Name' | translate}}" value="test name"
                                        required formControlName="customerName">
                                </mat-form-field>

                                <mat-form-field class="col-md-6 col-sm-12">
                                    <mat-label>{{'Customers Branches' | translate}}</mat-label>
                                    <select matNativeControl required formControlName="customerBranches">
                                        <option value="" disabled selected>{{'Select Branches' | translate}}
                                        </option>
                                        <option value="Capital">Capital</option>
                                        <option value="Hawalli">Hawalli</option>
                                        <option value="Mubarak Al-Kaber">Mubarak Al-Kaber</option>
                                        <option value="Ahmadi">Ahmadi</option>
                                        <option value="Farwaniya">Farwaniya</option>
                                        <option value="Jahra">Jahra</option>
                                    </select>
                                </mat-form-field>

                                <mat-form-field class="col-md-6 col-sm-12">
                                    <input matInput placeholder="{{'Receive Date' | translate}}" type="date"
                                        formControlName="customerReceiveDate">
                                </mat-form-field>

                                <div class="col-md-6 col-sm-12">
                                    <ejs-timepicker placeholder="{{'Receive Time' | translate}}">
                                    </ejs-timepicker>
                                </div>
                            </div>
                        </div>


                        <button mat-raised-button type="submit" class="btn btn-danger pull-right"
                            (click)="downloadOptions()">
                            {{'Download Template' | translate}}
                        </button>

                        <button mat-raised-button type="submit" class="btn btn-danger pull-right" data-toggle="modal"
                            data-target="#uploadFile">
                            {{'Upload Data File' | translate}}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card card-plain">
                <header-as-card title="{{'Items Details' | translate}}">
                </header-as-card>
            </div>
        </div>
    </div>

    <div class="row">
        <mat-form-field appearance="fill" class="col-2 h-45">
            <mat-label>{{'Search' | translate}}</mat-label>
            <input matInput>
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="fill" class="col-2 h-45">
            <mat-label>{{'Search in columns' | translate}}</mat-label>
            <select matNativeControl required>
                <option value="1">{{'Name' | translate}}</option>
                <option value="2">{{'Receiver Name' | translate}} </option>
                <option value="3">{{'Address' | translate}}</option>
                <option value="4">{{'Notes' | translate}}</option>
            </select>
        </mat-form-field>

        <div class="col-2 search">
            <button mat-raised-button color="primary" class="btn btn-success">
                {{'Search' | translate}}
            </button>
        </div>

        <div class="col-6 actions">
            <button mat-raised-button color="primary" data-toggle="modal" data-target="#addEditModal"
                class="btn btn-danger" (click)="manageOrder('Add')">
                {{'Add Item' | translate}}
            </button>

            <button mat-raised-button color="primary" class="btn btn-success">
                {{'Print' | translate}}
            </button>

            <button mat-raised-button color="primary" class="btn btn-success">
                {{'Excel' | translate}}
            </button>
        </div>
    </div>

    <div class="row d-flex justify-content-end p-2">
        <span class="pl-2 pr-2">
            <span><b class="set-bold">{{'Upload date' | translate}}:</b>
                13 Jul 2021
            </span>
        </span>

        <span class="pl-2 pr-2">
            <span><b class="set-bold">{{'Upload time' | translate}}:</b>
                12:54
            </span>
        </span>
    </div>

    <div class="row p-3" dir="auto">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="sn">
                <th mat-header-cell *matHeaderCellDef> #{{'SN' | translate}} </th>
                <td mat-cell *matCellDef="let element; let index = index"> {{index + 1}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> {{'Name' | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="receiverName">
                <th mat-header-cell *matHeaderCellDef> {{'Receiver Name' | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.receiverName}} </td>
            </ng-container>

            <ng-container matColumnDef="barCode">
                <th mat-header-cell *matHeaderCellDef> {{'Barcode' | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.barCode}} </td>
            </ng-container>

            <ng-container matColumnDef="address">
                <th mat-header-cell *matHeaderCellDef> {{'Address' | translate}} </th>
                <td mat-cell *matCellDef="let element">
                    <span>
                        <span>{{element.Governorate}}</span>
                        <span>{{element.Area}}</span>
                        <span>{{element.Block}}</span>
                        <span>{{element.Street}}</span>
                        <span>{{element.BuildingNo}}</span>
                        <span>{{element.floorNo}}</span>
                    </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="location">
                <th mat-header-cell *matHeaderCellDef class="text-center">

                </th>
                <td mat-cell *matCellDef="let element" class="text-center">
                    <i class="material-icons">location_on</i>
                </td>
            </ng-container>

            <ng-container matColumnDef="notes">
                <th mat-header-cell *matHeaderCellDef> {{'Notes' | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.notes}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef class="text-center"> {{'Actions' | translate}}
                </th>
                <td mat-cell *matCellDef="let element" class="text-center">
                    <button mat-icon-button [matMenuTriggerFor]="actionsMenu">
                        <mat-icon>more_horiz</mat-icon>
                    </button>

                    <mat-menu #actionsMenu="matMenu" (click)="manageOrder('Edit')">
                        <button mat-menu-item data-toggle="modal" data-target="#addEditModal">
                            {{'Edit' | translate}}<i class="material-icons">mode_edit</i>
                        </button>

                        <button mat-menu-item>
                            {{'Delete' | translate}}<app-confirm-deletion
                                title="{{'Are you sure you want to delete this order?' | translate}}"
                                (onDelete)="onDelete($event,i)">
                            </app-confirm-deletion>
                        </button>
                    </mat-menu>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>

    <div class="row" setDir>
        <mat-paginator dir="ltr" [length]="20" [pageSize]="10" [pageSizeOptions]="[5, 10, 25]">
        </mat-paginator>
    </div>
</div>

<!--  modal -->
<div id="addEditModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <div class="cardStyle container card-cascade">
                    <div class="overlay-CardCascade paddingFor-CardCascade">
                        <div class="card-header card-header-danger popupHeader">
                            <h4 class="card-title h4Header">{{addOrEdit}} {{'Item' | translate}}</h4>
                            <p class="card-category"></p>
                        </div>
                    </div>

                    <div class="card-body">
                        <form [formGroup]="orderForm">
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'Item Name' | translate}}" type="text" required
                                            formControlName="name">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'Case' | translate}}#" type="text"
                                            formControlName="case">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'Receiver Name' | translate}}" type="text"
                                            formControlName="receiverName">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'Barcode' | translate}}" type="number"
                                            formControlName="barCode">
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <app-address></app-address>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div style="margin: auto">
                    <button type="button" class="btn btn-primary shadowfor-pop-btn saveBtn" (click)="onClick()">
                        {{'Save Item' | translate}}
                    </button>
                    <button type="button" class="btn btn-danger close_btn shadowfor-pop-btn m-left-10"
                        data-dismiss="modal">
                        {{'Close' | translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- popUp for company logo update -->

<div id="uploadFile" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4>
                    {{'Upload Option (excel)' | translate}}
                </h4>
                <h6>
                    {{'In Progress' | translate}}
                </h6>
            </div>

            <div class="modal-footer">
                <div style="margin: auto">


                    <button type="button" class="btn btn-danger close_btn shadowfor-pop-btn m-left-10"
                        data-dismiss="modal">
                        {{'Close' | translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>