@import "./../../shared/scss/colors";

.container-fluid {
    padding: 0px;
}

section {
    background-image: url("../../../assets/img/bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 800px;

    form {
        background-color: white;
        padding: 15px;
        border-radius: 25px;
        padding-left: 60px;
        padding-right: 60px;

        h3 {
            line-height: 1px;
            color: $blue;
            font-weight: 600;
        }

        .login-logo {
            height: 80px;
            width: 180px;
        }

        .forgot {
            color: orange;
        }

        input {
            padding: 5px;
        }
    }

    .custom-btn {
        height: 50px;
        color: white;
        border-radius: 10px !important;
        background-color: $red;
    }

    .sign-up {
        font-weight: 500;
        color: 18px;
        color: $blue;
    }
}

.img-flag {
    height: 30px;
    width: 60px;
}

.flag-name {
    min-width: 50px;
}

:host ::ng-deep {
    .mat-label {
        color: $blue;
    }

    .mat-form-field-appearance-fill .mat-form-field-flex {
        padding: 0px;
        padding-left: 5px;
        border-radius: 0px;
    }

    .mat-form-field-appearance-fill .mat-form-field-subscript-wrapper {
        padding: 0px;
    }

    .mat-form-field-underline {
        display: none;
    }

    .mat-label {
        color: $blue;
    }

    .icon {
        color: $blue;
    }

    .progress {
        margin: 0 auto;
    }
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 40px;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 25px;
    height: 25px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
