<section class="container-fluid pt-5 pb-5">

    <form [formGroup]="form" class="col-md-4 col-sm-10 mx-auto pt-4">
        <div class="text-center mt-5">
            <img class="login-logo" src="assets/img/express_logo.png">
        </div>

        <div class="d-flex">
            <h3 class="mb-5 mt-5"> {{"Sign In" | translate}}</h3>
        </div>

        <mat-form-field appearance="fill">
            <mat-label class="dms-label-color">{{"Email" | translate}}</mat-label>
            <input type="text" matInput formControlName="email" required>
            <mat-icon matSuffix class="icon">person</mat-icon>
            <mat-error *ngIf="!form.controls['email'].valid" class="mb-3">
                {{getError('email')}}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="mt-2">
            <mat-label class="dms-label-color">{{"Password" | translate}}</mat-label>
            <input type="{{type}}" matInput formControlName="password" required autocomplete="off">
            <mat-icon matSuffix class="icon" (click)="togglePassword()">remove_red_eye</mat-icon>
            <mat-error *ngIf="!form.controls['password'].valid" class="mb-3">
                {{getError('password')}}
            </mat-error>
        </mat-form-field>

        <div class="row mb-5 pl-2 pr-2">
            <p class="col-md-8 d-flex justify-content-start p-0">
                <button mat-button type="button">
                    <a class="forgot" [routerLink]="'/auth/forgotPassword'">{{"Forgot Password?" | translate}}</a>
                </button>
            </p>

            <mat-form-field class="col-4 pl-0 pr-0">
                <mat-select matNativeControl formControlName="flag" (selectionChange)="selectionChange($event)">
                    <mat-select-trigger>
                        <img class="img-flag pl-1 pr-1" src="assets/img/flags/{{selectedFlag?.flagImg}}">
                        <span class="flag-name">{{selectedFlag?.name}}</span>
                    </mat-select-trigger>

                    <mat-option *ngFor="let flag of flags" [value]="flag">
                        <img src="assets/img/flags/{{flag.flagImg}}" class="img-flag">
                        {{flag.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <button mat-flat-button mat-button class="col-md-12 col-sm-12 custom-btn pb-5" (click)="submit()">
                <div class="lds-dual-ring" *ngIf="loading"></div>
                <span class="pl-1 pr-1">
                    {{"Sign In" | translate}}
                </span>
            </button>

            <button mat-button color="primary" class="col-md-12 col-sm-12 d-flex mt-3 justify-content-start"
                (click)="register()">
                {{"Register new account" | translate}}
            </button>

        </div>
    </form>
</section>