<div class="container-fluid add-business-account">
    <form class="row p-3" [formGroup]="form">
        <div class="col-md-10 row">
            <mat-form-field class="col-md-4 col-sm-12" setDir>
                <mat-label>{{'Account Name' | translate}}</mat-label>
                <input matInput placeholder="{{'Account Name' | translate}}" type="text" formControlName="businessName"
                    required>
            </mat-form-field>

            <mat-form-field class="col-md-4 col-sm-12" setDir  *ngIf="businessCustomer?.accountType != 2">
                <mat-label   [hidden]="businessCustomer?.accountType == 2">{{'Business Industry' | translate}}</mat-label>
                <select    class="pl-2 pr-2" matNativeControl formControlName="businessTypeId" required
                    placeholder="{{'Select Business Industry' | translate}}">
                    <option *ngFor="let businessType of businessTypes" [value]="businessType.id">
                        {{businessType['name_'+locale]}}
                    </option>
                </select>
            </mat-form-field>

            <mat-form-field class="col-md-4 col-sm-12" setDir>
                <mat-label>{{'CID' | translate}}</mat-label>
                <input matInput placeholder="{{'CID' | translate}}" type="text" formControlName="businessCID" required>
            </mat-form-field>

            <mat-form-field class="col-md-4 col-sm-12" setDir>
                <mat-label>{{'Collections' | translate}}</mat-label>
                <select matNativeControl formControlName="collectionMethodId" required
                    placeholder="{{'Select Collection' | translate}}">
                    <option *ngFor="let collection of collections" [value]="collection.id">
                        {{collection['name_'+locale]}}
                    </option>
                </select>
            </mat-form-field>

            <mat-form-field class="col-md-4 col-sm-12" setDir  *ngIf="businessCustomer?.accountType != 2">
                <mat-label>{{'Business Code' | translate}}</mat-label>
                <input matInput placeholder="{{'Business Code' | translate}}" type="text"
                    formControlName="businessCode">
            </mat-form-field>
        </div>

        <div class="col-md-2 col-sm-12 row d-flex justify-content-end">
            <div class="col-12 text-center mt-2">
                <img [src]="path" height="140" width="140" class="card-avatar profile-pic">
            </div>

            <div class="col-12 pt-2 text-center">
                <input type="file" id="upload-business-info" hidden (change)="onSelectFile($event)"
                    accept="{{accept}}" />
                <label for="upload-business-info" class="edit-image" *ngIf="enableLogoEdit">
                    <mat-icon>mode_edit</mat-icon><span class="p-2">{{'Edit' | translate}}</span>
                </label>
            </div>
        </div>
    </form>
</div>