@import "./../../../shared/scss/colors.scss";

.add-business-account {
    margin-top: 30px;
    background-color: white;
}

.edit-image {
    color: $blue;
    cursor: pointer;
    font-weight: bold;
}
