<section class="contianer">
    <div class="dialog-header" mat-dialog-title>
        <div class="row p-0">
            <h4 class="col-11 d-flex justify-content-start">{{'Print Barcode' | translate}}</h4>
            <i class="col-1 d-flex justify-content-end material-icons dialog-close" mat-dialog-close>close</i>
        </div>
    </div>

    <div mat-dialog-content class="m-2">
        <div class="row p-3" id="print-section">
            <div *ngFor="let barcode of barcodes" class="col-md-6 mt-5 mb-5">
                <div class="mt-2 mb-2">
                    <ngx-barcode [bc-value]="barcode.code" [bc-display-value]="true"></ngx-barcode>
                </div>

                <div>
                    <span class="barcode-label">Created Date: </span>{{barcode.createdDate}}
                </div>

                <div>
                    <span class="barcode-label">Driver Name Or Raf Code: </span>{{barcode.driverName}}
                </div>

                <div>
                    <span class="barcode-label">Receiver Name: </span>{{barcode.recieverName}}
                </div>

                <div>
                    <span class="barcode-label">Address: </span> {{barcode.address}}
                </div>
            </div>
        </div>
    </div>

    <!-- start actions -->
    <div mat-dialog-actions class="d-flex justify-content-end m-2">
        <button type="button" mat-button class="btn-submit-blue ml-1 mr-1" (click)="printScreen()">
            <span *ngIf="loading">
                {{'Processing ...' | translate}}
            </span>

            <span *ngIf="!loading">
                {{'Print Barcode(s)' | translate}}
            </span>
        </button>

        <button type="button" mat-button class="btn-close-red ml-1 mr-1" mat-dialog-close>
            {{'Close' | translate}}
        </button>
    </div>
    <!-- end actions -->
</section>