<div class="main-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <header-as-card title="{{'Customer Details' | translate}}"
                        subTitle="{{'Total Customer' | translate}} {{orderDetails.length}}"
                        (onBtnClicked)="onBtnClicked($event)">
                    </header-as-card>

                    <div class="row mt-4">
                        <mat-form-field appearance="fill" class="col-2 h-45">
                            <mat-label>{{'Search' | translate}}</mat-label>
                            <input matInput>
                            <mat-icon matSuffix>search</mat-icon>
                        </mat-form-field>

                        <mat-form-field appearance="fill" class="col-2 h-45">
                            <mat-label>{{'Search in columns' | translate}}</mat-label>
                            <select matNativeControl required>
                                <option value="1">{{'Customer Name' | translate}}</option>
                                <option value="2">{{'Branch Name' | translate}}</option>
                                <option value="3">{{'Phone Number' | translate}}</option>
                                <option value="4">{{'Email' | translate}}</option>
                                <option value="4">{{'Address' | translate}}</option>
                            </select>
                        </mat-form-field>

                        <div class="col-1">
                            <button mat-raised-button color="primary" class="btn btn-success">
                                {{'Search' | translate}}
                            </button>
                        </div>

                        <div class="col-7 actions">
                            <button mat-raised-button color="primary" class="btn btn-danger" data-toggle="modal"
                                data-target="#customer-modal">
                                {{'Add New Location' | translate}}
                            </button>

                            <button mat-raised-button color="primary" class="btn btn-success">
                                {{'Print' | translate}}
                            </button>

                            <button mat-raised-button color="primary" class="btn btn-success">
                                {{'Excel' | translate}}
                            </button>
                        </div>
                    </div>

                    <div class="row p-3" dir="auto">
                        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                            <ng-container matColumnDef="customerName">
                                <th mat-header-cell *matHeaderCellDef> {{'Customer Name' | translate}} </th>
                                <td mat-cell *matCellDef="let element"> {{element.customerName}} </td>
                            </ng-container>

                            <ng-container matColumnDef="bankName">
                                <th mat-header-cell *matHeaderCellDef> {{'Branch Name' | translate}}</th>
                                <td mat-cell *matCellDef="let element"> {{element.bankName}} </td>
                            </ng-container>

                            <ng-container matColumnDef="phoneNumber">
                                <th mat-header-cell *matHeaderCellDef> {{'Phone Number' | translate}}</th>
                                <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
                            </ng-container>

                            <ng-container matColumnDef="email">
                                <th mat-header-cell *matHeaderCellDef> {{'Email' | translate}}</th>
                                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                            </ng-container>

                            <ng-container matColumnDef="address">
                                <th mat-header-cell *matHeaderCellDef> {{'Address' | translate}} </th>
                                <td mat-cell *matCellDef="let element">
                                    <span>
                                        <span>{{element.Governorate}}</span>
                                        <span>{{element.Area}}</span>
                                        <span>{{element.Block}}</span>
                                        <span>{{element.Street}}</span>
                                        <span>{{element.BuildingNo}}</span>
                                        <span>{{element.floorNo}}</span>
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="status">
                                <th mat-header-cell *matHeaderCellDef> {{'Status' | translate}}</th>
                                <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                            </ng-container>

                            <ng-container matColumnDef="location">
                                <th mat-header-cell *matHeaderCellDef class="text-center">
                                </th>

                                <td mat-cell *matCellDef="let element" class="text-center">
                                    <i class="material-icons">location_on</i>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="actions">
                                <th mat-header-cell *matHeaderCellDef class="text-center"> {{'Actions' | translate}}
                                </th>
                                <td mat-cell *matCellDef="let element" class="text-center">
                                    <button mat-icon-button [matMenuTriggerFor]="actionsMenu">
                                        <mat-icon>more_horiz</mat-icon>
                                    </button>

                                    <mat-menu #actionsMenu="matMenu">
                                        <button mat-menu-item data-toggle="modal" data-target="#customer-modal">
                                           
                                            <i class="material-icons" (click)="manageLocation('Edit')">mode_edit</i>  {{'Edit' | translate}}
                                        </button>

                                        <button mat-menu-item>
                                            {{'Delete' | translate}}
                                            <app-confirm-deletion
                                                title="{{'Are you sure you want to delete this location?' | translate}}"
                                                (onDelete)="onDelete($event,i)">
                                            </app-confirm-deletion>
                                        </button>
                                    </mat-menu>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>

                    <div class="row" setDir>
                        <mat-paginator dir="ltr" [length]="20" [pageSize]="10" [pageSizeOptions]="[5, 10, 25]">
                        </mat-paginator>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!--  modal -->
<div id="customer-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <div class="cardStyle container card-cascade">
                    <div class="overlay-CardCascade paddingFor-CardCascade">
                        <div class="card-header card-header-danger popupHeader">
                            <h4 class="card-title h4Header">{{addOrEdit}} {{'Customer' | translate}}</h4>
                            <p class="card-category"></p>
                        </div>
                    </div>

                    <div class="card-body">
                        <form [formGroup]="orderForm">
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'Customer Name' | translate}}" type="text"
                                            required formControlName="customerName">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <ng-multiselect-dropdown [placeholder]="'Branch Name' |  translate"
                                        [settings]="dropdownSettings" [data]="dropdownListStatus">
                                    </ng-multiselect-dropdown>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'Status' | translate}}" type="text"
                                            formControlName="status">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <app-tel-input></app-tel-input>
                                </div>

                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'Email' | translate}}" type="text"
                                            formControlName="email">
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <app-address></app-address>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div style="margin: auto">
                    <button type="button" class="btn btn-primary shadowfor-pop-btn saveBtn" (click)="onClick()">
                        {{'Save Customer' | translate}}
                    </button>
                    <button type="button" class="btn btn-danger close_btn shadowfor-pop-btn m-left-10"
                        data-dismiss="modal">
                        {{'Close' | translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- popUp for company logo update -->

<!-- company details Update -->

<div id="downloadTemplate" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4>
                    {{'Download Option (excel)' | translate}}
                </h4>
                <h6>
                    {{'In Progress' | translate}}
                </h6>
            </div>
            <div class="modal-footer">
                <div style="margin: auto">
                    <button type="button" class="btn btn-primary shadowfor-pop-btn saveBtn" data-dismiss="modal"
                        (click)="confirmDelete()">
                        {{'Download' | translate}}
                    </button>
                    <button type="button" class="btn btn-danger close_btn shadowfor-pop-btn m-left-10"
                        data-dismiss="modal">
                        {{'Close' | translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="uploadFile" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4>
                    {{"Upload Option (excel)" | translate}}
                </h4>
                <h6>
                    {{'In Progress' | translate}}
                </h6>
            </div>
            <div class="modal-footer">
                <div style="margin: auto">
                    <button type="button" class="btn btn-primary shadowfor-pop-btn saveBtn" data-dismiss="modal"
                        (click)="confirmDelete()">
                        {{'Upload' | translate}}
                    </button>
                    <button type="button" class="btn btn-danger close_btn shadowfor-pop-btn m-left-10"
                        data-dismiss="modal">
                        {{'Close' | translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>