@import "../../scss/colors.scss";
@import "../../scss/colors.scss";
.confirm-btn {
  color: white;
  border-radius: 0px;
  background-color: $blue;
}

.cancel-btn {
  color: white;
  border-radius: 0px;
  background-color: $red;
}
