<section class="row m-2 p-3">
    <h4 mat-dialog-title class="col-10 d-flex justify-content-start">
        {{title}}
    </h4>

    <span mat-dialog-title class="col-2 d-flex justify-content-end" (click)="cancel()">
        <mat-icon>close</mat-icon>
    </span>

    <mat-divider class="col-12"></mat-divider>

    <div mat-dialog-actions class="col-12 d-flex justify-content-center">
        <button type="button" mat-button color="basic" (click)="cancel()" class="cancel-btn ml-1 mr-1">
            {{'Close' | translate}}
        </button>

        <button type="button" mat-button color="primary" [mat-dialog-close]="true" class="confirm-btn ml-1 mr-1">
            {{'Delete' | translate}}
        </button>
    </div>
</section>