<section class="contianer">
    <div class="dialog-header" mat-dialog-title dir="auto">
        <div class="row p-0">
            <h4 class="col-11 d-flex justify-content-start">{{operation}} {{'Item' | translate}}</h4>
            <i class="col-1 d-flex justify-content-end material-icons dialog-close" mat-dialog-close>close</i>
        </div>
    </div>

    <form mat-dialog-content class="p-3 m-2" dir="auto">
        <div class="row">
            <mat-form-field class="col-md-4">
                <input matInput placeholder="{{'Item type' | translate}}" type="text" required>
            </mat-form-field>

            <mat-form-field class="col-md-4">
                <input matInput placeholder="{{'Item value' | translate}}" type="text">
            </mat-form-field>

            <mat-form-field class="col-md-4">
                <input matInput placeholder="{{'Width' | translate}}" type="text">
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field class="col-md-4">
                <input matInput placeholder="{{'Hight' | translate}}" type="text">
            </mat-form-field>

            <mat-form-field class="col-md-4">
                <input matInput placeholder="{{'Actual Weight' | translate}}" type="text">
            </mat-form-field>
        </div>
    </form>

    <!-- start actions -->
    <div mat-dialog-actions class="p-2" dir="auto">
        <button type="button" mat-button class="btn-submit-blue ml-1 mr-1">
            {{'Save Item' | translate}}
        </button>

        <button type="button" mat-button class="btn-close-red ml-1 mr-1" mat-dialog-close>
            {{'Close' | translate}}
        </button>
    </div>
    <!-- end actions -->
</section>