<div class="main-content">
    <div class="container-fluid">
        <form [formGroup]="form" class="m-2">
            <div class="card card-profile">
                <div class="row p-3">
                    <header-as-card class="col-md-12 mb-1" title="{{'Personal Information' | translate}}">
                    </header-as-card>

                    <div class="col-md-9 col-sm-12 row mt-3">
                        <mat-form-field setDir class="col-md-4 col-sm-12">
                            <input matInput placeholder="{{'First Name' | translate}}" type="text"
                                formControlName="firstName" required>
                        </mat-form-field>

                        <mat-form-field setDir class="col-md-4 col-sm-12">
                            <input matInput placeholder="{{'Middle Name' | translate}}" type="text"
                                formControlName="middleName" required>
                        </mat-form-field>

                        <mat-form-field setDir class="col-md-4 col-sm-12">
                            <input matInput placeholder="{{'Family Name' | translate}}" type="text"
                                formControlName="lastName" required>
                        </mat-form-field>

                        <mat-form-field setDir class="col-md-4 col-sm-12">
                            <mat-label>{{'Nationality' | translate}}</mat-label>
                            <input type="text" placeholder="{{'Nationality' | translate}}" matInput
                                formControlName="countryCtrl" required [matAutocomplete]="autoCountries">
                            <mat-autocomplete autoActiveFirstOption #autoCountries="matAutocomplete">
                                <mat-option *ngFor="let country of filteredCountries | async" [value]="country.name"
                                    (click)="setCountry(country)">
                                    <span>{{country.name}}</span>
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>

                        <mat-form-field setDir class="col-md-4 col-sm-12">
                            <mat-label>{{'Gender' | translate}}</mat-label>
                            <select matNativeControl formControlName="genderId" placeholder="{{'Gender' | translate}}" required>
                                <option *ngFor="let gender of genders" [value]="gender.id">{{gender['name_' + locale]}}
                                </option>
                            </select>
                        </mat-form-field>

                        <mat-form-field setDir class="col-md-4 col-sm-12">
                            <input matInput placeholder="{{'Identity No' | translate}}" type="number"
                                formControlName="nationalId">
                        </mat-form-field>

                        <!-- <mat-form-field setDir class="col-md-4 col-sm-12">
                            <mat-label>{{'Birthdate' | translate}}</mat-label>
                            <input matInput [matDatepicker]="dateOfBirthPicker" formControlName="dateOfBirth"
                                [min]="minDate" [max]="maxDate">
                            <mat-datepicker-toggle matSuffix [for]="dateOfBirthPicker"></mat-datepicker-toggle>
                            <mat-datepicker #dateOfBirthPicker></mat-datepicker>
                        </mat-form-field> -->

                        <mat-form-field setDir class="col-md-4 col-sm-12">
                            <mat-label>{{'Birthdate ' | translate}}</mat-label>
                            <input matInput [matDatepicker]="dateOfBirth" formControlName="dateOfBirth" (dateChange)="date($event)" required>
                            <mat-datepicker-toggle matSuffix [for]="dateOfBirth"></mat-datepicker-toggle >
                            <mat-datepicker #dateOfBirth></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field setDir class="col-md-4 col-sm-12">
                            <mat-label>{{'Phone Number' | translate}}</mat-label>
                            <input matInput placeholder="{{'Phone Number' | translate}}" type="number"
                                formControlName="phoneNumber" required>
                        </mat-form-field>

                        <div class="col-md-4 col-sm-12">
                            <app-tel-input [isRequired]="false" [previousCountryId]="row?.countryId"
                                [previousNumber]="row?.mobileNumber" (number)="number($event)"
                                (isValid)="isValidPhoneNumber($event)" (country)="onCountry($event)">
                            </app-tel-input>
                        </div>

                        <mat-form-field setDir class="col-md-4 col-sm-12">
                            <input matInput placeholder="{{'Email' | translate}}" type="email" formControlName="email" required>
                        </mat-form-field>
                    </div>

                    <div class="col-md-3 col-sm-12 row mt-5">
                        <div class="col-md-12 col-sm-12 text-center mt-2">
                            <img [src]="path" height="150" width="150" class="card-avatar profile-pic">
                        </div>

                        <div class="col-sm-12 col-md-12 pt-2 col-12 text-center">
                            <input type="file" id="upload" hidden (change)="onSelectFile($event)" accept="{{accept}}" />
                            <label for="upload" class="edit-image">
                                <mat-icon>mode_edit</mat-icon><span class="p-2">{{'Edit' | translate}}</span>
                            </label>
                        </div>
                    </div>

                    <div class="col-md-12 m-0 p-0">
                        <app-address (onAddressChanges)="onAddressChanges($event)" [addressToReplace]="row?.address"
                            [col]="'col-md-3'">
                        </app-address>
                    </div>

                    <div class="col-md-12 row d-flex justify-content-start">
                        <h5 class="col-12 d-flex justify-content-start">{{'Select vehicle type' | translate}}</h5>
                        <mat-button-toggle-group class="col-12 m-3" #group="matButtonToggleGroup"
                            (change)="onChangeType($event)" [value]="selectedTransportionType.toLocaleLowerCase()">
                            <mat-button-toggle [value]="type.name.toLocaleLowerCase()"
                                *ngFor="let type of transportTypes"
                                [ngClass]="selectedTransportionType == type.name? 'mat-button-toggle-checked':''">
                                <img class="type-image" src="assets/img/driver/{{type.name.toLocaleLowerCase()}}.png">
                            </mat-button-toggle>
                        </mat-button-toggle-group>
                    </div>

                    <mat-form-field setDir class="col-md-3 col-sm-12" *ngIf="selectedTransportionType !== 'walk'">
                        <mat-label class="dms-label-color">{{'Transport description' | translate}} (year,model)
                        </mat-label>
                        <input matInput type="text" formControlName="transportDescription"
                            [required]="selectedTransportionType !== 'walk'">
                    </mat-form-field>

                    <mat-form-field setDir class="col-md-3 col-sm-12"
                        *ngIf="selectedTransportionType !== 'walk' && selectedTransportionType !== 'cycle'">
                        <mat-label class="dms-label-color">{{'Licence plate' | translate}}</mat-label>
                        <input matInput type="text" formControlName="licensePlate"
                            [required]="selectedTransportionType !== 'walk' && selectedTransportionType !== 'cycle'"
                            trim>
                    </mat-form-field>

                    <mat-form-field setDir class="col-md-3 col-sm-12"
                        *ngIf="selectedTransportionType !== 'walk' && selectedTransportionType !== 'cycle' ">
                        <mat-label class="dms-label-color">{{'Color' | translate}}</mat-label>
                        <input matInput type="color" formControlName="color"
                            trim>
                            <!-- [required]="selectedTransportionType !== 'walk' && selectedTransportionType !== 'cycle'" -->
                    </mat-form-field>
                </div>
            </div>

            <div class="card card-profile">
                <div class="row p-3">
                    <header-as-card class="col-md-12 mb-1" title="{{'Job Information' | translate}}">
                    </header-as-card>

                    <mat-form-field setDir class="col-md-3 col-sm-12">
                        <input matInput placeholder="{{'Email' | translate}}" type="email"
                            formControlName="companyEmail">
                    </mat-form-field>

                    <mat-form-field setDir class="col-md-3 col-sm-12">
                        <mat-label>{{'Branch' | translate}}</mat-label>
                        <select matNativeControl formControlName="branchId"
                            placeholder="{{'Select Branch' | translate}}" required>
                            <option *ngFor="let branch of branchs" [value]="branch.id">{{branch.name}}</option>
                        </select>
                    </mat-form-field>

                    <mat-form-field setDir class="col-md-3 col-sm-12">
                        <mat-label>{{'Department' | translate}}</mat-label>
                        <select matNativeControl formControlName="departmentId"
                            placeholder="{{'Select Department' | translate}}" required>
                            <option *ngFor="let department of departments" [value]="department.id">
                                {{department['name_' + locale]}}
                            </option>
                        </select>
                    </mat-form-field>

                    <mat-form-field setDir class="col-md-3 col-sm-12">
                        <mat-label>{{'Sector' | translate}}</mat-label>
                        <select matNativeControl formControlName="serviceSectorId"
                            placeholder="{{'Select Sector' | translate}}" required>
                            <option *ngFor="let sector of sectors" [value]="sector.id">
                                {{sector['name_' + locale]}}
                            </option>
                        </select>
                    </mat-form-field>

                    <mat-form-field setDir class="col-md-3 col-sm-12">
                        <mat-label>{{'Team' | translate}}</mat-label>
                        <select matNativeControl formControlName="teamId" placeholder="{{'Select Team' | translate}}"
                            required>
                            <option *ngFor="let team of teams" [value]="team.id">
                                {{team.name}}
                            </option>
                        </select>
                    </mat-form-field>

                    <mat-form-field setDir class="col-md-3 col-sm-12">
                        <mat-label>{{'Direct Manager' | translate}}</mat-label>
                        <select matNativeControl formControlName="supervisorId"
                            placeholder="{{'Select Direct Manager' | translate}}" required>
                            <option *ngFor="let manager of managers" [value]="manager.userId">
                                {{manager.firstName}} {{manager.middleName}} {{manager.lastName}}
                            </option>
                        </select>
                    </mat-form-field>

                    <mat-form-field setDir class="col-md-3 col-sm-12">
                        <mat-label>{{"Pickup Zone" | translate}} </mat-label>
                        <mat-select multiple="false" formControlName="driverPickUpGeoFences">
                            <!-- <mat-option value="All">
                                {{"All" | translate}}
                            </mat-option> -->
                            <mat-option *ngFor="let fence of fences" [value]="fence">
                                {{fence.geoFenceName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field setDir class="col-md-3 col-sm-12">
                        <mat-label>{{"Delivery Zone" | translate}} </mat-label>
                        <mat-select multiple="false" formControlName="driverDeliveryGeoFences">
                            <!-- <mat-option value="All">
                                {{"All" | translate}}
                            </mat-option> -->
                            <mat-option *ngFor="let fence of fences" [value]="fence">
                                {{fence.geoFenceName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div class="card card-profile">
                <div class="row p-3">
                    <header-as-card class="col-md-12 mb-1" title="{{'Logging in Information' | translate}}">
                    </header-as-card>

                    <mat-form-field setDir class="col-md-3 col-sm-12">
                        <mat-label>{{'Username' | translate}}</mat-label>
                        <input matInput placeholder="{{'Username' | translate}}" type="text" formControlName="username"
                            (keydown.space)="$event.preventDefault();" [readonly]="isEditMode">
                    </mat-form-field>

                    <mat-form-field setDir class="col-md-3 col-sm-12" *ngIf="!isEditMode">
                        <mat-label>{{'Password' | translate}}</mat-label>
                        <input matInput placeholder="{{'Password' | translate}}" type="{{type}}"
                            formControlName="password" required>
                        <mat-icon matSuffix class="icon" (click)="togglePassword()">remove_red_eye</mat-icon>
                    </mat-form-field>

                    <mat-form-field setDir class="col-md-3 col-sm-12">
                        <mat-label>{{'Account Status' | translate}}</mat-label>
                        <select matNativeControl formControlName="accountStatusId"
                            placeholder="{{'Account Status' | translate}}" required>
                            <option disabled value="0">
                                {{'Select Account Status' | translate}}
                            </option>
                            <option *ngFor="let statusValue of status" [value]="statusValue.id">
                                {{statusValue['name_'+locale]}}
                            </option>
                        </select>
                    </mat-form-field>
                </div>
            </div>
        </form>

        <!-- start actions -->
        <div class="row d-flex justify-content-end pl-4 pr-4">
            <button type="button" mat-button class="btn btn-success ml-1 mr-1" (click)="back()">
                {{'Back' | translate}}
            </button>

            <button type="button" mat-button class="btn btn-danger ml-1 mr-1" (click)="submit()" [disabled]="submitted">
                {{'Save Driver' | translate}}
            </button>
        </div>
        <!-- end actions -->
    </div>
</div>