@import "./../../../shared/scss/colors.scss";

section {
    background-color: $bg;

    .file-upload {
        display: none;
    }

    .card-profile .card-avatar {
        margin: 0px auto 0;
    }

    fieldset {
        border: 2px solid $blue;
        background-color: white;
    }

    legend {
        background-color: $blue;
        color: #fff;
        padding-bottom: 5px;
        width: 50%;
        margin-left: 1.25%;
    }
}

.edit-image {
    color: black;
    cursor: pointer;
}

:host ::ng-deep {
    .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
        width: 7.5em !important;
    }
}
