<section class="contianer">
    <div class="dialog-header" mat-dialog-title>
        <div class="row p-0">
            <h4 class="col-11 d-flex justify-content-start">{{operation}} {{'Staff' | translate}}</h4>
            <i class="col-1 d-flex justify-content-end material-icons dialog-close" mat-dialog-close>close</i>
        </div>
    </div>

    <form mat-dialog-content [formGroup]="form" class="m-2">
        <div class="card card-profile">
            <div class="row p-3">
                <header-as-card class="col-md-12 mb-1" title="{{'Personal Information' | translate}}">
                </header-as-card>

                <div class="col-12 text-center mt-2">
                    <img [src]="path" height="150" width="150" class="card-avatar profile-pic">
                </div>

                <div class="col-12 pt-2 col-12 text-center">
                    <input type="file" id="upload" hidden (change)="onSelectFile($event)" accept="{{accept}}" />
                    <label for="upload" class="edit-image">
                        <mat-icon>mode_edit</mat-icon><span class="p-2">{{'Edit' | translate}}</span>
                    </label>
                </div>

                <mat-form-field setDir class="col-md-4">
                    <input matInput placeholder="{{'First Name' | translate}}" type="text" formControlName="firstName"
                        required>
                </mat-form-field>

                <mat-form-field setDir class="col-md-4">
                    <input matInput placeholder="{{'Middle Name' | translate}}" type="text" formControlName="middleName"
                        required>
                </mat-form-field>

                <mat-form-field setDir class="col-md-4">
                    <input matInput placeholder="{{'Family Name' | translate}}" type="text" formControlName="lastName"
                        required>
                </mat-form-field>

                <mat-form-field setDir class="col-md-4">
                    <mat-label>{{'Nationality' | translate}}</mat-label>
                    <input type="text" placeholder="{{'Nationality' | translate}}" matInput
                        formControlName="countryCtrl" required [matAutocomplete]="autoCountries">
                    <mat-autocomplete autoActiveFirstOption #autoCountries="matAutocomplete">
                        <mat-option *ngFor="let country of filteredCountries | async" [value]="country.name"
                            (click)="setCountry(country)">
                            <span>{{country.name}}</span>
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>

                <mat-form-field setDir class="col-md-4">
                    <mat-label>{{'Gender' | translate}}</mat-label>
                    <select matNativeControl formControlName="genderId" placeholder="{{'Gender' | translate}}">
                        <option *ngFor="let gender of genders" [value]="gender.id">{{gender['name_' + locale]}}</option>
                    </select>
                </mat-form-field>

                <mat-form-field setDir class="col-md-4">
                    <input matInput placeholder="{{'Identity No' | translate}}" type="number"
                        formControlName="nationalId">
                </mat-form-field>

                <mat-form-field setDir class="col-md-4">
                    <mat-label>{{'Birthdate' | translate}}</mat-label>
                    <input matInput [matDatepicker]="dateOfBirthPicker" formControlName="dateOfBirth" [min]="minDate"
                        [max]="maxDate">
                    <mat-datepicker-toggle matSuffix [for]="dateOfBirthPicker"></mat-datepicker-toggle>
                    <mat-datepicker #dateOfBirthPicker></mat-datepicker>
                </mat-form-field>

                <mat-form-field setDir class="col-md-4">
                    <mat-label>{{'Phone Number' | translate}}</mat-label>
                    <input matInput placeholder="{{'Phone Number' | translate}}" type="number"
                        formControlName="phoneNumber">
                </mat-form-field>

                <div class="col-md-4">
                    <app-tel-input [isRequired]="true" [previousCountryId]="row?.countryId"
                        [previousNumber]="row?.mobileNumber" (number)="number($event)"
                        (isValid)="isValidPhoneNumber($event)" (country)="onCountry($event)">
                    </app-tel-input>
                </div>

                <mat-form-field setDir class="col-md-4">
                    <input matInput placeholder="{{'Email' | translate}}" type="email" formControlName="email">
                </mat-form-field>
            </div>
        </div>

        <div class="card card-profile">
            <div class="row p-3">
                <header-as-card class="col-md-12 mb-1" title="{{'Job Information' | translate}}">
                </header-as-card>

                <mat-form-field setDir class="col-md-4">
                    <input matInput placeholder="{{'Email' | translate}}" type="email" formControlName="companyEmail">
                </mat-form-field>

                <mat-form-field setDir class="col-md-4">
                    <mat-label>{{'Role' | translate}}</mat-label>
                    <select matNativeControl formControlName="role" placeholder="{{'Select Role' | translate}}"
                        required>
                        <option *ngFor="let role of roles" [value]="role.roleName">{{role.roleName}}</option>
                    </select>
                </mat-form-field>

                <mat-form-field setDir class="col-md-4">
                    <mat-label>{{'Branch' | translate}}</mat-label>
                    <select matNativeControl formControlName="branchId" placeholder="{{'Select Branch' | translate}}"
                        required>
                        <option *ngFor="let branch of branchs" [value]="branch.id">{{branch.name}}</option>
                    </select>
                </mat-form-field>

                <mat-form-field setDir class="col-md-4">
                    <mat-label>{{'Department' | translate}}</mat-label>
                    <select matNativeControl formControlName="departmentId"
                        placeholder="{{'Select Department' | translate}}" required>
                        <option *ngFor="let department of departments" [value]="department.id">
                            {{department['name_' + locale]}}
                        </option>
                    </select>
                </mat-form-field>

                <mat-form-field setDir class="col-md-4">
                    <mat-label>{{'Sector' | translate}}</mat-label>
                    <select matNativeControl formControlName="serviceSectorId"
                        placeholder="{{'Select Sector' | translate}}" required>
                        <option *ngFor="let sector of sectors" [value]="sector.id">
                            {{sector['name_' + locale]}}
                        </option>
                    </select>
                </mat-form-field>

                <mat-form-field setDir class="col-md-4">
                    <mat-label>{{'Team' | translate}}</mat-label>
                    <select matNativeControl formControlName="team" placeholder="{{'Select Team' | translate}}"
                        required>
                        <option *ngFor="let team of teams" [value]="team.id">
                            {{team.name}}
                        </option>
                    </select>
                </mat-form-field>

                <mat-form-field setDir class="col-md-4">
                    <mat-label>{{'Direct Manager' | translate}}</mat-label>
                    <select matNativeControl formControlName="supervisorId"
                        placeholder="{{'Select Direct Manager' | translate}}">
                        <option *ngFor="let manager of managers" [value]="manager.userId">
                            {{manager.firstName}} {{manager.middleName}} {{manager.lastName}}
                        </option>
                    </select>
                </mat-form-field>
            </div>
        </div>

        <div class="card card-profile" setDir>
            <div class="row p-3">
                <header-as-card class="col-md-12 mb-1" title="{{'Logging in Information' | translate}}">
                </header-as-card>

                <mat-form-field setDir class="col-md-4">
                    <mat-label>{{'Username' | translate}}</mat-label>
                    <input matInput placeholder="{{'Username' | translate}}" type="text" formControlName="username"
                        (keydown.space)="$event.preventDefault();" [readonly]="isEditMode" required>
                </mat-form-field>

                <mat-form-field setDir class="col-md-4" *ngIf="!isEditMode">
                    <mat-label>{{'Password' | translate}}</mat-label>
                    <input matInput placeholder="{{'Password' | translate}}" type="{{type}}" formControlName="password"
                        required>
                    <mat-icon matSuffix class="icon" (click)="togglePassword()">remove_red_eye</mat-icon>
                </mat-form-field>

                <mat-form-field setDir class="col-md-4">
                    <mat-label>{{'Account Status' | translate}}</mat-label>
                    <select matNativeControl formControlName="accountStatusId"
                        placeholder="{{'Account Status' | translate}}" required>
                        <option disabled value="0">
                            {{'Select Account Status' | translate}}
                        </option>
                        <option *ngFor="let statusValue of status" [value]="statusValue.id">
                            {{statusValue['name_'+locale]}}
                        </option>
                    </select>
                </mat-form-field>
            </div>
        </div>
    </form>

    <!-- start actions -->
    <div mat-dialog-actions class="p-4">
        <button type="button" mat-button class="btn-submit-blue ml-1 mr-1" (click)="submit()">
            {{'Save Staff' | translate}}
        </button>

        <button type="button" mat-button class="btn-close-red ml-1 mr-1" mat-dialog-close>
            {{'Close' | translate}}
        </button>
    </div>
    <!-- end actions -->
</section>