<section class="contianer" setDir dir="auto">
    <div class="dialog-header" mat-dialog-title>
        <div class="row p-0">
            <h4 class="col-11 d-flex justify-content-start">{{operation}} {{'Governorate' | translate}}</h4>
            <i class="col-1 d-flex justify-content-end material-icons dialog-close" mat-dialog-close>close</i>
        </div>
    </div>

    <form mat-dialog-content [formGroup]="form" class="m-2">
        <div class="card card-profile">
            <div class="row p-3">
                <header-as-card class="col-md-12 mb-1" title="{{'Governorate' | translate}}">
                </header-as-card>

                <mat-form-field setDir class="col-md-4 col-sm-12">
                    <input matInput placeholder="{{'nameEN' | translate}}" type="text" formControlName="nameEN"
                        required>
                </mat-form-field>

                <mat-form-field setDir class="col-md-4 col-sm-12">
                    <input matInput placeholder="{{'nameAR' | translate}}" type="text" formControlName="nameAR"
                        required>
                </mat-form-field>
              
                     <section class="col-md-4 col-sm-12 mar">
                        <mat-checkbox  formControlName="isActive">
                          {{'Is Active' | translate}}
                       </mat-checkbox>
                      </section>

                      <mat-form-field setDir class="col-md-4 col-sm-12">
                        <mat-label>{{'Country' | translate}}</mat-label>
                        <select matNativeControl formControlName="countryId"
                            placeholder="{{'Country' | translate}}" >
                            <option disabled value="0">
                                {{'Select Country ' | translate}}
                            </option>
                            <option *ngFor="let countryValue of countries" [value]="countryValue.id">
                                {{countryValue['name']}}
                            </option>
                        </select>
                    </mat-form-field> 
            </div>
        </div>

    </form>

    <!-- start actions -->
    <div mat-dialog-actions class="p-4">
        <button type="button" mat-button class="btn-submit-blue ml-1 mr-1" (click)="submit()">
            {{'Save Governorate' | translate}}
        </button>

        <button type="button" mat-button class="btn-close-red ml-1 mr-1" mat-dialog-close>
            {{'Close' | translate}}
        </button>
    </div>
    <!-- end actions -->
</section>
