<section class="contianer">
    <div class="dialog-header" mat-dialog-title>  
        <div class="row p-0">           
            <i class="col-1 d-flex justify-content-end material-icons dialog-close" mat-dialog-close>close</i>
        </div>    
    </div>
  <div  id="print-section">
    <form  [formGroup]="form" class="m-2"  setDir *ngIf="pQ.internationalRFQDetails.length">
        <div dir="auto">
            <div class="logo">
                <div class="row">
                    <div class="col-md-6">
                        <a href="#" class="col-md-12 d-flex justify-content-start ml-2 mr-2">
                            <img class="sidebar-logo" src="./assets/img/express_logo.png" />
                        </a>
                      </div>
                    <div class="col-md-6">
                        <h4>اكسبرس بوست للبريد</h4>
                        <h5>EXPRESS POST</h5>
                       </div>
                
                
                </div>
            </div>
            <div class="col-md-12" >
                <label for="">{{'Date'| translate}}</label> : &nbsp;
                <span>  {{todayDate |date :'dd-MM-yyyy'}}</span>
            </div>          
            <div class="col-md-12" >
                <p>  {{pQ.customerName}}  /الساده </p>
               
            </div>
            <div class="col-md-12" >
                <p>   تحيه طيبه وبعد </p>       
            </div>
            <div class="col-md-12" >
                <p>الموضوع:عرض سعر شحن جوي </p>       
            </div>
            <div class="col-md-12" >
                <p>تهديكم اكسبريس بوست للبريد اطيب تحياتها وتتمني لكم دوام التقدم والازدهار في عملكم والسعي في  <br>مسيرة التطور لرقي بلدنا الحبيبه ويسرنا نقدم لكم عرض سعر علي النحو التالي   
                     </p>       
            </div>
         
                <div class="row p-12 mat-elevation-z8" dir="auto">
                    <table mat-table [dataSource]="pQ.internationalRFQDetails">
        
                        <ng-container matColumnDef="countryName">
                            <th mat-header-cell *matHeaderCellDef> {{'Country' | translate}} </th>
                            <td mat-cell *matCellDef="let element"> {{element.countryName}} </td>
                            <td mat-footer-cell *matFooterCellDef> {{'Total'|translate}} </td>
                        </ng-container>
                      
                        <ng-container matColumnDef="weight">
                            <th mat-header-cell *matHeaderCellDef>{{'Weight'| translate}} </th>
                            <td mat-cell *matCellDef="let element"> {{element.weight}}</td>
                            <td mat-footer-cell *matFooterCellDef> </td>
                        </ng-container>
        
                        <ng-container matColumnDef="toGoShippingPrice">                   
                            <th mat-header-cell *matHeaderCellDef> {{'ToGoShippingPrice' | translate}} </th>
                            <td mat-cell *matCellDef="let element"> {{element.toGoShippingPrice}} </td>
                            <td mat-footer-cell *matFooterCellDef> </td>
                        </ng-container>
                        <ng-container matColumnDef="commingShippingPrice">                   
                            <th mat-header-cell *matHeaderCellDef> {{'CommingShippingPrice' | translate}} </th>
                            <td mat-cell *matCellDef="let element"> {{element.commingShippingPrice}} </td>
                            <td mat-footer-cell *matFooterCellDef>{{pQ.totalBudget}}  </td>
                        </ng-container>

                        <ng-container matColumnDef="roundTripShippingPrice">                   
                            <th mat-header-cell *matHeaderCellDef> {{'RoundTripShippingPrice' | translate}} </th>
                            <td mat-cell *matCellDef="let element"> {{element.roundTripShippingPrice}} </td>
                            <td mat-footer-cell *matFooterCellDef>  </td>
                            <!-- <mat-footer-cell *matFooterCellDef> 
                                
                                 </mat-footer-cell> -->
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        <tr mat-footer-row class="totalbudget" *matFooterRowDef="displayedColumns"></tr>
                   
                    </table>
              
            </div>
            <br>
            <div class="col-md-12" >
                <p> اجمالي العرض:</p>       
            </div>
            <div class="col-md-12" >
                <p>العرض اعلاه شحن جوي وتوصيل من الباب الي الباب شامل الجمارك</p>
                <p>وتفضلوا بقبول فائق الاحترام</p>       
            </div>
          <div class="row" style="align-items: center;">
            <div class="col-md-6">
                <h5>رقم الجهه المدني:4241632</h5>
                <h4>شركة اكسبرس بوست للبريد</h4>               
               </div>
          </div>
          
          
            <!-- <div class="example-container mat-elevation-z8">
                <mat-table #table [dataSource]="pQ.internationalRFQDetails">
              
                  <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              
                  <ng-container matColumnDef="countryName">
                    <mat-header-cell *matHeaderCellDef> First Name </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.countryName}} </mat-cell>
                    
                    //This is the part for which the code is breaking
                    <mat-footer-cell *matFooterCellDef> Your footer column Name will goes here </mat-footer-cell>
                  </ng-container>
                  <ng-container matColumnDef="countryName">
                    <mat-header-cell *matHeaderCellDef> Last Name </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.countryName}} </mat-cell>
                    
                    //This need to be included in all your columns
                    <mat-footer-cell *matFooterCellDef> Your 2nd footer column Name will goes here </mat-footer-cell>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  <mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></mat-footer-row>
                </mat-table>
              </div> -->
          
        </div>
         
    
    </form>  
</div>
    <div mat-dialog-actions class="p-4">
        <button type="button" mat-button class="btn-submit-blue ml-1 mr-1" (click)="printForm()">
            {{'Print' | translate}}
        </button>
    </div>
</section>