<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">

        <div class="card">
          <header-as-card title="{{'Express Post' | translate}}">
          </header-as-card>
          <div class="card-body">
              <form mat-dialog-content [formGroup]="form" class="m-2">
                  <div class="row">
                      <div class="col-md-4">
                          <mat-form-field class="example-full-width">
                              <input matInput placeholder="{{'First Name' | translate}}"  formControlName="firstName" >
                          </mat-form-field>
                      </div>
                      <div class=" col-md-4">
                          <mat-form-field class="example-full-width">
                              <input matInput placeholder="{{'Middle Name' | translate}}"  formControlName="middleName">
                          </mat-form-field>
                      </div>
                      <div class="col-md-4">
                          <mat-form-field class="example-full-width">
                              <input matInput placeholder="{{'Family Name' | translate}}"  formControlName="lastName">
                          </mat-form-field>
                      </div>
                  </div>

                  <div class="row">
                      <mat-form-field setDir class="col-md-4">
                          <mat-label>{{'Nationality' | translate}}</mat-label>
                          <input type="text" placeholder="{{'Nationality' | translate}}" matInput
                                 formControlName="countryCtrl" required [matAutocomplete]="autoCountries">
                          <mat-autocomplete autoActiveFirstOption #autoCountries="matAutocomplete">
                              <mat-option *ngFor="let country of filteredCountries | async" [value]="country.name"
                                          (click)="setCountry(country)">
                                  <span>{{country.name}}</span>
                              </mat-option>
                          </mat-autocomplete>
                      </mat-form-field>
                      <div class=" col-md-4">
                          <!--<mat-form-field class="example-full-width">
                <input matInput placeholder="{{'Username' | translate}}">
            </mat-form-field>-->
                      </div>
                      <mat-form-field setDir class="col-md-4">
                          <input matInput placeholder="{{'Identity No' | translate}}" type="number" 
                                 formControlName="nationalId">
                      </mat-form-field>

                      
                  </div>
                  <div class="row">
                      <mat-form-field setDir class="col-md-4">
                          <mat-label>{{'Birthdate' | translate}}</mat-label>
                          <input matInput [matDatepicker]="dateOfBirthPicker" formControlName="dateOfBirth" [min]="minDate"
                                 [max]="maxDate">
                          <mat-datepicker-toggle matSuffix [for]="dateOfBirthPicker"></mat-datepicker-toggle>
                          <mat-datepicker #dateOfBirthPicker></mat-datepicker>
                      </mat-form-field>

                      <mat-form-field setDir class="col-md-4">
                          <mat-label>{{'Phone Number' | translate}}</mat-label>
                          <input matInput placeholder="{{'Phone Number' | translate}}" type="number"
                                 formControlName="phoneNumber">
                          
                      </mat-form-field>

                      <div class="col-md-4">
                          <app-tel-input [isRequired]="true" [previousCountryId]="currentUser?.countryId"
                                         [previousNumber]="currentUser?.mobileNumber" (number)="number($event)"
                                         (isValid)="isValidPhoneNumber($event)" (country)="onCountry($event)"  [isDisabled]="true"  >
                          </app-tel-input>
                      </div>

                  </div>

                  <div class="row">
                      <div class="col-md-6">
                          <mat-form-field class="example-full-width">
                              <input matInput placeholder="{{'Email address' | translate}}" type="email"  formControlName="email">
                          </mat-form-field>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-12 address-section mb-3">
                          <app-address [isPACI]="true" (onAddressChanges)="onAddressChanges($event)"
                                       [addressToReplace]="currentUser?.address"></app-address>
                      </div>
                  </div>
             
                  <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="onSubmit()">
                      {{'Update Profile' |translate}}
                  </button>
                  <div class="clearfix"></div>
              </form>
          </div>

        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-profile">
          <header-as-card title="{{'Express Post' | translate}}" [isCentered]="true">
          </header-as-card>

          <div class="col-md-12 centerImage">
            <div class="card-avatar circleImage avatar-wrapper">
              <img [src]="url" height="200" width="200" class="card-avatar circleImage  profile-pic">
              <div class="upload-button">
                <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <div class="card-body">
              <h6 class="card-category text-gray">{{'Welcome' | translate}}</h6>
              <h4 class="card-title">{{currentUser?.fullName}}</h4>
              <p class="card-description">
              </p>
              <div >
                  <input id="upload" type='file' (change)="onSelectFile($event)" accept="{{accept}}" hidden class="file-upload" />
                  <label for="upload" class="btn btn-danger ">
                      {{'Update Avatar' | translate}}
                  </label>

              </div>
              

          </div>
        </div>
      </div>
    </div>
  </div>
</div>