.card-profile .card-avatar {
    margin: 0px auto 0;
}input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.iconClass{
    display: flex;
    justify-content: center;
}

.avatar-wrapper {
    position: relative;
    height: 184px;
    width: 50%;
    margin: 10px auto;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 5px 10px 15px -5px #20474b;
    transition: all 0.3s ease;

  }
  .avatar-wrapper:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
  .avatar-wrapper:hover .profile-pic {
    opacity: 0.5;
  }
  .avatar-wrapper .profile-pic {
    height: 100%;
    width: 100%;
    transition: all 0.3s ease;
  }
  .form-check-label {
    margin-right: 16px;
  }
  .avatar-wrapper .profile-pic:after {
    font-family: FontAwesome;
    content: "\f007";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 0px;
    background: #ecf0f1;
    color: #34495e;
    text-align: center;
  }
  .avatar-wrapper .upload-button {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .avatar-wrapper .upload-button .fa-arrow-circle-up {
    position: absolute;
    font-size: 200%;
    top: 50%;
    left: 42%;
    text-align: center;
    opacity: 0;
    transition: all 0.3s ease;
    color: #34495e;
  }
  .avatar-wrapper .upload-button:hover .fa-arrow-circle-up {
    opacity: 0.9;
  } 
  