@import "./../../shared/scss/colors.scss";
table {
    width: 100%;
    border-spacing: 0 8px !important;

    td,
    th {
        padding: 5px;
    }

    th {
        color: $blue;
        font-weight: bold;
        font-size: medium;
        background-color: $light-blue;
    }

    tr:nth-child(even) {
        background-color: $light-blue;
    }

    td.mat-cell,
    th.mat-header-cell {
        padding: 5px;
        border-bottom: 1px solid $blue;
        border-top: 1px solid $blue;
        text-align: start;
    }

    td.mat-cell,
    th.mat-header-cell {
        border-left: 1px solid $blue;
    }

    td.mat-cell,
    th.mat-header-cell {
        border-right: 1px solid $blue;
    }

    table {
        border-spacing: 0 8px !important;
    }
}
.filters-section {
    margin: 5px;
    margin-top: 1.25em;
    padding: 5px;
    background-color: white;
    border: 2px dotted $blue;
}

.filter-icon {
    font-size: 40px;
    color: $blue;
}
.actions {
    button {
        margin: 5px;
    }

    display: flex;
    justify-content: flex-end;
}

:host ::ng-deep {
    .mat-form-field-appearance-fill .mat-form-field-flex {
        border-radius: 0px;
    }

    .mat-form-field-infix {
        border: none;
    }

    .mat-paginator-icon {
        -webkit-transform: none !important;
        transform: none !important;
    }
}

.h-45 {
    height: 45px;
}

.custom-input {
    border: none;
    border-bottom: 2px solid gray;
}
.update-btn{
    background-color: white !important;
    color: #014996 !important;
}
.card-profile .card-avatar {
    margin: 0px auto 0;

}
.required:after {
    content:" *";
    color: red;
  }
  .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: rgb(230 230 230 / 0%) !important;
}
.saveBtn{
    background-color: #457ee7;
}
.iconSpan{
    cursor: pointer;
}
.iconSpan >i:hover {
    background-color: gray;
    border-radius: 50%;
}
.popupHeader{
    background-color: #014996;
   
}
.h4Header{
    color: white;
}
.fixWidth{
    max-width: 216px;
}

/*  popup css */
.logoClass{
    min-height: 148px;
}
.tbodyClass > tr > td {
    border: 1px solid #014996;;
    text-align: center;
}
table > thead > tr  {
text-align: center;
}
.centerBody{
    text-align: center;
}
.hours > thead > tr > th {
    font-weight: 800;
}
.hours > tbody > tr > td {
 padding-top: 3px;
    padding-right: 8px;
    padding-bottom: 3px;
    padding-left: 8px;
}
.avtarClass{
    margin-top: 0px !important;
}
.marginClass{
    margin-top: 6px!important;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.iconClass{
    display: flex;
    justify-content: center;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}
.numberInput{
    /* padding-top: 15px; */
    border: none;
    width: 100;
    /* width: 136%; */

    width: 100%;
}
.numberDiv{
width: 100% !important; 
border-bottom: 1px solid #6f6262ba;
margin-top: 16px;
}

.marginTop{
    margin-top: 6px !important;
}
.dropdown-btn {
    border : 0px solid #adadad !important;
    border-bottom: 1px solid #adadad !important;

}