<div class="main-content">
    <div class="container-fluid p-0">
        <div class="row p-3 mb-3 mt-2">
            <mat-form-field appearance="fill" class="col-md-3 col-sm-12 h-45 p-0">
                <mat-label>{{'Search in orders' | translate}}</mat-label>
                <input matInput>
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>

            <div class="col-md-1 d-flex justify-content-start">
                <button mat-raised-button color="primary" class="btn btn-success">
                    {{'Search' | translate}}
                </button>
            </div>

            <div class="col-md-1 d-flex justify-content-center">
                <mat-icon (click)="toggleFilter()" class="filter-icon">filter_alt</mat-icon>
            </div>

            <div class="actions col-md-7 col-sm-12 d-flex justify-content-end">
                <button mat-raised-button *ngxPermissionsOnly="['WorkOrders_AddToWorOrder']" color="primary" class="btn btn-success" (click)="addToWorkorder()">
                    {{'Add to Workorder' | translate}}
                </button>

                <button mat-raised-button  *ngxPermissionsOnly="['WorkOrders_IssueWorkOrder']"   color="primary" class="btn btn-success" (click)="issuOrAddWorkorder('issue')">
                    {{'Issue Workorder' | translate}}
                </button>

                <button *ngIf="groupType == 2" mat-raised-button color="primary" class="btn btn-success"
                    (click)="autoAssign()">
                    {{'Auto Assign Workorder'  |  translate}}
                </button>

                <button mat-raised-button  *ngxPermissionsOnly="['WorkOrders_AssignToDriver']" color="primary" class="btn btn-success" (click)="assignDriverFromBulk()">
                    {{'Assign to Driver'   | translate}}
                </button>
            </div>
        </div>

        <div class="row filters-section" *ngIf="showFilters">
            <mat-form-field class="col-md-4 col-sm-12">
                <mat-label>{{'Creation Date' | translate}}</mat-label>
                <mat-date-range-input [rangePicker]="creationDate">
                    <input matStartDate>
                    <input matEndDate>
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="creationDate"></mat-datepicker-toggle>
                <mat-date-range-picker #creationDate></mat-date-range-picker>
            </mat-form-field>

            <mat-form-field class="col-md-4 col-sm-12">
                <mat-label>{{'Delivery Before' | translate}}</mat-label>
                <mat-date-range-input [rangePicker]="deliveryBefore">
                    <input matStartDate>
                    <input matEndDate>
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="deliveryBefore"></mat-datepicker-toggle>
                <mat-date-range-picker #deliveryBefore></mat-date-range-picker>
            </mat-form-field>

            <mat-form-field class="col-md-4 col-sm-12">
                <mat-label>{{'Service Sector' | translate}}</mat-label>
                <select matNativeControl class="p-1">
                    <option value="localPost">Local Post</option>
                    <option value="internationalPost">International Post</option>
                    <option value="deliveryService">Delivery Service</option>
                </select>
            </mat-form-field>

            <mat-form-field class="col-md-4 col-sm-12">
                <mat-label>{{'Service Sector' | translate}}</mat-label>
                <select matNativeControl class="p-1">
                    <option value="0">{{'Please Select' | translate}}</option>
                    <option value="all">All</option>
                    <option value="businessOrders">Business Orders</option>
                    <option value="nonBusinessOrders">Non-Business Orders</option>
                </select>
            </mat-form-field>

            <mat-form-field class="col-md-4 col-sm-12">
                <mat-label>{{'Order Status' | translate}}</mat-label>
                <select matNativeControl class="p-1">
                    <option value="0">{{'Please Select' | translate}}</option>
                </select>
            </mat-form-field>
        </div>

        <div class="row pl-3 pr-3">
            <div class="col-md-2 col-sm-12 group-by">
                <mat-form-field class="h-45" appearance="none">
                    <select matNativeControl required class="p-1" [(ngModel)]="groupType"
                        (change)="onSelectGroupBy($event)">
                        <option value="0">{{'Grouped By Orders' | translate}}</option>
                        <option value="1">{{'Grouped By Areas' | translate}}</option>
                        <option value="2">{{'Grouped By Drivers' | translate}}</option>
                    </select>
                </mat-form-field>
            </div>

            <div class="col-md-10 col-sm-12 d-flex justify-content-end labels pt-3" *ngIf="groupType == 2">
                <span>(<span class="text-bold">{{selectedGroupsNum}}</span>
                    {{'Selected Groups' | translate}} /
                    <span class="text-bold">{{totalGroupsCount}}</span>)
                </span>
            </div>

            <!-- for orders -->
            <div class="col-md-10 col-sm-12 d-flex justify-content-end labels pt-3" *ngIf="groupType == 0">
                <span>(<span class="text-bold">{{selectedItemsNum}}</span>
                    {{'Selected Items' | translate}} /
                    <span class="text-bold">{{totalItemsCount}}</span>) | (<span
                        class="text-bold">{{selectedGroupsNum}}</span>
                    {{'Selected Groups' | translate}} /
                    <span class="text-bold">{{totalGroupsCount}}</span>)
                </span>
            </div>

            <!-- for areas -->
            <div class="col-md-10 col-sm-12 d-flex justify-content-end labels pt-3" *ngIf="groupType == 1">
                <span>
                    (<span class="text-bold">{{selectedItemsNum}}</span>
                    {{'Selected items' | translate}} /
                    <span class="text-bold">{{totalItemsCount}}</span>) |

                    (<span class="text-bold">{{selectedBlocksNum}}</span>
                    {{'Selected Blocks' | translate}} /
                    <span class="text-bold">{{totalBlocksCount}}</span>) |

                    (<span class="text-bold">{{selectedAreasNum}}</span>
                    {{'Selected Areas' | translate}} /
                    <span class="text-bold">{{totalAreasCount}}</span>)
                </span>
            </div>

            <!-- for orders -->
            <table mat-table [dataSource]="list" multiTemplateDataRows class="mat-elevation-z8"
                *ngIf="list.length > 0 && groupType == 0" setDir>
                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef class="text-center p-3 table-fixed-width">
                        <mat-checkbox (change)="$event ? masterToggleGroupedRows() : null"
                            [checked]="groupedRowsSelection.hasValue() && isAllSelectedGroupedRows()"
                            [indeterminate]="groupedRowsSelection.hasValue() && !isAllSelectedGroupedRows()"
                            [aria-label]="checkboxLabelGroupedOrders()">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row" class="text-center p-3">
                        <mat-checkbox (click)="$event.stopPropagation()" (change)="onSelectGroup($event,row)"
                            [checked]="groupedRowsSelection.isSelected(row)"
                            [aria-label]="checkboxLabelGroupedOrders(row)">
                        </mat-checkbox>
                    </td>
                </ng-container>

                <ng-container matColumnDef="itemStatus">
                    <th mat-header-cell *matHeaderCellDef>{{'Item Status' | translate}}</th>
                    <td mat-cell *matCellDef="let element">
                        {{element.status}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="customer">
                    <th mat-header-cell *matHeaderCellDef>{{'Customer' | translate}}</th>
                    <td mat-cell *matCellDef="let element">
                        <div>
                            {{'Customer' | translate}}: {{element.businessName}}
                        </div>

                        <div>
                            {{'Business' | translate}}: {{element.customerName}}
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="code">
                    <th mat-header-cell *matHeaderCellDef>{{'Order Info' | translate}}</th>
                    <td mat-cell *matCellDef="let element">
                        <div>
                            {{'Order Type' | translate}}: {{element.orderType}}
                        </div>
                        <div>
                            {{'Order Code' | translate}}: {{element.orderCode}}
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="itemsNo">
                    <th mat-header-cell *matHeaderCellDef>{{'Items No' | translate}}</th>
                    <td mat-cell *matCellDef="let element"> {{element.itemsNo}} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> {{'Actions' | translate}} </th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        <button mat-icon-button [matMenuTriggerFor]="actionsMenu">
                            <mat-icon>more_horiz</mat-icon>
                        </button>
                        <mat-menu #actionsMenu="matMenu">
                            <button mat-menu-item>
                                {{'Assign To Workorder' | translate}}
                            </button>

                            <button mat-menu-item>
                                {{'Issue Workorder' | translate}}
                            </button>

                            <button mat-menu-item (click)="assignDriver('by_order',element)">
                                {{'Assign to Driver' | translate}}
                            </button>
                        </mat-menu>
                    </td>
                </ng-container>

                <ng-container matColumnDef="showHide">
                    <th mat-header-cell *matHeaderCellDef class="table-fixed-width">
                        <mat-icon (click)="expandCollapseAll()">expand</mat-icon>
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <mat-icon *ngIf="element != expandedElement" (click)="setExpandedElement(element)">
                            arrow_drop_down
                        </mat-icon>
                        <mat-icon *ngIf="element == expandedElement" (click)="expandedElement = null">arrow_drop_up
                        </mat-icon>
                    </td>
                </ng-container>

                <ng-container matColumnDef="expandedDetail">
                    <td mat-cell *matCellDef="let groupElement;let index = index"
                        [attr.colspan]="columnsToDisplay.length">
                        <div class="order-element-detail row"
                            [@detailExpand]="(groupElement == expandedElement || allRowsExpanded) ? 'expanded' : 'collapsed'"
                            *ngIf="groupElement.items?.length > 0">
                            <table mat-table
                                [dataSource]="groupElement.items | paginate: { itemsPerPage: 10, currentPage: groupElement.page,id:groupElement.id}"
                                class="mat-elevation-z8 items-table col-12">

                                <ng-container matColumnDef="select">
                                    <th mat-header-cell *matHeaderCellDef
                                        class="text-center p-3 table-child-fixed-width">
                                        <mat-checkbox (change)="$event ? masterToggleItems(groupElement) : null"
                                            [checked]="itemsSelection.hasValue() && isAllSelectedItems(groupElement)"
                                            [indeterminate]="itemsSelection.hasValue() && !isAllSelectedItems(groupElement)"
                                            [aria-label]="checkboxLabelItems(groupElement)">
                                        </mat-checkbox>
                                    </th>
                                    <td mat-cell *matCellDef="let row" class="text-center p-3">
                                        <mat-checkbox (click)="$event.stopPropagation()"
                                            (change)="$event ? itemsSelection.toggle(row) : null"
                                            [checked]="itemsSelection.isSelected(row)"
                                            [aria-label]="checkboxLabelItems(groupElement,row,null)">
                                        </mat-checkbox>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="itemInfo">
                                    <th mat-header-cell *matHeaderCellDef>{{'Item Info' | translate}}</th>
                                    <td mat-cell *matCellDef="let element">
                                        <div>
                                            <span class="font-weight-bold">{{'Item Code' | translate}}</span>: {{element.itemCode}}
                                        </div>

                                        <div>
                                            <span class="font-weight-bold">{{'Item Type' | translate}}</span>: {{element.itemType}}
                                        </div>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="itemStatus">
                                    <th mat-header-cell *matHeaderCellDef>{{'Item Status' | translate}}</th>
                                    <td mat-cell *matCellDef="let element;let index = index">
                                        <mat-icon *ngIf="element.status == 'Pickup';else otherIcon" class="pickup-icon">
                                            arrow_circle_up
                                        </mat-icon>

                                        <ng-template #otherIcon>
                                            <mat-icon class="delivery-icon">arrow_circle_down</mat-icon>
                                        </ng-template>

                                        <span class="pl-5">
                                            {{element.status}}
                                        </span>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="deliveryBefore">
                                    <th mat-header-cell *matHeaderCellDef>{{'Delivery Before' | translate}}</th>
                                    <td mat-cell *matCellDef="let element"> {{element.deliveryBeforeDate | date:"dd/MM/yyyy hh:mm a"}} </td>
                                </ng-container>

                                <ng-container matColumnDef="weight">
                                    <th mat-header-cell *matHeaderCellDef>{{'Weight' | translate}}</th>
                                    <td mat-cell *matCellDef="let element"> {{element.itemWeight}} </td>
                                </ng-container>

                                <ng-container matColumnDef="actions">
                                    <th mat-header-cell *matHeaderCellDef class="text-center"> {{'Actions' | translate}}
                                    </th>
                                    <td mat-cell *matCellDef="let element" class="text-center">
                                        <button mat-icon-button [matMenuTriggerFor]="actionsMenu">
                                            <mat-icon>more_horiz</mat-icon>
                                        </button>
                                        <mat-menu #actionsMenu="matMenu">
                                            <!-- <button mat-menu-item>
                                                {{'Delete Item' | translate}}
                                            </button>

                                            <button mat-menu-item>
                                                {{'View Item' | translate}}
                                            </button>

                                            <button mat-menu-item>
                                                {{'Edit Item' | translate}}
                                            </button> -->

                                            <!-- <button mat-menu-item>
                                                {{'Change Status' | translate}}
                                            </button> -->

                                            <button  *ngxPermissionsOnly="['WorkOrders_AssignToDriver']" mat-menu-item
                                                (click)="assignDriver('by_item_grouped_by_order',element)">
                                                {{'Assign to Driver' | translate}}
                                            </button>
                                        </mat-menu>
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="itemsColumnsToDisplay"></tr>
                                <tr mat-row *matRowDef="let element; columns: itemsColumnsToDisplay;">
                                </tr>
                            </table>

                            <div class="row d-flex justify-content-end pt-3" *ngIf="groupElement.items?.length > 0">
                                <pagination-controls (pageChange)="onChangeItemsPage($event,groupElement)"
                                    id="{{groupElement.id}}">
                                </pagination-controls>
                            </div>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                <tr mat-row *matRowDef="let element; columns: columnsToDisplay"
                    [class.order-expanded-row]="expandedElement === element">
                </tr>
                <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="order-detail-row"></tr>
            </table>

            <div class="row d-flex justify-content-end" dir="ltr" *ngIf="groupType == 0">
                <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 50, 100]"
                    (page)="onChangeByOrdersPage($event)">
                </mat-paginator>
            </div>
        </div>

        <!-- grouped by areas -->
        <div class="row">
            <div class="col-12">
                <grouped-by-areas-table *ngIf="groupType == 1" (onAreasCount)="onAreasCount($event)"
                    (onItemsCount)="onItemsCount($event)" (onAreasSelected)="onAreasSelected($event)"
                    (onSelectedItems)="onSelectedItems($event)" (onBlocksSelected)="onBlocksSelected($event)"
                    (onBlocksCount)="onBlocksCount($event)">
                </grouped-by-areas-table>
            </div>
        </div>

        <!-- grouped by drivers -->
        <div class="row" *ngIf="groupType == 2">
            <div class="col-12">
                <grouped-by-driver-table (onDrivers)="onDrivers($event)"></grouped-by-driver-table>
            </div>
        </div>
    </div>
</div>