@import "./../../shared/scss/colors.scss";

table {
    width: 100%;

    th {
        color: $blue;
        font-weight: bold;
        font-size: medium;
        background-color: $light-blue;
    }

    tr.order-detail-row {
        height: 0;
    }

    .order-element-detail {
        overflow: hidden;
        display: flex;
    }
}

.h-45 {
    height: 45px;
}

.table-fixed-width {
    width: 50px;
}

.weight-bold {
    color: $blue;
    font-weight: bold;
}

:host ::ng-deep {
    .mat-form-field-appearance-fill .mat-form-field-flex {
        padding: 0px;
        padding-left: 5px;
    }

    .items-table {
        td.mat-cell:first-of-type {
            padding: 0px;
        }

        td.td.mat-cell:last-of-type {
            padding: 0px;
        }
    }

    .items-paginator {
        .mat-paginator-container {
            background-color: white;
        }
    }
}

.labels {
    background-color: $light-blue;
}

.filter-icon {
    font-size: 40px;
    color: $blue;
}

.filters-section {
    margin: 5px;
    padding: 5px;
    background-color: white;
    border: 2px dotted $blue;
}

.items-table {
    margin: 1rem;

    th,
    td {
        background-color: $light-blue;
    }
}

.group-by {
    background-color: $light-blue;
}

.delivery-icon {
    color: green;
    font-size: 24px;
}

.pickup-icon {
    color: red;
    font-size: 24px;
}

.font-weight-bold {
    font-weight: bold;
    font-size: medium;
}
