<section class="contianer">
    <div class="dialog-header" mat-dialog-title>
        <div class="row p-0">
            <h4 class="col-11 d-flex justify-content-start">{{"Assign Delegate" | translate}}</h4>
            <i class="col-1 d-flex justify-content-end material-icons dialog-close" mat-dialog-close>close</i>
        </div>
    </div>

    <form mat-dialog-content [formGroup]="form" class="m-2">
        <mat-form-field setDir class="col-12">
            <mat-label>{{'Select Delegate' | translate}}</mat-label>
            <select matNativeControl formControlName="driverId" placeholder="{{'Select Delegate' | translate}}">
                <option *ngFor="let driver of drivers" [value]="driver.id">
                    {{driver.fullName}}
                </option>
            </select>
        </mat-form-field>
    </form>

    <!-- start actions -->
    <div mat-dialog-actions class="p-4 m-2 d-flex justify-content-end">
        <button type="button" mat-button class="btn-submit-blue ml-1 mr-1" (click)="submit()">
            {{'Assgin' | translate}}
        </button>

        <button type="button" mat-button class="btn-close-red ml-1 mr-1" mat-dialog-close>
            {{'Close' | translate}}
        </button>
    </div>
    <!-- end actions -->
</section>