<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <header-as-card title="{{'PQ' | translate}}">
                    </header-as-card>
                </div>
            </div>
        </div>

        <div class="row">           

            <div class="col-8 actions" > 
                <button mat-raised-button color="primary" class="btn btn-success"
                    (click)="addNewPQ()" *ngxPermissionsOnly="['AddPriceQoutation']">
                    {{'Add New PQ' | translate}}
                </button>
                <!-- <button mat-raised-button color="primary" class="btn btn-success"
                    *ngxPermissionsOnly="['ExportManager']">
                    {{'Export' | translate}}
                </button> -->
            </div>
        </div>

        <div class="row p-3 mat-elevation-z8" dir="auto" *ngIf="rfqs.length > 0">
            <table mat-table [dataSource]="rfqs">

                <ng-container matColumnDef="customerName">
                    <th mat-header-cell *matHeaderCellDef> {{'Customer Name' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.customerName}} </td>
                </ng-container>
              
                <ng-container matColumnDef="code">
                    <th mat-header-cell *matHeaderCellDef> {{'PQ Code' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.code}}</td>
                </ng-container>
                <ng-container matColumnDef="sectorTypeName">
                    <th mat-header-cell *matHeaderCellDef> {{'SectorTypeName' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.sectorTypeName}}</td>
                </ng-container>
                
                <ng-container matColumnDef="pqStatusName">                   
                    <th mat-header-cell *matHeaderCellDef> {{'PQ StatusName' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.pqStatusName}} </td>
                </ng-container>
              

                <ng-container matColumnDef="pqDate">
                    <th mat-header-cell *matHeaderCellDef> {{'PQ Date' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.pqDate}} </td>
                </ng-container>
                
                <ng-container matColumnDef="pqValidToDate">
                    <th mat-header-cell *matHeaderCellDef> {{'Valid To Date' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.pqValidToDate}} </td>
                </ng-container>              

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> {{'Actions' | translate}} </th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        <button mat-icon-button [matMenuTriggerFor]="actionsMenu">
                            <mat-icon>more_horiz</mat-icon>
                        </button>

                        <mat-menu #actionsMenu="matMenu" >
                            <button mat-menu-item (click)="viewPQ(element.id)" *ngxPermissionsOnly="['ViewPriceQoutation']">
                                <mat-icon>preview</mat-icon> {{'View PQ' | translate}}
                            </button>

                            <button mat-menu-item (click)="editPQ(element.id)" *ngxPermissionsOnly="['UpdatePriceQoutation']">
                                <mat-icon>mode_edit</mat-icon> {{'Edit PQ' | translate}}
                            </button>
                            <button mat-menu-item (click)="printPQ(element)" *ngxPermissionsOnly="['PrintPriceQoutation']">
                                <mat-icon>print</mat-icon> {{'Print PQ' | translate}}
                            </button>
                            <button mat-menu-item (click)="onDelete(element)" *ngxPermissionsOnly="['DeletePriceQoutation']">
                                <mat-icon>delete</mat-icon> {{'Delete PQ' | translate}}
                            </button>
                            <!-- <button mat-menu-item>
                                <app-confirm-deletion
                                title="{{'Are you sure you want to delete this Price Offer?' | translate}}"
                                (confirm)="onDelete($event,element)">
                            </app-confirm-deletion>
                                <mat-icon>delete</mat-icon>
                               
                            </button> -->
                        </mat-menu>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>

        <div class="row" setDir *ngIf="rfqs.length > 0">
            <mat-paginator dir="ltr" [length]="total" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 50, 100]"
                (page)="onChangePage($event)">
            </mat-paginator>
        </div>
    </div>
</div>
