@import "./../../shared/scss/colors.scss";

.removeMargin {
    margin-top: 0px;
    padding-top: 1px;
}

.addMargin {
    margin-top: 80px;
}

.addMarginRight {
    margin-right: 40px !important;
}

.tbodyClass > tr > td {
    border: 1px solid #014996;
    text-align: center;
}

table > thead > tr {
    text-align: center;
}

.marginRight {
    margin-right: 10px;
}

.textCenter {
    text-align: center !important;
    font-weight: 800;
}

.labelClass {
    border: 1px solid black;
    margin-bottom: 3px;
}

.centerLabel {
    border-bottom: 1px dashed black;
}

.labelClass > h6 {
    padding-left: 10%;
    margin: auto;
    padding: 3px;
}

.textRight {
    font-weight: 800;
    text-align: right;
}

.arebic {
    text-align: right;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.iconClass {
    display: flex;
    justify-content: center;
}

.iconSpan {
    cursor: pointer;
}

.iconSpan > i:hover {
    background-color: gray;
    border-radius: 50%;
}

.update-btn {
    background-color: white !important;
    color: #014996 !important;
}

.card-profile .card-avatar {
    margin: 0px auto 0;
}

.required:after {
    content: " *";
    color: red;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: rgb(230 230 230 / 0%) !important;
}

.saveBtn {
    background-color: #457ee7;
}

.iconSpan {
    cursor: pointer;
}

.iconSpan > i:hover {
    background-color: gray;
    border-radius: 50%;
}

.popupHeader {
    background-color: #014996;
}

.h4Header {
    color: white;
}

.fixWidth {
    max-width: 216px;
}

/*  popup css */

.tbodyClass > tr > td {
    border: 1px solid #014996;
    text-align: center;
}

table > thead > tr {
    text-align: center;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.iconClass {
    display: flex;
    justify-content: center;
}

.marginLeft {
    margin-left: 20px;
}

.paddingLeft {
    padding-left: 15px;
}

.link:hover {
    cursor: pointer;
}

table {
    width: 100%;
    border-spacing: 0 8px !important;

    td,
    th {
        padding: 5px;
    }

    th {
        color: $blue;
        font-weight: bold;
        font-size: medium;
        background-color: $light-blue;
    }

    tr:nth-child(even) {
        background-color: $light-blue;
    }

    td.mat-cell,
    th.mat-header-cell {
        padding: 5px;
        border-bottom: 1px solid $blue;
        border-top: 1px solid $blue;
        text-align: start;
    }

    td.mat-cell,
    th.mat-header-cell {
        border-left: 1px solid $blue;
    }

    td.mat-cell,
    th.mat-header-cell {
        border-right: 1px solid $blue;
    }

    table {
        border-spacing: 0 8px !important;
    }
}

.actions {
    button {
        margin: 5px;
    }

    display: flex;
    justify-content: flex-end;
}

:host ::ng-deep {
    .mat-form-field-appearance-fill .mat-form-field-flex {
        border-radius: 0px;
    }

    .mat-form-field-infix {
        border: none;
    }

    .mat-paginator-icon {
        -webkit-transform: none !important;
        transform: none !important;
    }
}

.h-45 {
    height: 45px;
}
