<!--<div class="addMargin pt-3" (click)="changeRoutes()">
    <button mat-raised-button type="submit" class="btn btn-danger pull-right addMarginRight" data-toggle="modal"
        data-target="#assignDrivers"> <i class="material-icons marginRight" data-toggle="modal"
            data-target="#ma">person_add
        </i>{{'Assign Drivers' | translate}} </button>
</div>-->

<div class="clearfix"></div>

<div class="main-content removeMargin">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <header-as-card title="{{'Order Details' | translate}}">
                    </header-as-card>
                </div>
            </div>
        </div>

        <div class="row mt-3 p-2">
            <div class="col-md-6 row d-flex justify-content-start">
                <mat-form-field appearance="fill" class="col-md-4 h-45">
                    <mat-label>{{'Search' | translate}}</mat-label>
                    <input matInput>
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>

                <mat-form-field appearance="fill" class="col-md-4 h-45">
                    <mat-label>{{'Search in columns' | translate}}</mat-label>
                    <select matNativeControl required class="p-1">
                        <option value="1">{{'Shipment Details' | translate}}</option>
                        <option value="2">{{'Location Name' | translate}}</option>
                        <option value="3">{{'Status' | translate}}</option>
                        <option value="4">{{'Sender Name' | translate}} </option>
                        <option value="4">{{'Receiver Name' | translate}} </option>
                    </select>
                </mat-form-field>

                <div class="col-md-2">
                    <div class="nav-item dropdown">
                        <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdownMenuLink">
                            <label class="dropdown-item" (click)='filer("all")'>
                                <input type="radio" value="" name="status"> <span class="marginLeft">All </span>
                            </label>

                            <label class="dropdown-item" href="javascript:void(0)" (click)='filer("Approved")'>
                                <input type="radio" value="Approved" name="status">
                                <span class="marginLeft"> {{'Approved' | translate}} </span>
                            </label>
                            <label class="dropdown-item" href="javascript:void(0)" (click)='filer("outofpickup")'>
                                <input type="radio" value="outofpickup" name="status">
                                <span class="marginLeft">{{'Out of pickup' | translate}} </span>
                            </label>
                            <label class="dropdown-item" href="javascript:void(0)" (click)='filer("pickedup")'>
                                <input type="radio" value="pickedup" name="status">
                                <span class="marginLeft">{{'Picked up' | translate}}</span>
                            </label>
                            <label class="dropdown-item" href="javascript:void(0)" (click)='filer("outofdelivery")'>
                                <input type="radio" value="outofdelivery" name="status">
                                <span class="marginLeft"> {{'out of delivery' | translate}} </span>
                            </label>
                            <label class="dropdown-item" href="javascript:void(0)" (click)='filer("undersorting")'>
                                <input type="radio" value=" undersorting" name="status">
                                <span class="marginLeft"> {{'under sorting' | translate}} </span>
                            </label>
                            <label class="dropdown-item" href="javascript:void(0)" (click)='filer("onhold")'>
                                <input type="radio" value="onhold" name="status">
                                <span class="marginLeft"> {{'on hold' | translate}} </span>
                            </label>
                            <label class="dropdown-item" href="javascript:void(0)" (click)='filer("Returned")'>
                                <input type="radio" value="returned" name="status">
                                <span class="marginLeft"> {{'returned' | translate}} </span>
                            </label>
                            <label class="dropdown-item" href="javascript:void(0)" (click)='filer("Delivered")'>
                                <input type="radio" value="delivered" name="status">
                                <span class="marginLeft"> {{'delivered' | translate}}</span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <button mat-raised-button color="primary" class="btn btn-success">
                        {{'Search' | translate}}
                    </button>
                </div>
            </div>

            <div class="col-md-6 col-sm-12 actions d-flex justify-content-end">
                <button mat-raised-button color="primary" class="btn btn-danger" (click)="createBusinessOrder()"
                    *ngxPermissionsOnly="['CreateBusinessOrders']">
                    <mat-icon>add</mat-icon> {{'Business Order' | translate}}
                </button>

                <button mat-raised-button color="primary" class="btn btn-success"
                    *ngxPermissionsOnly="['Orders_PrintOrders']">
                    {{'Print' | translate}}
                </button>

                <button mat-raised-button color="primary" class="btn btn-success"
                    *ngxPermissionsOnly="['Orders_ExportOrders']">
                    {{'Excel' | translate}}
                </button>
            </div>
        </div>

        <div class="row pl-4 pr-4">
            <table mat-table [dataSource]="orderList" class="mat-elevation-z8 mt-3">

                <!-- Checkbox Column -->
                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef class="text-center p-3">
                        <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row" class="text-center p-3">
                        <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
                            [aria-label]="checkboxLabel(row)">
                        </mat-checkbox>
                    </td>
                </ng-container>

                <ng-container matColumnDef="dates">
                    <th mat-header-cell *matHeaderCellDef>
                        {{'Dates' | translate}}
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{'Issue Date' | translate}}:{{element.issueAt | dateToTimezone}}
                        {{'Delivery Before' | translate}}:{{element.deliveryBefore | date :'long'}}
                        {{'Pickup Date' | translate}}:{{element.pickupDate| date :'long' }}
                        {{'Delivery Date' | translate}}:{{element.deliveryDate | date :'long'}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="orderInfo">
                    <th mat-header-cell *matHeaderCellDef> {{"Order Info" | translate}} </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.orderTypeName}}- {{element.orderCode}}
                        {{'Weight' | translate}}: {{element.totalWeight}}
                        {{'Price' | translate}}: {{element.price}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="itemsInfo">
                    <th mat-header-cell *matHeaderCellDef> {{'Items Info' | translate}} </th>
                    <td mat-cell *matCellDef="let element">
                        {{'Items Count' | translate}}: {{element.totalItemCount}}
                        {{'Type' | translate}}: {{element.envelop}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef> {{'Status' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.statusName}} </td>
                </ng-container>

                <ng-container matColumnDef="customer">
                    <th mat-header-cell *matHeaderCellDef> {{'Customer' | translate}} </th>
                    <td mat-cell *matCellDef="let element">
                        <div>
                            {{element.businessOrders_Business}},{{element.businessOrders_Customer}}
                            {{element.businessOrders_Branch}}
                            {{element.businessOrders_BusinessCode}}
                        </div>
                        <div>
                            {{element.personalOrders_Name}},{{element.personalOrders_Company}}
                            {{element.personalOrders_Code}}
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="sender">
                    <th mat-header-cell *matHeaderCellDef> {{'Sender' | translate}} </th>
                    <td mat-cell *matCellDef="let element">
                        <div>
                            {{element.sender_BusinessOrders_ContactName}}
                            {{element.sender_BusinessOrders_ContactMobile}}
                            {{element.sender_BusinessOrders_ContactAddress}}
                        </div>
                        <div>
                            {{element.sender_PersonalOrders_Name}}
                            {{element.sender_PersonalOrders_Mobile}}
                            {{element.sender_PersonalOrders_Address?.governorate}}-{{element.sender_PersonalOrders_Address?.area}}-
                            {{element.sender_PersonalOrders_Address?.block}} -
                            {{element.sender_PersonalOrders_Address?.street}}
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="receiver">
                    <th mat-header-cell *matHeaderCellDef> {{'Receiver' | translate}} </th>
                    <td mat-cell *matCellDef="let element">
                        <div>
                            Per Item
                        </div>
                        <div>
                            {{element.reciver_PersonalOrders_Name}}
                            {{element.reciver_PersonalOrders_Mobile}}
                            {{element.reciver_PersonalOrders_Address?.governorate}} -
                            {{element.reciver_PersonalOrders_Address?.area}}
                            {{element.reciver_PersonalOrders_Address?.block}} -
                            {{element.reciver_PersonalOrders_Address?.street}}
                        </div>

                    </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> {{'Actions' | translate}} </th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        <button mat-icon-button [matMenuTriggerFor]="actionsMenu">
                            <mat-icon>more_horiz</mat-icon>
                        </button>

                        <mat-menu #actionsMenu="matMenu">
                            <div *ngIf="element?.statusName == 'New'">
                                <button mat-menu-item (click)="edit(element)"
                                    *ngxPermissionsOnly="['Orders_UpdateOrder']">
                                    <i class="material-icons">mode_edit</i> {{'Edit' | translate}}
                                </button>
                            </div>
                            <button mat-menu-item *ngxPermissionsOnly="['Orders_DeleteOrder']">
                                <app-confirm-deletion
                                    title="{{'Are you sure you want to delete this location?' | translate}}"
                                    (confirm)="onDelete($event,element)" btnText="{{'Delete' | translate}}">
                                </app-confirm-deletion>
                            </button>
                        </mat-menu>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
                </tr>
            </table>
        </div>

        <div class="row" setDir>
            <mat-paginator dir="ltr" [length]="total" [pageSize]="pageSize"
                [pageSizeOptions]="[1,2,3,4,5, 10, 25, 50, 100]" (page)="onChangePage($event)">
            </mat-paginator>
        </div>
    </div>
</div>

<div id="changeStatus" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <div class="cardStyle container card-cascade">
                    <div class="overlay-CardCascade paddingFor-CardCascade">
                        <div class="card-header card-header-danger popupHeader">
                            <h4 class="card-title h4Header">{{'Change Status' | translate}}</h4>
                            <p class="card-category"></p>
                        </div>
                    </div>

                    <div class="card-body">
                        <form>

                            <div class="row">

                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>{{'Select Status' | translate}}</mat-label>
                                        <select matNativeControl #Governorate placeholder="Select Status"
                                            class="paddingLeft">
                                            <option disabled value="">
                                                {{'Select Status' | translate}}
                                            </option>
                                            <option value="Capital">Approved </option>
                                            <option value="Hawalli">Out of pickup </option>
                                            <option value="Mubarak Al-Kaber">Picked up</option>
                                            <option value="Ahmadi">out of delivery</option>
                                            <option value="Farwaniya">under sorting</option>
                                            <option value="Jahra">on hold</option>
                                            <option value="Jahra">returned </option>
                                            <option value="Jahra">delivered</option>
                                        </select>
                                    </mat-form-field>

                                </div>

                            </div>
                            <!-- <button mat-raised-button type="submit" class="btn btn-danger pull-right">Save
                                Location</button> -->
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div style="margin: auto">
                    <button type="button" class="btn btn-primary shadowfor-pop-btn saveBtn" (click)="onClick()">
                        {{'Save' | translate}}
                    </button>
                    <button type="button" class="btn btn-danger close_btn shadowfor-pop-btn m-left-10"
                        data-dismiss="modal">
                        {{'Close' | translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="print" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <div class="cardStyle container card-cascade">
                    <div class="overlay-CardCascade paddingFor-CardCascade">
                        <div class="card-header card-header-danger popupHeader">
                            <h4 class="card-title h4Header">{{'Print' | translate}}</h4>
                            <p class="card-category"></p>
                        </div>
                    </div>
                    <!--   name: 'test location 1 test ', case: 9889231821, receiverName: '721781277122', Governorate: 'Governorate1', Area: 'test area1',
        Block: 'test Block', Street: 'test Street', BuildingNo: 'test building 1', floorNo: '12', id: 3, notes: "dummy data", barCode: 6162162 -->
                    <div class="card-body">
                        <form>

                            <div class="row">

                                <div class="col-md-12">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="radio" name="print">
                                            <span class="form-check-sign">
                                                <span class="check"></span>
                                                <span style="margin-left: 25px;">
                                                    {{'Barcode' |translate}}
                                                </span>
                                            </span>
                                        </label>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="radio" name="print">
                                            <span class="form-check-sign">
                                                <span class="check"></span>
                                                <span style="margin-left: 25px;">
                                                    {{'Manifest' | translate}}
                                                </span>
                                            </span>
                                        </label>
                                    </div>

                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div style="margin: auto">
                    <button type="button" class="btn btn-primary shadowfor-pop-btn saveBtn" (click)="onClick()">
                        {{'Print' | translate}}
                    </button>
                    <button type="button" class="btn btn-danger close_btn shadowfor-pop-btn m-left-10"
                        data-dismiss="modal">
                        {{'Close' | translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="edit" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <div class="cardStyle container card-cascade">
                    <div class="overlay-CardCascade paddingFor-CardCascade">
                        <div class="card-header card-header-danger popupHeader">
                            <h4 class="card-title h4Header">{{'Edit order' | translate}}</h4>
                            <p class="card-category"></p>
                        </div>
                    </div>
                    <!--   name: 'test location 1 test ', case: 9889231821, receiverName: '721781277122', Governorate: 'Governorate1', Area: 'test area1',
        Block: 'test Block', Street: 'test Street', BuildingNo: 'test building 1', floorNo: '12', id: 3, notes: "dummy data", barCode: 6162162 -->
                    <div class="card-body">
                        <form>

                            <h3>
                                {{'under process' | translate}}
                            </h3>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div style="margin: auto">
                    <button type="button" class="btn btn-primary shadowfor-pop-btn saveBtn" (click)="onClick()">
                        save
                    </button>
                    <button type="button" class="btn btn-danger close_btn shadowfor-pop-btn m-left-10"
                        data-dismiss="modal">
                        {{'Close' | translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>




<div id="edits" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <div class="cardStyle container card-cascade">
                    <div class="overlay-CardCascade paddingFor-CardCascade">
                        <div class="card-header card-header-danger popupHeader">
                            <h4 class="card-title h4Header">{{'Order' | translate}}</h4>
                            <p class="card-category"></p>
                        </div>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="order">
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'AWB' | translate}}" type="text"
                                            formControlName="awb">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'Sender Name' | translate}" type="text"
                                            formControlName="senderName">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'Receiver Name' | translate}}" type="text"
                                            formControlName="receiverName">
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <app-address></app-address>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'Floor No' | translate}}." type="text"
                                            formControlName="floorNo">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Select Driver</mat-label>
                                        <select matNativeControl placeholder="Order Status" formControlName="driver">
                                            <option disabled value="">
                                                Select Driver
                                            </option>
                                            <option value="Driver1">Driver1 </option>
                                            <option value="Driver2">Driver2 </option>
                                            <option value="Driver3">Driver3</option>
                                            <option value="Driver4">Driver4</option>

                                        </select>
                                    </mat-form-field>

                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'Barcode' | translate}}" type="number"
                                            formControlName="barcode">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'Order Date' | translate}}" type="date"
                                            formControlName="orderDate">
                                    </mat-form-field>
                                </div>


                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'Payment Methods' | translate}}" type="text"
                                            formControlName="payment">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>{{'Select Status' | translate}}</mat-label>
                                        <select matNativeControl placeholder="{{'Order Status' | translate}}"
                                            formControlName="status">
                                            <option disabled value="">
                                                {{'Select Status' | translate}}
                                            </option>
                                            <option value="Capital">Approved </option>
                                            <option value="Hawalli">Out of pickup </option>
                                            <option value="Mubarak Al-Kaber">Picked up</option>
                                            <option value="Ahmadi">out of delivery</option>
                                            <option value="Farwaniya">under sorting</option>
                                            <option value="Jahra">on hold</option>
                                            <option value="Jahra">returned </option>
                                            <option value="Jahra">delivered</option>
                                        </select>
                                    </mat-form-field>

                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div style="margin: auto">
                    <button type="button" class="btn btn-primary shadowfor-pop-btn saveBtn" (click)="onClick()">
                        {{'Save Order' | translate}}
                    </button>
                    <button type="button" class="btn btn-danger close_btn shadowfor-pop-btn m-left-10"
                        data-dismiss="modal">
                        {{'Close' | translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="orderTrack" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <div class="cardStyle container card-cascade">
                    <div class="overlay-CardCascade paddingFor-CardCascade">
                        <div class="card-header card-header-danger popupHeader">
                            <h4 class="card-title h4Header">{{'Track Order' | translate}}</h4>
                            <p class="card-category"></p>
                        </div>
                    </div>

                    <div class="card-body">
                        <form [formGroup]="order">
                            <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="AWB" type="text" formControlName="awb" readonly>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'Sender Name' | translate}}" type="text" readonly
                                            formControlName="senderName">
                                    </mat-form-field>
                                </div>


                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'Receiver Name' | translate}}" type="text"
                                            readonly formControlName="receiverName">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>{{'Governorate' | translate}}</mat-label>
                                        <select matNativeControl required #Governorate
                                            (change)="changeGovernorate(Governorate.value)" placeholder="Governorate"
                                            readonly formControlName="Governorate">
                                            <option disabled value="">
                                                {{'Select Governorate' | translate}}
                                            </option>
                                            <option value="Capital">Capital</option>
                                            <option value="Hawalli">Hawalli</option>
                                            <option value="Mubarak Al-Kaber">Mubarak Al-Kaber</option>
                                            <option value="Ahmadi">Ahmadi</option>
                                            <option value="Farwaniya">Farwaniya</option>
                                            <option value="Jahra">Jahra</option>
                                        </select>
                                    </mat-form-field>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <select matNativeControl required placeholder="{{'Area' | translate}}"
                                            formControlName="Area" readonly>
                                            <option disabled value="">
                                                {{'Select Area' | translate}}
                                            </option>
                                            <option value="{{item}}" *ngFor="let item of areaList">{{item}}</option>
                                        </select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'Block' | translate}}" type="number"
                                            formControlName="Block" readonly>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'Street' | translate}}" type="text"
                                            formControlName="Street" readonly>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'Building No' | translate}}." type="number"
                                            readonly formControlName="BuildingNo">
                                    </mat-form-field>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'Floor No' | translate}}." type="text"
                                            formControlName="floorNo" readonly>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>{{'Select Driver' | translate}}</mat-label>
                                        <select matNativeControl placeholder="{{'Order Status' | translate}}"
                                            formControlName="driver" readonly>
                                            <option disabled value="">
                                                {{"Select Driver" | translate}}
                                            </option>
                                            <option value="Driver1">Driver1 </option>
                                            <option value="Driver2">Driver2 </option>
                                            <option value="Driver3">Driver3</option>
                                            <option value="Driver4">Driver4</option>

                                        </select>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Order Date" type="date" readonly
                                            formControlName="orderDate">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'Payment Methods' | translate}}" type="text"
                                            disabled readonly formControlName="payment">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Select Status</mat-label>
                                        <select matNativeControl placeholder="{{'Order Status' | translate}}"
                                            formControlName="status" disabled readonly>
                                            <option disabled value="">
                                                {{'Select Status' | translate}}
                                            </option>
                                            <option value="Capital">Approved </option>
                                            <option value="Hawalli">Out of pickup </option>
                                            <option value="Mubarak Al-Kaber">Picked up</option>
                                            <option value="Ahmadi">out of delivery</option>
                                            <option value="Farwaniya">under sorting</option>
                                            <option value="Jahra">on hold</option>
                                            <option value="Jahra">returned </option>
                                            <option value="Jahra">delivered</option>
                                        </select>
                                    </mat-form-field>

                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-hover" datatable [dtOptions]="dtOptions">
                                    <thead class="">
                                        <tr>
                                            <th>
                                                {{'Sender' | translate}}
                                            </th>
                                            <th>
                                                {{'Receiver' | translate}}
                                            </th>
                                            <th>
                                                {{'Action Date' | translate}}
                                            </th>
                                            <th>
                                                {{'Details' | translate}}
                                            </th>
                                            <th>
                                                {{'Status' | translate}}
                                            </th>
                                            <th>
                                                {{'Driver Name' | translate}}
                                            </th>
                                        </tr>

                                    </thead>
                                    <tbody class="tbodyClass">
                                        <tr *ngFor="let item of orderDetails ; let i = index">
                                            <td>
                                                {{item.receiverName}}
                                            </td>
                                            <td>
                                                {{item.senderName}}
                                            </td>
                                            <td>
                                                {{item.orderDate}}
                                            </td>
                                            <td>
                                                {{item.shipmentDetails}}
                                            </td>

                                            <td>
                                                {{item.orderStatus}}
                                            </td>
                                            <td>
                                                {{item.clientName}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>