<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div id="cover">
                    <form method="get" action="">
                        <div class="tb">

                            <div class="td"><input type="text" placeholder="{{'Tracking Number' | translate}}"
                                    class="searchBtn" #searchData></div>
                            <div class="td" id="s-cover">
                                <button type="submit" class="src" (click)="search(searchData.value)">
                                    <div id="s-circle"></div>
                                    <span></span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="row trackerClass" *ngIf="trackId && trackId.length > 4">
            <div class="col-md-12">
                <div class="row headerClass">
                    <div class="col-md-6">
                        <i class="material-icons iconMail">send
                        </i> <span class="trackId">
                            {{'TN' | translate}}{{trackId}}
                        </span>
                    </div>
                    <div class="col-md-6 orderId">
                        <span class="trackId ">

                        </span>
                    </div>
                </div>

            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <ul class="events">
                            <li>


                                <time class="time" datetime="10:03">10:03</time>
                                <span><strong> 02 May 2021</strong> picked up from dublin parcel hub 12 </span>
                            </li>

                            <li>
                                <time class="time" datetime="14:19">14:19</time>
                                <span><strong>03 May 2021</strong> out of delivery from the dongel</span>
                            </li>

                            <li>
                                <time class="time" datetime="22:23">22:23</time>
                                <span><strong>03 May 2021l</strong> Under Sorting the parcel </span>
                            </li>

                            <li>
                                <time class="time" datetime="11:03">11:03</time>
                                <span><strong>04 May 2021</strong> Delivered the parcel before time on Dongel DSU ,
                                    CO</span>
                            </li>

                            <li>
                                <time datetime="10:03">11:15</time>
                                <span><strong>FeedBack</strong> On time feedback by user</span>
                            </li>


                        </ul>
                    </div>
                    <div class="col-md-6 trackData">
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="{{'AWB' | translate}}" type="text" readonly
                                        value="XXX6776">
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="{{'Sender Name' | translate}}" type="text" readonly
                                        value="sender Test">
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="{{'Receiver Name' | translate}}" type="text" readonly>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <app-address></app-address>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="{{'Order Status' | translate}}" type="text" readonly>
                                </mat-form-field>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>
        <div class="row" *ngIf="openError && trackId.length > 1">
            <div class="col-md-12">
                <div class="div60">
                    <div class="headerAlert innerText">
                        <i class="material-icons iconMail floatClass">cancel_schedule_send
                        </i>
                        TrackId : <span style="text-transform: uppercase;">
                            {{trackId}}
                        </span>
                    </div>
                    <div class="innerText cColor">
                        We' are sorry ! We cannot fine your tracking id {{trackId}}, <br>
                        please check again or <br>
                        Enter correct tracking ID
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>