<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <header-as-card title="{{'Manage itemReturnReasons' | translate}}">
                    </header-as-card>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 actions d-flex justify-content-end" *ngxPermissionsOnly="['CreateItemReturnReason']">
                <button mat-raised-button color="primary" class="btn btn-danger ml-5 mr-5"
                    (click)="manageItemReturnReason('Add',false)">
                    {{'Add New item Return Reasons' | translate}}
                </button>
            </div>
        </div>

        <div class="row p-3 mat-elevation-z8" dir="auto" *ngIf="itemReturnReasons.length > 0">
            <table mat-table [dataSource]="itemReturnReasons" *ngxPermissionsOnly="['ListItemReturnReasons']">
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> {{'Id' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container> -->

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> {{'Item Return Reason' | translate}} </th>
                    <td mat-cell *matCellDef="let element">{{element.name}}</td>
                </ng-container>

                <ng-container matColumnDef="isActive">
                    <th mat-header-cell *matHeaderCellDef> {{'Is Active' | translate}} </th>
                    <td mat-cell *matCellDef="let element">{{element.isActive}}</td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> {{'Actions' | translate}} </th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        <button mat-icon-button [matMenuTriggerFor]="actionsMenu">
                            <mat-icon>more_horiz</mat-icon>
                        </button>

                        <mat-menu #actionsMenu="matMenu">
                            <button mat-menu-item (click)="manageItemReturnReason('Edit', true, element)" *ngxPermissionsOnly="['UpdateItemReturnReason']">
                               <i class="material-icons">mode_edit</i>  {{'Edit' | translate}}
                            </button>

                            <button mat-menu-item *ngxPermissionsOnly="['DeleteItemReturnReason']">
                                <app-confirm-deletion
                                    title="{{'Are you sure you want to delete Item Return Reason?' | translate}}"
                                    (confirm)="onConfirm($event,element)" btnText="Delete">
                                </app-confirm-deletion>
                            </button>
                        </mat-menu>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>
</div>

