<section class="contianer">
    <div class="dialog-header" mat-dialog-title>
        <div class="row p-0">
            <h4 class="col-11 d-flex justify-content-start">{{'Set Delegate' | translate}}</h4>
            <i class="col-1 d-flex justify-content-end material-icons dialog-close" mat-dialog-close>close</i>
        </div>
    </div>

    <form mat-dialog-content [formGroup]="form" class="m-2">
        <div class="row">
            <mat-form-field setDir class="col-md-6 col-sm-12">
                <mat-label>{{'Branch' | translate}}</mat-label>
                <input type="text" placeholder="{{'Please Select' | translate}}" matInput
                    [matAutocomplete]="branchAuto">
                <mat-autocomplete autoActiveFirstOption #branchAuto="matAutocomplete">
                    <mat-option *ngFor="let option of options" [value]="option">
                        {{option}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <mat-form-field setDir class="col-md-6 col-sm-12">
                <mat-label>{{'Name' | translate}}</mat-label>
                <input type="text" placeholder="{{'Please Select' | translate}}" matInput [matAutocomplete]="nameAuto">
                <mat-autocomplete autoActiveFirstOption #nameAuto="matAutocomplete">
                    <mat-option *ngFor="let option of options" [value]="option">
                        {{option}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <mat-form-field setDir class="col-md-6 col-sm-12">
                <mat-label>{{'Code' | translate}}</mat-label>
                <input type="text" placeholder="{{'Please Select' | translate}}" matInput [matAutocomplete]="codeAuto">
                <mat-autocomplete autoActiveFirstOption #codeAuto="matAutocomplete">
                    <mat-option *ngFor="let option of options" [value]="option">
                        {{option}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <mat-form-field setDir class="col-md-6 col-sm-12">
                <input matInput placeholder="{{'Duty Status' | translate}}" type="text">
            </mat-form-field>
        </div>
    </form>

    <!-- start actions -->
    <div mat-dialog-actions class="p-4 d-flex justify-content-end">
        <button type="button" mat-button class="btn-submit-blue ml-1 mr-1">
            {{'Assign Delegate' | translate}}
        </button>

        <button type="button" mat-button class="btn-submit-blue ml-1 mr-1">
            {{'Assign and Dispatch to Delegate' | translate}}
        </button>
    </div>
    <!-- end actions -->
</section>