<section class="contianer">
    <div class="dialog-header" mat-dialog-title>
        <div class="row p-0">
            <h4 class="col-11 d-flex justify-content-start">{{'Select Previous Order' | translate}}</h4>
            <i class="col-1 d-flex justify-content-end material-icons dialog-close" mat-dialog-close>close</i>
        </div>
    </div>

    <form mat-dialog-content [formGroup]="form" class="m-2">
        <mat-form-field setDir class="col-md-12 col-sm-12">
            <mat-label>{{'Customer Code' | translate}}</mat-label>
            <input type="text" placeholder="{{'Customer Code' | translate}}" matInput
                [matAutocomplete]="autoCustomerCode" (keyup)="onSearch($event,'autoCustomerCode')"
                formControlName="businessCustomerId"
                >
            <mat-autocomplete autoActiveFirstOption #autoCustomerCode="matAutocomplete"
                (optionSelected)="optionSelected($event,'autoCustomerCode')">
                <mat-option *ngFor="let option of businessCustomers" [value]="option.businessCode"
               (click)=" setBusinessCustomer(option)"
                >
                    {{option.businessCode}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <mat-form-field setDir class="col-md-12 col-sm-12">
            <mat-label>{{'Order Code' | translate}}</mat-label>
            <input type="text" placeholder="{{'Order Code' | translate}}" matInput [matAutocomplete]="autoOrderCode"
               formControlName="draftOrderId"
            (keyup)="onSearch($event,'autoOrderCode')">
            <mat-autocomplete autoActiveFirstOption #autoOrderCode="matAutocomplete"  
                (optionSelected)="optionSelected($event,'autoOrderCode')">
                <mat-option *ngFor="let option of orders" [value]="option.code"
                (click)="setCode(option)"
                >
                    {{option.code}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </form>

    <!-- start actions -->
    <div mat-dialog-actions class="p-4 d-flex justify-content-end">
        <button type="button" mat-button class="btn-submit-blue ml-1 mr-1" (click)="submit()">
            {{'Load' | translate}}
        </button>

        <button type="button" mat-button class="btn-close-red ml-1 mr-1" mat-dialog-close>
            {{'Close' | translate}}
        </button>
    </div>
    <!-- end actions -->
</section>