<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <header-as-card title=" {{'Manage Languages' | translate}}">
                    </header-as-card>
                </div>
            </div>
        </div>

        <div class="row">
         

            <div class="col-3 h-45">

            </div>
            <div class="col-1">

            </div>

            <div class="col-8 actions" *ngxPermissionsOnly="['CreateLanguage']">
                <button mat-raised-button color="primary" class="btn btn-danger ml-5 mr-5"
                    (click)="manageLanguageSeletedRow('Add',false)">
                    {{'Add New Language' | translate}}
                </button>

            </div>
        </div>

        <div class="row p-3 mat-elevation-z8" dir="auto" *ngIf="languages.length > 0">
        
            <table mat-table [dataSource]="languages" *ngxPermissionsOnly="['ListLanguages']">
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> {{'Id' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container> -->

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> {{'Language' | translate}} </th>
                    <td mat-cell *matCellDef="let element">{{element.name}}</td>
                </ng-container>

                <ng-container matColumnDef="isActive">
                    <th mat-header-cell *matHeaderCellDef> {{'Is Active' | translate}} </th>
                    <td mat-cell *matCellDef="let element">{{element.isActive}}</td>
                </ng-container>

                <ng-container matColumnDef="code">
                    <th mat-header-cell *matHeaderCellDef> {{'Code' | translate}} </th>
                    <td mat-cell *matCellDef="let element">{{element.code}}</td>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> {{'Actions' | translate}} </th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        <button mat-icon-button [matMenuTriggerFor]="actionsMenu">
                            <mat-icon>more_horiz</mat-icon>
                        </button>

                        <mat-menu #actionsMenu="matMenu">
                            <button mat-menu-item (click)="manageLanguageSeletedRow('Edit', true, element)" *ngxPermissionsOnly="['UpdateLanguage']">
                               <i class="material-icons">mode_edit</i>  {{'Edit' | translate}}
                            </button>

                            <button mat-menu-item *ngxPermissionsOnly="['DeleteLanguage']">
                                <app-confirm-deletion
                                    title="{{'Are you sure you want to delete this Language?' | translate}}"
                                    (confirm)="onConfirm($event,element)" btnText="Delete">
                                </app-confirm-deletion>
                                <!-- {{'Delete' | translate}} -->

                            </button>
                        </mat-menu>
                    </td>
                </ng-container>
               <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div> 

        <!-- <div class="row" setDir *ngIf="languages.length > 0">
            <mat-paginator dir="ltr" [length]="total" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 50, 100]"
                (page)="onChangePage($event)">
            </mat-paginator>
        </div> -->
    </div>
</div>