<div class="main-content" setDir>
    <div class="container-fluid pl-3 pr-3 m-0">

        <div class="col-md-12 col-sm-12 top-header">
            <div class="row">
                <p class="col-md-8 d-flex justify-content-start">
                    <a [routerLink]="['/auth/login']">
                        <img class="login-logo" src="assets/img/express_logo.png">
                    </a>
                </p>

                <div class="col-md-4 d-flex justify-content-end">
                    <mat-form-field style="width: 75%">
                        <mat-select [(ngModel)]="selectedFlag" (selectionChange)="selectionChange($event)">
                            <mat-select-trigger>
                                <img class="img-flag pl-1 pr-1" src="assets/img/flags/{{selectedFlag?.flagImg}}">
                                <span class="flag-name">{{selectedFlag?.name}}</span>
                            </mat-select-trigger>

                            <mat-option *ngFor="let flag of flags" [value]="flag">
                                <img src="assets/img/flags/{{flag.flagImg}}" class="img-flag">
                                {{flag.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div class="col-md-7 col-sm-10 mx-auto pt-4">
            <div class="row cards-section">
                <div class="col-md-6 col-sm-12 p-3">
                    <div class="card">
                        <img src="assets/img/customer/business.png">
                        <h3>{{'Corporate' | translate}}</h3>
                        <!-- <p>
                            It is a long established fact that a reader will be distracted by the readable content of a page
                            when looking at its layout
                        </p> -->
                        <button mat-flat-button (click)="navigate('auth/register-business-account')">{{'Get Started' |
                            translate}}</button>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12 p-3">
                    <div class="card">
                        <img src="assets/img/customer/individual.png">
                        <h3>{{'Individual' | translate}}</h3>
                        <!-- <p>
                            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                            classical Latin literature from 45 BC, making it over 2000 years old
                        </p> -->
                        <button mat-flat-button (click)="navigate('auth/register-individual-account')">{{'Get Started' |
                            translate}}</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>