@import "./../../shared/scss/colors.scss";

.cards-section {
    img {
        height: 200px;
        width: 200px;
    }

    .card {
        display: flex;
        align-items: center;
        padding: 2.5em;
    }

    button {
        margin-top: 2.5em;
        background-color: rgb(228, 228, 228);
    }

    h3 {
        color: $red;
    }
}

section {
    background-image: url("../../../assets/img/bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 800px;
}

.login-logo {
    height: 80px;
    width: 180px;
    margin: auto;
    margin-left: 25px;
    margin-right: 25px;
}

.top-header {
    height: 40px;
    padding: 0px;
    z-index: 9999;
    background-color: white;
}

.container-fluid {
    padding: 0px;
}

.img-flag {
    height: 30px;
    width: 60px;
}

.flag-name {
    min-width: 50px;
}
