<div class="dialog-header" mat-dialog-title dir="auto">
    <div class="row p-0">
        <h4 class="col-11 d-flex justify-content-start">{{'Company Information' | translate}}</h4>
        <i class="col-1 d-flex justify-content-end material-icons dialog-close" mat-dialog-close>close</i>
    </div>
</div>

<!-- start company info -->
<form mat-dialog-content [formGroup]="form" class="m-0" setDir dir="auto">
    <div class="row">
        <mat-form-field class="col-md-6">
            <mat-label>{{'Name' | translate}} </mat-label>
            <input matInput placeholder="{{'Name' | translate}}" formControlName="name" required>
        </mat-form-field>

        <mat-form-field class="col-md-6">
            <mat-label>{{'Description' | translate}} </mat-label>
            <input matInput placeholder="{{'Description' | translate}}" formControlName="bussinesDiscription" required>
        </mat-form-field>

        <div class="col-md-6">
            <app-tel-input [height]="60" [isRequired]="true" [previousCountryId]="companyProfile?.countryId"
                [previousNumber]="companyProfile?.mobile" (number)="number($event)"
                (isValid)="isValidPhoneNumber($event)" (country)="onCountry($event)">
            </app-tel-input>
        </div>

        <mat-form-field class="col-md-6">
            <mat-label>{{'Phone No' | translate}} </mat-label>
            <input matInput placeholder="{{'Phone No' | translate}}" type="text" formControlName="phone" required>
        </mat-form-field>

        <mat-form-field class="col-md-6">
            <mat-label>{{'Email' | translate}} </mat-label>
            <input matInput placeholder="{{'Email' | translate}}" type="email" formControlName="email" required>
        </mat-form-field>

        <mat-form-field class="col-md-6">
            <mat-label>{{'Website' | translate}} </mat-label>
            <input matInput placeholder="{{'Website' | translate}}" type="text" formControlName="website">
        </mat-form-field>

        <mat-form-field class="col-md-6">
            <mat-label>{{'Fax No' | translate}} </mat-label>
            <input matInput placeholder="{{'Fax No' | translate}}" type="text" formControlName="faxNo">
        </mat-form-field>

        <mat-form-field setDir class="col-md-6">
            <mat-label>{{'Head Quarter' | translate}}</mat-label>
            <select matNativeControl formControlName="mainBranchId" placeholder="{{'Select Head Quarter' | translate}}"
                required>
                <option *ngFor="let branch of branchs" [value]="branch.id">{{branch.name}}</option>
            </select>
        </mat-form-field>

        <mat-form-field class="col-md-4">
            <mat-label>{{'Address' | translate}} </mat-label>
            <input matInput ngx-google-places-autocomplete (onAddressChange)="handleAddressChange($event)"
                placeholder="{{'Address' | translate}}" formControlName="address" required>
        </mat-form-field>

        <ng-container setDir class="col-md-12 row" formArrayName="socialLinks"
            *ngFor="let link of socialLinks.controls; let index = index; let last = last" [formGroup]="link">
            <ng-container [formGroupName]="index">
                <mat-form-field class="col-md-9">
                    <mat-label>{{'Social media link' | translate}}</mat-label>
                    <input matInput formControlName="siteLink" type="text" required>
                </mat-form-field>

                <div class=" col-md-3">
                    <div class="m-2">
                        <button mat-flat-button color="warn" class="ml-1 mr-1 mt-2 btn-close-red"
                            (click)="removeLink(index)">
                            {{'Delete' | translate}}
                        </button>
                        <button mat-flat-button color="primary" (click)="addLink()" class="mt-2 btn-submit-blue"
                            *ngIf="last">
                            {{'Add' | translate}}
                        </button>
                    </div>
                </div>
            </ng-container>
        </ng-container>
    </div>
</form>
<!-- end company info -->

<!-- start actions -->
<div mat-dialog-actions class="p-2" dir="auto">
    <button type="button" mat-button class="btn-submit-blue ml-1 mr-1" [ngClass]="{'disable-btn': !valuesChanged}"
        [disabled]="!valuesChanged" (click)="sumbit()">
        {{'Update Information' | translate}}
    </button>

    <button type="button" mat-button class="btn-close-red ml-1 mr-1" mat-dialog-close>
        {{'Close' | translate}}
    </button>
</div>
<!-- end actions -->