<section class="contianer" setDir dir="auto">
    <div class="dialog-header" mat-dialog-title>
        <div class="row p-0">
            <h4 class="col-11 d-flex justify-content-start">{{operation}} {{'Area' | translate}}</h4>
            <i class="col-1 d-flex justify-content-end material-icons dialog-close" mat-dialog-close>close</i>
        </div>
    </div>

    <form mat-dialog-content [formGroup]="form" class="m-2">
        <div class="card card-profile">
            <div class="row p-3">
                <header-as-card class="col-md-12 mb-1" title="{{'Area' | translate}}">
                </header-as-card>

                <mat-form-field setDir class="col-md-4 col-sm-12">
                    <input matInput placeholder="{{'nameEN' | translate}}" type="text" formControlName="nameEN"
                        required>
                </mat-form-field>

                <mat-form-field setDir class="col-md-4 col-sm-12">
                    <input matInput placeholder="{{'nameAR' | translate}}" type="text" formControlName="nameAR"
                        required>
                </mat-form-field>

                <mat-form-field setDir class="col-md-4 col-sm-12">
                    <mat-label>{{'Governorate ' | translate}}</mat-label>
                    <select matNativeControl formControlName="fk_Governrate_Id"
                        placeholder="{{'Governorate' | translate}}"  required>
                        <option *ngFor="let option of governorates" [value]="option.id">
                            {{option.nameEN}}
                        </option>
                    </select>
                </mat-form-field> 

                     <section class="col-md-4 col-sm-12 mar">
                        <mat-checkbox  formControlName="isActive">
                          {{'Is Active' | translate}}
                       </mat-checkbox>
                      </section>

                      <!-- <section class="col-md-4 col-sm-12 mar">
                        <mat-checkbox  formControlName="isSystem">
                          {{'Is System' | translate}}
                       </mat-checkbox>
                      </section> -->
            </div>
        </div>
        <div class="card card-profile"  >
                
            <div class="row p-3">     
            <header-as-card  class="col-md-12 mb-1" title="{{'Area Blocks' | translate}}">
            </header-as-card>
            
              
                 <div formArrayName="areaBlocks" class="col-12"> 
                    <div *ngFor="let blk of areaBlocks().controls; let blkIndex=index">
                        <div [formGroupName]="blkIndex" class="row">
                          
                            <mat-form-field setDir class="col-md-3 col-sm-12 mar">
                                <input matInput placeholder="{{'Block No' | translate}}" type="number"
                                 formControlName="blockNo" (change)="onInputChange($event,blkIndex)"
                                    >
                            </mat-form-field>
                             
                              <div setDir class="col-md-3 col-sm-12 mar">
                                <mat-checkbox  formControlName="isActive" class="mar">
                                  {{'Is Active' | translate}}
                               </mat-checkbox>
                              </div>
        
                              <!-- <div setDir class="col-md-3 col-sm-12 mar">
                                <mat-checkbox  formControlName="isSystem" class="mar">
                                  {{'Is System' | translate}}
                               </mat-checkbox>

                              </div> -->
                            
        
                            <div class="col-md-3 col-sm-12 mar" >
                                <mat-icon (click)="removeBlock(blkIndex)" style="color: red"  class="mar" >{{'delete' | translate}}</mat-icon>
                            </div>
                        </div>
                    </div>
        
                    <div class="col-12 d-flex justify-content-end ">
                        <button type="button" (click)="addBlock()" class="btn btn-info ml-1 mr-1">
                            <mat-icon>{{'Add' | translate}}</mat-icon>
                        </button>
                    </div>
                </div> 
        
              
            </div>
        </div>
    </form>

    <!-- start actions -->
    <div mat-dialog-actions class="p-4">
        <button type="button" mat-button class="btn-submit-blue ml-1 mr-1" (click)="submit()">
            {{'Save Area' | translate}}
        </button>

        <button type="button" mat-button class="btn-close-red ml-1 mr-1" mat-dialog-close>
            {{'Close' | translate}}
        </button>
    </div>
    <!-- end actions -->
</section>
