:host ::ng-deep {
    .full-width {
        width: 100%;
        height: 30px !important;

        .option-img {
            margin-right: 10px;
            height: 12px;
        }

        .selected-code {
            max-height: 30px;
        }
    }
}
