<div class="row">
    <mat-form-field class="col-12 full-width">
        <mat-select placeholder="{{'Country' | translate}}" matNativeControl name="states" [(ngModel)]="selectedState"
            class="selected-code" required>
            <mat-option *ngFor="let state of states" [value]="state" (click)="setValue()">
                {{state?.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>