<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <header-as-card title="{{'Price List' | translate}}" btnLabel="{{'Add New Price List' | translate}}"
                        (onBtnClicked)="addNewPL()" *ngxPermissionsOnly="['AddPriceList']" >
                    </header-as-card>
                    <button id="open-add-modal" [hidden]="true" data-toggle="modal" data-target="#add-modal"></button>
                    <div class="row">                     
                       
                            <mat-form-field appearance="fill" class="col-md-4 col-sm-6 h-45">
                                <mat-label>{{'Quick Search PL:Codes ,Area ...' | translate}}</mat-label>
                                <input matInput [(ngModel)]="searchBy" (keyup.enter)="search()">
                                <mat-icon matSuffix (click)="search()">search</mat-icon>
                            </mat-form-field>               
                          
                    
                    </div>
                    <br>
                    <form  [formGroup]="form">
                    <div class="row">
                      
                        <mat-form-field setDir class="col-md-4">
                            <mat-label>{{'Service Sector' | translate}}</mat-label>                           
                            <mat-select placeholder="{{'Service Sector' | translate}}" formControlName="sectorTypeId" multiple >
                                <mat-option>
                                    <ngx-mat-select-search formControlName="filterSectorCtrl" 
                                        noEntriesFoundLabel="{{'No matching sector found' | translate}}"
                                        [clearSearchInput]="true">
                                    </ngx-mat-select-search>
                                </mat-option>
                                <mat-option *ngFor="let sector of sectors | filter:form.controls['filterSectorCtrl'].value"
                                    [value]="sector.id" matTooltip="{{sector.name}}">
                                    {{sector.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field setDir class="col-md-4">
                            <mat-label>{{'PL Status' | translate}}</mat-label>                          
                            <mat-select placeholder="{{'Pl Status' | translate}}" formControlName="statusId" multiple>
                                <mat-option>
                                    <ngx-mat-select-search formControlName="filterStatusCtrl" 
                                        noEntriesFoundLabel="{{'No matching status found' | translate}}"
                                        [clearSearchInput]="true">
                                    </ngx-mat-select-search>
                                </mat-option>
                                <mat-option *ngFor="let status of statuses | filter:form.controls['filterStatusCtrl'].value"
                                    [value]="status.id" matTooltip="{{status.name}}">
                                    {{status.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field setDir class="col-md-4">
                            <mat-label>{{'Valid From Date' | translate}}</mat-label>
                            <input matInput [matDatepicker]="datefromPicker" formControlName="fromDate" 
                            [min]="minDate" [max]="maxDate">
                            <mat-datepicker-toggle matSuffix [for]="datefromPicker"></mat-datepicker-toggle>
                            <mat-datepicker #datefromPicker></mat-datepicker>
                        </mat-form-field>
            
                        <mat-form-field setDir class="col-md-4">
                            <mat-label>{{'Valid To Date' | translate}}</mat-label>
                            <input matInput [matDatepicker]="dateToPicker" formControlName="toDate" 
                            [min]="minDate" [max]="maxDate">
                            <mat-datepicker-toggle matSuffix [for]="dateToPicker"></mat-datepicker-toggle>
                            <mat-datepicker #dateToPicker></mat-datepicker>
                        </mat-form-field>         
            
                            <mat-form-field setDir class="col-md-3 col-sm-12">
                                <mat-label>{{'Area' | translate}}</mat-label>
                                <mat-select placeholder="{{'Select Area' | translate}}" formControlName="area" multiple>
                                    <mat-option>
                                        <ngx-mat-select-search  name="filterAreaCtrl"
                                        formControlName="filterAreaCtrl"
                                            placeholderLabel="{{'To Area' | translate}}"
                                            noEntriesFoundLabel="{{'No matching area found' | translate}}"
                                             [clearSearchInput]="true">
                                        </ngx-mat-select-search>
                                    </mat-option>
                                    <mat-option *ngFor="let area of areas | filter:form.controls['filterAreaCtrl'].value"
                                    [value]="area.id" matTooltip="{{area.name}}">
                                    {{area.name}}
                                </mat-option>
                                </mat-select>
                            </mat-form-field>
            
                            <button mat-raised-button color="primary" class="btn btn-success" (click)="getFilteredData()" >
                            {{'Filter' | translate}}
                             </button>
                             <button mat-raised-button color="primary" class="btn btn-success h-45" (click)="export()" *ngxPermissionsOnly="['ExportPriceList']">
                                {{'Export' | translate}}
                            </button>
                        <!-- </div> -->
                    </div>
                </form>
                    <div class="card-body">
                        <div class="row p-3 mat-elevation-z8" dir="auto" *ngIf="pls.length > 0">
                            <table mat-table [dataSource]="pls">
                
                                <ng-container matColumnDef="code">
                                    <th mat-header-cell *matHeaderCellDef> {{'Code' | translate}} </th>
                                    <td mat-cell *matCellDef="let element"> {{element.code}} </td>
                                </ng-container>

                                <ng-container matColumnDef="validToDate">
                                    <th mat-header-cell *matHeaderCellDef> {{'Valid To Date' | translate}} </th>
                                    <td mat-cell *matCellDef="let element"> {{element.validToDate}} </td>
                                </ng-container>

                                <ng-container matColumnDef="priceListStatus">
                                    <th mat-header-cell *matHeaderCellDef> {{'PriceList Status' | translate}} </th>
                                    <td mat-cell *matCellDef="let element"> {{element.priceListStatus}} </td>
                                </ng-container>
                                

                                <ng-container matColumnDef="fromArea">
                                    <th mat-header-cell *matHeaderCellDef> {{'From Area' | translate}} </th>
                                    <td mat-cell *matCellDef="let element"> {{element.fromArea}} </td>
                                </ng-container>
                              
                                <ng-container matColumnDef="toArea">
                                    <th mat-header-cell *matHeaderCellDef> {{'To Area' | translate}} </th>
                                    <td mat-cell *matCellDef="let element"> {{element.toArea}}</td>
                                </ng-container>
                
                                <ng-container matColumnDef="fromWeight">                   
                                    <th mat-header-cell *matHeaderCellDef> {{'From Weight' | translate}} </th>
                                    <td mat-cell *matCellDef="let element"> {{element.fromWeight}} </td>
                                </ng-container>
                              
                
                                <ng-container matColumnDef="toWeight">
                                    <th mat-header-cell *matHeaderCellDef> {{'To Weight' | translate}} </th>
                                    <td mat-cell *matCellDef="let element"> {{element.toWeight}} </td>
                                </ng-container>
                                
                                <ng-container matColumnDef="serviceTime">
                                    <th mat-header-cell *matHeaderCellDef> {{'Service Time' | translate}} </th>
                                    <td mat-cell *matCellDef="let element"> {{element.serviceTime}} </td>
                                </ng-container> 

                                <ng-container matColumnDef="price">
                                    <th mat-header-cell *matHeaderCellDef> {{'Price' | translate}} </th>
                                    <td mat-cell *matCellDef="let element"> {{element.price}} </td>
                                </ng-container>              
                                
                                <ng-container matColumnDef="actions">
                                    <th mat-header-cell *matHeaderCellDef class="text-center"> {{'Actions' | translate}} </th>
                                    <td mat-cell *matCellDef="let element" class="text-center">
                                        <button mat-icon-button [matMenuTriggerFor]="actionsMenu">
                                            <mat-icon>more_horiz</mat-icon>
                                        </button>
                
                                        <mat-menu #actionsMenu="matMenu" >
                                            <button mat-menu-item (click)="viewPQ(element.id)"  *ngxPermissionsOnly="['ViewPriceList']">
                                                <mat-icon>preview</mat-icon> {{'View' | translate}}
                                            </button>
                
                                            <button mat-menu-item (click)="editPl(element.id) "  *ngxPermissionsOnly="['UpdatePriceList']">
                                                <mat-icon>mode_edit</mat-icon> {{'Edit' | translate}}
                                            </button>
                                            <!-- <button mat-menu-item (click)="printPQ(element)">
                                                <mat-icon>print</mat-icon> {{'Print' | translate}}
                                            </button> -->
                                            <button mat-menu-item (click)="deletePriceList(element)"  *ngxPermissionsOnly="['DeletePriceList']">
                                                <mat-icon>delete</mat-icon> {{'Delete' | translate}}
                                            </button>
                                            <!-- <button mat-menu-item>
                                                <app-confirm-deletion
                                                title="{{'Are you sure you want to delete this Price Offer?' | translate}}"
                                                (confirm)="onDelete($event,element)">
                                            </app-confirm-deletion>
                                                <mat-icon>delete</mat-icon>
                                               
                                            </button> -->
                                        </mat-menu>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                        </div>
                
                        <div class="row" setDir *ngIf="pls.length > 0">
                            <mat-paginator dir="ltr" [length]="total" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 50, 100]"
                                (page)="onChangePage($event)">
                            </mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

