<div class="main-content">
    <div class="container-fluid">


        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <header-as-card title="{{'Service List' | translate}}"
                        btnLabel="{{'Add New Service List' | translate}}" (onBtnClicked)="onBtnClicked($event)">
                    </header-as-card>
                    <button id="open-add-modal" [hidden]="true" data-toggle="modal" data-target="#add-modal"></button>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                                <thead>
                                    <tr>
                                        <th>
                                            {{'Service Name' | translate}}
                                        </th>
                                        <th>
                                            {{'Service Type' | translate}}
                                        </th>
                                        <th>
                                            {{'Description' | translate}}
                                        </th>
                                        <th>
                                            {{'Actions' | translate}}
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="tbodyClass">
                                    <tr *ngFor="let item of locationDetails ; let i = index">
                                        <td>
                                            {{item.serviceName}}
                                        </td>
                                        <td>
                                            {{item.serviceType}}
                                        </td>
                                        <td>
                                            {{item.description}}
                                        </td>

                                        <td>
                                            <!-- <span class="material-icons-round">
                                                mode_edit
                                            </span> -->
                                            <div class="iconClass">

                                                <span class="iconSpan">
                                                    <i class="material-icons" (click)="selectedItem( item.id)"
                                                        data-toggle="modal" data-target="#FilterModel">mode_edit </i>
                                                </span>
                                                <span class="iconSpan">
                                                    <app-confirm-deletion
                                                        title="{{'Are you sure you want to delete this Service List?' | translate}}">
                                                    </app-confirm-deletion>
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                            <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
                        </div>
                    </div>
                </div>
                <!-- <button mat-raised-button type="submit" class="btn btn-danger pull-left" data-toggle="modal"
                    data-target="#DistributionOrder">Distribution Order
                </button> -->
            </div>
        </div>
    </div>
</div>

<!--  modal -->
<div id="add-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <div class="cardStyle container card-cascade">
                    <div class="overlay-CardCascade paddingFor-CardCascade">
                        <div class="card-header card-header-danger popupHeader">
                            <h4 class="card-title h4Header">{{addOrEdit}} {{'Service List' | translate}}</h4>
                            <p class="card-category"></p>
                        </div>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="locationForm">
                            <div class="row">

                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>{{'Services' | translate}}</mat-label>
                                        <input matInput placeholder="{{'Service Name' | translate}}" type="text"
                                            formControlName="serviceName">
                                    </mat-form-field>

                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'Service Type' | translate}}" type="text"
                                            formControlName="serviceType">
                                    </mat-form-field>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'Description' | translate}}" type="text"
                                            formControlName="description">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div style="margin: auto">
                    <button type="button" class="btn btn-primary shadowfor-pop-btn saveBtn" (click)="onClick()">
                        {{'Save Service List' | translate}}
                    </button>
                    <button type="button" class="btn btn-danger close_btn shadowfor-pop-btn m-left-10"
                        data-dismiss="modal">
                        {{'Close' | translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- popUp for company logo update -->