<form  [formGroup]="form">
    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-plain">
                        <header-as-card title="{{'Local Message Distribution Report' | translate}}">
                        </header-as-card>
                    </div>
                </div>
            </div>
    
            <div class="row">
          
                <!-- <mat-form-field class="col-md-3 col-sm-12">
                    <input matInput placeholder="{{'From Date' | translate}}" type="date"
                    formControlName="fromDate" required>
                </mat-form-field>

                <mat-form-field class="col-md-3 col-sm-12">
                    <input matInput placeholder="{{'To Date' | translate}}" type="date"
                    formControlName="toDate" required>
                </mat-form-field> -->
    
                    <mat-form-field setDir class="col-md-3 col-sm-12">
                        <mat-label>{{'Month' | translate}}</mat-label>
                        <select matNativeControl class="pl-2 pr-2" formControlName="month" required>
                            <option *ngFor="let option of months" [value]="option">
                               {{option}}
                            </option>
                        </select>
                    </mat-form-field>

                    <mat-form-field setDir class="col-md-3 col-sm-12">
                        <mat-label>{{'Year' | translate}}</mat-label>
                        <select matNativeControl class="pl-2 pr-2" formControlName="year" required>
                            <option *ngFor="let option of years" [value]="option">
                               {{option}}
                            </option>
                        </select>
                    </mat-form-field>

                    <mat-form-field setDir class="col-md-3 col-sm-12">
                        <mat-label>{{'Business Name' | translate}}</mat-label>
                        <select matNativeControl class="pl-2 pr-2" formControlName="businessCustomerId" required>
                            <option *ngFor="let option of businessCustomers" [value]="option.id">
                               {{option.businessName}}
                            </option>
                        </select>
                    </mat-form-field>
    
                    <button mat-raised-button color="primary" class="btn btn-success" (click)="getFilteredData()" >
                    {{'Search' | translate}}
                     </button>
    
                    <button mat-raised-button color="primary" class="btn btn-success" (click)="export()">
                        {{'Export' | translate}}
                    </button>
            </div>
    
            <div  class="row p-3 mat-elevation-z8" dir="auto" *ngIf="businessCustomerAndBranches.length > 0">
                <table mat-table [dataSource]="businessCustomerAndBranches">
<!--     
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> {{'Id' | translate}} </th>
                        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container> -->
    
                    <ng-container matColumnDef="businessBranchName">
                        <th mat-header-cell *matHeaderCellDef> {{'business Branch Name' | translate}} </th>
                        <td mat-cell *matCellDef="let element"> {{element.businessBranchName}} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="deliveryDate">
                        <th mat-header-cell *matHeaderCellDef> {{'Date' | translate}} </th>
                        <td mat-cell *matCellDef="let element"> {{element.deliveryDate}}</td>
                    </ng-container>
    
                    <ng-container matColumnDef="itemsNo">
                        <th mat-header-cell *matHeaderCellDef> {{'Items No' | translate}} </th>
                        <td mat-cell *matCellDef="let element"> {{element.itemsNo}} </td>
                    </ng-container>
    
    
                    <!-- <ng-container matColumnDef="totalRowsNo">
                        <th mat-header-cell *matHeaderCellDef> {{'total Rows No ' | translate}} </th>
                        <td mat-cell *matCellDef="let element"> {{element.totalRowsNo}} </td>
                    </ng-container> -->
    
                    <ng-container matColumnDef="totalItemsDeliveredForBranch">
                        <th mat-header-cell *matHeaderCellDef> {{'total Items Delivered For Branch' | translate}} </th>
                        <td mat-cell *matCellDef="let element"> {{element.totalItemsDeliveredForBranch}} </td>
                    </ng-container>
    
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
    
            <div class="row" setDir *ngIf="businessCustomerAndBranches.length > 0">
                <mat-paginator dir="ltr" [length]="total" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 50, 100]"
                    (page)="onChangePage($event)">
                </mat-paginator>
            </div>
        </div>
    </div>
    </form>