
@import "./../../../shared/scss/colors.scss";

table {
    width: 100%;
    border-spacing: 0 8px !important;

    td,
    th {
        padding: 5px;
    }

    th {
        color: $blue;
        font-weight: bold;
        font-size: medium;
        background-color: $light-blue;
    }

    tr:nth-child(even) {
        background-color: $light-blue;
    }

    td.mat-cell,
    th.mat-header-cell {
        padding: 5px;
        border-bottom: 1px solid $blue;
        border-top: 1px solid $blue;
        text-align: start;
    }

    td.mat-cell,
    th.mat-header-cell {
        border-left: 1px solid $blue;
    }

    td.mat-cell,
    th.mat-header-cell {
        border-right: 1px solid $blue;
    }

    table {
        border-spacing: 0 8px !important;
    }
}

.template-section {
    background-color: $bg;
}

.actions {
    button {
        margin: 5px;
    }

    display: flex;
    justify-content: flex-end;
}

.search {
    display: flex;
    justify-content: flex-start;
}

:host ::ng-deep {
    .mat-form-field-appearance-fill .mat-form-field-flex {
        border-radius: 0px;
        height: 50px;
    }

    .mat-form-field-infix {
        border: none;
    }

    .mat-paginator-icon {
        -webkit-transform: none !important;
        transform: none !important;
    }

    .mat-paginator-container {
        background: none;
    }
}

.custom-bg-color {
    background-color: #dee3f9;
    border-radius: 5px;
}

.template-download-icon {
    color: $blue;
    margin-top: 15px;
}

.uploading {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.uploading div {
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: $blue;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.uploading div:nth-child(1) {
    left: 8px;
    animation: uploading1 0.6s infinite;
}

.uploading div:nth-child(2) {
    left: 8px;
    animation: uploading2 0.6s infinite;
}

.uploading div:nth-child(3) {
    left: 32px;
    animation: uploading2 0.6s infinite;
}

.uploading div:nth-child(4) {
    left: 56px;
    animation: uploading3 0.6s infinite;
}

@keyframes uploading1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes uploading3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes uploading2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}
