<div class="main-content">
    <div class="container-fluid">
        <div class="card-body">

    <form mat-dialog-content [formGroup]="form" class="m-2">
        <div class="card card-profile">
            <div class="row p-3">
                <header-as-card class="col-md-12 mb-1" title="{{'PL Information' | translate}}">
                </header-as-card>
                <br>
                <br>
                <br>
                <div setDir class="row">            
                  
                <mat-form-field setDir class="col-md-4">
                    <mat-label>{{'Service Sector' | translate}}</mat-label>
                    <select matNativeControl formControlName="sectorTypeId" placeholder="{{'Service Sector' | translate}}">
                        <option *ngFor="let curr of sectors" [value]="curr.id" >{{curr.name}}</option>
                    </select>
                </mat-form-field> 
                <mat-form-field setDir class="col-md-4">
                    <input matInput placeholder="{{'PL Code' | translate}}" type="text"
                        formControlName="code">
                </mat-form-field>  
                <mat-form-field setDir class="col-md-4">
                    <mat-label>{{'PL Status' | translate}}</mat-label>
                    <select matNativeControl formControlName="statusId" placeholder="{{'PL Status' | translate}}">
                        <option *ngFor="let curr of statuses" [value]="curr.id" >{{curr.name}}</option>
                    </select>
                </mat-form-field> 
                <mat-form-field setDir class="col-md-4">
                    <mat-label>{{'Valid From Date' | translate}}</mat-label>
                    <input matInput [matDatepicker]="ValidfromDate" formControlName="validFromDate" [min]="minDate"
                        [max]="maxDate">
                    <mat-datepicker-toggle matSuffix [for]="ValidfromDate"></mat-datepicker-toggle>
                    <mat-datepicker #ValidfromDate></mat-datepicker>
                </mat-form-field> 
                <mat-form-field setDir class="col-md-4">
                    <mat-label>{{'Valid To Date' | translate}}</mat-label>
                    <input matInput [matDatepicker]="ValidtoDate" formControlName="validToDate" [min]="minDate"
                        [max]="maxDate">
                    <mat-datepicker-toggle matSuffix [for]="ValidtoDate"></mat-datepicker-toggle>
                    <mat-datepicker #ValidtoDate></mat-datepicker>
                </mat-form-field> 
                    </div>
               
            </div>
        </div>
        <div class="card card-profile">
            <div class="row p-3">
                <header-as-card class="col-md-12 mb-1" title="{{'PL Details' | translate}}">
                </header-as-card>
                <div class="col-12 d-flex justify-content-end">
                    <button mat-button (click)="manageItem('Add',false)" class="btn-bs-file btn btn-success">
                        {{'Add Item' | translate}}
                    </button>
                </div>
            </div>
           
            </div>
    </form>
    <div>
      
        <div class="row p-3" *ngIf="dataSource?.data?.length > 0">
            <table mat-table dir="auto" setDir [dataSource]="dataSource" class="mat-elevation-z8">
               
                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef class="text-center p-3">
                        <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row" class="text-center p-3">
                        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                        </mat-checkbox>
                    </td>
                </ng-container>
              
                <ng-container matColumnDef="fromArea">
                    <th mat-header-cell *matHeaderCellDef> {{'From Area' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.fromArea}} </td>
                </ng-container>
                <ng-container matColumnDef="toArea">
                    <th mat-header-cell *matHeaderCellDef> {{'To Area' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.toArea}} </td>
                </ng-container>                
        
                <ng-container matColumnDef="fromWeight">
                   
                    <th mat-header-cell *matHeaderCellDef> {{'From Weight' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.fromWeight}} </td>
                </ng-container>
                <ng-container matColumnDef="toWeight">
                    <th mat-header-cell *matHeaderCellDef> {{'To Weight' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.toWeight}} </td>
                </ng-container>
                <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef> {{'Price' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.price}} </td>
                </ng-container>
                <ng-container matColumnDef="serviceTimeUnit">
                    <th mat-header-cell *matHeaderCellDef> {{'Service Time Unit' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.serviceTimeUnit}} </td>
                </ng-container>  

                <ng-container matColumnDef="serviceTime">
                    <th mat-header-cell *matHeaderCellDef> {{'Service Time' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.serviceTime}} </td>
                </ng-container>                
                
               
        
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> {{'Actions' | translate}}
                    </th>
                    <td mat-cell *matCellDef="let element;let index = index" class="text-center">
                        <button mat-icon-button [matMenuTriggerFor]="actionsMenu" (click)="setIndex(index)">
                            <mat-icon>more_horiz</mat-icon>
                        </button>
                        <mat-menu #actionsMenu="matMenu">
                            <button mat-menu-item (click)="manageItem('Edit',true,element)">
                                {{'Edit' | translate}}<i class="material-icons">mode_edit</i>
                            </button>
                       
                            <button mat-menu-item>
                                {{'Delete' | translate}}
                                <app-confirm-deletion title="{{'Are you sure you want to delete this item?' | translate}}"
                                    (confirm)="onDelete($event,index)">
                                </app-confirm-deletion>
                            </button>
                        </mat-menu>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
        
        <div class="row pl-2 pr-2" setDir *ngIf="dataSource?.data?.length > 0">
            <mat-paginator dir="ltr" [pageSizeOptions]="[10, 25, 50, 100]">
            </mat-paginator>
        </div>
    </div>

    <!-- start actions --> 
    <div class="p-4 d-flex justify-content-end">
        <div *ngIf="mode!=='view'">
        <button type="button" mat-button class="btn btn-warn" (click)="reset()" >
            {{'Reset' | translate}}
        </button>
        <button type="button" mat-button class="btn btn-success" (click)="submit()">
            {{'Save' | translate}}
        </button>                
    </div>
        <button type="button" mat-button class="btn btn-danger" (click)="close()">
            {{'Close' | translate}}
        </button>
    </div>
  
<!-- end actions -->
        </div>
    </div>
</div>