<form class="row mt-3" [formGroup]="form">
    <mat-form-field setDir class="col-md-4 col-sm-12">
        <mat-label>{{'Items type' | translate}}</mat-label>
        <select matNativeControl class="pl-2 pr-2" formControlName="itemTypeId" required>
            <option *ngFor="let option of mailItemTypes" [value]="option.id">
                {{option.name}}
            </option>
        </select>
        <mat-icon matSuffix>info</mat-icon>
    </mat-form-field>
    <mat-form-field setDir class="col-md-4 col-sm-12">
        <mat-label>{{'Orders Total Items No' | translate}}</mat-label>
        <input matInput type="number" formControlName="totalItemCount" (change)="onTotalItemCountChange($event.target.value)" required>
    </mat-form-field>
    <mat-form-field setDir class="col-md-4 col-sm-12">
        <mat-label>{{'Filled Items No' | translate}}</mat-label>
        <input matInput type="number" formControlName="filledItemNo" readonly>
    </mat-form-field>
    <mat-form-field setDir class="col-md-4 col-sm-12">
        <mat-label>{{'Remaining Items No' | translate}}</mat-label>
        <input matInput type="number" formControlName="remainingItemNo" readonly>
    </mat-form-field>
    <section setDir class="template-section col-md-12 col-sm-12">
        <div class="row mt-3">
            <div class="col-12 d-flex justify-content-start">
                <h5>{{'Items Batch Upload Data' | translate}}</h5>
            </div>
            <div class="col-3 custom-bg-color pb-3 pt-2 m-2 row">
                <p class="col-12">{{'Download Template' | translate}}</p>
                <span class="col-10">
                    <a mat-button color="primary" href="assets/files/PH_templates_court_v011_en.xlsx"
                       download="PH_templates_court_v011_en.xlsx">
                        <mat-icon  class="template-download-icon">insert_drive_file</mat-icon>
                        Template.csv
                        <mat-icon download="PH_templates_court_v011_en.xlsx" class="col-2 template-download-icon">file_download</mat-icon>
                    </a>
                </span>
            </div>
            <div class="col-8 custom-bg-color pb-3 pt-2 m-2 row">
                <p class="col-12">{{'Select File' | translate}}</p>
                <div class="col-2">
                    <label class="btn-bs-file btn btn-success">
                        {{'Browse' | translate}}
                        <input type="file" hidden (change)="addfile($event)" accept="{{accept}}" />
                    </label>
                </div>
                <div class="col-3 pt-2">
                    {{file?.name}}
                </div>
                <div class="col-2">
                    <button *ngIf="!uploading" mat-button (click)="importData()" class="btn-bs-file btn btn-success">
                        {{'Import Data' | translate}}
                    </button>

                    <span>{{importprogessMessage}}</span>
                </div>

                <span *ngIf="uploading" class="col-2 pt-1 d-flex justify-content-end">{{'Uploading' | translate}}</span>

                <div *ngIf="uploading" class="uploading col-2 pt-2 mt-1">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </section>
</form>

<div class="col-12 d-flex justify-content-end">
    <button mat-button (click)="manageItem('Add',false)" class="btn-bs-file btn btn-success">
        {{'Add Item' | translate}}
    </button>

    <button mat-button class="btn btn-success" (click)="printMailitems()">
        {{'Print Mailitems' | translate}}
    </button>

    <button mat-button (click)="printLabels(selection.selected)" class="btn-bs-file btn btn-success">
        {{'Print Labels' | translate}}
    </button>

    <button mat-button (click)="exportImportData()" class="btn-bs-file btn btn-info">
        {{'Export Data' | translate}}
    </button>
</div>

<div class="row p-3" *ngIf="dataSource?.data?.length > 0">
    <mat-table #table dir="auto" setDir [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%;">
        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef class="text-center p-3">
                <mat-checkbox (change)="$event ? masterToggle() : null"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                </mat-checkbox>
             </mat-header-cell >
             <mat-cell *matCellDef="let row" class="text-center p-3">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                                  [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                    </mat-checkbox>
             </mat-cell>
        </ng-container>
        <!-- <ng-container matColumnDef="orderInfo">
        <th mat-header-cell *matHeaderCellDef> {{'Order Info' | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.orderInfo}} </td>
    </ng-container> -->
        <ng-container matColumnDef="mailItemBarCode">
            <mat-header-cell mat-header-cell *matHeaderCellDef> {{'Item Code' | translate}} </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.mailItemBarCode}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="consigneeInformation">
            <mat-header-cell *matHeaderCellDef> {{'Consignee Info' | translate}} </mat-header-cell>
            <mat-cell  *matCellDef="let element"> {{element.consigneeInformation}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="address">
            <mat-header-cell mat-header-cell *matHeaderCellDef> {{'Address' | translate}} </mat-header-cell>
            <mat-cell mat-cell *matCellDef="let element">
                <span>
                    <span>{{element.governorate}}</span>-
                    <span>{{element.area}}</span>-
                    <span>{{element.block}}</span>-
                    <span>{{element.street}}</span>-
                    <span>{{element.building}}</span>-
                    <!-- <span>{{element.floorNo}}</span>- -->
                    <span>{{element.floor}}</span>-
                    <span>{{element.flat}}</span>-

                </span>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="weight">
            <mat-header-cell  *matHeaderCellDef> {{'Item Weight' | translate}} </mat-header-cell>
            <mat-cell  *matCellDef="let element"> {{element.weight}} </mat-cell>
        </ng-container>

        <!-- <ng-container matColumnDef="itemPostage">
        <th mat-header-cell *matHeaderCellDef> {{'Item Postage' | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.itemPostage}} </td>
    </ng-container> -->

        <ng-container matColumnDef="actions">
            <mat-header-cell  *matHeaderCellDef class="text-center">
                {{'Actions' | translate}}
            </mat-header-cell>
            <mat-cell mat-cell *matCellDef="let element;let index = index" class="text-center">
                <button mat-icon-button [matMenuTriggerFor]="actionsMenu" (click)="setIndex(index)">
                    <mat-icon>more_horiz</mat-icon>
                </button>
                <mat-menu #actionsMenu="matMenu">
                    <button mat-menu-item (click)="manageItem('Edit',true,element)">
                        {{'Edit' | translate}}<i class="material-icons">mode_edit</i>
                    </button>
                    <button mat-menu-item (click)="printLabels([element])">
                        {{'Print Label' | translate}}<i class="material-icons">print</i>
                    </button>
                    <button mat-menu-item (click)="printMailitem(element)">
                        {{'Print Mailitem' | translate}}<i class="material-icons">print</i>
                    </button>
                    <button mat-menu-item>
                        <app-confirm-deletion title="{{'Are you sure you want to delete this item' | translate}}"
                        (confirm)="onDelete($event,index)" btnText="Delete" w>                        </app-confirm-deletion>
                    </button>


                </mat-menu>
            </mat-cell>
        </ng-container>
        <mat-header-row  *matHeaderRowDef=" displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>

<div class="row pl-2 pr-2" setDir *ngIf="dataSource?.data?.length > 0">
    <mat-paginator  #paginator  dir="ltr" [length]="dataSource?.data?.length" [pageSize]="pageSize" 
                (page)="onChangePage($event)"    [pageSizeOptions]="[10, 25, 50, 100]">
    </mat-paginator>
</div>