<div class="main-content">
    <div class="container-fluid p-0">
        <div class="row p-3 mb-3 mt-2">
            <mat-form-field appearance="fill" class="col-4 h-45 p-0">
                <mat-label>{{'Search in Branches' | translate}}</mat-label>
                <input matInput>
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>

            <div class="col-1 d-flex justify-content-start">
                <button mat-raised-button color="primary" class="btn btn-success">
                    {{'Search' | translate}}
                </button>
            </div>

            <div class="col-1 d-flex justify-content-center">
                <mat-icon (click)="toggleFilter()" class="filter-icon">filter_alt</mat-icon>
            </div>
        </div>

        <div class="row filters-section pt-3" *ngIf="showFilters">
            <mat-form-field class="col-md-5 col-sm-12">
                <mat-label>{{'Select Month' | translate}}</mat-label>
                <select matNativeControl class="p-1">
                    <option *ngFor="let month of [1,2,3,4,5,6,7,8,9,10,11,12]" [value]="month">
                        {{month}}
                    </option>
                </select>
            </mat-form-field>

            <mat-form-field class="col-md-5 col-sm-12 h-45 p-0">
                <mat-label>{{'Business Customer Code / Name' | translate}}</mat-label>
                <input matInput>
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>


            <div class="col-md-2 col-sm-12 d-flex justify-content-end">
                <button mat-raised-button color="primary" class="btn btn-success h-45">
                    {{'Apply' | translate}}
                </button>
            </div>
        </div>

        <div class="row pl-3 pr-3" *ngIf="list.length > 0">
            <div class="col-md-2 col-sm-12 group-by">
                <mat-form-field class="h-45" appearance="none">
                    <select matNativeControl required class="p-1" [(ngModel)]="groupType"
                        (change)="onSelectBranchBy($event)">
                        <option value="0">{{'Grouped By Branches' | translate}}</option>
                    </select>
                </mat-form-field>
            </div>

            <div class="col-md-10 col-sm-12 d-flex justify-content-end labels pt-3" *ngIf="groupType == 0">
                <span>(<span class="text-bold">{{selectedItemsNum}}</span>
                    {{'Selected Items' | translate}} /
                    <span class="text-bold">{{totalItemsCount}}</span>) | (<span
                        class="text-bold">{{selectedBranchesNum}}</span>
                    {{'Selected Branches' | translate}} /
                    <span class="text-bold">{{totalBranchesCount}}</span>)
                </span>
            </div>

            <!-- for branches -->
            <table mat-table [dataSource]="list" multiTemplateDataRows class="mat-elevation-z8" setDir>
                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef class="text-center p-3 table-fixed-width">
                        <mat-checkbox (change)="$event ? masterToggleGroupedRows() : null"
                            [checked]="branchesRowsSelection.hasValue() && isAllSelectedBranchesRows()"
                            [indeterminate]="branchesRowsSelection.hasValue() && !isAllSelectedBranchesRows()"
                            [aria-label]="checkboxLabelGroupedBranches()">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row" class="text-center p-3">
                        <mat-checkbox (click)="$event.stopPropagation()" (change)="onSelectBranch($event,row)"
                            [checked]="branchesRowsSelection.isSelected(row)"
                            [aria-label]="checkboxLabelGroupedBranches(row)">
                        </mat-checkbox>
                    </td>
                </ng-container>

                <ng-container matColumnDef="branchName">
                    <th mat-header-cell *matHeaderCellDef>{{'Branch Name' | translate}}</th>
                    <td mat-cell *matCellDef="let element">
                        <div>
                            {{element.businessName}}
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef>{{'Date' | translate}}</th>
                    <td mat-cell *matCellDef="let element">
                        <div>
                            {{element.orderType}}
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="itemsNo">
                    <th mat-header-cell *matHeaderCellDef>{{'Items No' | translate}}</th>
                    <td mat-cell *matCellDef="let element"> {{element.itemsNo}} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> {{'Actions' | translate}} </th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        <button mat-icon-button [matMenuTriggerFor]="actionsMenu">
                            <mat-icon>more_horiz</mat-icon>
                        </button>
                        <mat-menu #actionsMenu="matMenu">
                            <button mat-menu-item>
                                {{'Assign To Workorder' | translate}}
                            </button>

                            <button mat-menu-item>
                                {{'Issue Workorder' | translate}}
                            </button>

                            <button mat-menu-item (click)="assignDriver('by_order',element)">
                                {{'Assign to Driver' | translate}}
                            </button>
                        </mat-menu>
                    </td>
                </ng-container>

                <ng-container matColumnDef="showHide">
                    <th mat-header-cell *matHeaderCellDef class="table-fixed-width">
                        <mat-icon (click)="expandCollapseAll()">expand</mat-icon>
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <mat-icon *ngIf="element != expandedElement" (click)="setExpandedElement(element)">
                            arrow_drop_down
                        </mat-icon>
                        <mat-icon *ngIf="element == expandedElement" (click)="expandedElement = null">arrow_drop_up
                        </mat-icon>
                    </td>
                </ng-container>

                <ng-container matColumnDef="expandedDetail">
                    <td mat-cell *matCellDef="let groupElement;let index = index"
                        [attr.colspan]="columnsToDisplay.length">
                        <div class="order-element-detail row"
                            [@detailExpand]="(groupElement == expandedElement || allRowsExpanded) ? 'expanded' : 'collapsed'"
                            *ngIf="groupElement.items?.length > 0">
                            <table mat-table
                                [dataSource]="groupElement.items | paginate: { itemsPerPage: 10, currentPage: groupElement.page,id:groupElement.id}"
                                class="mat-elevation-z8 items-table col-12">

                                <ng-container matColumnDef="select">
                                    <th mat-header-cell *matHeaderCellDef
                                        class="text-center p-3 table-child-fixed-width">
                                        <mat-checkbox (change)="$event ? masterToggleItems(groupElement) : null"
                                            [checked]="itemsSelection.hasValue() && isAllSelectedItems(groupElement)"
                                            [indeterminate]="itemsSelection.hasValue() && !isAllSelectedItems(groupElement)"
                                            [aria-label]="checkboxLabelItems(groupElement)">
                                        </mat-checkbox>
                                    </th>
                                    <td mat-cell *matCellDef="let row" class="text-center p-3">
                                        <mat-checkbox (click)="$event.stopPropagation()"
                                            (change)="$event ? itemsSelection.toggle(row) : null"
                                            [checked]="itemsSelection.isSelected(row)"
                                            [aria-label]="checkboxLabelItems(groupElement,row,null)">
                                        </mat-checkbox>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="itemInfo">
                                    <th mat-header-cell *matHeaderCellDef>{{'Item Info' | translate}}</th>
                                    <td mat-cell *matCellDef="let element">
                                        <div>
                                            <span class="font-weight-bold">Item Code</span>: {{element.itemCode}}
                                        </div>

                                        <div>
                                            <span class="font-weight-bold">Item Type</span>: {{element.itemType}}
                                        </div>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="itemStatus">
                                    <th mat-header-cell *matHeaderCellDef>{{'Item Status' | translate}}</th>
                                    <td mat-cell *matCellDef="let element;let index = index">
                                        <mat-icon *ngIf="element.status == 'Pickup';else otherIcon" class="pickup-icon">
                                            arrow_circle_up
                                        </mat-icon>

                                        <ng-template #otherIcon>
                                            <mat-icon class="delivery-icon">arrow_circle_down</mat-icon>
                                        </ng-template>

                                        <span class="pl-5">
                                            {{element.status}}
                                        </span>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="deliveryBefore">
                                    <th mat-header-cell *matHeaderCellDef>{{'Delivery Before' | translate}}</th>
                                    <td mat-cell *matCellDef="let element"> {{element.deliveryBeforeDate}} </td>
                                </ng-container>

                                <ng-container matColumnDef="weight">
                                    <th mat-header-cell *matHeaderCellDef>{{'Weight' | translate}}</th>
                                    <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                                </ng-container>

                                <ng-container matColumnDef="actions">
                                    <th mat-header-cell *matHeaderCellDef class="text-center"> {{'Actions' | translate}}
                                    </th>
                                    <td mat-cell *matCellDef="let element" class="text-center">
                                        <button mat-icon-button [matMenuTriggerFor]="actionsMenu">
                                            <mat-icon>more_horiz</mat-icon>
                                        </button>
                                        <mat-menu #actionsMenu="matMenu">
                                            <button mat-menu-item>
                                                {{'Delete Item' | translate}}
                                            </button>

                                            <button mat-menu-item>
                                                {{'View Item' | translate}}
                                            </button>

                                            <button mat-menu-item>
                                                {{'Edit Item' | translate}}
                                            </button>

                                            <button mat-menu-item>
                                                {{'Change Status' | translate}}
                                            </button>

                                            <button mat-menu-item
                                                (click)="assignDriver('by_item_grouped_by_order',element)">
                                                {{'Assign to Driver' | translate}}
                                            </button>
                                        </mat-menu>
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="itemsColumnsToDisplay"></tr>
                                <tr mat-row *matRowDef="let element; columns: itemsColumnsToDisplay;">
                                </tr>
                            </table>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                <tr mat-row *matRowDef="let element; columns: columnsToDisplay"
                    [class.order-expanded-row]="expandedElement === element">
                </tr>
                <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="order-detail-row"></tr>
            </table>

            <div class="row" setDir dir="ltr">
                <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 50, 100]"
                    (page)="onChangeByOrdersPage($event)">
                </mat-paginator>
            </div>
        </div>
    </div>
</div>