@import "./../../../shared/scss/colors.scss";

#manage-geo-fence-map {
    height: 500px;
    margin-top: 5px;
    display: flex;
    justify-content: flex-start;
}

.fence-form {
    background-color: white;
    padding: 15px;
    width: 97.5%;
    margin: 0 auto;
}
