<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <header-as-card title="{{label}} {{'Geofence' | translate}}">
                    </header-as-card>
                </div>
            </div>
        </div>

        <section  dir="auto" setDir>
            <form class="fence-form" [formGroup]="form">
                <div class="row p-3">
                    <div class="col-md-6 col-sm-12">
                        <mat-form-field class="mt-3">
                            <mat-label>{{"Name" | translate}} </mat-label>
                            <input matInput formControlName="name" (keyup)="onType($event)" required>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row p-3">
                    <div class="col-md-6 col-sm-12">
                        <mat-form-field>
                            <mat-label>{{"Descripton" | translate}}</mat-label>
                            <input matInput #input maxlength="50" formControlName="description">
                            <mat-hint align="end">
                                <b>{{input.value?.length || 0}}</b>{{"CHARACTERS LEFT" | translate}}/50
                            </mat-hint>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row p-3">
                    <div class="col-md-6 col-sm-12">
                        <mat-form-field>
                            <mat-select placeholder="{{'Area' | translate}}" (selectionChange)="onSelectArea($event)"
                                        formControlName="areaId" multiple  required>
                                <mat-option>
                                    <ngx-mat-select-search formControlName="filterArea"
                                                           placeholderLabel="{{'Select area' | translate}}"
                                                           noEntriesFoundLabel="{{'No matching area found' | translate}}"
                                                           [clearSearchInput]="true">
                                    </ngx-mat-select-search>
                                </mat-option>
                                <mat-option *ngFor="let area of areas | filter:form.get('filterArea').value" [value]="area.id"
                                            matTooltip="{{area.name}}">
                                    {{area.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-md-6 col-sm-12">
                        <mat-form-field>
                            <mat-select placeholder="{{'Block' | translate}}" formControlName="blockId" multiple required>
                                <mat-option>
                                    <ngx-mat-select-search formControlName="filterBlock"
                                                           placeholderLabel="{{'Select block' | translate}}"
                                                           noEntriesFoundLabel="{{'No matching block found' | translate}}"
                                                           [clearSearchInput]="true">
                                    </ngx-mat-select-search>
                                </mat-option>

                                <ng-container *ngFor="let area of areaBlocks;let index = areaIndex">
                                    <mat-optgroup *ngIf="area?.blocks?.length > 0" [label]="area.name">
                                        <mat-option *ngFor="let block of area.blocks | filter:form.get('filterBlock').value"
                                                    [value]="block.area+block.id" matTooltip="{{block.name}}" (click)="toggleBlock(area,block.id)">
                                            {{block.name}}
                                        </mat-option>
                                    </mat-optgroup>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

            </form>
        </section>

        <div class="row mt-2 p-3 d-flex justify-content-end">
            <button mat-raised-button color="primary" class="btn btn-success" (click)="onSubmit()"
                [disabled]="isSubmitted">
                {{'Save' | translate}}
            </button>

            <button mat-raised-button (click)="cancel()" class="btn btn-danger">
                {{"Cancel" | translate}}
            </button>
        </div>
    </div>
</div>