<section class="contianer">
    <div class="dialog-header" mat-dialog-title>  
        <div class="row p-0">           
            <i class="col-1 d-flex justify-content-end material-icons dialog-close" mat-dialog-close>close</i>
        </div>    
    </div>
    <div  id="print-section">
    <form  [formGroup]="form" class="m-2" setDir *ngIf="invoices.length">
        <div dir="auto">
            <div class="logo">
                <div class="row">
                    <div class="col-md-6">
                        <a href="#" class="col-md-12 d-flex justify-content-start ml-2 mr-2">
                            <img class="sidebar-logo" src="./assets/img/express_logo.png" />
                        </a>
                      </div>
                    <div class="col-md-6">
                        <h4>اكسبرس بوست للبريد</h4>
                        <h5>EXPRESS POST</h5>
                       </div>
                
                
                </div>
            </div>
            <h3 style="text-align: center;text-decoration: underline;">فاتوره</h3>
            <div class="row" >
               <div class="col-md-6">
                <label for="">{{'Date'| translate}}</label> : &nbsp;
                <span>  {{todayDate |date :'dd-MM-yyyy'}}</span>
               </div>
               <div class="col-md-6">
                <label for="">{{'Invoice No'| translate}}</label> : &nbsp;
                <span>  {{invoices[0].invoiceNo}}</span>
               </div>
            </div>
           
            <div class="col-md-12" >               
                <label for="">{{'Customer'| translate}}</label> : &nbsp;
                <span>{{invoices[0].businessCustomerName}} </span>
            </div>
                
                
            <div class="row p-12 mat-elevation-z8" dir="auto" *ngIf="invoices.length">
                <table mat-table [dataSource]="invoices">
    
                    <ng-container matColumnDef="serialNo">
                        <th mat-header-cell *matHeaderCellDef> {{'SerialNo' | translate}} </th>
                        <td mat-cell *matCellDef="let element"> 1 </td>
                        <td mat-footer-cell *matFooterCellDef> {{'Total'|translate}} </td>
                    </ng-container>
                    <ng-container matColumnDef="invoiceTopic">
                        <th mat-header-cell *matHeaderCellDef> {{'Invoice Topic' | translate}} </th>
                        <td mat-cell *matCellDef="let element"> {{element.invoiceTopic}}</td>
                        <td mat-footer-cell *matFooterCellDef>  </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="noOfItems">
                        <th mat-header-cell *matHeaderCellDef> {{'No Of Items' | translate}} </th>
                        <td mat-cell *matCellDef="let element"> {{element.noOfItems}}</td>
                        <td mat-footer-cell *matFooterCellDef> </td>
                    </ng-container>
    
                    <ng-container matColumnDef="unitPrice">
                        <th mat-header-cell *matHeaderCellDef> {{'Price' | translate}} </th>
                        <td mat-cell *matCellDef="let element"> {{element.unitPrice}}</td>
                        <td mat-footer-cell *matFooterCellDef> {{invoices[0].totalUnitsPrice}} </td>
                    </ng-container>
                    <ng-container matColumnDef="totalUnitsPrice">
                        <th mat-header-cell *matHeaderCellDef> {{'TotalUnitsPrice' | translate}} </th>
                        <td mat-cell *matCellDef="let element"> {{element.totalUnitsPrice}}</td>
                        <td mat-footer-cell *matFooterCellDef> </td>
                    </ng-container>
                    
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    <tr mat-footer-row class="totalbudget" *matFooterRowDef="displayedColumns"></tr>
               
                </table>
          
        </div>
        </div>
         <br>
         <div class="col-md-12" >
            <p> اجمالي العرض:</p>       
        </div>

     
    
    </form>  
    </div> 
    <div mat-dialog-actions class="p-4">
        <button type="button" mat-button class="btn-submit-blue ml-1 mr-1" (click)="printForm()">
            {{'Print' | translate}}
        </button>
    </div>
</section>