<div class="dialog-header" mat-dialog-title dir="auto">
    <div class="row p-0">
        <h4 class="col-11 d-flex justify-content-start">{{operation}} {{'Location' | translate}}</h4>
        <i class="col-1 d-flex justify-content-end material-icons dialog-close" mat-dialog-close>close</i>
    </div>
</div>

<!-- start location -->
<form mat-dialog-content [formGroup]="form" class="m-0">
    <div class="row">
        <mat-form-field class="col-md-6">
            <mat-label>{{'Branch No' | translate}} </mat-label>
            <input matInput placeholder="{{'Branch name' | translate}}" type="text" formControlName="name" required>
        </mat-form-field>

        <mat-form-field class="col-md-6">
            <mat-label>{{'Phone No' | translate}} </mat-label>
            <input matInput placeholder="{{'Phone No' | translate}}" type="text" formControlName="phone" required>
        </mat-form-field>

        <mat-form-field class="col-md-6">
            <mat-label>{{'Branch Manager' | translate}}</mat-label>
            <select matNativeControl formControlName="branchManagerId"
                placeholder="{{'Select Direct Manager' | translate}}" required>
                <option *ngFor="let manager of managers" [value]="manager.userId">
                  <!-- {{manager.firstName}} {{manager.middleName}} {{manager.lastName}} -->
                  {{manager.username}}
                </option>
            </select>
        </mat-form-field>

        <div class="col-md-6">
            <app-tel-input [isRequired]="true" [previousCountryId]="branch?.countryId" [previousNumber]="branch?.mobile"
                (number)="number($event)" (isValid)="isValidPhoneNumber($event)" (country)="onCountry($event)">
            </app-tel-input>
        </div>

        <mat-form-field class="col-md-6">
            <mat-label>{{'Branch Code' | translate}} </mat-label>
            <input matInput placeholder="{{'Branch Code' | translate}}" type="text" formControlName="code"
                required>
        </mat-form-field>

        <mat-form-field class="col-md-6">
            <mat-label>{{'Email' | translate}} </mat-label>
            <input matInput placeholder="{{'Email' | translate}}" type="email" formControlName="email" required>
        </mat-form-field>

        <mat-form-field class="col-md-6">
            <mat-label>{{'Fax No' | translate}} </mat-label>
            <input matInput placeholder="{{'Fax No' | translate}}" type="text" formControlName="fax" required>
        </mat-form-field>

    </div>

    <div class="row">
        <div class="col-md-12">
            <app-address [isPACI]="true" (onAddressChanges)="onAddressChanges($event)"
                [addressToReplace]="branch?.location">
            </app-address>
        </div>
    </div>
</form>
<!-- end location -->

<!-- start actions -->
<div mat-dialog-actions class="p-2" dir="auto">
    <button type="button" mat-button class="btn-submit-blue ml-1 mr-1" (click)="submit()">
        {{'Save Location' | translate}}
    </button>

    <button type="button" mat-button class="btn-close-red ml-1 mr-1" mat-dialog-close>
        {{'Close' | translate}}
    </button>
</div>
<!-- end actions -->