<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <span class="toggle-icon ml-1 mr-1" (click)="toggleSidebar()">
                <i class="fa fa-bars"></i>
            </span>

            <a *ngIf="ifSidebarDisplayed">
                <img class="nav-logo" src="./assets/img/express_logo.png">
            </a>

            <span class="navbar-brand">
                {{getTitle() | translate}}
            </span>
        </div>

        <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <!-- <form class="navbar-form">
                <div class="input-group no-border">
                    <a [routerLink]="'create-order'" class="btn btn-danger redCss add-order">
                        {{'Create Order' | translate}}
                    </a>
                </div>
            </form> -->
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link" href="javascript:void(0)" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">notifications</i>
                        <span class="notification">1</span>
                        <p>
                            <span class="d-lg-none d-md-block">{{'Some Actions' | translate}}</span>
                        </p>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="javascript:void(0)">Ahmad responded to your email</a>

                    </div>
                </li>

                <li class="nav-item dropdown">
                    <mat-form-field>
                        <mat-select [(ngModel)]="selectedFlag" (selectionChange)="selectionChange($event)">
                            <mat-select-trigger>
                                <img class="img-flag pl-1 pr-1" src="assets/img/flags/{{selectedFlag?.flagImg}}">
                                <span class="flag-name">{{selectedFlag?.name}}</span>
                            </mat-select-trigger>

                            <mat-option *ngFor="let flag of flags" [value]="flag">
                                <img src="assets/img/flags/{{flag.flagImg}}" class="img-flag">
                                {{flag.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link" id="auth" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <a href="#">
                            <img class="user-img" height="48" width="48" [src]="path" />
                        </a>

                        <span class="username pl-2 pr-2">{{username}} <i class="material-icons">arrow_drop_down</i>
                        </span>


                        <div class="dropdown-menu" aria-labelledby="auth">
                            <a class="dropdown-item logout-btn" routerLink="/user-profile">
                                <span>
                                    {{'Update Profile' | translate}}
                                </span>
                            </a>

                            <a class="dropdown-item" [routerLink]="'/change-password'">
                                {{'Change Password' | translate}}
                            </a>

                            <a class="dropdown-item logout-btn" href="#" (click)="logout()">
                                <span>
                                    {{'Logout' | translate}}
                                </span>

                                <span setDir dir="auto" class="ml-2 mr-2 pt-2">
                                    <mat-icon>logout</mat-icon>
                                </span>
                            </a>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>