@import "./../../scss/colors.scss";

.navbar {
    max-height: 80px;
    background-color: #f9f9f8 !important;
}

.navbar .navbar-brand {
    position: relative;
    /* color: inherit; */
    height: 50px;
    font-size: 1.125rem;
    line-height: 30px;
    padding: 0.625rem 0;
    font-weight: 800;
    margin-left: 1rem;
    color: #014996;
}

.navbar {
    background-color: #f9f9f8 !important;
    -webkit-box-shadow: 0 10px 20px -15px #0000005e;
    -moz-box-shadow: 0 10px 20px -15px #0000005e;
    box-shadow: 0 10px 20px -15px #0000005e;
}

.logout {
    text-align: center;
}

.redCss {
    background-color: #f82020 !important;
}

.toggle-icon {
    color: $blue;
    i {
        font-size: 28px;
        cursor: pointer;
    }
}

.code {
    cursor: pointer;
    color: $blue;
    font-size: larger;
}

.code:hover {
    text-decoration: underline;
}

.languages {
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding-left: 5px;
    padding-right: 5px;
}

.nav-logo {
    height: 5rem;
}

.add-order {
    font-size: 1rem;
}

.logout {
    cursor: pointer;
}

.img-flag {
    height: 25px;
    width: 50px;
}

.flag-name {
    min-width: 50px;
}

:host ::ng-deep {
    .mat-form-field-infix {
        max-width: 130px;
    }
}

.user-img {
    border-radius: 50%;
}

.logout-btn {
    cursor: pointer;
}

.username {
    cursor: pointer;
}
