<div class="container-fluid">

    <div class="row mt-5">
        <div class="col-md-12 mt-5">
            <div class="card card-plain">
                <header-as-card title="{{'RFQ' | translate}}">
                </header-as-card>

                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                            <thead class="">
                                <tr>

                                    <th>
                                        {{'No' | translate}}.
                                    </th>
                                    <th>
                                        {{'Client Name' | translate}}
                                    </th>
                                    <th>
                                        {{'End Date' | translate}}
                                    </th>
                                    <th>
                                        {{'RFQ No' | translate}}.
                                    </th>
                                    <th>
                                        {{'Status' | translate}}
                                    </th>
                                    <th>
                                        {{'Actions' | translate}}
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="tbodyClass">
                                <tr *ngFor="let item of locationDetails ; let i = index">

                                    <td>

                                        {{i + 1}}
                                    </td>
                                    <td>
                                        {{item.clientName}}
                                    </td>
                                    <td>
                                        {{item.endDate}}
                                    </td>
                                    <td>
                                        {{item.RFQ}}
                                    </td>
                                    <td>
                                        {{item.status}}
                                    </td>
                                    <td>
                                        <div class="iconClass">


                                            <div class="nav-item dropdown pull-left  ">



                                                <a class="nav-link  " href="javascript:void(0)"
                                                    id="navbarDropdownMenuLink2" data-toggle="dropdown"
                                                    aria-haspopup="true" aria-expanded="false">
                                                    <span class="iconSpan">
                                                        <i class="material-icons">linear_scale </i>
                                                    </span>


                                                </a>

                                                <div class="dropdown-menu dropdown-menu-left"
                                                    aria-labelledby="navbarDropdownMenuLink2">
                                                    <label class="dropdown-item">
                                                        <i class="material-icons">receipt </i><span
                                                            class="marginLeft">{{'Invoice' | translate}}
                                                        </span>

                                                    </label>
                                                    <label class="dropdown-item">
                                                        <i class="material-icons">gavel </i><span
                                                            class="marginLeft">{{'Contract' | translate}}
                                                        </span>

                                                    </label>
                                                    <label class="dropdown-item">
                                                        <i class="material-icons">visibility </i><span
                                                            class="marginLeft">{{'View' | translate}}
                                                        </span>

                                                    </label>
                                                    <label class="dropdown-item" data-toggle="modal"
                                                        data-target="#edits">
                                                        <i class="material-icons">edit </i><span
                                                            class="marginLeft">{{'Edit' | translate}}
                                                        </span>

                                                    </label>

                                                    <label class="dropdown-item" data-toggle="modal"
                                                        data-target="#deleteLocation">
                                                        <i class="material-icons">delete_forever </i><span
                                                            class="marginLeft">{{'Delete' | translate}}
                                                            <!-- deleteLocation -->
                                                        </span>
                                                    </label>
                                                    <label class="dropdown-item" data-toggle="modal"
                                                        data-target="#changeStatus">
                                                        <i class="material-icons">print </i><span
                                                            class="marginLeft">{{'Print'| translate}}
                                                        </span>
                                                        <!-- changeStatus -->
                                                    </label>

                                                    <!-- orderrack -->
                                                </div>
                                            </div>
                                        </div>
                                    </td>

                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

<div id="changeStatus" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <div class="cardStyle container card-cascade">
                    <div class="overlay-CardCascade paddingFor-CardCascade">
                        <div class="card-header card-header-danger popupHeader">
                            <h4 class="card-title h4Header">{{'Change Status' | translate}}</h4>
                            <p class="card-category"></p>
                        </div>
                    </div>
                    <!--   name: 'test location 1 test ', case: 9889231821, receiverName: '721781277122', Governorate: 'Governorate1', Area: 'test area1',
        Block: 'test Block', Street: 'test Street', BuildingNo: 'test building 1', floorNo: '12', id: 3, notes: "dummy data", barCode: 6162162 -->
                    <div class="card-body">
                        <form>

                            <div class="row">

                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>{{'Select Status' | translate}}</mat-label>
                                        <select matNativeControl #Governorate placeholder="Select Status"
                                            class="paddingLeft">
                                            <option disabled value="">
                                                {{'Select Status' | translate}}
                                            </option>
                                            <option value="Capital">Approved </option>
                                            <option value="Hawalli">Out of pickup </option>
                                            <option value="Mubarak Al-Kaber">Picked up</option>
                                            <option value="Ahmadi">out of delivery</option>
                                            <option value="Farwaniya">under sorting</option>
                                            <option value="Jahra">on hold</option>
                                            <option value="Jahra">returned </option>
                                            <option value="Jahra">delivered</option>
                                        </select>
                                    </mat-form-field>

                                </div>

                            </div>
                            <!-- <button mat-raised-button type="submit" class="btn btn-danger pull-right">Save
                                Location</button> -->
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div style="margin: auto">
                    <button type="button" class="btn btn-primary shadowfor-pop-btn saveBtn" (click)="onClick()">
                        {{'Save' | translate}}
                    </button>
                    <button type="button" class="btn btn-danger close_btn shadowfor-pop-btn m-left-10"
                        data-dismiss="modal">
                        {{'Close' | translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="print" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <div class="cardStyle container card-cascade">
                    <div class="overlay-CardCascade paddingFor-CardCascade">
                        <div class="card-header card-header-danger popupHeader">
                            <h4 class="card-title h4Header">{{'Print' | translate}}</h4>
                            <p class="card-category"></p>
                        </div>
                    </div>
                    <!--   name: 'test location 1 test ', case: 9889231821, receiverName: '721781277122', Governorate: 'Governorate1', Area: 'test area1',
        Block: 'test Block', Street: 'test Street', BuildingNo: 'test building 1', floorNo: '12', id: 3, notes: "dummy data", barCode: 6162162 -->
                    <div class="card-body">
                        <form>

                            <div class="row">

                                <div class="col-md-12">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="radio" name="print">
                                            <span class="form-check-sign">
                                                <span class="check"></span>
                                                <span style="margin-left: 25px;">
                                                    {{'Barcode' | translate}}
                                                </span>
                                            </span>
                                        </label>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="radio" name="print">
                                            <span class="form-check-sign">
                                                <span class="check"></span>
                                                <span style="margin-left: 25px;">
                                                    {{'Manifest' | translate}}
                                                </span>
                                            </span>
                                        </label>
                                    </div>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div style="margin: auto">
                    <button type="button" class="btn btn-primary shadowfor-pop-btn saveBtn" (click)="onClick()">
                        {{'Print' | translate}}
                    </button>
                    <button type="button" class="btn btn-danger close_btn shadowfor-pop-btn m-left-10"
                        data-dismiss="modal">
                        {{'Close' | translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="edit" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <div class="cardStyle container card-cascade">
                    <div class="overlay-CardCascade paddingFor-CardCascade">
                        <div class="card-header card-header-danger popupHeader">
                            <h4 class="card-title h4Header">{{'Edit order' | translate}}</h4>
                            <p class="card-category"></p>
                        </div>
                    </div>

                    <div class="card-body">
                        <form>
                            <h3>
                                {{'Under process' | translate}}
                            </h3>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div style="margin: auto">
                    <button type="button" class="btn btn-primary shadowfor-pop-btn saveBtn" (click)="onClick()">
                        {{'Save' | translate}}
                    </button>
                    <button type="button" class="btn btn-danger close_btn shadowfor-pop-btn m-left-10"
                        data-dismiss="modal">
                        {{'Close' | translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="edits" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <div class="cardStyle container card-cascade">
                    <div class="overlay-CardCascade paddingFor-CardCascade">
                        <div class="card-header card-header-danger popupHeader">
                            <h4 class="card-title h4Header">{{'RFQ' | translate}}</h4>
                            <p class="card-category"></p>
                        </div>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="order">
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'RFQ' | translate}}" type="text"
                                            formControlName="RFQ">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'Client Name' | translate}}" type="text"
                                            formControlName="clientName">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'End Date' | translate}}" type="date"
                                            formControlName="endDate">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>{{'Select Status' | translate}}</mat-label>
                                        <select matNativeControl placeholder=" Status" formControlName="status">
                                            <option disabled value="">
                                                {{'Select Status' | translate}}
                                            </option>
                                            <option value="Active">Active </option>
                                            <option value="Expired">Expired </option>
                                        </select>
                                    </mat-form-field>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div style="margin: auto">
                    <button type="button" class="btn btn-primary shadowfor-pop-btn saveBtn" (click)="onClick()">
                        {{'Save RFQ' | translate}}
                    </button>
                    <button type="button" class="btn btn-danger close_btn shadowfor-pop-btn m-left-10"
                        data-dismiss="modal">
                        {{'Close' | translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- FilterModel -->

<div id="deleteLocation" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4>
                    {{'Are you sure you want to delete this RFQ?' | translate}}
                </h4>
            </div>
            <div class="modal-footer">
                <div style="margin: auto">
                    <button type="button" class="btn btn-primary shadowfor-pop-btn saveBtn" data-dismiss="modal"
                        (click)="confirmDelete()">
                        {{'Delete' | translate}}
                    </button>
                    <button type="button" class="btn btn-danger close_btn shadowfor-pop-btn m-left-10"
                        data-dismiss="modal">
                        {{'Close' | translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="orderTrack" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <div class="cardStyle container card-cascade">
                    <div class="overlay-CardCascade paddingFor-CardCascade">
                        <div class="card-header card-header-danger popupHeader">
                            <h4 class="card-title h4Header">{{'Track Order' | translate}}</h4>
                            <p class="card-category"></p>
                        </div>
                    </div>

                    <div class="card-body">
                        <form [formGroup]="order">
                            <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'AWB' | translate}}" type="text"
                                            formControlName="awb" readonly>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'Sender Name' | translate}}" type="text" readonly
                                            formControlName="senderName">
                                    </mat-form-field>
                                </div>


                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'Receiver Name' | translate}}" type="text"
                                            readonly formControlName="receiverName">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>{{'Governorate' | translate}}</mat-label>
                                        <select matNativeControl required #Governorate
                                            (change)="changeGovernorate(Governorate.value)"
                                            placeholder="{{'Governorate' | translate}}" readonly
                                            formControlName="Governorate">
                                            <option disabled value="">
                                                {{'Select Governorate' | translate}}
                                            </option>
                                            <option value="Capital">Capital</option>
                                            <option value="Hawalli">Hawalli</option>
                                            <option value="Mubarak Al-Kaber">Mubarak Al-Kaber</option>
                                            <option value="Ahmadi">Ahmadi</option>
                                            <option value="Farwaniya">Farwaniya</option>
                                            <option value="Jahra">Jahra</option>
                                        </select>
                                    </mat-form-field>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <!-- <input matInput placeholder="Area" type="text" formControlName="Area"> -->
                                        <select matNativeControl required placeholder="Area" formControlName="Area"
                                            readonly>
                                            <option disabled value="">
                                                {{'Select Area' | translate}}
                                            </option>
                                            <option value="{{item}}" *ngFor="let item of areaList">{{item}}</option>
                                        </select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'Block' | translate}" type="number"
                                            formControlName="Block" readonly>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'Street' | translate}}" type="text"
                                            formControlName="Street" readonly>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'Building No' | translate}" type="number"
                                            readonly formControlName="BuildingNo">
                                    </mat-form-field>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'Floor No' | translate}}" type="text"
                                            formControlName="floorNo" readonly>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>{{'Select Driver' | translate}}</mat-label>
                                        <select matNativeControl placeholder="Order Status" formControlName="driver"
                                            readonly>
                                            <option disabled value="">
                                                {{'Select Driver' | translate}}
                                            </option>
                                            <option value="Driver1">Driver1 </option>
                                            <option value="Driver2">Driver2 </option>
                                            <option value="Driver3">Driver3</option>
                                            <option value="Driver4">Driver4</option>
                                        </select>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'Order Date' | translate}}" type="date" readonly
                                            formControlName="orderDate">
                                    </mat-form-field>
                                </div>


                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'Payment Methods' | translate}}" type="text"
                                            disabled readonly formControlName="payment">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>{{'Select Status' | translate}}</mat-label>
                                        <select matNativeControl placeholder="Order Status" formControlName="status"
                                            disabled readonly>
                                            <option disabled value="">
                                                {{'Select Status' | translate}}
                                            </option>
                                            <option value="Capital">Approved </option>
                                            <option value="Hawalli">Out of pickup </option>
                                            <option value="Mubarak Al-Kaber">Picked up</option>
                                            <option value="Ahmadi">out of delivery</option>
                                            <option value="Farwaniya">under sorting</option>
                                            <option value="Jahra">on hold</option>
                                            <option value="Jahra">returned </option>
                                            <option value="Jahra">delivered</option>
                                        </select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-hover" datatable [dtOptions]="dtOptions"
                                    [dtTrigger]="dtTrigger">
                                    <thead class="">
                                        <tr>
                                            <th>
                                                {{'Sender' | translate}}
                                            </th>
                                            <th>
                                                {{'Receiver' | translate}}
                                            </th>
                                            <th>
                                                {{'Action Date' | translate}}
                                            </th>
                                            <th>
                                                {{'Details' | translate}}
                                            </th>
                                            <th>
                                                {{'Status' | translate}}
                                            </th>
                                            <th>
                                                {{'Driver Name' | translate}}
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody class="tbodyClass">
                                        <tr *ngFor="let item of orderDetails ; let i = index">
                                            <td>
                                                {{item.receiverName}}
                                            </td>
                                            <td>
                                                {{item.senderName}}
                                            </td>
                                            <td>
                                                {{item.orderDate}}
                                            </td>
                                            <td>
                                                {{item.shipmentDetails}}
                                            </td>

                                            <td>
                                                {{item.orderStatus}}
                                            </td>
                                            <td>
                                                {{item.clientName}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>