<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <button mat-raised-button type="submit" class="btn btn-danger pull-right">{{'Switch Data' |
                    translate}}</button>
            </div>
        </div>

        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <header-as-card title="{{'Sender Details' | translate}}">
                    </header-as-card>
                    <div class="card-body">
                        <form [formGroup]="locationForm">
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'Sender Name' | translate}}" type="text" required
                                            formControlName="locationName">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'Company Name' | translate}}" type="text"
                                            formControlName="paci">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'Email' | translate}}" type="text"
                                            formControlName="mobile_no">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'Address' | translate}}" type="text"
                                            formControlName="Block">
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <select matNativeControl placeholder="{{'Country' | translate}}" #countryName
                                            formControlName="Country" (change)="selectedCountry(countryName.value)">
                                            <option disabled selected>
                                                {{'Select Country' | translate}}
                                            </option>
                                            <option [value]="item" *ngFor="let item of country_list">{{item}}</option>
                                        </select>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4" *ngIf="!isHideGov">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>{{'Governorate' | translate}}</mat-label>
                                        <select matNativeControl required formControlName="Governorate" #Governorate
                                            (change)="changeGovernorate(Governorate.value)" placeholder="Governorate">
                                            <option disabled value="">
                                                {{'Select Governorate' | translate}}
                                            </option>
                                            <option value="Capital">Capital</option>
                                            <option value="Hawalli">Hawalli</option>
                                            <option value="Mubarak Al-Kaber">Mubarak Al-Kaber</option>
                                            <option value="Ahmadi">Ahmadi</option>
                                            <option value="Farwaniya">Farwaniya</option>
                                            <option value="Jahra">Jahra</option>
                                        </select>
                                    </mat-form-field>

                                </div>

                                <div class="col-md-4" *ngIf="!isHideGov">
                                    <mat-form-field class="example-full-width">
                                        <select matNativeControl required formControlName="Area"
                                            placeholder="{{'Area' | translate}}">
                                            <option disabled value="">
                                                {{'Select Area' | translate}}
                                            </option>
                                            <option value="{{item}}" *ngFor="let item of areaList">{{item}}</option>
                                        </select>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4" *ngIf="isHideGov">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'State' | translate}}" type="text"
                                            formControlName="Street">
                                    </mat-form-field>

                                </div>

                                <div class="col-md-4" *ngIf="isHideGov">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'City' | translate}}" type="text"
                                            formControlName="Street">
                                    </mat-form-field>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'Postal/Zip Code' | translate}}" type="text"
                                            formControlName="Block">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'Street' | translate}}" type="text"
                                            formControlName="Street">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'Block' | translate}}" type="number"
                                            formControlName="Block">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'Building No' | translate}}." type="number"
                                            formControlName="BuildingNo">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'Floor No' | translate}}." type="text"
                                            formControlName="floorNo">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'Apartment No' | translate}}." type="text"
                                            formControlName="floorNo">
                                    </mat-form-field>
                                </div>

                            </div>
                            <div class="row">

                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <select matNativeControl required formControlName="Area"
                                            placeholder="{{'Select Phone Type' | translate}}">
                                            <option disabled value="">
                                                {{'Select Phone Type' | translate}}
                                            </option>
                                            <option>type1</option>
                                            <option>type2</option>
                                            <option>type3</option>
                                            <option>type4</option>
                                        </select>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4">
                                    <app-tel-input></app-tel-input>
                                </div>

                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'Phone EXT' | translate}}" type="text"
                                            formControlName="floorNo">
                                    </mat-form-field>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <header-as-card title="{{'Receiver Details' | translate}}">
                    </header-as-card>
                    <div class="card-body">
                        <form [formGroup]="locationForm">
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'Receiver Name' | translate}}" type="text"
                                            required formControlName="locationName">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'Company Name' | translate}}" type="text"
                                            formControlName="paci">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'Email' | translate}}" type="text"
                                            formControlName="mobile_no">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'Address' | translate}}" type="text"
                                            formControlName="Block">
                                    </mat-form-field>
                                </div>


                            </div>
                            <div class="row">

                                <div class="col-md-4">


                                    <mat-form-field class="example-full-width">
                                        <!-- <input matInput placeholder="Area" type="text" formControlName="Area"> -->
                                        <select matNativeControl placeholder="{{'Country' | translate}}">
                                            <option disabled selected>
                                                {{'Select Country' | translate}}
                                            </option>
                                            <option [value]="item" *ngFor="let item of country_list">{{item}}</option>
                                        </select>
                                    </mat-form-field>


                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>{{'Governorate' | translate}}</mat-label>
                                        <select matNativeControl required formControlName="Governorate" #Governorate
                                            (change)="changeGovernorate(Governorate.value)"
                                            placeholder="{{'Governorate' | translate}}">
                                            <option disabled value="">
                                                {{'Select Governorate' | translate}}
                                            </option>
                                            <option value="Capital">Capital</option>
                                            <option value="Hawalli">Hawalli</option>
                                            <option value="Mubarak Al-Kaber">Mubarak Al-Kaber</option>
                                            <option value="Ahmadi">Ahmadi</option>
                                            <option value="Farwaniya">Farwaniya</option>
                                            <option value="Jahra">Jahra</option>
                                        </select>
                                    </mat-form-field>

                                </div>

                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">

                                        <select matNativeControl required formControlName="Area"
                                            placeholder="{{'Area' | translate}}">
                                            <option disabled value="">
                                                {{'Select Area' | translate}}
                                            </option>
                                            <option value="{{item}}" *ngFor="let item of areaList">{{item}}</option>
                                        </select>
                                    </mat-form-field>
                                </div>


                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'Postal/Zip Code' | translate}}" type="text"
                                            formControlName="Block">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'Street' | translate}}" type="text"
                                            formControlName="Street">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'Block' | translate}}" type="number"
                                            formControlName="Block">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'Building No' | translate}}." type="number"
                                            formControlName="BuildingNo">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'Floor No' | translate}}." type="text"
                                            formControlName="floorNo">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'Apartment No' | translate}}." type="text"
                                            formControlName="floorNo">
                                    </mat-form-field>
                                </div>

                            </div>
                            <div class="row">

                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <!-- <input matInput placeholder="Phone Type" type="text" formControlName="Area"> -->
                                        <select matNativeControl required
                                            placeholder="{{'Select Phone Type' | translate}}">
                                            <option disabled value="">
                                                {{'Select Phone Type' | translate}}
                                            </option>
                                            <option>type1</option>
                                            <option>type2</option>
                                            <option>type3</option>
                                            <option>type4</option>
                                        </select>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4">
                                    <app-tel-input></app-tel-input>
                                </div>

                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Phone EXT" type="text" formControlName="floorNo">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <header-as-card title="{{'Shipment Details' | translate}}">
                    </header-as-card>

                    <div class="card-body">
                        <form [formGroup]="locationForm">
                            <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'Name Of Items' | translate}}" type="text"
                                            required formControlName="locationName">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'Shipment Type' | translate}}" type="text"
                                            formControlName="paci">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'Insurance State' | translate}}" type="text"
                                            formControlName="mobile_no">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'Insurance Value' | translate}}" type="text"
                                            formControlName="mobile_no">
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'Payment Methods' | translate}}" type="text"
                                            formControlName="locationName">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'Payment Mode' | translate}}" type="text"
                                            formControlName="paci">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <select matNativeControl placeholder="{{'Service Type' | translate}}">
                                            <option>Post Local</option>
                                            <option>Post International</option>
                                            <option>Ship Local</option>
                                            <option>Ship International</option>
                                            <option>DeliveryD2D</option>
                                        </select>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'Other Services' | translate}}" type="text"
                                            formControlName="mobile_no">
                                    </mat-form-field>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'Length' | translate}}" type="number"
                                            formControlName="locationName">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'Width' | translate}}" type="number"
                                            formControlName="paci">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'Height' | translate}}" type="text"
                                            formControlName="mobile_no">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'Items Value' | translate}}" type="text"
                                            formControlName="mobile_no">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'Actual Weight' | translate}}" type="text"
                                            formControlName="mobile_no">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'Pick Up Date' | translate}}" type="date">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-3">
                                    <ejs-timepicker placeholder="{{'Pick Time' | translate}}">
                                    </ejs-timepicker>
                                </div>
                            </div>

                            <button mat-raised-button type="submit" class="btn btn-danger pull-right">{{'Calculate' |
                                translate}}</button>

                            <div class="row">
                                <div class="col-md-6">
                                    <h3 class="totalTag">
                                        {{'Total Price' | translate}} :
                                        <span class="blurClass">
                                            {{ 'according to invoice' | translate}}
                                        </span>
                                    </h3>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <header-as-card title="{{'Items details' | translate}}">
                    </header-as-card>
                </div>
            </div>
        </div>

        <div class="row">
            <mat-form-field appearance="fill" class="col-2 h-45">
                <mat-label>{{'Search' | translate}}</mat-label>
                <input matInput>
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="fill" class="col-2 h-45">
                <mat-label>{{'Search in columns' | translate}}</mat-label>
                <select matNativeControl required>
                    <option value="1">{{'Item Type' | translate}}</option>
                    <option value="2">{{'Item Value' | translate}}</option>
                    <option value="3">{{'Hight' | translate}}</option>
                    <option value="3">{{'Width' | translate}}</option>
                    <option value="4">{{'Actual Hight' | translate}}</option>
                </select>
            </mat-form-field>

            <div class="col-1">
                <button mat-raised-button color="primary" class="btn btn-success">
                    {{'Search' | translate}}
                </button>
            </div>

            <div class="col-7 actions">
                <button mat-raised-button color="primary" class="btn btn-danger" (click)="manageItem('Add')">
                    {{'Add Item' | translate}}
                </button>

                <button mat-raised-button color="primary" class="btn btn-success">
                    {{'Print' | translate}}
                </button>

                <button mat-raised-button color="primary" class="btn btn-success">
                    {{'Excel' | translate}}
                </button>
            </div>
        </div>

        <div class="row p-3" dir="auto">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                <ng-container matColumnDef="itemType">
                    <th mat-header-cell *matHeaderCellDef> {{'Item Type' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.itemType}} </td>
                </ng-container>

                <ng-container matColumnDef="itemValue">
                    <th mat-header-cell *matHeaderCellDef> {{'Item Value' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.itemValue}} </td>
                </ng-container>

                <ng-container matColumnDef="hight">
                    <th mat-header-cell *matHeaderCellDef> {{'Hight' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.hight}} </td>
                </ng-container>

                <ng-container matColumnDef="width">
                    <th mat-header-cell *matHeaderCellDef> {{'Width' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.width}} </td>
                </ng-container>

                <ng-container matColumnDef="actualHight">
                    <th mat-header-cell *matHeaderCellDef> {{'Actual Hight' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.actualHight}} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> {{'Actions' | translate}} </th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        <button mat-icon-button [matMenuTriggerFor]="actionsMenu">
                            <mat-icon>more_horiz</mat-icon>
                        </button>

                        <mat-menu #actionsMenu="matMenu">
                            <button mat-menu-item (click)="manageItem('Edit')">
                                <span>{{'Edit' | translate}}</span>
                                <i class="material-icons">mode_edit</i>
                            </button>

                            <button mat-menu-item>
                                <span>{{'Delete' | translate}}</span>
                                <app-confirm-deletion
                                    title="{{'Are you sure you want to delete this location?' | translate}}"
                                    (onDelete)="onDelete($event,i)">
                                </app-confirm-deletion>
                            </button>
                        </mat-menu>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>

        <div class="row" setDir>
            <mat-paginator dir="ltr" [length]="20" [pageSize]="10" [pageSizeOptions]="[5, 10, 25]">
            </mat-paginator>
        </div>

        <div class="row d-flex justify-content-end pl-3 pr-3">
            <button mat-raised-button type="submit" class="btn btn-danger pull-right">
                {{'Reset' | translate}}
            </button>
            <button mat-raised-button type="submit" class="btn btn-danger pull-right">
                {{'Submit' | translate}}
            </button>
            <button mat-raised-button type="submit" class="btn btn-danger pull-right">
                {{'Invoice' | translate}}
            </button>
        </div>
    </div>
</div>