@import "./../../shared/scss/colors.scss";

.update-btn {
    background-color: white !important;
    color: #014996 !important;
}

.card-profile .card-avatar {
    margin: 0px auto 0;
}

.required:after {
    content: " *";
    color: red;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: rgb(230 230 230 / 0%) !important;
}

.saveBtn {
    background-color: #457ee7;
}

.iconSpan {
    cursor: pointer;
}

.iconSpan > i:hover {
    background-color: gray;
    border-radius: 50%;
}

.popupHeader {
    background-color: #014996;
}

.h4Header {
    color: white;
}

.fixWidth {
    max-width: 216px;
}

/*  popup css */

.logoClass {
    min-height: 148px;
}

.tbodyClass > tr > td {
    border: 1px solid #014996;
    text-align: center;
}

table > thead > tr {
    text-align: center;
}

.centerBody {
    text-align: center;
}

.hours > thead > tr > th {
    font-weight: 800;
}

.hours > tbody > tr > td {
    padding-top: 3px;
    padding-right: 8px;
    padding-bottom: 3px;
    padding-left: 8px;
}

.avtarClass {
    margin-top: 0px !important;
}

.marginClass {
    margin-top: 6px !important;
}

.blurClass {
    opacity: 0.3;
    font-size: 16px;
    color: black;
}

.totalTag {
    color: #014996;
    font-weight: 700;
}

/* intel */

/* You can add global styles to this file, and also import other style files */

/*****************************************************
	Custom styling example bellow.
*****************************************************/

.iti {
    display: block !important;
    margin-bottom: 20px;
}

.iti .dropdown-menu.country-dropdown {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-color: #c7cace;
    margin-top: -1px;
}

.iti .iti__country-list {
    box-shadow: none;
    font-size: 14px;
    margin-left: 0;
    width: 244px;
    max-height: 170px;
}

.iti__flag-container.open + input {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.iti .search-container input {
    font-size: 14px;
    border-color: #c7cace;
    border-radius: 0;
    padding: 5px 10px;
}

.iti .search-container input:focus {
    outline: none;
}

@media screen and (max-width: 479px) {
    .iti .iti__country-list {
        width: 88.3vw;
    }
}

.wrapper {
    position: relative;
    top: 0;
    height: 1vh;
}

ul.iti__country-list {
    position: relative;
    border: none;
    overflow: auto;
}

.custom {
    height: 200px !important;
}

.iti {
    box-sizing: border-box;
}

.iti .iti__flag-container .dropdown-menu.country-dropdown {
    display: none;
}

.iti .iti__flag-container.open .dropdown-menu.country-dropdown {
    display: block;
    inset: 100% auto auto 0px;
    transform: translateY(0px);
    position: absolute;
    z-index: 1000;
    float: left;
    min-width: 10rem;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 0.25rem;
}

.iti .tooltip {
    display: block;
    pointer-events: none;
    position: absolute;
    z-index: 1070;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    white-space: normal;
    line-break: auto;
    font-size: 0.875rem;
}

.iti .tooltip .arrow {
    position: absolute;
    display: block;
    width: 0.8rem;
    height: 0.4rem;
}

.iti .tooltip .arrow:before {
    position: absolute;
    content: "";
    border-color: transparent;
    border-style: solid;
}

.iti .tooltip.show {
    opacity: 0.9;
}

.iti .bs-tooltip-top {
    padding: 0.4rem 0;
}

.iti .bs-tooltip-top.tooltip .arrow:before {
    top: 0;
    border-width: 0.4rem 0.4rem 0;
    border-top-color: #000;
}

.iti .bs-tooltip-top .arrow {
    bottom: 0;
}

.iti .tooltip-inner {
    max-width: 200px;
    padding: 0.25rem 0.5rem;
    color: #fff;
    text-align: center;
    background-color: #000;
    border-radius: 0.25rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

ul {
    height: 300px !important;
    overflow: auto;
}

.iconClass {
    display: flex;
    justify-content: center;
}

.numberInput {
    /* padding-top: 15px; */
    border: none;
    width: 100;
    /* width: 136%; */
    width: 100%;
}

.numberDiv {
    width: 100% !important;
    border-bottom: 1px solid #6f6262ba;
    margin-top: 16px;
}

table {
    width: 100%;
    border-spacing: 0 8px !important;

    td,
    th {
        padding: 5px;
    }

    th {
        color: $blue;
        font-weight: bold;
        font-size: medium;
        background-color: $light-blue;
    }

    tr:nth-child(even) {
        background-color: $light-blue;
    }

    td.mat-cell,
    th.mat-header-cell {
        padding: 5px;
        border-bottom: 1px solid $blue;
        border-top: 1px solid $blue;
        text-align: start;
    }

    td.mat-cell,
    th.mat-header-cell {
        border-left: 1px solid $blue;
    }

    td.mat-cell,
    th.mat-header-cell {
        border-right: 1px solid $blue;
    }

    table {
        border-spacing: 0 8px !important;
    }
}

.actions {
    button {
        margin: 5px;
    }

    display: flex;
    justify-content: flex-end;
}

:host ::ng-deep {
    .mat-form-field-appearance-fill .mat-form-field-flex {
        border-radius: 0px;
    }

    .mat-form-field-infix {
        border: none;
    }

    .mat-paginator-icon {
        -webkit-transform: none !important;
        transform: none !important;
    }
}

.h-45 {
    height: 45px;
}
