<div class="main-content">
  <div class="container-fluid">
    <div class="access-control" setDir>
      <div class="row">
        <div class="col-md-12">
          <div class="card card-plain">
            <header-as-card title="{{header}}">
            </header-as-card>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-7 d-flex justify-contend-start">
          <mat-radio-group (change)="selectAccessControlType($event)">
            <mat-radio-button value="manager" checked class="ml-1 mr-1 mt-2">{{'Manager' | translate}}
            </mat-radio-button>

            <mat-radio-button value="driver" class="ml-1 mr-1 mt-2">{{'Driver' | translate}}</mat-radio-button>
          </mat-radio-group>
        </div>

        <div class="col-5 actions">
          <button mat-raised-button color="primary" class="btn btn-danger" (click)="openRoleDialog()"
            *ngxPermissionsOnly="['AddRole']">
            {{'Add Access Control' | translate}}
          </button>
        </div>
      </div>

      <div class="mat-elevation-z8 roles-table mt-2">
        <table mat-table [dataSource]="dataSource" *ngIf="dataSource?.data?.length > 0">
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="id"> # </th>
            <td mat-cell *matCellDef="let element; index as i"> {{i+1}} </td>
          </ng-container>

          <ng-container matColumnDef="roleName">
            <th mat-header-cell *matHeaderCellDef> {{'Role Name' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.roleName}} </td>
          </ng-container>

          <ng-container matColumnDef="creationDate">
            <th mat-header-cell *matHeaderCellDef> {{'Creation date' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.creationDate | dateToTimezone}} </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="text-center"> {{'Actions' | translate}} </th>
            <td mat-cell *matCellDef="let element" class="text-center">
              <button mat-icon-button (click)="selectedRole = element" [matMenuTriggerFor]="menu" aria-label="Actions">
                <mat-icon>more_horiz</mat-icon>
              </button>

              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="openRoleDialog(selectedRole)"
                  *ngxPermissionsOnly="['UpdateAllRoles','UpdateRole']">
                  <span>{{'Edit' | translate}}</span>
                  <i class="material-icons">mode_edit</i>
                </button>


                <button mat-menu-item *ngxPermissionsOnly="['DeleteRole']">
                  <app-confirm-deletion title="{{'Are you sure you want to delete this Access Control?' | translate}}"
                    (confirm)="onConfirm($event,element)" btnText="Delete">
                  </app-confirm-deletion>
                </button>
              </mat-menu>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

      </div>

      <div [hidden]="!dataSource?.data?.length">
        <mat-paginator [pageSizeOptions]="pageSizeOptions" showFirstLastButtons>
        </mat-paginator>
      </div>
    </div>
  </div>
</div>