<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <header-as-card title=" {{'Manage Area' | translate}}">
                    </header-as-card>
                </div>
            </div>
        </div>

        <div class="row">
            <mat-form-field appearance="fill" class="col-md-4 col-sm-6 h-45">
                <mat-label>{{'Search Area: Names,  ...' | translate}}</mat-label>
                <input matInput [(ngModel)]="searchBy" (keyup.enter)="search()">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>

            <div class="col-md-4 col-sm-6">
                <button mat-raised-button color="primary" class="btn btn-success" (click)="search()">
                    {{'Search' | translate}}
                </button>
            </div>
            <div class="col-4 actions d-flex justify-content-end" *ngxPermissionsOnly="['CreateArea']">
                <button mat-raised-button color="primary" class="btn btn-danger ml-5 mr-5"
                    (click)="manageArea('Add',false)"    >
                    {{'Add New Area' | translate}}
                </button>
            </div>
        </div>

        <div class="row p-3 mat-elevation-z8" dir="auto" *ngIf="areas.length > 0"  >
          
            <table mat-table [dataSource]="areas" *ngxPermissionsOnly="['ListAreas']">
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> {{'Id' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container> -->
               
                <ng-container matColumnDef="nameEN">
                    <th mat-header-cell *matHeaderCellDef> {{'nameEN' | translate}} </th>
                    <td mat-cell *matCellDef="let element">{{element.nameEN}}</td>
                </ng-container>
                <ng-container matColumnDef="nameAR">
                    <th mat-header-cell *matHeaderCellDef> {{'nameAR' | translate}} </th>
                    <td mat-cell *matCellDef="let element">{{element.nameAR}}</td>
                </ng-container>
                <ng-container matColumnDef="governateName">
                    <th mat-header-cell *matHeaderCellDef> {{'Governorate' | translate}} </th>
                    <td mat-cell *matCellDef="let element">{{element.governateName}}</td>
                </ng-container>
                <ng-container matColumnDef="isActive">
                    <th mat-header-cell *matHeaderCellDef> {{'Is Active' | translate}} </th>
                    <td mat-cell *matCellDef="let element">{{element.isActive}}</td>
                </ng-container>
                <!-- <ng-container matColumnDef="isSystem">
                    <th mat-header-cell *matHeaderCellDef> {{'Is System' | translate}} </th>
                    <td mat-cell *matCellDef="let element">{{element.isSystem}}</td>
                </ng-container> -->
                
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> {{'Actions' | translate}} </th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        <button mat-icon-button [matMenuTriggerFor]="actionsMenu">
                            <mat-icon>more_horiz</mat-icon>
                        </button>

                        <mat-menu #actionsMenu="matMenu">
                            <button mat-menu-item (click)="manageArea('Edit', true, element)"  *ngxPermissionsOnly="['UpdateArea']">
                               <i class="material-icons">mode_edit</i>  {{'Edit' | translate}}
                            </button>

                            <button mat-menu-item  *ngxPermissionsOnly="['DeleteArea']">
                               
                                <app-confirm-deletion
                                    title="{{'Are you sure you want to delete area?' | translate}}"
                                    (confirm)="onConfirm($event,element)" btnText="Delete">
                                </app-confirm-deletion>
                            </button>
                        </mat-menu>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <div class="row" setDir *ngIf="areas.length > 0">
                <mat-paginator dir="ltr" [length]="total" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 50, 100]"
                    (page)="onChangePage($event)">
                </mat-paginator>
            </div>
        </div>
    </div>
</div>