<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <header-as-card title="{{'Drivers Details' | translate}}">
                    </header-as-card>
                </div>
            </div>
        </div>

        <div class="row">
            <mat-form-field appearance="fill" class="col-3 h-45">
                <mat-label>{{'Search in drivers' | translate}}</mat-label>
                <input matInput [(ngModel)]="searchBy" (keyup.enter)="search()">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>

            <div class="col-1">
                <button mat-raised-button color="primary" class="btn btn-success" (click)="search()">
                    {{'Search' | translate}}
                </button>
            </div>

            <div class="col-8 actions">
                <button mat-raised-button color="primary" class="btn btn-danger ml-5 mr-5"
                    (click)="manageDriverSeletedRow()" *ngxPermissionsOnly="['CreateDriver']">
                    {{'Add New Driver' | translate}}
                </button>

                <!-- <button mat-raised-button color="primary" class="btn btn-success">
                    {{'Print' | translate}}
                </button> -->

                <button mat-raised-button color="primary" class="btn btn-success" (click)="export()"
                    *ngxPermissionsOnly="['ExportDriversToExcel']">
                    {{'Export' | translate}}
                </button>
            </div>
        </div>

        <div class="row p-3 mat-elevation-z8" dir="auto" *ngIf="drivers.length > 0">
            <table mat-table [dataSource]="drivers" *ngxPermissionsOnly="['ListDrivers']">

                <ng-container matColumnDef="mobileNumber">
                    <th mat-header-cell *matHeaderCellDef> {{'Mobile Number' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.mobileNumber}} </td>
                </ng-container>

                <ng-container matColumnDef="firstName">
                    <th mat-header-cell *matHeaderCellDef> {{'First Name' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.firstName}}</td>
                </ng-container>

                <ng-container matColumnDef="lastName">
                    <th mat-header-cell *matHeaderCellDef> {{'Last Name' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
                </ng-container>

                <ng-container matColumnDef="roleNames">
                    <th mat-header-cell *matHeaderCellDef> {{'Role Names' | translate}} </th>
                    <td mat-cell *matCellDef="let element">
                        <span *ngFor="let role of element.roleNames">
                            {{role}}
                        </span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="supervisorName">
                    <th mat-header-cell *matHeaderCellDef> {{'Direct Manager' | translate}} </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.supervisorName}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="teamName">
                    <th mat-header-cell *matHeaderCellDef> {{'Team' | translate}} </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.teamName}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="departmentName">
                    <th mat-header-cell *matHeaderCellDef> {{'Department Name' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.departmentName}} </td>
                </ng-container>

                <ng-container matColumnDef="serviceSectorName">
                    <th mat-header-cell *matHeaderCellDef> {{'Sector' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.serviceSectorName}} </td>
                </ng-container>

                <ng-container matColumnDef="nationality">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> {{'Nationality' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.nationality}} </td>
                </ng-container>

                <ng-container matColumnDef="branchName">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> {{'Branch' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.branchName}} </td>
                </ng-container>

                <ng-container matColumnDef="licenseNumber">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> {{'DL Number' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.licenseNumber}} </td>
                </ng-container>

                <ng-container matColumnDef="companyEmail">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> {{'Job Email' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.companyEmail}} </td>
                </ng-container>

                <ng-container matColumnDef="licensePlate">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> {{'Licence plate' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.licensePlate}} </td>
                </ng-container>


                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> {{'Actions' | translate}} </th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        <button mat-icon-button [matMenuTriggerFor]="actionsMenu">
                            <mat-icon>more_horiz</mat-icon>
                        </button>

                        <mat-menu #actionsMenu="matMenu">
                            <button mat-menu-item (click)="manageDriverSeletedRow(element)"
                                 *ngxPermissionsOnly="['UpdateDriver']">
                              <i class="material-icons">mode_edit</i>   {{'Edit' | translate}}
                            </button>

                            <button mat-menu-item *ngxPermissionsOnly="['DeleteDriver']">
                                <app-confirm-deletion
                                    title="{{'Are you sure you want to delete this Driver?' | translate}}"
                                    (confirm)="onConfirm($event,element)" btnText="Delete">
                                </app-confirm-deletion>
                            </button>
                        </mat-menu>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>

        <div class="row" setDir *ngIf="drivers.length > 0">
            <mat-paginator dir="ltr" [length]="total" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 50, 100]"
                (page)="onChangePage($event)">
            </mat-paginator>
        </div>
    </div>
</div>