<section class="contianer" setDir dir="auto">
    <div class="dialog-header" mat-dialog-title>
        <div class="row p-0">
            <h4 class="col-11 d-flex justify-content-start">{{operation}} {{'Country' | translate}}</h4>
            <i class="col-1 d-flex justify-content-end material-icons dialog-close" mat-dialog-close>close</i>
        </div>
    </div>

    <form mat-dialog-content [formGroup]="form" class="m-2">
        <div class="card card-profile">
            <div class="row p-3">
                <header-as-card class="col-md-12 mb-1" title="{{'Country' | translate}}">
                </header-as-card>

                <mat-form-field setDir class="col-md-4 col-sm-12">
                    <input matInput placeholder="{{'Country' | translate}}" type="text" formControlName="name"
                        required>
                </mat-form-field>

                <mat-form-field setDir class="col-md-4 col-sm-12">
                    <input matInput placeholder="{{'Code' | translate}}" type="text" formControlName="code"
                        required>
                </mat-form-field>

                <mat-form-field setDir class="col-md-4 col-sm-12">
                    <input matInput placeholder="{{'Top Level' | translate}}" type="text" formControlName="topLevel"
                        required>
                </mat-form-field>

                <mat-form-field setDir class="col-md-4 col-sm-12">
                    <mat-label>{{'Courier Zone' | translate}}</mat-label>
                    <select matNativeControl formControlName="courierZoneId"
                        placeholder="{{'courier Zone' | translate}}" >
                        <option disabled value="0">
                            {{'Select courier Zone' | translate}}
                        </option>
                        <option *ngFor="let courierZoneValue of courierZones" [value]="courierZoneValue.id">
                            {{courierZoneValue['name']}}
                        </option>
                    </select>
                </mat-form-field> 

                     <section class="col-md-4 col-sm-12 mar">
                        <mat-checkbox  formControlName="isActive">
                          {{'Is Active' | translate}}
                       </mat-checkbox>
                      </section>

                   
            </div>
        </div>

    </form>

    <!-- start actions -->
    <div mat-dialog-actions class="p-4">
        <button type="button" mat-button class="btn-submit-blue ml-1 mr-1" (click)="submit()">
            {{'Save Country' | translate}}
        </button>

        <button type="button" mat-button class="btn-close-red ml-1 mr-1" mat-dialog-close>
            {{'Close' | translate}}
        </button>
    </div>
    <!-- end actions -->
</section>
