<section class="contianer">
    <div class="dialog-header" mat-dialog-title>
        <div class="row p-0">
            <h4 class="col-11 d-flex justify-content-start">{{"Add To Workorder" | translate}}</h4>
            <i class="col-1 d-flex justify-content-end material-icons dialog-close" mat-dialog-close>close</i>
        </div>
    </div>

    <div mat-dialog-content class="m-0 p-3">
        <mat-radio-group [(ngModel)]="selectedElement">
            <table mat-table [dataSource]="workorders">
                <ng-container matColumnDef="selected">
                    <th mat-header-cell *matHeaderCellDef>
                        {{'Select' | translate}}
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <mat-radio-button [value]="element">
                        </mat-radio-button>
                    </td>
                </ng-container>

                <ng-container matColumnDef="code">
                    <th mat-header-cell *matHeaderCellDef> {{'Code' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.code}} </td>
                </ng-container>

                <ng-container matColumnDef="deliveryBefore">
                    <th mat-header-cell *matHeaderCellDef> {{'Delivery Before' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.deliveryBefore}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <div class="row" setDir dir="auto">
                <mat-paginator [length]="total" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 50, 100]"
                    (page)="onChangePage($event)">
                </mat-paginator>
            </div>

        </mat-radio-group>
    </div>

    <!-- start actions -->
    <div mat-dialog-actions class="p-4 m-2 d-flex justify-content-end">
        <button    type="button" mat-button class="btn-submit-blue ml-1 mr-1" (click)="addToWorkorder()">
            {{'Assgin To Workorder' | translate}}
        </button>

        <button type="button" mat-button class="btn-close-red ml-1 mr-1" mat-dialog-close>
            {{'Close' | translate}}
        </button>
    </div>
    <!-- end actions -->
</section>