@import "./../../../shared/scss/colors.scss";

.business-branches {
    margin-top: 30px;
    background-color: white;
}

.address-section {
    background-color: $bg;
}

.set-height {
    height: 45px;
}

:host ::ng-deep {
    .mat-checkbox-layout .mat-checkbox-label {
        color: rgb(41, 41, 41);
        font-weight: bold;
    }

    .mat-paginator-container {
        background-color: white;
        font-size: medium;
        color: $blue;
    }
}

fieldset {
    background-color: $bg;
    border: 1px solid $blue;
}

legend {
    background-color: $blue;
    color: white;
    font-size: medium;
    width: 7%;
    border-radius: 5px;

    span {
        padding: 5px;
        margin: 0 auto;
    }
}

table {
    width: 100%;
    border-spacing: 0 8px !important;

    td,
    th {
        padding: 5px;
    }

    th {
        color: $blue;
        font-weight: bold;
        font-size: medium;
        background-color: $light-blue;
    }

    tr:nth-child(even) {
        background-color: $light-blue;
    }

    td.mat-cell,
    th.mat-header-cell {
        padding: 5px;
        border-bottom: 1px solid $blue;
        border-top: 1px solid $blue;
        text-align: start;
    }

    td.mat-cell,
    th.mat-header-cell {
        border-left: 1px solid $blue;
    }

    td.mat-cell,
    th.mat-header-cell {
        border-right: 1px solid $blue;
    }
}
