<div class="container-fluid business-branches">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-plain">
                <header-as-card title="{{'Location' | translate}}"  *ngIf="businessCustomer?.accountType == 2">
                </header-as-card>
                <header-as-card  *ngIf="businessCustomer?.accountType != 2"
 title="{{'Branches' | translate}}">
                </header-as-card>

            </div>
        </div>
    </div>

    <form class="row p-3 row" [formGroup]="form" *ngIf="showHideForm">
        <mat-form-field setDir class="col-md-3 col-sm-12">
            <mat-label *ngIf="businessCustomer?.accountType != 2">{{'Branch Name' | translate}}</mat-label>
            <mat-label *ngIf="businessCustomer?.accountType == 2">{{'Location Name' | translate}}</mat-label>
            <input matInput placeholder="{{'Branch Name' | translate}}" *ngIf="businessCustomer?.accountType != 2" type="text" formControlName="name" required>
            <input matInput placeholder="{{'Location Name' | translate}}" *ngIf="businessCustomer?.accountType == 2" type="text" formControlName="name" required>

        </mat-form-field>

        <mat-form-field setDir class="col-md-3 col-sm-12"  *ngIf="businessCustomer?.accountType != 2">
            <mat-label>{{'Branch Contact' | translate}}</mat-label>
            <select matNativeControl formControlName="branchContactId" placeholder="{{'Branch Contact' | translate}}"
                required>
                <option *ngFor="let contact of contacts" [value]="contact.id">
                    {{contact.fullName}}
                </option>
            </select>
        </mat-form-field>

        <mat-form-field setDir class="col-md-3 col-sm-12"  *ngIf="businessCustomer?.accountType != 2">
            <mat-label>{{'Pickup Contact' | translate}}</mat-label>
            <select matNativeControl formControlName="pickupContactId" placeholder="{{'Pickup Contact' | translate}}">
                <option *ngFor="let contact of contacts" [value]="contact.id">
                    {{contact.fullName}}
                </option>
            </select>
        </mat-form-field>

        <mat-form-field setDir class="col-md-3 col-sm-12"  *ngIf="businessCustomer?.accountType != 2">
            <mat-label>{{'Phone Number' | translate}}</mat-label>
            <input matInput placeholder="{{'Phone Number' | translate}}" type="number" formControlName="phone">
        </mat-form-field>

        <mat-form-field setDir class="col-md-3 col-sm-12"  *ngIf="businessCustomer?.accountType != 2">
            <mat-label>{{'Fax' | translate}}</mat-label>
            <input matInput placeholder="{{'Fax No' | translate}}" type="text" formControlName="faxNo">
        </mat-form-field>

        <div class="col-md-3 col-sm-12">
            <app-tel-input [isRequired]="true" (number)="number($event)" (isValid)="isValidPhoneNumber($event)"
                (country)="onCountry($event)" [previousCountryId]="seletcedRow?.countryId"
                [previousNumber]="seletcedRow?.mobile">
            </app-tel-input>
        </div>

        <mat-form-field setDir class="col-md-3 col-sm-12"  *ngIf="businessCustomer?.accountType != 2">
            <mat-label>{{'Branch Email' | translate}}</mat-label>
            <input matInput placeholder="{{'Branch Email' | translate}}" type="email" formControlName="email" required>
        </mat-form-field>

        <mat-form-field setDir class="col-md-3 col-sm-12"  *ngIf="businessCustomer?.accountType != 2">
            <mat-label>{{'Branch Close Time' | translate}}</mat-label>
            <input matInput placeholder="{{'Branch Name' | translate}}" type="time" formControlName="closeTime"
                required>
        </mat-form-field>

        <mat-form-field setDir class="col-md-3 col-sm-12"  *ngIf="businessCustomer?.accountType != 2">
            <mat-label>{{'Preferred Pickup Time From' | translate}}</mat-label>
            <input matInput placeholder="{{'Branch Name' | translate}}" type="time"
                formControlName="preferedPickupTimeFrom" required>
        </mat-form-field>

        <mat-form-field setDir class="col-md-3 col-sm-12"  *ngIf="businessCustomer?.accountType != 2">
            <mat-label>{{'Preferred Pickup Time To' | translate}}</mat-label>
            <input matInput placeholder="{{'Branch Name' | translate}}" type="time"
                formControlName="preferedPickupTimeTo" required>
        </mat-form-field>

        <mat-form-field setDir class="col-md-3 col-sm-12"  *ngIf="businessCustomer?.accountType != 2">
            <mat-label>{{'Pick-up Notes' | translate}}</mat-label>
            <textarea matInput formControlName="pickupNotes"></textarea>
        </mat-form-field>

        <mat-form-field setDir class="col-md-3 col-sm-12"  *ngIf="businessCustomer?.accountType != 2">
            <mat-label>{{'Delivery Notes' | translate}}</mat-label>
            <textarea matInput formControlName="deliveryNotes"></textarea>
        </mat-form-field>

        <fieldset class="col-12 address-section mb-3">
            <legend>
                <span>
                    {{'Address' | translate}}
                </span>
            </legend>

            <app-address [isPACI]="true" (onAddressChanges)="onAddressChanges($event)"
                [addressToReplace]="seletcedRow?.location" [col]="'col-md-3 col-sm-12'"></app-address>
        </fieldset>

        <div setDir class="col-md-4 col-sm-12 pt-3" *ngIf="businessCustomer?.accountType != 2">
            <mat-checkbox formControlName="ishqBranch">{{'Set As Main Branch' | translate}}</mat-checkbox>
        </div>
    </form>

    <div class="row d-flex justify-content-end m-1 mb-3" *ngIf="!disableForm">
        <button mat-raised-button class="btn btn-success ml-1 mr-1" (click)="manageBranch()" *ngIf="showHideForm">
            {{operation}} {{'Branch' | translate}}
        </button>

        <button    mat-raised-button class="btn btn-success ml-1 mr-1" (click)="addBranch()" *ngIf="businessCustomer?.accountType != 2  &&  !showHideForm" >
            <mat-icon>add</mat-icon> {{'Add Branch' | translate}}
        </button>

        <button mat-raised-button class="btn btn-danger ml-1 mr-1" (click)="cancel()" *ngIf="showHideForm">
            {{'Cancel' | translate}}
        </button>
    </div>

    <div class="row p-3 mat-elevation-z8" dir="auto" *ngIf="branches.length > 0 && (!showHideForm)">
        <table mat-table [dataSource]="branches">

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> {{'#' | translate}} </th>
                <td mat-cell *matCellDef="let element;let index = index"> {{index + 1}}</td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>
                    <span *ngIf="businessCustomer?.accountType != 2">{{'Branch Name' | translate}} </span>
                    <span *ngIf="businessCustomer?.accountType != 2">{{'Location Name' | translate}} </span>
                </th>
                <td mat-cell *matCellDef="let element">
                    {{element.name}}
                </td>
            </ng-container>

            <ng-container matColumnDef="governorate">
                <th mat-header-cell *matHeaderCellDef> {{'Governorate' | translate}} </th>
                <td mat-cell *matCellDef="let element">
                    {{element?.location?.governorate}}
                </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef class="text-center"> {{'Actions' | translate}} </th>
                <td mat-cell *matCellDef="let element" class="text-center">
                    <button mat-icon-button [matMenuTriggerFor]="actionsMenu" *ngIf="!disableForm">
                        <mat-icon>more_horiz</mat-icon>
                    </button>

                    <mat-menu #actionsMenu="matMenu" class="contact-actions">
                        <button   *ngIf="businessCustomer?.accountType != 2" mat-menu-item (click)="setMainBranch(element.id)">
                            {{'Make it as Main Branch' | translate}}
                            <i class="material-icons">done_all</i>
                        </button>

                        <button mat-menu-item (click)="editBranch(element)">
                            {{'Edit' | translate}}
                            <i class="material-icons">mode_edit</i>
                        </button>

                        <button mat-menu-item [hidden]="businessCustomer?.accountType == 2">
                            <app-confirm-deletion (confirm)="onConfirm($event,element)"
                                btnText="Delete" title="{{'Are you sure you want to delete this branch?' | translate}}">
                            </app-confirm-deletion>
                        </button>
                    </mat-menu>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <div class="row d-flex justify-content-end" setDir *ngIf="branches?.length > 0 && (!showHideForm)">
        <mat-paginator [length]="total" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 50, 100]"
            (page)="onChangePage($event)">
        </mat-paginator>
    </div>
</div>