<div class="main-content">
    <div class="container-fluid">
      

    <form mat-dialog-content [formGroup]="form" class="m-2">
        <div class="card">
            <div class="row p-3">
                <header-as-card class="col-md-12 mb-1" title="{{'Invoice Information' | translate}}">
                </header-as-card>
                <br>
                <br>
                <br>
                <div setDir class="row">          
            
                <mat-form-field setDir class="col-md-4">
                    <mat-label>{{'Invoice From Date' | translate}}</mat-label>
                    <input matInput [matDatepicker]="ValidfromDate" formControlName="validFromDate" [min]="minDate"
                        [max]="maxDate" required>
                    <mat-datepicker-toggle matSuffix [for]="ValidfromDate"></mat-datepicker-toggle>
                    <mat-datepicker #ValidfromDate></mat-datepicker>
                </mat-form-field> 
                <mat-form-field setDir class="col-md-4">
                    <mat-label>{{'Invoice To Date' | translate}}</mat-label>
                    <input matInput [matDatepicker]="ValidtoDate" formControlName="validToDate" [min]="minDate"
                        [max]="maxDate" required>
                    <mat-datepicker-toggle matSuffix [for]="ValidtoDate"></mat-datepicker-toggle>
                    <mat-datepicker #ValidtoDate></mat-datepicker>
                </mat-form-field> 
                <mat-form-field setDir class="col-md-6"  *ngIf="mode==='edit'||mode==='view'" >
                    <input matInput placeholder="{{'Invoice Number' | translate}}" type="text" readonly
                        formControlName="invoiceNo">
                </mat-form-field>
                <mat-form-field setDir class="col-md-6" *ngIf="mode==='edit'||mode==='view'" >
                    <input matInput placeholder="{{'Invoice Status' | translate}}" type="text" readonly
                        formControlName="invoiceStatusName">
                </mat-form-field>
                    </div>
               
            </div>
        </div>
        <div class="card card-profile">
            <div class="row p-3">
                <header-as-card class="col-md-12 mb-1" title="{{'CustomerAndContract Info' | translate}}">
                </header-as-card>
                <br>
                <br>
                <br>
                <div class="col-12 d-flex justify-content-end">
                    <mat-form-field setDir class="col-md-6 col-sm-6">
                        <mat-label>{{'Business Customers' | translate}}</mat-label>
                        <mat-select placeholder="{{'Select Customer' | translate}}" 
                        formControlName="businessCustomerId" (ngModelChange)="mode!=='edit'?optionSelected($event):null" required>
                            <mat-option>
                                <ngx-mat-select-search  name="filterCustCtrl"
                                formControlName="filterCustCtrl"
                                    placeholderLabel="{{'Business Customer' | translate}}"
                                    noEntriesFoundLabel="{{'No matching customer found' | translate}}"
                                     [clearSearchInput]="true">
                                </ngx-mat-select-search>
                            </mat-option>
                            <mat-option *ngFor="let customer of businessCustomers | filter:form.controls['filterCustCtrl'].value"
                            [value]="customer.id" matTooltip="{{customer.businessName}}">
                            {{customer.businessName}}
                        </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field setDir class="col-md-6 col-sm-6">
                        <mat-label>{{'Contract Code' | translate}}</mat-label>
                        <mat-select placeholder="{{'Please Select Contract' | translate}}" formControlName="contractCode"
                        (ngModelChange)="contractSelected($event)" required>
                            <mat-option>
                                <ngx-mat-select-search  name="filterContCtrl"
                                formControlName="filterContCtrl"
                                    placeholderLabel="{{'Contract Code' | translate}}"
                                    noEntriesFoundLabel="{{'No matching contract found' | translate}}"
                                     [clearSearchInput]="true">
                                </ngx-mat-select-search>
                            </mat-option>
                            <mat-option *ngFor="let cont of contracts | filter:form.controls['filterContCtrl'].value"
                            [value]="cont.id" matTooltip="{{cont.code}}">
                            {{cont.code}}
                        </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
           
            </div>
            <div class="card card-profile">
                <div class="row p-3">
                    <header-as-card class="col-md-12 mb-1" title="{{'Invoice Work' | translate}}">
                    </header-as-card>
                    <br> 
                    <br>
                    <br>                  
                    <div setDir class="row">          
                        <mat-form-field setDir class="col-md-6">
                            <input matInput placeholder="{{'Invoice Topic' | translate}}" type="text"
                                formControlName="invoiceTopic" required>
                        </mat-form-field>
                       
                        <mat-form-field setDir class="col-md-6">
                            <input matInput placeholder="{{'No.Of Items' | translate}}" type="number" readonly
                                formControlName="noOfItems" (ngModelChange)="mode!=='edit'?calcTotalPrice() :null" required>
                        </mat-form-field> 

                        <mat-form-field setDir class="col-md-6">
                            <input matInput placeholder="{{'Price per Item' | translate}}" type="number" readonly
                                formControlName="unitPrice" (ngModelChange)="mode!=='edit'?calcTotalPrice() :null" required>
                        </mat-form-field> 
                        <mat-form-field setDir class="col-md-6">
                            <input matInput placeholder="{{'Total Price' | translate}}" type="number" readonly
                                formControlName="totalUnitsPrice" required>
                        </mat-form-field> 
                   
                        </div>
                   
                </div>
            </div>
    </form>
  

    <!-- start actions --> 
    <div class="p-4 d-flex justify-content-end">
        <div *ngIf="mode!=='view'">
        <button type="button" mat-button class="btn btn-warn" (click)="reset()" >
            {{'Reset' | translate}}
        </button>
        <button type="button" mat-button class="btn btn-success" (click)="submit()">
            {{'Save' | translate}}
        </button>
        <button type="button" mat-button class="btn btn-success" (click)="submit('print')">
            {{'SaveAndPrint' | translate}}
        </button>
        <!-- <button type="button" mat-button class="btn btn-success" (click)="submit()">
            {{'SaveAndSendToCustomer' | translate}}
        </button>                 -->
    </div>
        <button type="button" mat-button class="btn btn-danger" (click)="close()">
            {{'Close' | translate}}
        </button>
    </div>
  
<!-- end actions -->
     
    </div>
</div>