<div class="main-content">
    <div class="container-fluid">
        <p class="pt-0 create-label d-flex justify-content-start">{{'Business Customer' | translate}}</p>
        <mat-stepper [linear]="true" #stepper labelPosition="bottom" [disableRipple]="true">
            <mat-step>
                <ng-template matStepLabel>{{'Business Information' | translate}}</ng-template>
                <business-info (onBasicInfoForm)="onBasicInfoForm($event)" (onEditMode)="onEditMode($event)"
                    (onBasicInfoFile)="onBasicInfoFile($event)" [validateBasicInfoForm]="validateBasicInfoForm"
                    [businessCustomer]="businessCustomer" [codeEditable]="true">
                </business-info>
                <div class="d-flex justify-content-end ml-4 mr-4">
                    <button mat-button class="btn btn-success" [disabled]="basicInfoForm.invalid"
                        (click)="createBusinessInfo(stepper)">
                        {{'Next' | translate}}
                    </button>
                </div>
            </mat-step>

            <mat-step>
                <ng-template matStepLabel>{{'Contacts' | translate}}</ng-template>
                <business-contacts [businessAccountId]="businessAccountId" [businessCustomer]="businessCustomer"
                    (onContacts)="contacts = $event" (onEnableActions)="onEnableContactActions($event)">
                </business-contacts>

                <div class="d-flex justify-content-end ml-4 mr-4" *ngIf="enableContactActions">
                    <button mat-button matStepperPrevious class="btn btn-success">
                        {{'Back' | translate}}
                    </button>

                    <button mat-button matStepperNext class="btn btn-success"
                        [disabled]="contacts.length == 0 && (!businessCustomer?.mainContactId)">
                        {{'Next' | translate}}
                    </button>

                    <!-- todo show msg to set main conact if more than one contact added -->
                </div>
            </mat-step>

            <mat-step>
                <ng-template matStepLabel>{{'Branches' | translate}}</ng-template>
                <business-branches [businessCustomer]="businessCustomer" [contacts]="contacts"
                    (onBranches)="onBranches($event)" (onEnableActions)="onEnableBranchActions($event)">
                </business-branches>
                <div class="d-flex justify-content-end ml-4 mr-4" *ngIf="enableBranchActions">
                    <button mat-button matStepperPrevious class="btn btn-success">
                        {{'Back' | translate}}
                    </button>

                    <button mat-button class="btn btn-success" (click)="save()">
                        {{'Save' | translate}}
                    </button>

                    <button mat-button (click)="reset(stepper)" class="btn btn-success">
                        {{'Reset' | translate}}
                    </button>
                </div>
            </mat-step>
        </mat-stepper>
    </div>
</div>