<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <header-as-card title="{{'Invoices' | translate}}" >
                      
                    </header-as-card>
                    <button id="open-add-modal" [hidden]="true" data-toggle="modal" data-target="#add-modal"></button>
                   <br>
                    <div class="row">                     
                       
                            <mat-form-field appearance="fill" class="col-md-8 col-sm-8 h-45">
                                <mat-label>{{'Quick Search Invoices: ,Invoice NO,Customer Code,Customer Name,Contract Code ...' | translate}}</mat-label>
                                <input matInput [(ngModel)]="searchBy" (keyup.enter)="search()">
                                <mat-icon matSuffix (click)="search()">search</mat-icon>
                            </mat-form-field>               
                            <div class="col-md-4 col-sm-4 actions d-flex justify-content-end" *ngxPermissionsOnly="['GenerateInvoice']">
                                <button mat-raised-button color="primary" class="btn btn-danger ml-5 mr-5" (click)="generateInvoice()">
                                    <mat-icon>add</mat-icon> {{'Generate Invoice' | translate}}
                                </button>
                            </div>
                    
                    </div>
                    <br>
                    <div class="row filters-section pt-3 pb-2">
                    <form  [formGroup]="form">
                    <div class="row">
                      
                        <mat-form-field setDir class="col-md-4">
                            <mat-label>{{'Service Sector' | translate}}</mat-label>                           
                            <mat-select placeholder="{{'Service Sector' | translate}}" formControlName="sectorTypeId" multiple >
                                <mat-option>
                                    <ngx-mat-select-search formControlName="filterSectorCtrl" 
                                        noEntriesFoundLabel="{{'No matching sector found' | translate}}"
                                        [clearSearchInput]="true">
                                    </ngx-mat-select-search>
                                </mat-option>
                                <mat-option *ngFor="let sector of sectors | filter:form.controls['filterSectorCtrl'].value"
                                    [value]="sector.id" matTooltip="{{sector.name}}">
                                    {{sector.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field setDir class="col-md-4">
                            <mat-label>{{'Invoice Status' | translate}}</mat-label>                          
                            <mat-select placeholder="{{'Invoice Status' | translate}}" formControlName="statusId" multiple>
                                <mat-option>
                                    <ngx-mat-select-search formControlName="filterStatusCtrl" 
                                        noEntriesFoundLabel="{{'No matching status found' | translate}}"
                                        [clearSearchInput]="true">
                                    </ngx-mat-select-search>
                                </mat-option>
                                <mat-option *ngFor="let status of statuses | filter:form.controls['filterStatusCtrl'].value"
                                    [value]="status.id" matTooltip="{{status.name}}">
                                    {{status.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field setDir class="col-md-4">
                            <mat-label>{{'Invoice From Date' | translate}}</mat-label>
                            <input matInput [matDatepicker]="datefromPicker" formControlName="fromDate" 
                                [max]="maxDate">
                            <mat-datepicker-toggle matSuffix [for]="datefromPicker"></mat-datepicker-toggle>
                            <mat-datepicker #datefromPicker></mat-datepicker>
                        </mat-form-field>
            
                        <mat-form-field setDir class="col-md-4">
                            <mat-label>{{'Invoice To Date' | translate}}</mat-label>
                            <input matInput [matDatepicker]="dateToPicker" formControlName="toDate" 
                                [max]="maxDate">
                            <mat-datepicker-toggle matSuffix [for]="dateToPicker"></mat-datepicker-toggle>
                            <mat-datepicker #dateToPicker></mat-datepicker>
                        </mat-form-field>         
            
                            <mat-form-field setDir class="col-md-3 col-sm-12">
                                <mat-label>{{'Business Customers' | translate}}</mat-label>
                                <mat-select placeholder="{{'Select Customer' | translate}}" formControlName="businessCustomerId" multiple>
                                    <mat-option>
                                        <ngx-mat-select-search  name="filterCustCtrl"
                                        formControlName="filterCustCtrl"
                                            placeholderLabel="{{'Business Customer' | translate}}"
                                            noEntriesFoundLabel="{{'No matching customer found' | translate}}"
                                             [clearSearchInput]="true">
                                        </ngx-mat-select-search>
                                    </mat-option>
                                    <mat-option *ngFor="let customer of businessCustomers | filter:form.controls['filterCustCtrl'].value"
                                    [value]="customer.id" matTooltip="{{customer.businessName}}">
                                    {{customer.businessName}}
                                </mat-option>
                                </mat-select>
                            </mat-form-field>
            
                            <button mat-raised-button color="primary" class="btn btn-success" (click)="getFilteredData()" >
                            {{'Filter' | translate}}
                             </button>
                             <!-- <button mat-raised-button color="primary" class="btn btn-success h-45" (click)="export()">
                                {{'Export' | translate}}
                            </button> -->
                        <!-- </div> -->
                    </div>
                </form>
            </div>
                    <div class="card-body">
                        <div class="row p-3 mat-elevation-z8" dir="auto" *ngIf="invoices.length > 0">
                            <table mat-table [dataSource]="invoices" *ngxPermissionsOnly="['ListInvoices']">
                
                                <ng-container matColumnDef="invoiceNo">
                                    <th mat-header-cell *matHeaderCellDef> {{'Invoice Number' | translate}} </th>
                                    <td mat-cell *matCellDef="let element"> {{element.invoiceNo}} </td>
                                </ng-container>

                                <ng-container matColumnDef="invoicePeriodFrom">
                                    <th mat-header-cell *matHeaderCellDef> {{'Invoice From Date' | translate}} </th>
                                    <td mat-cell *matCellDef="let element"> {{element.invoicePeriodFrom}} </td>
                                </ng-container>

                                <ng-container matColumnDef="invoicePeriodTo">
                                    <th mat-header-cell *matHeaderCellDef> {{'Invoice To Date' | translate}} </th>
                                    <td mat-cell *matCellDef="let element"> {{element.invoicePeriodTo}} </td>
                                </ng-container>
                                <ng-container matColumnDef="businessCustomerName">
                                    <th mat-header-cell *matHeaderCellDef> {{'Business Customer Name' | translate}} </th>
                                    <td mat-cell *matCellDef="let element"> {{element.businessCustomerName}} </td>
                                </ng-container>

                                <ng-container matColumnDef="invoiceStatus">
                                    <th mat-header-cell *matHeaderCellDef> {{'Invoice Status' | translate}} </th>
                                    <td mat-cell *matCellDef="let element"> {{element.invoiceStatus}} </td>
                                </ng-container>                                                             
                              
                                <ng-container matColumnDef="contractCode">
                                    <th mat-header-cell *matHeaderCellDef> {{'Contract Code' | translate}} </th>
                                    <td mat-cell *matCellDef="let element"> {{element.contractCode}}</td>
                                </ng-container>
                
                               
                                <ng-container matColumnDef="totalValue">
                                    <th mat-header-cell *matHeaderCellDef> {{'Total Value' | translate}} </th>
                                    <td mat-cell *matCellDef="let element"> {{element.totalValue}} </td>
                                </ng-container>                               
                                           
                                
                                <ng-container matColumnDef="actions">
                                    <th mat-header-cell *matHeaderCellDef class="text-center"> {{'Actions' | translate}} </th>
                                    <td mat-cell *matCellDef="let element" class="text-center">
                                        <button mat-icon-button [matMenuTriggerFor]="actionsMenu">
                                            <mat-icon>more_horiz</mat-icon>
                                        </button>
                
                                        <mat-menu #actionsMenu="matMenu" >
                                            <button mat-menu-item (click)="viewInvoice(element)" *ngxPermissionsOnly="['ViewInvoice']">
                                                <mat-icon>preview</mat-icon> {{'View' | translate}}
                                            </button>
                
                                            <button mat-menu-item (click)="editInvoice(element)" *ngxPermissionsOnly="['EditInvoices']">
                                                <mat-icon>mode_edit</mat-icon> {{'Edit' | translate}}
                                            </button>
                                            <button mat-menu-item (click)="printInvoice(element)" *ngxPermissionsOnly="['PrintInvoice']">
                                                <mat-icon>print</mat-icon> {{'Print' | translate}}
                                            </button>
                                            <button mat-menu-item (click)="deletePriceList(element)" *ngxPermissionsOnly="['DeleteInvoices']">
                                                <mat-icon>delete</mat-icon> {{'Delete' | translate}}
                                            </button>
                                            <!-- <button mat-menu-item>
                                                <app-confirm-deletion
                                                title="{{'Are you sure you want to delete this Price Offer?' | translate}}"
                                                (confirm)="onDelete($event,element)">
                                            </app-confirm-deletion>
                                                <mat-icon>delete</mat-icon>
                                               
                                            </button> -->
                                        </mat-menu>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                        </div>
                
                        <div class="row" setDir *ngIf="invoices.length > 0">
                            <mat-paginator dir="ltr" [length]="total" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 50, 100]"
                                (page)="onChangePage($event)">
                            </mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

