<section class="container-fluid pt-5 pb-5">

    <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate class="col-md-6 col-sm-12 col-xs-12 mx-auto">
        <h1 class="text-center mb-2">{{'Reset Password' | translate}}</h1>
        <div class="container">
            <ng-container *ngIf="showForm">

                <mat-form-field>
                    <input type="{{type}}" matInput placeholder="New Password" formControlName="newPassword"
                        autocomplete="off" required>
                    <mat-icon matSuffix (click)="togglePassword()" class="eye-icon">remove_red_eye</mat-icon>
                </mat-form-field>

                <mat-error *ngIf="form.controls['newPassword'].invalid && submitted">
                    {{getError('newPassword')}}
                </mat-error>

                <mat-form-field>
                    <input type="password" matInput placeholder="Confirm New Password" formControlName="confirmPassword"
                        autocomplete="off" required>
                </mat-form-field>

                <mat-error *ngIf="form.controls['confirmPassword'].invalid && submitted">
                    {{getError('confirmPassword')}}
                </mat-error>

                <div fxLayout="row wrap mt-2">
                    <button type="submit" fxFlex="100%" mat-raised-button color="primary" mat-button
                        class="o-add-btn mt-3">
                        {{'Submit' | translate}}
                    </button>

                    <a fxFlex="100%" mat-button color="primary" [routerLink]="login" class="mt-3">
                        {{'Back to Sign in' | translate}}</a>
                </div>
            </ng-container>

            <ng-container *ngIf="success">
                {{'Your password has been changed successfully.' | translate}}
                <a [routerLink]="login" class="link">{{'You can login now' | translate}}</a>
            </ng-container>

            <ng-container *ngIf="invalidToken">
                {{'Sorry you have already reset you password, You can login' | translate}}
                <a [routerLink]="login" class="link"> {{'Here' | translate}}</a>
            </ng-container>
        </div>
    </form>
</section>