@import "./../../shared/scss/colors";

section {
  form {
    h1 {
      color: $blue;
    }

    margin-top: 5em;
    background-color: white;
    padding: 15px;

    .icon {
      color: $blue;
    }
  }

  .link {
    color: blue;
    text-decoration: underline;
  }
}

.eye-icon {
  margin-right: 5px;
  margin-top: 10px;
  cursor: pointer;
}

.input-error {
  margin-bottom: 1em;
}

:host ::ng-deep {
  .progress {
    margin: 0 auto;
  }

  .mat-form-field-appearance-fill .mat-form-field-flex {
    padding: 0px;
    padding-left: 5px;
  }
}
