<div class="main-content">
    <div class="container-fluid">
        <p class="create-label d-flex justify-content-start">{{'Edit Business Customer' | translate}}</p>
        <mat-stepper [linear]="true" #stepper labelPosition="bottom" [disableRipple]="true">
            <mat-step>
                <ng-template matStepLabel>{{'Business Information' | translate}}</ng-template>
                <business-info (onBasicInfoForm)="onBasicInfoForm($event)" (onEditMode)="onEditMode($event)"
                    (onBasicInfoFile)="onBasicInfoFile($event)" [validateBasicInfoForm]="validateBasicInfoForm"
                    [businessCustomer]="businessCustomer">
                </business-info>
                <div class="d-flex justify-content-end ml-4 mr-4">
                    <button mat-button class="btn btn-success" (click)="editBusinessInfo()">
                        {{'Save'| translate}}
                    </button>

                    <button mat-button matStepperNext class="btn btn-success">
                        {{'Next' | translate}}
                    </button>
                </div>
            </mat-step>

            <mat-step>
                <ng-template matStepLabel>{{'Contacts' | translate}}</ng-template>
                <business-contacts [businessAccountId]="businessAccountId" [businessCustomer]="businessCustomer"
                    (onContacts)="contacts = $event" (onEnableActions)="onEnableContactActions($event)">
                </business-contacts>
                <div class="d-flex justify-content-end ml-4 mr-4" *ngIf="enableContactActions">
                    <button mat-button matStepperPrevious class="btn btn-success">
                        {{'Back' | translate}}
                    </button>

                    <button mat-button matStepperNext class="btn btn-success">
                        {{'Next' | translate}}
                    </button>
                </div>
            </mat-step>

            <mat-step>
                <ng-template matStepLabel >
                    <span [hidden]="businessCustomer?.accountType == 2"> {{'Branches' | translate}}</span>
                    <span [hidden]="businessCustomer?.accountType != 2"> {{'Location' | translate}}</span>
            </ng-template>
    
                <business-branches [businessCustomer]="businessCustomer" [contacts]="contacts"
                                   (onEnableActions)="onEnableBranchActions($event)">
                </business-branches>
                <div class="d-flex justify-content-end ml-4 mr-4" *ngIf="enableBranchActions">
                    <button mat-button matStepperPrevious class="btn btn-success">
                        {{'Back' | translate}}
                    </button>
                    <button mat-button class="btn btn-success" (click)="saveFromBranchs()">
                        {{'Save'| translate}}
                    </button>
                </div>

            </mat-step>
        </mat-stepper>
    </div>
</div>