.footer{
    background-color: #f9f9f8 !important;
    box-shadow: 0 16px 38px -12px rgb(0 0 0 / 56%), 0 4px 25px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
    clip-path: inset(-20px 0px -20px 0px);
    padding: 0px !important;
 
}
.material-icons {
    font-size: 18px;
    position: relative;
    top: 3px;
    background-color: #e94440;
    color: white;
    padding: 3px;
}
.firstDiv{
    background-color: #014996;
    color: white;
    clip-path: polygon(0 0, 85% 0, 100% 100%, 0% 100%);
    background: linear-gradient(
        90deg
        , rgb(58 55 109) 0%, rgba(1,73,150,1) 89%);
  

}
.secondDiv{
   
    color: white;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 99%);
}
.mainDiv{
    background-color: white;
}