<footer class="footer" dir="ltr">
    <div class="container-fluid mainDiv">
        <!-- <nav class="pull-left">
            <ul>
                <li>
                 
                </li>
                <li>
                    <a href="#">
                        ABOUT
                    </a>
                </li>
                <li>
                    <a href="#">
                        PLATFORM STATUS
                    </a>
                </li>
                <li>
                    <a href="#">
                        PRIVACY POLICY
                    </a>
                </li>
                <li>
                    <a href="#">
                        LEGAL NOTICES
                    </a>
                </li>
           
            </ul>
        </nav>
        <div class="copyright pull-right">
            <a href="#">
                <i class="material-icons">facebook</i>
            </a>
            &copy;
            {{test | date: 'yyyy'}},
            <a href="#" target="_blank">Express Post</a>

        </div> -->
        <div class="row">
            <div class="col-md-8 firstDiv">
                <div class="row">
                    <div class="col-md-12">

                        شركة إكسبريس بوست للبريد

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">

                        EXPRESS POST International Courier Co

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">

                        22490005 - 65857999 - 60980644

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">

                        <i class="material-icons">facebook</i> expostkw

                    </div>
                </div>

            </div>
            <div class="col-md-4 secondDiv">
                <img src="./assets/img/express_logo.png">
            </div>
        </div>
    </div>
</footer>