<div class="dialog-header" mat-dialog-title dir="auto">
    <div class="row p-0">
        <h4 class="col-11 d-flex justify-content-start">{{'Download Option (excel)' | translate}}</h4>
        <i class="col-1 d-flex justify-content-end material-icons dialog-close" mat-dialog-close>close</i>
    </div>
</div>

<div mat-dialog-content class="m-2">
    <mat-radio-group [(ngModel)]="selectedTemplate" class="row">
        <mat-radio-button *ngFor="let template of templates" [value]="template.id" class="col-12 mt-1 mb-1">
            {{template.name}}
        </mat-radio-button>
    </mat-radio-group>
</div>

<!-- start actions -->
<div mat-dialog-actions class="p-2" dir="auto">
    <button type="button" mat-button class="btn-submit-blue ml-1 mr-1" (click)="download()">
        {{'Download' | translate}}
    </button>

    <button type="button" mat-button class="btn-close-red ml-1 mr-1" mat-dialog-close>
        {{'Close' | translate}}
    </button>
</div>
<!-- end actions -->