<div class="dialog-header" mat-dialog-title dir="auto">
    <div class="row p-0">
        <h4 class="col-11 d-flex justify-content-start">{{'Working Hours' | translate}}</h4>
        <i class="col-1 d-flex justify-content-end material-icons dialog-close" mat-dialog-close>close</i>
    </div>
</div>

<!-- start company info -->
<div mat-dialog-content class="mat-elevation-z8 m-0 p-3">
    <table mat-table [dataSource]="dataSourceForWorkingHours">
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef class="text-center p-3">
                <mat-checkbox (change)="masterToggle($event)" [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row; let index = index" class="text-center p-3">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="onSelectRow($event,index)"
                    [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                </mat-checkbox>
            </td>
        </ng-container>

        <ng-container matColumnDef="day">
            <th mat-header-cell *matHeaderCellDef class="text-center">
                {{'Day' | translate}}
            </th>
            <td mat-cell *matCellDef="let element" class="text-center">
                {{element.day}}
            </td>
        </ng-container>

        <ng-container matColumnDef="from">
            <th mat-header-cell *matHeaderCellDef class="text-center">
                {{"From" | translate}}
            </th>
            <td mat-cell *matCellDef="let element;let index = index">
                <mat-form-field class="text-center">
                    <input matInput id="from_{{index}}" class="datetimepicker" [(ngModel)]="element.from"
                        [disabled]="element.disabled" [required]="element.required" autocomplete="off" data-type="from">
                </mat-form-field>
            </td>
        </ng-container>

        <ng-container matColumnDef="to">
            <th mat-header-cell *matHeaderCellDef class="text-center">
                {{'To' | translate}}
            </th>
            <td mat-cell *matCellDef="let element;let index = index">
                <mat-form-field class="text-center">
                    <input matInput id="to_{{index}}" class="datetimepicker" [(ngModel)]="element.to"
                        [disabled]="element.disabled" [required]="element.required" autocomplete="off" data-type="to">
                </mat-form-field>
            </td>
        </ng-container>

        <ng-container matColumnDef="secondFrom">
            <th mat-header-cell *matHeaderCellDef class="text-center">
                {{'From' | translate}}
            </th>
            <td mat-cell *matCellDef="let element;let index = index">
                <mat-form-field class="text-center">
                    <input matInput id="secondFrom_{{index}}" class="datetimepicker" [(ngModel)]="element.secondFrom"
                        [disabled]="element.disabled" [required]="element.required" autocomplete="off"
                        data-type="secondFrom">
                </mat-form-field>
            </td>
        </ng-container>

        <ng-container matColumnDef="secondTo">
            <th mat-header-cell *matHeaderCellDef class="text-center">
                {{'To' | translate}}
            </th>
            <td mat-cell *matCellDef="let element;let index = index">
                <mat-form-field class="text-center">
                    <input matInput id="secondTo_{{index}}" class="datetimepicker" [(ngModel)]="element.secondTo"
                        [disabled]="element.disabled" [required]="element.required" autocomplete="off"
                        data-type="secondTo" [min]="element.secondFrom">
                </mat-form-field>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsForWorkingHours"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsForWorkingHours; let index = index">
        </tr>
    </table>
</div>
<!-- end company info -->

<!-- start actions -->
<div mat-dialog-actions class="p-2" dir="auto">
    <button type="button" mat-button class="btn-submit-blue ml-1 mr-1" *ngxPermissionsOnly="['UpdateWorkingHours']"
        (click)="sumbit()">
        {{'Update Information' | translate}}
    </button>

    <button type="button" mat-button class="btn-close-red ml-1 mr-1" mat-dialog-close>
        {{'Close' | translate}}
    </button>
</div>
<!-- end actions -->