<div class="main-content">
    <div class="container-fluid">
        <!-- <div class="row">
            <div class="col-md-12">
                <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false"
                    [zoomControl]="false" (mapClick)="mapClicked($event)">
                    <agm-marker *ngFor="let m of markers; let i = index" (markerClick)="clickedMarker(m.label, i)"
                        [latitude]="m.lat" [longitude]="m.lng" [label]="m.label" [markerDraggable]="m.draggable"
                        (dragEnd)="markerDragEnd(m, $event)">
                        <agm-info-window>
                            <strong>InfoWindow content</strong>
                        </agm-info-window>
                    </agm-marker>
                    <agm-circle [latitude]="lat + 0.3" [longitude]="lng" [radius]="5000" [fillColor]="'red'"
                        [circleDraggable]="true" [editable]="true">
                    </agm-circle>
                </agm-map>
            </div>
        </div> -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <header-as-card title="{{'Sender Details' | translate}}">
                    </header-as-card>

                    <div class="card-body">
                        <form [formGroup]="locationForm">
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'Sender Name' | translate}}" type="text" required
                                            formControlName="locationName">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <ng-multiselect-dropdown [placeholder]="'Branch Name'" [settings]="dropdownSettings"
                                        [data]="dropdownListStatus">
                                    </ng-multiselect-dropdown>
                                </div>

                                <mat-form-field class="col-md-6">
                                    <mat-label>{{'Department' | translate}}</mat-label>
                                    <select matNativeControl required>
                                        <option value="1">{{'Post Local' | translate}}</option>
                                        <option value="2">{{'Post International' | translate}}</option>
                                        <option value="3">{{'Ship Local' | translate}}</option>
                                        <option value="3">{{'Ship International' | translate}}</option>
                                        <option value="3">{{'DeliveryD2D' | translate}}</option>
                                    </select>
                                </mat-form-field>

                                <mat-form-field class="col-md-6">
                                    <mat-label>{{'Contact person' | translate}}</mat-label>
                                    <select matNativeControl required>
                                        <option value="1">{{'Mustafa' | translate}}</option>
                                        <option value="2">{{'Omran' | translate}}</option>
                                    </select>
                                </mat-form-field>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'Email' | translate}}" type="email"
                                            formControlName="mobile_no">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-6">
                                    <app-tel-input></app-tel-input>
                                </div>

                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'CID' | translate}}" type="number"
                                            formControlName="mobile_no" required>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'Address' | translate}}" type="text"
                                            formControlName="Block">
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 p-0 m-0">
                                    <app-address></app-address>
                                </div>
                            </div>

                            <div class="row">
                                <mat-form-field class="col-6 h-45">
                                    <mat-label>{{'Pickup date' | translate}}</mat-label>
                                    <input matInput placeholder="{{'Pickup date' | translate}}" type="date">
                                </mat-form-field>

                                <div class="col-md-6 h-45">
                                    <mat-label>{{'Pickup time' | translate}}</mat-label>
                                    <ejs-timepicker placeholder="{{'Pickup time' | translate}}">
                                    </ejs-timepicker>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <header-as-card title="{{'Item Details' | translate}}">
                    </header-as-card>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'Number Of Items' | translate}}" type="text"
                                            required>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'Pick Up Date' | translate}}" type="date">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <ejs-timepicker class="col-md-6 mt-3" placeholder="{{'Pickup time' | translate}}">
                                </ejs-timepicker>

                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'Shipment Type' | translate}}" type="text">
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Approx Weight" type="number">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-4">
                                            <mat-form-field class="example-full-width">
                                                <mat-label>{{'Unit' | translate}}</mat-label>
                                                <select matNativeControl placeholder="Unit">
                                                    <option disabled value="">
                                                        Unit
                                                    </option>
                                                    <option value="Capital">kgm</option>
                                                    <option value="Hawalli">gm</option>
                                                </select>
                                            </mat-form-field>

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
                <button mat-raised-button type="submit" class="btn btn-danger pull-right">{{"Submit" |
                    translate}}</button>
            </div>

        </div>
    </div>
</div>