<form  [formGroup]="form">
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <header-as-card title="{{'Returned MailItem Report' | translate}}">
                    </header-as-card>
                </div>
            </div>
        </div>

        <div class="row">
      
            <mat-form-field setDir class="col-md-4">
                <mat-label>{{'From Date' | translate}}</mat-label>
                <input matInput [matDatepicker]="datefromPicker" formControlName="fromDate" 
                [min]="minDate" [max]="maxDate" >
                <mat-datepicker-toggle matSuffix [for]="datefromPicker"></mat-datepicker-toggle>
                <mat-datepicker #datefromPicker></mat-datepicker>
            </mat-form-field>

            <mat-form-field setDir class="col-md-4">
                <mat-label>{{'To Date' | translate}}</mat-label>
                <input matInput [matDatepicker]="dateToPicker" formControlName="toDate" 
                [min]="minDate" [max]="maxDate">
                <mat-datepicker-toggle matSuffix [for]="dateToPicker"></mat-datepicker-toggle>
                <mat-datepicker #dateToPicker></mat-datepicker>
            </mat-form-field>          

                <mat-form-field class="col-md-3 col-sm-12">
                    <input matInput placeholder="{{'Code' | translate}}" type="text"
                    formControlName="code">
                </mat-form-field>

                <mat-form-field setDir class="col-md-3 col-sm-12">
                    <mat-label>{{'Business Name' | translate}}</mat-label>
                    <input type="text" placeholder="{{'Customer Name' | translate}}" matInput [matAutocomplete]="autoBusinessName"
                    formControlName="businessCustomerName" (keyup)="onSearch($event,'autoBusinessName')" >
                    <mat-autocomplete autoActiveFirstOption #autoBusinessName="matAutocomplete"
                         (optionSelected)="optionSelected($event,'autoBusinessName')">
                        <mat-option *ngFor="let option of businessCustomers" [value]="option.businessName"
                        (click)="setBusinessName(option)"
                        >
                            {{option.businessName}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>

                <button mat-raised-button color="primary" class="btn btn-success" (click)="getFilteredData()" >
                {{'Search' | translate}}
                 </button>
             
            <!-- </div> -->
        </div>
      
        <div class="row p-3 mat-elevation-z8" dir="auto" *ngIf="deliveredMailItems.length > 0">
            <table mat-table [dataSource]="deliveredMailItems">

                <ng-container matColumnDef="code">
                    <th mat-header-cell *matHeaderCellDef> {{'BarCode' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.barCode}} </td>
                </ng-container>
              
                <ng-container matColumnDef="returnDate">
                    <th mat-header-cell *matHeaderCellDef> {{'Return Date' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.returnDate}}</td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> {{'Actions' | translate}} </th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        <button mat-icon-button [matMenuTriggerFor]="actionsMenu">
                            <mat-icon>more_horiz</mat-icon>
                        </button>

                        <mat-menu #actionsMenu="matMenu" >
                          
                            <button mat-menu-item (click)="print(element,'returned')">
                                <mat-icon>print</mat-icon> {{'Print' | translate}}
                            </button>
                       
                        </mat-menu>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>

        <div class="row" setDir *ngIf="deliveredMailItems.length > 0">
            <mat-paginator dir="ltr" [length]="total" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 50, 100]"
                (page)="onChangePage($event)">
            </mat-paginator>
        </div>
    </div>
</div>
</form>