<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <header-as-card title="{{'Mail Item Tracking' | translate}}" >                      
                    </header-as-card>                   
                    <br>
                    <div class="row">                     
                       
                            <mat-form-field appearance="fill" class="col-md-8 col-sm-8 h-45">
                                <mat-label>{{'Please Enter MailItem Code...' | translate}}</mat-label>
                                <input matInput [(ngModel)]="searchBy" (keyup.enter)="trackItem()">
                                <mat-icon matSuffix (click)="trackItem()">search</mat-icon>
                            </mat-form-field>             
                          
                    
                    </div>
                    <br>
               
                <div *ngIf="newlogs.length>0">
           
<vertical-timeline *ngFor="let status of newlogs"> 
    <vertical-timeline-card [dateValue]="status.createdDate">
     <h6>{{status.mailItemStatusName}}</h6>
    </vertical-timeline-card>
  
   
  </vertical-timeline>
                </div>
                  
                </div>
            </div>
        </div>
      
    </div>
</div>

