<form  [formGroup]="form">
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <header-as-card title="{{'Local Message Distribution Report' | translate}}">
                    </header-as-card>
                </div>
            </div>
        </div>

        <div class="row">
      

            <!-- <div class="col-8 actions"> -->
                <mat-form-field class="col-md-3 col-sm-12">
                    <input matInput placeholder="{{'From Date' | translate}}" type="date"
                    formControlName="fromDate" required>
                </mat-form-field>

                <mat-form-field class="col-md-3 col-sm-12">
                    <input matInput placeholder="{{'To Date' | translate}}" type="date"
                    formControlName="toDate" required>
                </mat-form-field>

                <mat-form-field setDir class="col-md-3 col-sm-12">
                    <mat-label>{{'Business Name' | translate}}</mat-label>
                    <input type="text" placeholder="{{'Customer Name' | translate}}" matInput [matAutocomplete]="autoBusinessName"
                    formControlName="businessCustomerName" (keyup)="onSearch($event,'autoBusinessName')" required>
                    <mat-autocomplete autoActiveFirstOption #autoBusinessName="matAutocomplete"
                         (optionSelected)="optionSelected($event,'autoBusinessName')">
                        <mat-option *ngFor="let option of businessCustomers" [value]="option.businessName"
                        (click)="setBusinessName(option)"
                        >
                            {{option.businessName}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>

                <button mat-raised-button color="primary" class="btn btn-success" (click)="getFilteredData()" >
                {{'Search' | translate}}
                 </button>

                <button mat-raised-button color="primary" class="btn btn-success" (click)="export()">
                    {{'Export' | translate}}
                </button>
            <!-- </div> -->
        </div>

        <div class="row p-3 mat-elevation-z8" dir="auto" *ngIf="localMessageDistributionReports.length > 0">
            <table mat-table [dataSource]="localMessageDistributionReports">

                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> {{'Id' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>

                <ng-container matColumnDef="deliveryDate">
                    <th mat-header-cell *matHeaderCellDef> {{'Delivery Date' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.deliveryDate}} </td>
                </ng-container>

                <ng-container matColumnDef="itemsNo">
                    <th mat-header-cell *matHeaderCellDef> {{'Items No' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.itemsNo}}</td>
                </ng-container>

                <ng-container matColumnDef="returnItemsNo">
                    <th mat-header-cell *matHeaderCellDef> {{'Returned Items No' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.returnItemsNo}} </td>
                </ng-container>


                <ng-container matColumnDef="deliveredItemsNo">
                    <th mat-header-cell *matHeaderCellDef> {{'Delivered Items No' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.deliveredItemsNo}} </td>
                </ng-container>

                <ng-container matColumnDef="remainingItemsNo">
                    <th mat-header-cell *matHeaderCellDef> {{'Remaining Items No' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.remainingItemsNo}} </td>
                </ng-container>

                <ng-container matColumnDef="workOrderCode">
                    <th mat-header-cell *matHeaderCellDef> {{'WorkOrder Code' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.workOrderCode}} </td>
                </ng-container>

                <ng-container matColumnDef="driverName">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> {{'Driver Name' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.driverName}} </td>
                </ng-container>

                <ng-container matColumnDef="fromSerial">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> {{'From Serial' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.fromSerial}} </td>
                </ng-container>

                <ng-container matColumnDef="wrokOrderCode">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> {{'WrokOrder Code' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.wrokOrderCode}} </td>
                </ng-container>

                <ng-container matColumnDef="pickupDate">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> {{'Pickup Date' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.pickupDate}} </td>
                </ng-container>

                <ng-container matColumnDef="caseNo">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> {{'Case No' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.caseNo}} </td>
                </ng-container>

                <!-- <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> {{'Actions' | translate}} </th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        <button mat-icon-button [matMenuTriggerFor]="actionsMenu">
                            <mat-icon>more_horiz</mat-icon>
                        </button>

                        <mat-menu #actionsMenu="matMenu">
                            <button mat-menu-item (click)="manageStaffSeletedRow('Edit', true, element)"
                                *ngxPermissionsOnly="['UpdateAllManager']">
                                {{'Edit' | translate}}<i class="material-icons">mode_edit</i>
                            </button>

                            <button mat-menu-item>
                                <app-confirm-deletion
                                    title="{{'Are you sure you want to delete this Staff?' | translate}}"
                                    (confirm)="onDelete($event,element)" btnText="Delete">
                                </app-confirm-deletion>
                            </button>
                        </mat-menu>
                    </td>
                </ng-container> -->

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>

        <div class="row" setDir *ngIf="localMessageDistributionReports.length > 0">
            <mat-paginator dir="ltr" [length]="total" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 50, 100]"
                (page)="onChangePage($event)">
            </mat-paginator>
        </div>
    </div>
</div>
</form>