@import "./../../shared/scss/colors.scss";

fieldset {
    background-color: $bg;
    border: 1px solid $blue;
}

legend {
    background-color: $blue;
    color: white;
    font-size: medium;
    width: 10%;
    border-radius: 5px;

    span {
        text-align: center;
    }
}

.login-logo {
    height: 80px;
    width: 180px;
    margin: auto;
    margin-left: 25px;
    margin-right: 25px;
}

.top-header {
    height: 80px;
    padding: 0px;
    z-index: 9999;
    background-color: white;
}

.img-flag {
    height: 30px;
    width: 60px;
}

.flag-name {
    min-width: 50px;
}
