<div class="main-content" setDir>
    <div class="container-fluid">
        <div class="col-md-12 col-sm-12 top-header">
            <div class="row">
                <p class="col-md-8 d-flex justify-content-start">
                    <a [routerLink]="['/auth/login']">
                        <img class="login-logo" src="assets/img/express_logo.png">
                    </a>
                </p>

                <div class="col-md-4 d-flex justify-content-end">
                    <mat-form-field style="width: 75%">
                        <mat-select [(ngModel)]="selectedFlag" (selectionChange)="selectionChange($event)">
                            <mat-select-trigger>
                                <img class="img-flag pl-1 pr-1" src="assets/img/flags/{{selectedFlag?.flagImg}}">
                                <span class="flag-name">{{selectedFlag?.name}}</span>
                            </mat-select-trigger>

                            <mat-option *ngFor="let flag of flags" [value]="flag">
                                <img src="assets/img/flags/{{flag.flagImg}}" class="img-flag">
                                {{flag.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 mt-2">
                <div class="card">
                    <header-as-card title="{{'Add individual account' | translate}}">
                    </header-as-card>

                    <form class="row pl-4 pr-4 pb-4" [formGroup]="form">
                        <div class="col-md-10 col-sm-12 row">
                            <mat-form-field setDir class="col-md-4 col-sm-12">
                                <input matInput placeholder="{{'Full Name' | translate}}" type="text"
                                    formControlName="businessName" required>
                            </mat-form-field>

                            <mat-form-field setDir class="col-md-4 col-sm-12">
                                <input matInput placeholder="{{'CID' | translate}}" type="text"
                                    formControlName="businessCID" required>
                            </mat-form-field>

                            <mat-form-field setDir class="col-md-4 col-sm-12">
                                <input matInput placeholder="{{'Company' | translate}}" type="text"
                                    formControlName="company" required>
                            </mat-form-field>

                            <div class="col-md-4 col-sm-12">
                                <app-tel-input [isRequired]="true" (number)="number($event)"
                                    (isValid)="isValidPhoneNumber($event)" (country)="onCountry($event)">
                                </app-tel-input>
                            </div>

                            <mat-form-field setDir class="col-md-4 col-sm-12" *ngIf="!ousideRoute">
                                <input matInput placeholder="{{'Customer Code' | translate}}" type="text"
                                    formControlName="customerCode" required>
                            </mat-form-field>

                            <!-- <mat-form-field setDir class="col-md-4 col-sm-12">
                                <input matInput placeholder="{{'Email' | translate}}" type="email"
                                    formControlName="email" required>
                            </mat-form-field> -->

                            <mat-form-field setDir class="col-md-4 col-sm-12">
                                <input matInput placeholder="{{'Email' | translate}}" type="email"
                                    (keydown.space)="$event.preventDefault();" formControlName="username" required>
                            </mat-form-field>

                            <mat-form-field setDir class="col-md-4 col-sm-12">
                                <input type="{{type[0]}}" matInput placeholder="{{'New Password' | translate}}"
                                    formControlName="password" autocomplete="off" required>
                                <mat-icon matSuffix (click)="togglePassword(0)" class="eye-icon">remove_red_eye
                                </mat-icon>

                                <mat-error *ngIf="form.controls['password'].invalid && submitted">
                                    {{getError('password')}}
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field setDir class="col-md-4 col-sm-12">
                                <input type="{{type[1]}}" matInput placeholder="{{'Re-enter Password' | translate}}"
                                    formControlName="confirmPassword" autocomplete="off" required>
                                <mat-icon matSuffix (click)="togglePassword(1)" class="eye-icon">remove_red_eye
                                </mat-icon>

                                <mat-error *ngIf="form.controls['confirmPassword'].invalid && submitted">
                                    {{getError('confirmPassword')}}
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-md-2 col-sm-12 row d-flex justify-content-end">
                            <div class="col-12 text-center mt-2">
                                <img [src]="path" height="140" width="140" class="card-avatar profile-pic">
                            </div>

                            <div class="col-12 pt-2 text-center">
                                <input type="file" id="upload-business-info" hidden (change)="onSelectFile($event)"
                                    accept="{{accept}}" />
                                <label for="upload-business-info" class="edit-image">
                                    <mat-icon>mode_edit</mat-icon><span class="p-2">{{'Edit' | translate}}</span>
                                </label>
                            </div>
                        </div>

                        <fieldset class="col-md-12 col-sm-12">
                            <legend class="p-1">
                                <span>{{'Address' | translate}}</span>
                            </legend>
                            <app-address [col]="'col-md-3'" [validateAddress]="submitted"
                                (onAddressChanges)="onAddressChanges($event)">
                            </app-address>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>

        <div class="p-4 d-flex justify-content-end actions">
            <button type="button" mat-button class="btn-submit-blue ml-1 mr-1" (click)="submit()">
                {{'Save' | translate}}
            </button>
        </div>
    </div>
</div>