<div class="main-content">
    <div class="container-fluid">
        <p class="pt-0 create-label d-flex justify-content-start">{{'Business Customer Details' | translate}}</p>

        <mat-stepper [linear]="true" #stepper labelPosition="bottom" [disableRipple]="true">
            <mat-step>
                <ng-template matStepLabel>{{'Business Information' | translate}}</ng-template>

                <business-info [businessCustomer]="businessCustomer" [enableLogoEdit]="false" [disableForm]="true">
                </business-info>

                <div class="d-flex justify-content-end ml-4 mr-4">
                    <button mat-button matStepperNext class="btn btn-success">{{'Next' | translate}}</button>
                </div>
            </mat-step>

            <mat-step>
                <ng-template matStepLabel>{{'Contacts' | translate}}</ng-template>

                <business-contacts [businessAccountId]="businessAccountId" [businessCustomer]="businessCustomer"
                    (onContacts)="contacts = $event" [disableForm]="true">
                </business-contacts>

                <div class="d-flex justify-content-end ml-4 mr-4">
                    <button mat-button matStepperPrevious class="btn btn-success">
                        {{'Back' | translate}}
                    </button>

                    <button mat-button matStepperNext class="btn btn-success">
                        {{'Next' | translate}}
                    </button>
                </div>
            </mat-step>

            <mat-step>
                <ng-template matStepLabel>{{'Branches' | translate}}</ng-template>

                <business-branches [businessCustomer]="businessCustomer" [contacts]="contacts" [disableForm]="true">
                </business-branches>

                <div class="d-flex justify-content-end ml-4 mr-4">
                    <button mat-button matStepperPrevious class="btn btn-success">
                        {{'Back' | translate}}
                    </button>
                </div>
            </mat-step>
        </mat-stepper>
    </div>
</div>