<div class="row">
    <mat-icon class="input-icon col-md-2 pt-3" (click)="decrease()">remove</mat-icon>
    <mat-form-field setDir class="col-md-8 col-sm-12">
        <input matInput type="number" [value]="counter" (input)="valueChanges($event)" class="text-center">
    </mat-form-field>
    <mat-icon class="input-icon col-md-2 pt-3" (click)="increase()">add</mat-icon>
</div>