<div class="dialog-header" mat-dialog-title dir="auto">
    <div class="row p-0">
        <h4 class="col-11 d-flex justify-content-start">{{'Update Company Logo' | translate}}</h4>
        <i class="col-1 d-flex justify-content-end material-icons dialog-close" mat-dialog-close>close</i>
    </div>
</div>

<!-- start location -->
<form mat-dialog-content [formGroup]="form" class="m-0">
    <div class="row">
        <div class="col-12 text-center mt-2">
            <img [src]="path" height="150" width="150" class="card-avatar profile-pic">
        </div>

        <div class="col-12 pt-2 col-12 text-center">
            <input type="file" id="upload" hidden (change)="onSelectFile($event)" accept="{{accept}}" />
            <label for="upload" class="edit-image">
                <mat-icon>mode_edit</mat-icon><span class="p-2">{{'Edit' | translate}}</span>
            </label>
        </div>

        <mat-form-field class="col-md-6">
            <input matInput maxlength="50" placeholder="{{'Mission Slogan' | translate}}" type="text"
                formControlName="missionSlogan">
        </mat-form-field>
    </div>
</form>
<!-- end location -->

<!-- start actions -->
<div mat-dialog-actions class="p-2" dir="auto">
    <button type="button" mat-button class="btn-submit-blue ml-1 mr-1" [disabled]="!valuesChanged" (click)="submit()">
        {{'Save' | translate}}
    </button>

    <button type="button" mat-button class="btn-close-red ml-1 mr-1" mat-dialog-close>
        {{'Close' | translate}}
    </button>
</div>
<!-- end actions -->