<div class="main-content">
    <div class="container-fluid">
        <mat-tab-group mat-stretch-tabs [(selectedIndex)]="tabIndex">
            <mat-tab label="{{'Approved Customers' | translate}} ({{totalapproved}})">
                <div class="row mb-3 mt-4">
                    <mat-form-field appearance="fill" class="col-3 h-45">
                        <mat-label>{{'Search Business Customers' | translate}}</mat-label>
                        <input matInput [(ngModel)]="searchBy" (keyup.enter)="listApprovedAccounts(1)">
                        <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>

                    <div class="col-1">
                        <button mat-raised-button color="primary" class="btn btn-success" (click)="listApprovedAccounts(1)">
                            {{'Search' | translate}}
                        </button>
                    </div>

                    <mat-form-field class="col-md-2 h-45 pl-5 -r-5" setDir>
                        <mat-label>{{'Filter By' | translate}}</mat-label>
                        <select matNativeControl>
                            <option value="approved">
                                {{'New' | translate}}
                            </option>

                            <option value="approved">
                                {{'Approved' | translate}}
                            </option>

                            <option value="approved">
                                {{'Rejected' | translate}}
                            </option>
                        </select>
                    </mat-form-field>

                    <div class="col-6 actions">
                        <button mat-raised-button color="primary" class="btn btn-danger ml-5 mr-5"
                            (click)="addBusinessAccount()" *ngxPermissionsOnly="['AddBusinessCustomer']">
                            {{'Add Business Customer' | translate}}
                        </button>

                        <!-- <button mat-raised-button color="primary" class="btn btn-success"
                            *ngxPermissionsOnly="['PrintBusinessCustomer']">
                            {{'Print' | translate}}
                        </button> -->

                        <button mat-raised-button color="primary" class="btn btn-success" (click)="export()"
                            *ngxPermissionsOnly="['ExportBusinessCustomer']">
                            {{'Export' | translate}}
                        </button>
                    </div>
                </div>

                <div class="row p-3 mat-elevation-z8" *ngIf="approvedAccounts.length > 0">
                    <table mat-table [dataSource]="approvedAccounts" setDir dir="auto">
                        <ng-container matColumnDef="nameCode">
                            <th mat-header-cell *matHeaderCellDef> {{'Name & Code' | translate}} </th>
                            <td mat-cell *matCellDef="let element">
                                <span class="row">
                                    <span class="col-md-3">
                                        <img class="business-logo" [src]="baseUrl + '/' + element.businessLogoUrl">
                                    </span>

                                    <span class="col-md-9">
                                        <p class="font-weight-bold">{{element.businessName}}</p>
                                        <small class="font-weight-bold">{{element.businessCode}}</small>
                                    </span>
                                </span>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="HQAddress">
                            <th mat-header-cell *matHeaderCellDef> {{'HQ Address' | translate}} </th>
                            <td mat-cell *matCellDef="let element">
                                <span>{{element.hqBranchLocation?.flat}},</span>
                                <span>{{element.hqBranchLocation?.building}} {{'bldg' | translate}},</span>
                                <span>{{element.hqBranchLocation?.block}} {{'blk' | translate}},</span>
                                <span>{{element.hqBranchLocation?.street}} {{'st' | translate}},</span>
                                <span>{{element.hqBranchLocation?.area}},</span>
                                <span>{{element.hqBranchLocation?.governorate}}</span>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="joinDate">
                            <th mat-header-cell *matHeaderCellDef> {{'Join Date' | translate}} </th>
                            <td mat-cell *matCellDef="let element"> {{element.joiningDate | date:'longDate'}} </td>
                        </ng-container>

                        <ng-container matColumnDef="industry">
                            <th mat-header-cell *matHeaderCellDef> {{'Industry' | translate}} </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.businessTypeName}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="collection">
                            <th mat-header-cell *matHeaderCellDef> {{'Collection' | translate}} </th>
                            <td mat-cell *matCellDef="let element"> {{element.collectionMethodName}} </td>
                        </ng-container>

                        <ng-container matColumnDef="actions">
                            <th mat-header-cell *matHeaderCellDef class="text-center"> {{'Actions' | translate}} </th>
                            <td mat-cell *matCellDef="let element" class="text-center">
                                <button mat-icon-button [matMenuTriggerFor]="actionsMenu">
                                    <mat-icon>more_horiz</mat-icon>
                                </button>

                                <mat-menu #actionsMenu="matMenu">
                                   
                                    <button mat-menu-item (click)="viewBusinessCustomer(element.id)"
                                        *ngxPermissionsOnly="['ReadBusinessCustomer']">
                                        {{'View Customer Details' | translate}}
                                    </button>

                                    <button mat-menu-item    (click)="editBusinessCustomer(element.id)"
                                        *ngxPermissionsOnly="['UpdateBusinessCustomer']">
                                        {{'Edit Customer Details' | translate}}
                                    </button>
                                </mat-menu>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>

                <div class="row" setDir *ngIf="approvedAccounts.length > 0">
                    <mat-paginator dir="ltr" [length]="totalapproved" [pageSize]="approvedPageSize"
                        [pageSizeOptions]="[5, 10, 25, 50, 100]" (page)="onChangeApprovedPage($event)">
                    </mat-paginator>
                </div>
            </mat-tab>

            <mat-tab label="{{'Registered Customers' | translate}} ({{totalUnApproved}})">
                <div class="row mb-3 mt-4">
                    <mat-form-field appearance="fill" class="col-3 h-45">
                        <mat-label>{{'Search Business Customers' | translate}}</mat-label>
                        <input matInput [(ngModel)]="searchBy" (keyup.enter)="listUnApprovedAccounts(1)">
                        <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>

                    <div class="col-1">
                        <button mat-raised-button color="primary" class="btn btn-success" (click)="listUnApprovedAccounts(1)">
                            {{'Search' | translate}}
                        </button>
                    </div>

                    <mat-form-field class="col-md-2 h-45 pl-5 -r-5" setDir>
                        <mat-label>{{'Filter By' | translate}}</mat-label>
                        <select matNativeControl>
                            <option value="approved">
                                {{'New' | translate}}
                            </option>

                            <option value="approved">
                                {{'Approved' | translate}}
                            </option>

                            <option value="approved">
                                {{'Rejected' | translate}}
                            </option>
                        </select>
                    </mat-form-field>

                    <div class="col-6 actions">
                        <button mat-raised-button color="primary" class="btn btn-danger ml-5 mr-5"
                            (click)="addBusinessAccount()" *ngxPermissionsOnly="['AddBusinessCustomer']">
                            {{'Add Business Customer' | translate}}
                        </button>

                        <!-- <button mat-raised-button color="primary" class="btn btn-success"
                            *ngxPermissionsOnly="['PrintBusinessCustomer']">
                            {{'Print' | translate}}
                        </button> -->

                        <button mat-raised-button color="primary" class="btn btn-success" (click)="export()"
                            *ngxPermissionsOnly="['ExportBusinessCustomer']">
                            {{'Export' | translate}}
                        </button>
                    </div>
                </div>

                <div class="row p-3 mat-elevation-z8" *ngIf="unApprovedAccounts.length > 0">
                    <table mat-table [dataSource]="unApprovedAccounts" setDir dir="auto">
                        <ng-container matColumnDef="nameCode">
                            <th mat-header-cell *matHeaderCellDef> {{'Name & Code' | translate}} </th>
                            <td mat-cell *matCellDef="let element">
                                <span class="row">
                                    <span class="col-md-3">
                                        <img class="business-logo" [src]="baseUrl + '/' + element.businessLogoUrl">
                                    </span>

                                    <span class="col-md-9">
                                        <p class="font-weight-bold">{{element.businessName}}</p>
                                        <small class="font-weight-bold">{{element.businessCode}}</small>
                                    </span>
                                </span>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="HQAddress">
                            <th mat-header-cell *matHeaderCellDef> {{'HQ Address' | translate}} </th>
                            <td mat-cell *matCellDef="let element">
                                <span>{{element.hqBranchLocation?.flat}},</span>
                                <span>{{element.hqBranchLocation?.building}} {{'bldg' | translate}},</span>
                                <span>{{element.hqBranchLocation?.block}} {{'blk' | translate}},</span>
                                <span>{{element.hqBranchLocation?.street}} {{'st' | translate}},</span>
                                <span>{{element.hqBranchLocation?.area}},</span>
                                <span>{{element.hqBranchLocation?.governorate}}</span>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="joinDate">
                            <th mat-header-cell *matHeaderCellDef> {{'Join Date' | translate}} </th>
                            <td mat-cell *matCellDef="let element"> {{element.joiningDate | date:'longDate'}} </td>
                        </ng-container>

                        <ng-container matColumnDef="industry">
                            <th mat-header-cell *matHeaderCellDef> {{'Industry' | translate}} </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.businessTypeName}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="collection">
                            <th mat-header-cell *matHeaderCellDef> {{'Collection' | translate}} </th>
                            <td mat-cell *matCellDef="let element"> {{element.collectionMethodName}} </td>
                        </ng-container>

                        <ng-container matColumnDef="actions">
                            <th mat-header-cell *matHeaderCellDef class="text-center"> {{'Actions' | translate}} </th>
                            <td mat-cell *matCellDef="let element" class="text-center">
                                <button mat-icon-button [matMenuTriggerFor]="actionsMenu">
                                    <mat-icon>more_horiz</mat-icon>
                                </button>

                                <mat-menu #actionsMenu="matMenu">
                                    <!-- <button mat-menu-item>
                                <app-confirm-deletion [showIcon]="false" [btnText]="'Delete Customer'"
                                    title="{{'Are you sure you want to delete this business customer?' | translate}}"
                                    (confirm)="onConfirm($event,element)">
                                </app-confirm-deletion>
                            </button> -->

                                    <button mat-menu-item (click)="viewBusinessCustomer(element.id)"
                                        *ngxPermissionsOnly="['ReadBusinessCustomer']">
                                        {{'View Customer Details' | translate}}
                                    </button>

                                    <button mat-menu-item (click)="editBusinessCustomer(element.id)"
                                        *ngxPermissionsOnly="['UpdateBusinessCustomer']">
                                        {{'Edit Customer Details' | translate}}
                                    </button>

                                    <button mat-menu-item (click)="activateAccount(element.id)"
                                        *ngIf="element.accountType == 2 && accountStatusId == 2">
                                        {{'Activate Account' | translate}}
                                    </button>
                                    <button mat-menu-item (click)="approve(element.id)">
                                    {{'Approve Account' | translate}}
                                </button>

                                </mat-menu>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>

                <div class="row" setDir *ngIf="unApprovedAccounts.length > 0">
                    <mat-paginator dir="ltr" [length]="totalUnApproved" [pageSize]="unApprovedPageSize"
                        [pageSizeOptions]="[5, 10, 25, 50, 100]" (page)="onChangeUnApprovedPage($event)">
                    </mat-paginator>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>