<table mat-table [dataSource]="areas" multiTemplateDataRows class="mat-elevation-z8">
    <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef class="text-center p-3 table-fixed-width">
            <mat-checkbox (change)="$event ? masterToggleByArea() : null"
                [checked]="byAreaSelection.hasValue() && isAllSelectedByArea()"
                [indeterminate]="byAreaSelection.hasValue() && !isAllSelectedByArea()"
                [aria-label]="checkboxLabelByArea()">
            </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row" class="text-center p-3">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="onSelectByArea($event,row)"
                [checked]="byAreaSelection.isSelected(row)" [aria-label]="checkboxLabelByArea(row)">
            </mat-checkbox>
        </td>
    </ng-container>

    <ng-container matColumnDef="area">
        <th mat-header-cell *matHeaderCellDef>{{'Area' | translate}}</th>
        <td mat-cell *matCellDef="let element"> {{element.area}} </td>
    </ng-container>

    <ng-container matColumnDef="itemsNo">
        <th mat-header-cell *matHeaderCellDef>{{'Items No' | translate}}</th>
        <td mat-cell *matCellDef="let element"> {{element.itemsNo}} </td>
    </ng-container>

    <ng-container matColumnDef="raf">
        <th mat-header-cell *matHeaderCellDef>{{'Raf' | translate}}</th>
        <td mat-cell *matCellDef="let element"> {{element.raf}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="text-center"> {{'Actions' | translate}} </th>
        <td mat-cell *matCellDef="let element" class="text-center">
            <button mat-icon-button [matMenuTriggerFor]="actionsMenu">
                <mat-icon>more_horiz</mat-icon>
            </button>
            <mat-menu #actionsMenu="matMenu">
                <button mat-menu-item>
                    {{'Assign To Workorder' | translate}}
                </button>

                <button mat-menu-item>
                    {{'Issue Workorder' | translate}}
                </button>

                <button mat-menu-item (click)="assignDriver('area',element)">
                    {{'Assign to Driver' | translate}}
                </button>
            </mat-menu>
        </td>
    </ng-container>

    <ng-container matColumnDef="showHide">
        <th mat-header-cell *matHeaderCellDef class="table-fixed-width">
            <mat-icon (click)="expandCollapseAllByArea()">expand</mat-icon>
        </th>
        <td mat-cell *matCellDef="let element">
            <mat-icon *ngIf="element != expandedAreaElement" (click)="setExpandedAreaElement(element)">
                arrow_drop_down
            </mat-icon>
            <mat-icon *ngIf="element == expandedAreaElement" (click)="expandedAreaElement = null">
                arrow_drop_up
            </mat-icon>
        </td>
    </ng-container>

    <ng-container matColumnDef="expandedAreaDetail">
        <td mat-cell *matCellDef="let areaElement;let index = index" [attr.colspan]="10">
            <div class="area-element-detail row p-2"
                [@detailExpand]="(areaElement == expandedAreaElement || allAreasExpanded) ? 'expanded' : 'collapsed'"
                *ngIf="areaElement.blocks?.length > 0">

                <table mat-table
                    [dataSource]="areaElement.blocks | paginate: { itemsPerPage: 10, currentPage: areaElement.page,id:areaElement.id}"
                    multiTemplateDataRows class="mat-elevation-z8">
                    <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef class="text-center p-3 table-fixed-width">
                            <mat-checkbox (change)="$event ? masterToggleByBlock(areaElement) : null"
                                [checked]="byBlockSelection.hasValue() && isAllSelectedByBlock(areaElement)"
                                [indeterminate]="byBlockSelection.hasValue() && !isAllSelectedByBlock(areaElement)"
                                [aria-label]="checkboxLabelByBlock(areaElement)">
                            </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let row" class="text-center p-3">
                            <mat-checkbox (click)="$event.stopPropagation()" (change)="onSelectByBlock($event,row)"
                                [checked]="byBlockSelection.isSelected(row)" [aria-label]="checkboxLabelByArea(row)">
                            </mat-checkbox>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef>{{'Block No' | translate}}</th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef class="text-center"> {{'Actions' | translate}}
                        </th>
                        <td mat-cell *matCellDef="let element" class="text-center">
                            <button mat-icon-button [matMenuTriggerFor]="actionsMenu">
                                <mat-icon>more_horiz</mat-icon>
                            </button>
                            <mat-menu #actionsMenu="matMenu">
                                <button mat-menu-item>
                                    {{'Assign To Workorder' | translate}}
                                </button>

                                <button mat-menu-item>
                                    {{'Issue Workorder' | translate}}
                                </button>

                                <button mat-menu-item (click)="assignDriver('block',element)">
                                    {{'Assign to Driver' | translate}}
                                </button>
                            </mat-menu>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="showHide">
                        <th mat-header-cell *matHeaderCellDef class="table-fixed-width">
                        </th>

                        <td mat-cell *matCellDef="let element">
                            <mat-icon *ngIf="element != expandedBlockElement"
                                (click)="setExpandedBlockElement(element,areaElement)">
                                arrow_drop_down
                            </mat-icon>
                            <mat-icon *ngIf="element == expandedBlockElement" (click)="expandedBlockElement = null">
                                arrow_drop_up
                            </mat-icon>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="expandedBlockDetail">
                        <td mat-cell *matCellDef="let blockElement;let index = index"
                            [attr.colspan]="itemsColumnsToDisplay.length">
                            <div class="block-element-detail row p-2"
                                [@detailExpand]="(blockElement == expandedBlockElement || allBlocksExpanded) ? 'expanded' : 'collapsed'"
                                *ngIf="blockElement.items?.length > 0">
                                <table mat-table
                                    [dataSource]="blockElement.items | paginate: { itemsPerPage: 10, currentPage: blockElement.page, id:areaElement.id + blockElementid}"
                                    class="mat-elevation-z8 col-12">

                                    <ng-container matColumnDef="select">
                                        <th mat-header-cell *matHeaderCellDef
                                            class="text-center p-3 table-child-fixed-width">
                                            <mat-checkbox
                                                (change)="$event ? masterToggleByItem(areaElement,blockElement) : null"
                                                [checked]="byItemSelection.hasValue() && isAllSelectedByItem(areaElement,blockElement)"
                                                [indeterminate]="byItemSelection.hasValue() && !isAllSelectedByItem(areaElement,blockElement)"
                                                [aria-label]="checkboxLabelByItem(areaElement,blockElement)">
                                            </mat-checkbox>
                                        </th>
                                        <td mat-cell *matCellDef="let row" class="text-center p-3">
                                            <mat-checkbox (click)="$event.stopPropagation()"
                                                (change)="$event ? byItemSelection.toggle(row) : null"
                                                [checked]="byItemSelection.isSelected(row)"
                                                [aria-label]="checkboxLabelByItem(areaElement,blockElement,row)">
                                            </mat-checkbox>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="itemInfo">
                                        <th mat-header-cell *matHeaderCellDef>{{'Item Info' | translate}}
                                        </th>
                                        <!-- <td mat-cell *matCellDef="let element"> {{element.itemInfo}} </td> -->
                                        <td mat-cell *matCellDef="let element">
                                            <div>
                                                <span class="font-weight-bold">{{'Item Code' | translate}}</span>: {{element.itemCode}}
                                            </div>
    
                                            <div>
                                                <span class="font-weight-bold">{{'Item Type' | translate}}</span>: {{element.itemType}}
                                            </div>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="itemStatus">
                                        <th mat-header-cell *matHeaderCellDef>{{'Item Status' | translate}}
                                        </th>
                                        <td mat-cell *matCellDef="let element;let index = index">
                                            <mat-icon *ngIf="index % 2 == 0;else otherIcon" class="pickup-icon">
                                                arrow_circle_up
                                            </mat-icon>

                                            <ng-template #otherIcon>
                                                <mat-icon class="delivery-icon">arrow_circle_down</mat-icon>
                                            </ng-template>

                                            <span class="pl-5">
                                                {{element.status}}
                                            </span>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="deliveryBefore">
                                        <th mat-header-cell *matHeaderCellDef>{{'Delivery Before' |
                                            translate}}</th>
                                            <td mat-cell *matCellDef="let element"> {{element.deliveryBeforeDate | date:"dd/MM/yyyy hh:mm a"}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="weight">
                                        <th mat-header-cell *matHeaderCellDef>{{'Weight' | translate}}</th>
                                        <td mat-cell *matCellDef="let element"> {{element.itemWeight}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="actions">
                                        <th mat-header-cell *matHeaderCellDef class="text-center">
                                            {{'Actions' | translate}}
                                        </th>
                                        <td mat-cell *matCellDef="let element" class="text-center">
                                            <button mat-icon-button [matMenuTriggerFor]="actionsMenu">
                                                <mat-icon>more_horiz</mat-icon>
                                            </button>
                                            <mat-menu #actionsMenu="matMenu">
                                                <!-- <button mat-menu-item>
                                                    {{'Delete Item' | translate}}
                                                </button>

                                                <button mat-menu-item>
                                                    {{'View Item' | translate}}
                                                </button>

                                                <button mat-menu-item>
                                                    {{'Edit Item' | translate}}
                                                </button>

                                                <button mat-menu-item>
                                                    {{'Change Status' | translate}}
                                                </button> -->

                                                <button mat-menu-item   *ngxPermissionsOnly="['WorkOrders_AssignToDriver']"
                                                    (click)="assignDriver('by_item_grouped_by_area',element)">
                                                    {{'Assign to Driver' | translate}}
                                                </button>
                                            </mat-menu>
                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="itemsColumnsToDisplay"></tr>
                                    <tr mat-row *matRowDef="let element; columns: itemsColumnsToDisplay;">
                                    </tr>
                                </table>

                                <div class="row pt-3 d-flex justify-content-end" *ngIf="blockElement.items?.length > 0">
                                    <pagination-controls id="{{areaElement.id + blockElementid}}"
                                        (pageChange)="onChangeItemsPage($event,blockElement,areaElement)">
                                    </pagination-controls>
                                </div>

                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="blocksColumnsToDisplay"></tr>
                    <tr mat-row *matRowDef="let element; columns: blocksColumnsToDisplay">
                    </tr>
                    <tr mat-row *matRowDef="let row; columns: ['expandedBlockDetail']" class="block-element-detail">
                    </tr>
                </table>

                <div class="row pt-3 d-flex justify-content-end" *ngIf="areaElement.blocks?.length > 0">
                    <pagination-controls (pageChange)="onChangeBlocksPage($event,areaElement)" id="{{areaElement.id}}">
                    </pagination-controls>
                </div>
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="areasColumnsToDisplay"></tr>
    <tr mat-row *matRowDef="let element; columns: areasColumnsToDisplay">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedAreaDetail']" class="area-element-detail"></tr>
</table>

<div class="d-flex justify-content-end" setDir>
    <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 50, 100]"
        (page)="onChangePage($event)">
    </mat-paginator>
</div>