@import "./../../shared/scss/colors.scss";

table {
    width: 100%;
    border-spacing: 0 8px !important;

    td,
    th {
        padding: 5px;
    }

    th {
        color: $blue;
        font-weight: bold;
        font-size: medium;
        background-color: $light-blue;
    }

    tr:nth-child(even) {
        background-color: $light-blue;
    }

    td.mat-cell,
    th.mat-header-cell {
        padding: 5px;
        border-bottom: 1px solid $blue;
        border-top: 1px solid $blue;
        text-align: start;
    }

    td.mat-cell,
    th.mat-header-cell {
        border-left: 1px solid $blue;
    }

    td.mat-cell,
    th.mat-header-cell {
        border-right: 1px solid $blue;
    }
}

.actions {
    button {
        margin: 5px;
    }

    display: flex;
    justify-content: flex-end;
}

:host ::ng-deep {
    .mat-form-field-appearance-fill .mat-form-field-flex {
        border-radius: 0px;
    }

    .mat-form-field-infix {
        border: none;
    }

    .mat-paginator-icon {
        -webkit-transform: none !important;
        transform: none !important;
    }
}

.h-45 {
    height: 45px;
}

.custom-input {
    border: none;
    border-bottom: 2px solid gray;
}

:host ::ng-deep {
    .e-input-group {
        border-bottom-color: black !important;
    }
}

.menu-action {
    display: flex;

    mat-icon {
        padding: 12px;
    }
}

.filters-section {
    margin: 5px;
    margin-top: 1.25em;
    padding: 5px;
    background-color: white;
    border: 2px dotted $blue;
}

.filter-icon {
    font-size: 40px;
    color: $blue;
}
