<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <header-as-card title="{{'Contract Details' | translate}}">
                    </header-as-card>
                </div>
            </div>
        </div>

        <div class="row">
            <mat-form-field appearance="fill" class="col-md-3 col-sm-6 h-45">
                <mat-label>{{'Search Contracts: Names, Codes ...' | translate}}</mat-label>
                <input matInput [(ngModel)]="searchBy" (keyup.enter)="search()">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>

            <div class="col-md-1 col-sm-6">
                <button mat-raised-button color="primary" class="btn btn-success" (click)="search()">
                    {{'Search' | translate}}
                </button>
            </div>

            <div class="col-1 d-flex justify-content-center">
                <mat-icon (click)="toggleFilter()" class="filter-icon">filter_alt</mat-icon>
            </div>

            <div class="col-md-7 col-sm-12 actions d-flex justify-content-end">
                <div *ngxPermissionsOnly="['AddContract']">
                    <button mat-raised-button color="primary" class="btn btn-danger ml-5 mr-5" (click)="addContract()">
                        <mat-icon>add</mat-icon> {{'New Contract' | translate}}
                    </button>
                </div>

                <!-- <button mat-raised-button color="primary" class="btn btn-success">
        {{'Print Contracts List' | translate}}
    </button> -->
                

                <div *ngxPermissionsOnly="['ExportContract']">
                       <button  mat-raised-button color="primary" class="btn btn-success" (click)="export()">
                        {{'Export Contracts List' | translate}}
                    </button>
                </div>
                    <button mat-icon-button [matMenuTriggerFor]="bulkActionsMenu">
                        <mat-icon style="font-size: 32px">more_vert</mat-icon>
                    </button>

                    <mat-menu #bulkActionsMenu="matMenu">
                        <button mat-menu-item class="menu-action">
                            <mat-icon>task_alt</mat-icon> <span>{{'Change Status' | translate}}</span>
                        </button>

                        <button mat-menu-item class="menu-action" *ngxPermissionsOnly="['ExportContract']">
                            <mat-icon>download</mat-icon> <span>{{'Export Selected' | translate}}</span>
                        </button>

                        <button mat-menu-item class="menu-action">
                            <mat-icon>print</mat-icon> <span>{{'Print Selected' | translate}}</span>
                        </button>

                        <button mat-menu-item class="menu-action">
                            <mat-icon style="color: red">delete</mat-icon><span>{{'Delete' | translate}}</span>
                        </button>
                    </mat-menu>
                </div>
            </div>

        <div class="row filters-section pt-3 pb-2" *ngIf="showFilters">
            <form class="row" [formGroup]="form">

                <mat-form-field class="col-md-4 col-sm-12">
                    <input matInput placeholder="{{'From Date' | translate}}" type="date" formControlName="fromDate">
                </mat-form-field>

                <mat-form-field class="col-md-4 col-sm-12">
                        <input matInput placeholder="{{'To Date' | translate}}" type="date" formControlName="toDate">
                </mat-form-field> 

            <!-- @todo replace it with backend data -->
            <mat-form-field class="col-md-4 col-sm-12">
                <mat-label>{{'Contract Type' | translate}}</mat-label>
                <select matNativeControl class="p-1" formControlName="contractTypeId" >
                    <option *ngFor="let option of contractTypes" [value]="option.id">
                        {{option.name}}
                  </option>
                </select>
            </mat-form-field>

            <mat-form-field class="col-md-4 col-sm-12">
                <mat-label>{{'Service Sector' | translate}}</mat-label>
                <select matNativeControl class="p-1" formControlName="serviceSectorId">
                    <option *ngFor="let option of serviceSectors" [value]="option.id">
                        {{option.name_en}}
                  </option>
                </select>
            </mat-form-field>

            <mat-form-field class="col-md-4 col-sm-12">
                <mat-label>{{'Contract Status' | translate}}</mat-label>
                <select matNativeControl class="p-1" formControlName="contractStatusId">
                    <option *ngFor="let option of contractStatuss" [value]="option.id">
                        {{option.name}}
                  </option>              
               </select>
            </mat-form-field>
          </form>
        </div>

        <div class="row p-3 mat-elevation-z8" *ngIf="contracts.length > 0">
            <table mat-table [dataSource]="contracts" setDir>
                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef class="text-center p-3">
                        <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row" class="text-center p-3">
                        <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
                            [aria-label]="checkboxLabel(row)">
                        </mat-checkbox>
                    </td>
                </ng-container>

                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef> {{'Contract Date' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.contractDate}} </td>
                </ng-container>

                <ng-container matColumnDef="period">
                    <th mat-header-cell *matHeaderCellDef>
                        {{'Contracting Period' | translate}}
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <div>
                            <span class="custom-cell">{{'Contract Start' | translate}}</span>:
                            {{element.contractStartDate}}
                        </div>

                        <div>
                            <span class="custom-cell">{{'Contract End' | translate}}</span>:
                            {{element.contractEndDate}}
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef> {{'Contract Type' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.contractTypeName}} </td>
                </ng-container>

                <ng-container matColumnDef="business">
                    <th mat-header-cell *matHeaderCellDef> {{'Business' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.businessIndustry}} </td>
                </ng-container>

                <ng-container matColumnDef="customer">
                    <th mat-header-cell *matHeaderCellDef> {{'Customer' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.customerName}} </td>
                </ng-container>
<!-- 
                <ng-container matColumnDef="contractValue">
                    <th mat-header-cell *matHeaderCellDef>
                        {{'Contract Value' | translate}}
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <div>
                            <span class="custom-cell">{{'value' | translate}}</span>:
                            {{element.value}}
                        </div>

                        <div>
                            <span class="custom-cell">{{'Currency' | translate}}</span>:
                            {{element.currency}}
                        </div>
                    </td>
                </ng-container> -->


                <ng-container matColumnDef="contractStatus">
                    <th mat-header-cell *matHeaderCellDef> {{'Contract Status' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.contractStatusName}} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> {{'Actions' | translate}} </th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        <button mat-icon-button [matMenuTriggerFor]="actionsMenu">
                            <mat-icon>more_horiz</mat-icon>
                        </button>

                        <mat-menu #actionsMenu="matMenu">
                            <!-- <button mat-menu-item >
                                <mat-icon>preview</mat-icon><span>{{'View' | translate}}</span>
                            </button> -->

                            <button mat-menu-item     *ngxPermissionsOnly="['UpdateContract']" (click)="editContract(element.id)">
                                <mat-icon>mode_edit</mat-icon><span>{{'Edit' | translate}}</span>
                            </button>

                            <button mat-menu-item  (click)="changeStatus(element.id)">
                                <mat-icon>task_alt</mat-icon><span>{{'Change Status' | translate}}</span>
                            </button>

                            <!-- <button mat-menu-item >
                                <mat-icon>download</mat-icon><span>{{'Export' | translate}}</span>
                            </button> -->

                            <button mat-menu-item (click)="SendContractToCustomer(element.id)">
                                <mat-icon>schedule_send</mat-icon><span>{{'Send To Customer' | translate}}</span>
                            </button>

                            <button mat-menu-item (click)="PrintContract(element.id)">
                                <mat-icon>print</mat-icon><span>{{'Print' | translate}}</span>
                            </button>

                            <button mat-menu-item  *ngxPermissionsOnly="['DeleteContract']" >
                                <app-confirm-deletion
                                    title="{{'Are you sure you want to delete contract?' | translate}}"
                                    (confirm)="onConfirm($event,element)" btnText="Delete">
                                </app-confirm-deletion>
                               
                            </button>
                            <!-- <button mat-menu-item class="menu-action">
                                <!-- <mat-icon style="color: red">delete</mat-icon><span>{{'Delete' | translate}}</span> -->
                               
                            <!-- </button> -->
                            
                            
                        </mat-menu>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                </tr>
            </table>

            <div class="row" setDir *ngIf="contracts.length > 0">
                <mat-paginator dir="ltr" [length]="total" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 50, 100]"
                    (page)="onChangePage($event)">
                </mat-paginator>
            </div>
        </div>
    </div>