@import "./../../shared/scss/colors";

section {
  form {
    h1 {
      color: $blue;
    }

    line-height: 1px;
    margin-top: 5em;
    background-color: white;
    padding: 15px;

    .icon {
      color: $blue;
    }

    .custom-input {
      background-color: white;
      border: 1px solid $bg;
      border-radius: 0px;
    }
  }
}

:host ::ng-deep {
  .progress {
    margin: 0 auto;
  }

  .mat-form-field-appearance-fill .mat-form-field-flex {
    padding: 0px;
    padding-left: 5px;
  }
}
