<section class="row m-0">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate class="col-6 mx-auto">
        <h1 class="text-center pb-2">{{"Forgot Password" | translate }}</h1>

        <p class="mt-4">{{"Enter your registered email, to recieve reset password instructions" | translate }}</p>

        <mat-form-field class="mt-5">
            <mat-label>{{"Email" | translate }}</mat-label>
            <input type="email" matInput formControlName="email" required>
            <mat-icon matSuffix class="icon">mail_outline</mat-icon>
            <mat-error *ngIf="!form.controls['email'].valid" class="mt-2">
                {{getError('email')}}
            </mat-error>
        </mat-form-field>

        <div class="row d-flex justify-content-end p-3 mt-3">
            <button type="submit" mat-raised-button color="primary" mat-button class="col-12">
                {{"Send" | translate }}
            </button>

            <a mat-button color="primary" [routerLink]="'/auth/login'" class="mt-3 col-13">
                {{"Send Back to Sign in" | translate }}
            </a>
        </div>

    </form>

</section>