<section class="contianer">
    <div class="dialog-header" mat-dialog-title>
        <div class="row p-0">
            <h4 class="col-11 d-flex justify-content-start">{{operation}} {{'Item' | translate}}</h4>
            <i class="col-1 d-flex justify-content-end material-icons dialog-close" mat-dialog-close>close</i>
        </div>
    </div>

     <form mat-dialog-content [formGroup]="form" class="m-2">
        <div class="row p-0 m-0">
            <mat-form-field setDir class="{{col}} col-sm-6" dir="auto">
                <mat-select placeholder="{{'From Area' | translate}}" formControlName="fromArea">
                    <mat-option>
                        <ngx-mat-select-search  name="filterAreaCtrl"
                        formControlName="filterAreaCtrl"
                            placeholderLabel="{{' From Area' | translate}}"
                            noEntriesFoundLabel="{{'No matching area found' | translate}}"
                             [clearSearchInput]="true">
                        </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let area of areas | filter:form.controls['filterAreaCtrl'].value"
                    [value]="area.id" matTooltip="{{area.name}}">
                    {{area.name}}
                </mat-option>
                </mat-select>
        
            </mat-form-field>
            <mat-form-field setDir class="{{col}} col-sm-6" dir="auto">
                <mat-select placeholder="{{'To Area' | translate}}" formControlName="toArea">
                    <mat-option>
                        <ngx-mat-select-search  name="filterAreaCtrl"
                        formControlName="filterAreaCtrl"
                            placeholderLabel="{{'To Area' | translate}}"
                            noEntriesFoundLabel="{{'No matching area found' | translate}}"
                             [clearSearchInput]="true">
                        </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let area of areas | filter:form.controls['filterAreaCtrl'].value"
                    [value]="area.id" matTooltip="{{area.name}}">
                    {{area.name}}
                </mat-option>
                </mat-select>
        
            </mat-form-field>
         
          

            <mat-form-field setDir class="col-md-4 col-sm-4">
                <input matInput placeholder="{{'From Weight' | translate}}" type="number"
                    formControlName="fromWeight">
            </mat-form-field>
            <mat-form-field setDir class="col-md-4 col-sm-4">
                <input matInput placeholder="{{'To Weight' | translate}}" type="number"
                    formControlName="toWeight">
            </mat-form-field>        
            <mat-form-field setDir class="col-md-4 col-sm-4">
                <input matInput placeholder="{{'Price' | translate}}" type="number"
                    formControlName="price">
            </mat-form-field>
            <mat-form-field class="col-md-6 col-sm-6">
                <mat-label>{{'please select service time unit'| translate}}</mat-label>
                <select matNativeControl class="p-1" formControlName="serviceTimeUnit">
                  
                    <option value="hours">Hours</option>
                    <option value="days">Days</option>                  
                </select>
            </mat-form-field>
            <mat-form-field setDir class="col-md-4 col-sm-6">
                <input matInput placeholder="{{'Service Time' | translate}}" type="number"
                    formControlName="serviceTime">
            </mat-form-field>
            
           
           
        </div>
    </form>

  
    <div mat-dialog-actions class="pl-5 pr-5">
        <button type="button" mat-button class="btn-submit-blue ml-1 mr-1" (click)="submit()">
            {{operation}}
        </button>

        <button type="button" mat-button class="btn-close-red ml-1 mr-1" mat-dialog-close>
            {{'Close' | translate}}
        </button>
    </div>
  
</section>