<div class="main-content">
    <div class="container-fluid">
        <div class="card-body">

    <form [formGroup]="form" class="m-2" setDir >
        <div class="card card-profile">
        <header-as-card class="col-md-12 mb-1" title="{{'PQ Information' | translate}}">
        </header-as-card>    
        <div></div>
        <br>  
        <div setDir class="row">            
            <div class="col-12">
                <mat-radio-group  formControlName="sectorTypeId" [value]="pQ?.sectorTypeId"  required [disabled]="mode==='edit'">
                    <mat-radio-button [value]="26"  class="ml-1 mr-1 mt-2">{{'Post Local' | translate}}
                    </mat-radio-button>

                    <mat-radio-button [value]="27"  class="ml-1 mr-1 mt-2">{{'Post International' |
                        translate}}
                    </mat-radio-button>
                </mat-radio-group>
            </div>
        </div>  
              
        <div *ngIf="form.controls['sectorTypeId'].value==26 ||form.controls['sectorTypeId'].value==27">
           
            <div class="row p-3">

                <mat-form-field setDir dir="auto">
                    <mat-select placeholder="{{'Customer' | translate}}"
                         formControlName="customerId"
                        [value]="customer" required>
                        <mat-option>
                            <ngx-mat-select-search formControlName="filterCustomerCtrl" name="filterCustomerCtrl"
                                noEntriesFoundLabel="{{'No matching customer found' | translate}}"
                                [clearSearchInput]="true">
                            </ngx-mat-select-search>
                        </mat-option>
                        <mat-option
                            *ngFor="let customer of customers | filter:form.controls['filterCustomerCtrl'].value"
                            [value]="customer.id" matTooltip="{{customer.businessName}}">
                            {{customer.businessName}}
                        </mat-option>
                    </mat-select>

                    <!-- <mat-hint class="hint" *ngIf="!customer">*{{'Customer required' | translate}}
                    </mat-hint> -->
                </mat-form-field>
               
                
                <mat-form-field setDir class="col-md-4">
                    <input matInput placeholder="{{'PQ Code' | translate}}" type="text"
                        formControlName="pqCode" required>
                </mat-form-field>   

                <mat-form-field setDir class="col-md-4">
                    <mat-label>{{'Currency' | translate}}</mat-label>
                    <select matNativeControl formControlName="currencyId" placeholder="{{'Currency' | translate}}"
                    required
                    >
                        <option *ngFor="let curr of currencies" [value]="curr.id" >{{curr.code}}</option>
                    </select>
                </mat-form-field>          

                <div setDir class="col-md-12 custom-editor">
                    <ngx-editor-menu [editor]="letterSubjectEditor"></ngx-editor-menu>
                    <ngx-editor 
                      [editor]="letterSubjectEditor"
                      formControlName="letterSubHtml"                    
                      [disabled]="false"
                      placeholder="{{'Letter Subject' | translate }}"
                     
                    ></ngx-editor>
                  </div>
                
              
                <mat-form-field setDir class="col-md-4">
                    <mat-label>{{'PQ Date' | translate}}</mat-label>
                    <input matInput [matDatepicker]="dateOfPQPicker" formControlName="pqDate" 
                    [min]="minDate" [max]="maxDate">
                    <mat-datepicker-toggle matSuffix [for]="dateOfPQPicker"></mat-datepicker-toggle>
                    <mat-datepicker #dateOfPQPicker></mat-datepicker>
                </mat-form-field>
              
                <mat-form-field setDir class="col-md-4">
                    <mat-label>{{'Valid To Date' | translate}}</mat-label>
                    <input matInput [matDatepicker]="pqValidDate" formControlName="validToDate" [min]="minDate"
                    [min]="minDate" [max]="maxDate">
                    <mat-datepicker-toggle matSuffix [for]="pqValidDate"></mat-datepicker-toggle>
                    <mat-datepicker #pqValidDate></mat-datepicker>
                </mat-form-field> 
             
               
              

                  <div setDir class="col-md-12 NgxEditor">
                    <ngx-editor-menu [editor]="letterTexeditor"></ngx-editor-menu>
                    <ngx-editor
                      [editor]="letterTexeditor"
                      formControlName="letterTexHtml"                     
                      [disabled]="false"
                      placeholder="{{'Letter Text' | translate }}" 
                    ></ngx-editor>
                  </div> 
                 
                  <div class="row"></div>  
                  <div setDir class="col-md-12 NgxEditor">
                    <ngx-editor-menu [editor]="pqSubHtmleditor"></ngx-editor-menu>
                    <ngx-editor
                      [editor]="pqSubHtmleditor"
                      formControlName="pqSubHtml"                     
                      [disabled]="false"
                      placeholder="{{'PQ Subject' | translate }}" 
                    ></ngx-editor>
                  </div> 
                  <br>
                  <div class="row"></div>  
                  <div setDir class="col-md-12 NgxEditor">
                    <ngx-editor-menu [editor]="serviceseditor"></ngx-editor-menu>
                    <ngx-editor
                      [editor]="serviceseditor"
                      formControlName="services"                     
                      [disabled]="false"
                      placeholder="{{'Services' | translate }}" 
                    ></ngx-editor>
                  </div> 
                  <br>

            </div>
        </div>
        </div>
        <div class="card card-profile"  *ngIf="form.controls['sectorTypeId'].value==26 ||form.controls['sectorTypeId'].value==27">
        <header-as-card  class="col-md-12 mb-1" title="{{'PQ Details' | translate}}">
        </header-as-card>
        <form [formGroup]="form.controls['pqItems']" class="m-2">
        <div *ngIf="form.controls['sectorTypeId'].value==26">
            <div class="row p-3">           
            <mat-form-field setDir class="col-md-6">
                <input matInput placeholder="{{'Item Description' | translate}}" type="text"
                    formControlName="itemDescription" [required]="form.controls['sectorTypeId'].value==26">
            </mat-form-field>         

            <mat-form-field setDir class="col-md-6">
                <input matInput placeholder="{{'Item Price' | translate}}" type="number" 
                formControlName="itemPrice" [required]="form.controls['sectorTypeId'].value==26">
            </mat-form-field>
            <div setDir class="col-md-6">
                <mat-checkbox  (change)="CheckIfHasAmount($event)" formControlName="hasAmount">{{'Has Amount' | translate}}</mat-checkbox>
            </div>            
              <mat-form-field setDir class="col-md-6" *ngIf="form.controls['pqItems'].value.hasAmount">
                    <input matInput placeholder="{{'Quantity' | translate}}" type="number"
                     formControlName="amount"
                     [required]="form.controls['sectorTypeId'].value==26 &&form.controls['pqItems'].value.hasAmount">
                </mat-form-field>  
                        
                <div setDir class="col-md-12">
                    <ngx-editor-menu [editor]="noteseditor"></ngx-editor-menu>
                    <ngx-editor
                      [editor]="noteseditor"
                      formControlName="notes"                     
                      [disabled]="false"
                      placeholder="{{'Notes' | translate }}" 
                    ></ngx-editor>
                  </div> 
            </div>
        </div>
        </form> 
            
        <div *ngIf="form.controls['sectorTypeId'].value==27">          
          
             <div formArrayName="rfqItems" class="col-12"> 
                <div *ngFor="let rfq of rfqItems().controls; let rfqIndex=index">
                    <div [formGroupName]="rfqIndex" class="row">
                        
                        <mat-form-field setDir class="col-md-2">
                            <mat-select placeholder="{{'Country' | translate}}" formControlName="countryId" [required]="form.controls['sectorTypeId'].value!=26" >
                                <mat-option>
                                    <ngx-mat-select-search formControlName="filterCountryCtrl" 
                                        noEntriesFoundLabel="{{'No matching country found' | translate}}"
                                        [clearSearchInput]="true">
                                    </ngx-mat-select-search>
                                </mat-option>
                                <mat-option *ngFor="let country of countries | filter:rfq.controls['filterCountryCtrl'].value"
                                    [value]="country.id" matTooltip="{{country.name}}">
                                    {{country.name}}
                                </mat-option>
                            </mat-select>
        
                        </mat-form-field>
                        <mat-form-field setDir class="col-md-2">
                            <input matInput placeholder="{{'Weight' | translate}}" type="number" formControlName="weight"
                            [required]="form.controls['sectorTypeId'].value!=26">
                        </mat-form-field>
        
                        <mat-form-field setDir class="col-md-2">
                            <input matInput placeholder="{{'ToGoShippingPrice' | translate}}" type="number" formControlName="toGoShippingPrice"
                            (input)="calcRounTrip($event,rfq,rfqIndex)" [required]="form.controls['sectorTypeId'].value!=26">
                        </mat-form-field>
                        <mat-form-field setDir class="col-md-2">
                            <input matInput placeholder="{{'CommingShippingPrice' | translate}}" type="number" formControlName="commingShippingPrice"
                            (input)="calcRounTrip($event,rfq,rfqIndex)" [required]="form.controls['sectorTypeId'].value!=26">
                        </mat-form-field>
                        <mat-form-field setDir class="col-md-2">
                            <input matInput placeholder="{{'RoundTripShippingPrice' | translate}}" type="number" formControlName="roundTripShippingPrice"
                            (ngModelChange)="calcTotalRounTrip(rfq)"   >
                        </mat-form-field>
                        

                        <div class="col-2 p-2">
                            <mat-icon (click)="removeRFQ(rfqIndex)" style="color: red">{{'delete' | translate}}</mat-icon>
                        </div>
                    </div>
                </div>

                <div class="col-12 d-flex justify-content-end ">
                    <button type="button" (click)="addRFQ()" class="btn btn-info ml-1 mr-1">
                        <mat-icon>{{'add' | translate}}</mat-icon>
                    </button>
                </div>
            </div> 

            <mat-form-field setDir class="col-md-6">
                <input matInput placeholder="{{'Total' | translate}}" type="number" formControlName="totalRounds" [readonly]="true"
                >
            </mat-form-field>
        </div>
        </div>

    </form>

    <!-- start actions --> 
        <div class="p-4 d-flex justify-content-end">
            <div *ngIf="mode!=='view'">
            <button type="button" mat-button class="btn btn-warn" (click)="reset()" >
                {{'Reset' | translate}}
            </button>
            <button type="button" mat-button class="btn btn-success" (click)="submit('')">
                {{'Save PQ' | translate}}
            </button>
            <button type="button" mat-button class="btn btn-success" (click)="submit('print')">
                {{'Save And Print PQ' | translate}}
            </button>           
        </div>
            <button type="button" mat-button class="btn btn-danger" (click)="close()">
                {{'Close' | translate}}
            </button>
        </div>
      
    <!-- end actions -->
        </div>
</div>
</div>