@import "./../../../shared/scss/colors.scss";
.card-profile {
    padding: 10px;
    
}
section {
    background-color: $bg;

    .file-upload {
        display: none;
    }

   

    fieldset {
        border: 2px solid $blue;
        background-color: white;
    }

    legend {
        background-color: $blue;
        color: #fff;
        padding-bottom: 5px;
        width: 50%;
        margin-left: 1.25%;
    }
}

:host ::ng-deep {

    .NgxEditor {
     margin-bottom: 20px;
    }
  
    .custom-editor{
      min-height: 150px; 
      margin: auto;
    }
  }


