<div class="main-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <header-as-card title="{{'Driver Details' | translate}}"
                        subTitle="{{'Total Driver' | translate}} {{orderDetails.length}}"
                        btnLabel="{{'Add New Driver' | translate}}" data-toggle="modal" data-target="#FilterModel">
                    </header-as-card>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                                <thead class="">
                                    <tr>
                                        <th>
                                            #
                                        </th>
                                        <th>
                                            {{'Driver Name' | translate}}
                                        </th>

                                        <th>
                                            {{'Phone Number' | translate}}
                                        </th>

                                        <th>
                                            {{'Address' | translate}}
                                        </th>
                                        <th>
                                            {{'Type' | translate}}
                                        </th>

                                        <th>
                                            {{'Actions' | translate}}
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="tbodyClass">
                                    <tr *ngFor="let item of orderDetails ; let i = index">
                                        <td class="fixWidth">
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" name="selectDriver">
                                                    <span class="form-check-sign">
                                                        <span class="check radioClass"></span>
                                                    </span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            {{item.customerName}}
                                        </td>

                                        <td>
                                            {{item.phoneNumber}}
                                        </td>

                                        <td>
                                            <span>
                                                <span>{{item.Governorate}}</span>
                                                <span>{{item.Area}}</span>
                                                <span>{{item.Block}}</span>
                                                <span>{{item.Street}}</span>
                                                <span>{{item.BuildingNo}}</span>
                                                <span>{{item.floorNo}}</span>
                                            </span>
                                        </td>
                                        <td>
                                            {{item.status}}
                                        </td>

                                        <td>
                                            <!-- <span class="material-icons-round">
                                                mode_edit
                                            </span> -->
                                            <span class="iconSpan">
                                                <i class="material-icons" data-toggle="modal"
                                                    data-target="#ma">location_on
                                                </i>
                                            </span>
                                            <span class="iconSpan">
                                                <i class="material-icons" (click)="selectedItem( item.id)"
                                                    data-toggle="modal" data-target="#FilterModel"> mode_edit</i>
                                            </span>
                                            <span class="iconSpan">
                                                <app-confirm-deletion
                                                    title="{{'Are you sure you want to delete this driver?' | translate}}">
                                                </app-confirm-deletion>
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                            <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
                        </div>
                    </div>

                </div>
                <button mat-raised-button type="submit" class="btn btn-danger pull-right" data-toggle="modal"
                    *ngIf=" totalOrder >  0 " data-target="#assign">{{'Assign' | translate}} {{totalOrder}}
                    {{'Orders' | translate}}</button>
            </div>

        </div>

    </div>
</div>

<!--  modal -->
<div id="FilterModel" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <div class="cardStyle container card-cascade">
                    <div class="overlay-CardCascade paddingFor-CardCascade">
                        <div class="card-header card-header-danger popupHeader">
                            <h4 class="card-title h4Header">{{addOrEdit}} {{'Driver' | translate}}</h4>
                            <p class="card-category"></p>
                        </div>
                    </div>
                    <!--   name: 'test location 1 test ', case: 9889231821, receiverName: '721781277122', Governorate: 'Governorate1', Area: 'test area1',
        Block: 'test Block', Street: 'test Street', BuildingNo: 'test building 1', floorNo: '12', id: 3, notes: "dummy data", barCode: 6162162 -->
                    <div class="card-body">
                        <form [formGroup]="orderForm">
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'Driver Name' | translate}}" type="text" required
                                            formControlName="customerName">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-6">
                                    <app-tel-input></app-tel-input>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>{{'Governorate' | translate}}</mat-label>
                                        <select matNativeControl required formControlName="Governorate" #Governorate
                                            (change)="changeGovernorate(Governorate.value)"
                                            placeholder="{{'Governorate' | translate}}">
                                            <option disabled value="">
                                                {{'Select Governorate' | translate}}
                                            </option>
                                            <option value="Capital">{{'Capital'}}</option>
                                            <option value="Hawalli">Hawalli</option>
                                            <option value="Mubarak Al-Kaber">Mubarak Al-Kaber</option>
                                            <option value="Ahmadi">Ahmadi</option>
                                            <option value="Farwaniya">Farwaniya</option>
                                            <option value="Jahra">Jahra</option>
                                        </select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">

                                        <select matNativeControl required formControlName="Area"
                                            placeholder="{{'Area' | translate}}">
                                            <option disabled value="">
                                                {{'Select Area' | translate}}
                                            </option>
                                            <option value="{{item}}" *ngFor="let item of areaList">{{item}}</option>
                                        </select>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{Block} | translate}" type="number"
                                            formControlName="Block">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'Street' | translate}}" type="text"
                                            formControlName="Street">
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'Building No' | translate}}" type="number"
                                            formControlName="BuildingNo">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'Floor No' | translate}}" type="text"
                                            formControlName="floorNo">
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <select matNativeControl required formControlName="Area"
                                            placeholder="{{'Type' | translate}}">
                                            <option disabled value="">
                                                {{'Select Type' | translate}}
                                            </option>
                                            <option value="">
                                                Captive
                                            </option>
                                            <option value="">
                                                Under Tyoe DDL
                                            </option>
                                        </select>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-md-6">
                                    <ng-multiselect-dropdown [placeholder]="'Governorate Zone'"
                                        [settings]="dropdownSettings" [data]="dropdownList"
                                        (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                                    </ng-multiselect-dropdown>
                                </div>

                                <div class="col-md-6">
                                    <ng-multiselect-dropdown [placeholder]="'Area Zone'" [settings]="dropdownSettings"
                                        [data]="dropdownList" (onSelect)="onItemSelect($event)"
                                        (onSelectAll)="onSelectAll($event)">
                                    </ng-multiselect-dropdown>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <div style="margin: auto">
                    <button type="button" class="btn btn-primary shadowfor-pop-btn saveBtn" (click)="onClick()">
                        {{'Save' | translate}}
                    </button>
                    <button type="button" class="btn btn-danger close_btn shadowfor-pop-btn m-left-10"
                        data-dismiss="modal">
                        {{'Close' | translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- popUp for company logo update -->

<!-- company details Update -->
<div id="downloadTemplate" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4>
                    {{'Download Option (excel)' | translate}}
                </h4>
                <h6>
                    {{'In Progress' | translate}}
                </h6>
            </div>
            <div class="modal-footer">
                <div style="margin: auto">
                    <button type="button" class="btn btn-primary shadowfor-pop-btn saveBtn" data-dismiss="modal"
                        (click)="confirmDelete()">
                        {{'Download' | translate}}
                    </button>
                    <button type="button" class="btn btn-danger close_btn shadowfor-pop-btn m-left-10"
                        data-dismiss="modal">
                        {{'Close' | translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="uploadFile" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4>
                    {{'Upload Option (excel)' | translate}}
                </h4>
                <h6>
                    {{'In Progress' | translate}}
                </h6>
            </div>
            <div class="modal-footer">
                <div style="margin: auto">

                    <button type="button" class="btn btn-danger close_btn shadowfor-pop-btn m-left-10"
                        data-dismiss="modal">
                        {{'Close' | translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="assign" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4>
                    {{'Are you sure to Assign Driver for selected Items (Orders)?' | translate}}
                </h4>

            </div>
            <div class="modal-footer">
                <div style="margin: auto">
                    <button type="button" class="btn btn-primary shadowfor-pop-btn saveBtn" data-dismiss="modal">
                        {{'Assign' | translate}}
                    </button>
                    <button type="button" class="btn btn-danger close_btn shadowfor-pop-btn m-left-10"
                        data-dismiss="modal">
                        {{'Close' | translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>