@import "./../../shared/scss/colors.scss";

.actions {
    button {
        margin: 5px;
    }

    display: flex;
    justify-content: flex-end;
}

:host ::ng-deep {
    .mat-form-field-appearance-fill .mat-form-field-flex {
        padding: 0px;
        padding-left: 5px;
        padding-right: 5px;
    }
}

table {
    width: 100%;
    border-spacing: 0 8px !important;

    td,
    th {
        padding: 5px;
    }

    th {
        color: $blue;
        font-weight: bold;
        font-size: medium;
        background-color: $light-blue;
    }

    tr:nth-child(even) {
        background-color: $light-blue;
    }

    td.mat-cell,
    th.mat-header-cell {
        padding: 5px;
        border-bottom: 1px solid $blue;
        border-top: 1px solid $blue;
        text-align: start;
    }

    td.mat-cell,
    th.mat-header-cell {
        border-left: 1px solid $blue;
    }

    td.mat-cell,
    th.mat-header-cell {
        border-right: 1px solid $blue;
    }
}

.custom-cell {
    font-size: medium;
    font-weight: bold;
}

.filter-icon {
    font-size: 40px;
    color: $blue;
}

.filters-section {
    margin: 5px;
    padding: 5px;
    background-color: white;
    border: 2px dotted $blue;
}
