<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <header-as-card title="{{'Workorders Details' | translate}}">
                    </header-as-card>
                </div>
            </div>
        </div>

        <div class="row">
            <mat-form-field appearance="fill" class="col-md-3 col-sm-12 h-45">
                <mat-label>{{'Search in workorders' | translate}}</mat-label>
                <input matInput [(ngModel)]="searchBy" (keyup.enter)="search()">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>

            <div class="col-md-1 col-sm-12">
                <button mat-raised-button color="primary" class="btn btn-success" (click)="search()">
                    {{'Search' | translate}}
                </button>
            </div>

            <div class="col-md-1 col-sm-12 d-flex justify-content-center">
                <mat-icon (click)="toggleFilter()" class="filter-icon">filter_alt</mat-icon>
            </div>

            <div class="col-md-7 col-sm-12 actions mt-2">
                <!-- <button mat-raised-button color="primary" class="btn btn-danger ml-5 mr-5 h-45"
                    (click)="addWorkorder()">
                    {{'Create Work-Order' | translate}}
                </button> -->

                <!-- <button mat-raised-button color="primary" class="btn btn-success h-45">
                    {{'Print' | translate}}
                </button> -->

                <button *ngxPermissionsOnly="['WorkOrders_ExportOrders']" mat-raised-button color="primary"
                    class="btn btn-success h-45" (click)="export()">
                    {{'Export' | translate}}
                </button>
            </div>
        </div>

        <div class="row filters-section" *ngIf="showFilters">
            <mat-form-field class="col-md-4 col-sm-12">
                <mat-label>{{'Issue Date' | translate}}</mat-label>
                <mat-date-range-input [rangePicker]="issueDatePicker">
                    <input matStartDate>
                    <input matEndDate>
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="issueDatePicker"></mat-datepicker-toggle>
                <mat-date-range-picker #issueDatePicker></mat-date-range-picker>
            </mat-form-field>

            <mat-form-field class="col-md-4 col-sm-12">
                <mat-label>{{'Required Before' | translate}}</mat-label>
                <mat-date-range-input [rangePicker]="requiredBeforePicker">
                    <input matStartDate>
                    <input matEndDate>
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="requiredBeforePicker"></mat-datepicker-toggle>
                <mat-date-range-picker #requiredBeforePicker></mat-date-range-picker>
            </mat-form-field>

            <mat-form-field class="col-md-4 col-sm-12">
                <mat-label>{{'Governorate' | translate}}</mat-label>
                <select matNativeControl class="p-1">
                    <option value="0">Please Select</option>
                    <option value="localPost">ASAMA</option>
                </select>
            </mat-form-field>

            <mat-form-field class="col-md-4 col-sm-12">
                <mat-label>{{'Area' | translate}}</mat-label>
                <select matNativeControl class="p-1">
                    <option value="0">Please Select</option>
                    <option value="localPost">Salamyia</option>
                </select>
            </mat-form-field>

            <mat-form-field class="col-md-4 col-sm-12">
                <mat-label>{{'Assigned To' | translate}}</mat-label>
                <select matNativeControl class="p-1">
                    <option value="0">Please Select</option>
                </select>
            </mat-form-field>

            <mat-form-field class="col-md-4 col-sm-12">
                <mat-label>{{'Service Sector' | translate}}</mat-label>
                <select matNativeControl class="p-1">
                    <option value="0">Please Select</option>
                    <option value="all">All</option>
                    <option value="businessOrders">Business Orders</option>
                    <option value="nonBusinessOrders">Non-Business Orders</option>
                </select>
            </mat-form-field>

            <mat-form-field class="col-md-4 col-sm-12">
                <mat-label>{{'Driver Status' | translate}}</mat-label>
                <select matNativeControl class="p-1">
                    <option value="0">Please Select</option>
                    <option value="0">Please Select</option>
                </select>
            </mat-form-field>

            <mat-form-field class="col-md-4 col-sm-12">
                <mat-label>{{'Drivers Codes' | translate}}</mat-label>
                <select matNativeControl class="p-1">
                    <option value="0">Please Select</option>
                </select>
            </mat-form-field>
        </div>

        <div class="row pl-4 pr-4">
            <table mat-table [dataSource]="workOrders" class="mat-elevation-z8 mt-3">
                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef class="text-center p-3">
                        <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row" class="text-center p-3">
                        <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
                            [aria-label]="checkboxLabel(row)">
                        </mat-checkbox>
                    </td>
                </ng-container>

                <ng-container matColumnDef="workorderInfo">
                    <th mat-header-cell *matHeaderCellDef>
                        {{'Workorder Info' | translate}}
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <div>
                            <span class="custom-cell">{{'Sector Type' | translate}}</span>: {{element.sectorType}}
                        </div>

                        <div>
                            <span class="custom-cell">{{'Workorder No' | translate}}</span>: {{element.workorderNo}}
                        </div>

                        <div>
                            <span class="custom-cell">{{'Items No' | translate}}</span>: {{element.itemsNo}}
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="dates">
                    <th mat-header-cell *matHeaderCellDef> {{'Dates' | translate}} </th>
                    <td mat-cell *matCellDef="let element">
                        <div>
                            <span class="custom-cell">{{'Issue Date' | translate}}</span>: {{element.issueDate}}
                        </div>

                        <div>
                            <span class="custom-cell">{{'Started Date' | translate}}</span>: {{element.startedDate}}
                            <span class="custom-cell">Issue Date</span>: {{element.issueAt}}
                        </div>

                        <div>
                            <span class="custom-cell">Started Date</span>: {{element.assignedDate}}
                        </div>

                        <div>
                            <span class="custom-cell">{{'Delivery Date' | translate}}</span>: {{element.deliveryDate}}
                        </div>

                        <div>
                            <span class="custom-cell">{{'Closed Date' | translate}}</span>: {{element.closedDate}}
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef> {{'Status' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.statusName}} </td>
                </ng-container>

                <ng-container matColumnDef="rafCode">
                    <th mat-header-cell *matHeaderCellDef> {{'Raf Code' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.assignedToCode}} </td>
                </ng-container>

                <ng-container matColumnDef="areas">
                    <th mat-header-cell *matHeaderCellDef> {{'Areas' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.areas}} </td>
                </ng-container>

                <ng-container matColumnDef="assignedTo">
                    <th mat-header-cell *matHeaderCellDef> {{'Assigned To' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.assignedToName}} </td>
                </ng-container>

                <ng-container matColumnDef="dispatchedTo">
                    <th mat-header-cell *matHeaderCellDef> {{'Dispatched To' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.dispatchedTo}} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> {{'Actions' | translate}} </th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        <button mat-icon-button [matMenuTriggerFor]="actionsMenu">
                            <mat-icon>more_horiz</mat-icon>
                        </button>

                        <mat-menu #actionsMenu="matMenu">
                            <button mat-menu-item (click)="viewWorkorder(element.id)">
                                <mat-icon>preview</mat-icon> {{'View Workorder' | translate}}
                            </button>

                            <button *ngxPermissionsOnly="['WorkOrders_UpdateOrder']" mat-menu-item
                                (click)="editWorkorder(element.id)">
                                <mat-icon>mode_edit</mat-icon> {{'Edit Workorder' | translate}}
                            </button>

                            <button *ngxPermissionsOnly="['WorkOrders_ChangeStatus']" mat-menu-item
                                (click)="changeWorkOrderStatus(element.id)">
                                <mat-icon>task_alt</mat-icon> {{'Change Status' | translate}}
                            </button>

                            <button mat-menu-item *ngxPermissionsOnly="['WorkOrders_DeleteOrder']">
                                <app-confirm-deletion
                                    title="{{'Are you sure you want to delete this Staff?' | translate}}"
                                    (confirm)="deleteWorkorder($event,element)" btnText="{{'Delete' | translate}}">
                                </app-confirm-deletion>
                            </button>

                            <!-- <button mat-menu-item (click)="printGroupOfBarcodes()">
                                <mat-icon>account_balance_wallet</mat-icon> {{'Print/Export Envelop Labels' |
                                translate}}
                            </button> -->

                            <!-- <button mat-menu-item>
                                <mat-icon>print</mat-icon> {{'Print/Export Receipt Forms' | translate}}
                            </button> -->

                            <button mat-menu-item *ngxPermissionsOnly="['WorkOrders_AssignToDriver']"
                                (click)="assignOrDispatch(element.id,'assign')"
                                [disabled]="dispatchedStatusId == element.statusId">
                                <mat-icon>verified_user</mat-icon> {{'Assign Delegate' | translate}}
                            </button>

                            <button mat-menu-item *ngxPermissionsOnly="['WorkOrders_AssignToDriver']"
                                (click)="assignOrDispatch(element.id,'dispatch')"
                                [disabled]="dispatchedStatusId == element.statusId">
                                <mat-icon>fact_check</mat-icon> {{'Dispatch to Delegate' | translate}}
                            </button>
                        </mat-menu>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                </tr>
            </table>
        </div>

        <div class="row" setDir *ngIf="workOrders.length > 0">
            <mat-paginator dir="ltr" [length]="total" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 50, 100]"
                (page)="onChangePage($event)">
            </mat-paginator>
        </div>
    </div>
</div>