<section class="contianer">
    <div class="dialog-header" mat-dialog-title>
        <div class="row p-0">
            <h4 class="col-11 d-flex justify-content-start">{{'Change Status' | translate}}</h4>
            <i class="col-1 d-flex justify-content-end material-icons dialog-close" mat-dialog-close>close</i>
        </div>
    </div>
    
    <form mat-dialog-content class="m-2" [formGroup]="form">
        <mat-form-field setDir class="col-12">
            <mat-label>{{'Select Status' | translate}}</mat-label>
            <select class="p-1" matNativeControl formControlName="contractStatusId"
                placeholder="{{'Select Status' | translate}}" required>
                <option *ngFor="let option of contractStatuss" [value]="option.id">
                    {{option.name}}
                </option>
            </select>
        </mat-form-field>
    </form>

    <!-- start actions -->
    <div mat-dialog-actions class="p-4 d-flex justify-content-end">
        <button type="button" mat-button class="btn-submit-blue ml-1 mr-1" (click)="changeContractStatus()">
            {{'Change Status' | translate}}
        </button>

        <button type="button" mat-button class="btn-close-red ml-1 mr-1" (click)="close()" mat-dialog-close>
            {{'Close' | translate}}
        </button>
    </div>
    <!-- end actions -->
</section>