@import "./../../shared/scss/colors.scss";

.update-btn {
    background-color: white !important;
    color: #014996 !important;
}
.card-profile .card-avatar {
    margin: 0px auto 0;
}
.required:after {
    content: " *";
    color: red;
}
.mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: rgb(230 230 230 / 0%) !important;
}
.saveBtn {
    background-color: #457ee7;
}
.iconSpan {
    cursor: pointer;
}
.iconSpan > i:hover {
    background-color: gray;
    border-radius: 50%;
}
.popupHeader {
    background-color: #014996;
}
.h4Header {
    color: white;
}
.fixWidth {
    max-width: 216px;
}

.logoClass {
    min-height: 148px;
}

table {
    width: 100%;
    border-spacing: 0 8px !important;

    td,
    th {
        padding: 5px;
    }

    th {
        color: $blue;
        font-weight: bold;
        font-size: medium;
        background-color: $light-blue;
    }

    tr:nth-child(even) {
        background-color: $light-blue;
    }

    td.mat-cell,
    th.mat-header-cell {
        padding: 5px;
        border-bottom: 1px solid $blue;
        border-top: 1px solid $blue;
        text-align: start;
    }

    td.mat-cell,
    th.mat-header-cell {
        border-left: 1px solid $blue;
    }

    td.mat-cell,
    th.mat-header-cell {
        border-right: 1px solid $blue;
    }

    table {
        border-spacing: 0 8px !important;
    }
}

.actions {
    button {
        margin: 5px;
    }

    display: flex;
    justify-content: flex-end;
}

:host ::ng-deep {
    .mat-form-field-appearance-fill .mat-form-field-flex {
        border-radius: 0px;
    }

    .mat-form-field-infix {
        border: none;
    }

    .mat-paginator-icon {
        -webkit-transform: none !important;
        transform: none !important;
    }
}

.h-45 {
    height: 45px;
}

.custom-input {
    border: none;
    border-bottom: 2px solid gray;
}

:host ::ng-deep {
    .e-input-group {
        border-bottom-color: black !important;
    }
}

.red-star {
    color: $red;
}
