<div class="main-content">
    <div class="container-fluid" setDir dir="auto">
        <div class="row">
            <div class="col-md-4">
                <div class="card card-profile">
                    <header-as-card title="{{'Express Post' | translate}}" [isCentered]="true">
                    </header-as-card>

                    <div class="card-avatar marginClass">
                        <a href="javascript:void(0)" (click)="manageCompanyLogo()">
                            <img class="img logoClass" [src]="logo" />
                        </a>
                    </div>
                    <div class=" card-body avtarClass">
                        <p class="card-description">
                            {{companyProfile?.missionSlogan}}
                        </p>

                        <button class="btn btn-danger" (click)="manageCompanyLogo()"
                            *ngxPermissionsOnly="['UpdateLogo']">
                            {{'Update Logo' | translate}}
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <header-as-card title="{{'Company Profile' | translate}}">
                    </header-as-card>
                    <div class="card-body">
                        <!-- start company info -->
                        <form mat-dialog-content [formGroup]="form" class="m-0">
                            <div class="row">
                                <mat-form-field class="col-md-6">
                                    <mat-label>{{'Name' | translate}} </mat-label>
                                    <input matInput placeholder="{{'Name' | translate}}" formControlName="name">
                                </mat-form-field>

                                <mat-form-field class="col-md-6">
                                    <mat-label>{{'Description' | translate}} </mat-label>
                                    <input matInput placeholder="{{'Description' | translate}}"
                                        formControlName="bussinesDiscription">
                                </mat-form-field>

                                <mat-form-field class="col-md-6">
                                    <mat-label>{{'Address' | translate}} </mat-label>
                                    <input matInput placeholder="{{'Address' | translate}}" formControlName="address">
                                </mat-form-field>

                                <div class="col-md-6">
                                    <app-tel-input [isDisabled]="true" [height]="50"
                                        [previousCountryId]="companyProfile?.countryId"
                                        [previousNumber]="companyProfile?.mobile">
                                    </app-tel-input>
                                </div>

                                <mat-form-field class="col-md-6">
                                    <mat-label>{{'Phone No' | translate}} </mat-label>
                                    <input matInput placeholder="{{'Phone No' | translate}}" type="text"
                                        formControlName="phone">
                                </mat-form-field>

                                <mat-form-field class="col-md-6">
                                    <mat-label>{{'Email' | translate}} </mat-label>
                                    <input matInput placeholder="{{'Email' | translate}}" type="email"
                                        formControlName="email">
                                </mat-form-field>

                                <mat-form-field class="col-md-6">
                                    <mat-label>{{'Website' | translate}} </mat-label>
                                    <input matInput placeholder="{{'Website' | translate}}" type="text"
                                        formControlName="website">
                                </mat-form-field>

                                <mat-form-field class="col-md-6">
                                    <mat-label>{{'Fax No' | translate}} </mat-label>
                                    <input matInput placeholder="{{'Fax No' | translate}}" type="text"
                                        formControlName="faxNo">
                                </mat-form-field>

                                <mat-chip-list class="m-1 p-2">
                                    <mat-label class="p-3 font-weight-bold">{{'Social Links' | translate}} </mat-label>
                                    <ng-container *ngFor="let link of companyProfile?.socialLinks">
                                        <mat-chip color="primary" *ngIf="link.siteLink">
                                            {{link.siteLink}}
                                        </mat-chip>
                                    </ng-container>
                                </mat-chip-list>
                            </div>
                        </form>
                        <!-- end company info -->

                        <button mat-raised-button type="submit" class="btn btn-danger pull-right"
                            (click)="manageCompanyInfo()" *ngxPermissionsOnly="['UpdateCompanyProfile']">
                            {{'Update Profile' | translate}}
                        </button>

                        <button mat-raised-button type="submit" class="btn btn-danger pull-right"
                            (click)="manageWorkingHours()" *ngxPermissionsOnly="['ViewWorkingHours']">
                            {{'Update Working Hours' | translate}}
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <header-as-card title="{{'Branches Information' | translate}}">
                    </header-as-card>
                </div>
            </div>
        </div>

        <div class="row">
            <mat-form-field appearance="fill" class="col-3 h-45">
                <mat-label>{{'Search in branches' | translate}}</mat-label>
                <input matInput [(ngModel)]="searchBy" (keyup.enter)="search()">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>

            <div class="col-1">
                <button mat-raised-button color="primary" class="btn btn-success" (click)="search()">
                    {{'Search' | translate}}
                </button>
            </div>

            <div class="col-8 actions">
                <button mat-raised-button color="primary" class="btn btn-danger ml-5 mr-5"
                    (click)="manageLocation('Add',false)" *ngxPermissionsOnly="['AddCompanyBranches']">
                    {{'Add New Location' | translate}}
                </button>
                <!-- 
                <button mat-raised-button color="primary" class="btn btn-success"
                    *ngxPermissionsOnly="['PrintBranches']">
                    {{'Print' | translate}}
                </button>
                 -->

                <button mat-raised-button color="primary" class="btn btn-success" (click)="export()"
                    *ngxPermissionsOnly="['ExportBranches']">
                    {{'Export' | translate}}
                </button>
            </div>
        </div>

        <div class="row p-3" *ngxPermissionsOnly="['Viewbranches']">
            <table mat-table [dataSource]="branches" class="mat-elevation-z8" *ngIf="branches.length > 0">
                <ng-container matColumnDef="#">
                    <th mat-header-cell *matHeaderCellDef class="text-center p-3"> # </th>
                    <td mat-cell *matCellDef="let element;let index = index" class="text-center p-3">
                        {{index + 1}}
                        <mat-icon class="red-star" *ngIf="element.id == companyProfile?.mainBranchId">
                            star_rate
                        </mat-icon>
                    </td>
                </ng-container>

                <ng-container matColumnDef="mobileNo">
                    <th mat-header-cell *matHeaderCellDef> {{'Mobile No' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.mobileNo}} </td>
                </ng-container>

                <ng-container matColumnDef="phoneNo">
                    <th mat-header-cell *matHeaderCellDef> {{'Phone No' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
                </ng-container>

                <ng-container matColumnDef="branchManager">
                    <th mat-header-cell *matHeaderCellDef> {{'Branch Manager' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.branchManagerName}} </td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> {{'Name' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <ng-container matColumnDef="paci">
                    <th mat-header-cell *matHeaderCellDef> {{'PACI' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.paci}} </td>
                </ng-container>

                <ng-container matColumnDef="Governorate">
                    <th mat-header-cell *matHeaderCellDef> {{'Governorate' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element?.location.governorate}} </td>
                </ng-container>

                <ng-container matColumnDef="Area">
                    <th mat-header-cell *matHeaderCellDef> {{'Area' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element?.location.area}} </td>
                </ng-container>

                <ng-container matColumnDef="Block">
                    <th mat-header-cell *matHeaderCellDef> {{'Block' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element?.location.block}} </td>
                </ng-container>

                <ng-container matColumnDef="Street">
                    <th mat-header-cell *matHeaderCellDef> {{'Street' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element?.location.street}} </td>
                </ng-container>

                <ng-container matColumnDef="BuildingNo">
                    <th mat-header-cell *matHeaderCellDef> {{'Building No' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element?.location.building}} </td>
                </ng-container>

                <ng-container matColumnDef="floorNo">
                    <th mat-header-cell *matHeaderCellDef> {{'Floor No' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element?.location.floor}} </td>
                </ng-container>
                <ng-container matColumnDef="flat">
                    <th mat-header-cell *matHeaderCellDef> {{'Flat' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element?.location.flat}} </td>
                </ng-container>
                
                <ng-container matColumnDef="map">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> {{'Map' | translate}} </th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        <i class="material-icons">location_on</i>
                    </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> {{'Actions' | translate}} </th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        <button mat-icon-button [matMenuTriggerFor]="actionsMenu">
                            <mat-icon>more_horiz</mat-icon>
                        </button>

                        <mat-menu #actionsMenu="matMenu">
                            <button mat-menu-item (click)="manageLocation('Edit',true,element)"
                                *ngxPermissionsOnly="['UpdateCompanyBranches']">
                                {{'Edit' | translate}}<i class="material-icons">mode_edit</i>
                            </button>

                            <button mat-menu-item *ngxPermissionsOnly="['DeleteCompanyBranches']">
                                <app-confirm-deletion
                                    title="{{'Are you sure you want to delete this location?' | translate}}"
                                    (confirm)="onConfirm($event,element)" btnText="Delete">
                                </app-confirm-deletion>
                            </button>
                        </mat-menu>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>

        <div class="row" setDir *ngIf="branches.length > 0">
            <mat-paginator dir="ltr" [length]="total" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 50, 100]"
                (page)="onChangePage($event)">
            </mat-paginator>
        </div>
    </div>
</div>