<div class="dialog-header" mat-dialog-title dir="auto">
    <div class="row p-0">
        <h4 class="col-11 d-flex justify-content-start">{{operation}} {{'Zone' | translate}}</h4>
        <i class="col-1 d-flex justify-content-end material-icons dialog-close" mat-dialog-close>close</i>
    </div>
</div>

<!-- start location -->
<form mat-dialog-content [formGroup]="form" class="m-0">
    <div class="row">
        <div class="col-md-6">
            <mat-form-field class="example-full-width">
                <mat-label>{{'Country' | translate}}</mat-label>
                <select matNativeControl required #Governorate placeholder="Country" formControlName="countryName">
                    <option disabled value="">
                        {{'Select Country' | translate}}
                    </option>
                    <option *ngFor="let item of countryList" value="{{item.name}}">
                        {{item.name}}
                    </option>

                </select>
            </mat-form-field>

        </div>
        <div class="col-md-6">
            <mat-form-field class="example-full-width">
                <mat-label>{{'Zone' | translate}}</mat-label>
                <select matNativeControl #zone placeholder="Zone" formControlName="zones">
                    <option disabled value="" selected>
                        {{'Select Zone' | translate}}
                    </option>
                    <option *ngFor="let item of zoneList" value="{{item}}">
                        {{item}}
                    </option>

                </select>
            </mat-form-field>

        </div>

    </div>
</form>
<!-- end location -->

<!-- start actions -->
<div mat-dialog-actions class="p-2 d-flex justify-content-end">
    <button type="button" mat-button class="btn-submit-blue ml-1 mr-1">
        {{'Save Location' | translate}}
    </button>

    <button type="button" mat-button class="btn-close-red ml-1 mr-1" mat-dialog-close>
        {{'Close' | translate}}
    </button>
</div>
<!-- end actions -->