<section class="contianer">
    <div class="dialog-header" mat-dialog-title>
        <div class="row p-0">
            <h4 class="col-11 d-flex justify-content-start">{{operation}} {{'Item' | translate}}</h4>
            <i class="col-1 d-flex justify-content-end material-icons dialog-close" mat-dialog-close>close</i>
        </div>
    </div>

    <form mat-dialog-content [formGroup]="form" class="m-2">
        <div class="row p-0 m-0">
            <mat-form-field  class="col-md-3 col-sm-12">
                <input matInput placeholder="{{'Item Code' | translate}}" type="text" formControlName="mailItemBarCode" required>
            </mat-form-field>

            <mat-form-field  class="col-md-3 col-sm-12">
                <input matInput placeholder="{{'Consignee Name' | translate}}" type="text"
                    formControlName="consigneeInformation">
            </mat-form-field>

            <mat-form-field  class="col-md-3 col-sm-12">
                <input matInput placeholder="{{'Consignee Mobile' | translate}}" type="number"
                    formControlName="consigneeMobile">
            </mat-form-field>

            <mat-form-field  class="col-md-3 col-sm-12">
                <input matInput placeholder="{{'Item Approx Weight' | translate}}" type="number"
                    formControlName="weight">
            </mat-form-field>

            <mat-form-field  class="col-md-3 col-sm-12">
                <mat-label>{{'WeightUOM' | translate}}</mat-label>
                <select matNativeControl class="pl-2 pr-2" formControlName="weightUOMId">
                    <option *ngFor="let option of weightUOMs" [value]="option.id">
                        {{option.name}}
                    </option>
                </select>
            </mat-form-field>

            <mat-form-field  class="col-md-3 col-sm-12" *ngIf="data.internationalId==3" >
                <input matInput placeholder="{{'Quantity' | translate}}" type="number"
                    formControlName="quantity">
            </mat-form-field>
            
            <mat-form-field setDir class="col-md-3 col-sm-12" *ngIf="data.internationalId==3">
                <mat-select placeholder="{{'Country' | translate}}" formControlName="countryId"  (selectionChange)="optionSelected($event,'countryId')" >
                    <mat-option>
                        <ngx-mat-select-search formControlName="filterCountryCtrl" 
                            noEntriesFoundLabel="{{'No matching country found' | translate}}"
                            [clearSearchInput]="true">
                        </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let country of countries | filter:form.controls['filterCountryCtrl'].value"
                        [value]="country.id" matTooltip="{{country.name}}">
                        {{country.name}}
                    </mat-option>
                </mat-select>

            </mat-form-field>
            <mat-form-field  class="col-md-3 col-sm-12" *ngIf="data.internationalId==3">
                <input matInput placeholder="{{'Total Price' | translate}}" type="number"
                    formControlName="totalPrice" readonly>
            </mat-form-field>

          

            <div class="col-md-12">
                <app-address (onAddressChanges)="onAddressChanges($event)" [addressToReplace]="data?.row"
                    [col]="'col-md-3'" [validateAddress]="submitted" (validAddress)="validAddress($event)">
                </app-address>
            </div>
        </div>
    </form>

    <!-- start actions -->
    <div mat-dialog-actions class="pl-5 pr-5">
        <button type="button" mat-button class="btn-submit-blue ml-1 mr-1" (click)="submit()">
            {{operation}}
        </button>

        <button type="button" mat-button class="btn-close-red ml-1 mr-1" mat-dialog-close>
            {{'Close' | translate}}
        </button>
    </div>
    <!-- end actions -->
</section>