<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <header-as-card title="{{'Work-Order' | translate}}">
                    </header-as-card>

                    <div class="card-body">

                        <form [formGroup]="form" class="m-2">
                            <div class="row">
                                <mat-form-field setDir class="col-md-4 col-sm-12">
                                    <input matInput placeholder="{{'Workorder Code' | translate}}" type="text"
                                        formControlName="code" required>
                                </mat-form-field>

                                <mat-form-field setDir class="col-md-4 col-sm-12">
                                    <mat-label>{{'Status' | translate}}</mat-label>
                                    <select matNativeControl required formControlName="workOrderStatusId">
                                        <option *ngFor="let status of workOrderStatuss" [value]="status.id">
                                            {{status.name}}
                                        </option>
                                    </select>
                                </mat-form-field>

                                <mat-form-field setDir class="col-md-4 col-sm-12">
                                    <mat-label>{{'Priority' | translate}}</mat-label>
                                    <select matNativeControl required formControlName="priorty">
                                        <option *ngFor="let priority of priorityList" [value]="priority.id">
                                            {{priority.name}}
                                        </option>
                                    </select>
                                </mat-form-field>

                                <mat-form-field setDir class="col-md-4 col-sm-12">
                                    <mat-label>{{'Planned Start' | translate}}</mat-label>
                                    <input matInput [matDatepicker]="plannedStartPicker" formControlName="plannedStart">
                                    <mat-datepicker-toggle matSuffix [for]="plannedStartPicker"></mat-datepicker-toggle>
                                    <mat-datepicker #plannedStartPicker></mat-datepicker>
                                </mat-form-field>

                                <mat-form-field setDir class="col-md-4 col-sm-12">
                                    <mat-label>{{'Issue Date' | translate}}</mat-label>
                                    <input matInput [matDatepicker]="issueDatePicker" formControlName="issueAt">
                                    <mat-datepicker-toggle matSuffix [for]="issueDatePicker"></mat-datepicker-toggle>
                                    <mat-datepicker #issueDatePicker></mat-datepicker>
                                </mat-form-field>


                                <mat-form-field setDir class="col-md-4 col-sm-12">
                                    <mat-label>{{'Delivery Before' | translate}}</mat-label>
                                    <input matInput [matDatepicker]="deliveryBeforePicker"
                                        formControlName="deliveryBefore">
                                    <mat-datepicker-toggle matSuffix [for]="deliveryBeforePicker">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #deliveryBeforePicker></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </form>

                        <!-- start actions -->
                        <div class="p-4 d-flex justify-content-end" *ngIf="!fromDetailsPage">
                            <button type="button" mat-button class="btn btn-danger" (click)="submit()">
                                {{'Save Work-Order' | translate}}
                            </button>
                        </div>
                        <!-- end actions -->
                    </div>
                </div>
            </div>
        </div>

        <div class="row m-2">
            <table mat-table [dataSource]="itemsDataSource" class="mat-elevation-z8 items-table col-12 p-0">

                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef class="text-center p-3 table-child-fixed-width">
                        <mat-checkbox (change)="$event ? masterToggleItems() : null"
                            [checked]="itemsSelection.hasValue() && isAllSelectedItems()"
                            [indeterminate]="itemsSelection.hasValue() && !isAllSelectedItems()"
                            [aria-label]="checkboxLabelItems()">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row" class="text-center p-3">
                        <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? itemsSelection.toggle(row) : null"
                            [checked]="itemsSelection.isSelected(row)" [aria-label]="checkboxLabelItems(row)">
                        </mat-checkbox>
                    </td>
                </ng-container>

                <ng-container matColumnDef="itemInfo">
                    <th mat-header-cell *matHeaderCellDef> {{'Item Info' | translate}}</th>
                    <td mat-cell *matCellDef="let element"> {{element.itemCode}}</td>
                </ng-container>

                <ng-container matColumnDef="itemStatus">
                    <th mat-header-cell *matHeaderCellDef>  {{'Item Status' | translate}}</th>
                    <td mat-cell *matCellDef="let element"> {{element.status}}</td>
                </ng-container>

                <ng-container matColumnDef="deliveryBefore">
                    <th mat-header-cell *matHeaderCellDef>  {{'Weight' | translate}}</th>
                    <td mat-cell *matCellDef="let element"> {{element.itemWeight}} </td>
                </ng-container>

                <!-- <ng-container matColumnDef="deliveryBefore">
                    <th mat-header-cell *matHeaderCellDef>Delivery Before</th>
                    <td mat-cell *matCellDef="let element"> {{element.itemWeight}} </td>
                </ng-container> -->

                <ng-container matColumnDef="orderInfo">
                    <th mat-header-cell *matHeaderCellDef>  {{'Order Issue Date' | translate}}</th>
                    <td mat-cell *matCellDef="let element"> {{element.orderIssueDate}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="customerInfo">
                    <th mat-header-cell *matHeaderCellDef>  {{'Customer Info' | translate}}</th>
                    <td mat-cell *matCellDef="let element"> {{element.personalCustomersName}}</td>
                </ng-container>

                <ng-container matColumnDef="sender">
                    <th mat-header-cell *matHeaderCellDef>  {{'Sender' | translate}}</th>
                    <td mat-cell *matCellDef="let element"> {{element.senderName}} </td>
                </ng-container>

                <ng-container matColumnDef="receiver">
                    <th mat-header-cell *matHeaderCellDef>  {{'Receiver' | translate}}</th>
                    <td mat-cell *matCellDef="let element"> {{element.receiverName}} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> {{'Actions' | translate}}
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        <button mat-icon-button [matMenuTriggerFor]="actionsMenu" *ngIf="!fromDetailsPage">
                            <mat-icon>more_horiz</mat-icon>
                        </button>
                        <mat-menu #actionsMenu="matMenu">
                            <button mat-menu-item>
                                {{'Save Work-Order' | translate}}
                                Remove item
                            </button>
                        </mat-menu>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="itemsColumnsToDisplay"></tr>
                <tr mat-row *matRowDef="let element; columns: itemsColumnsToDisplay;">
                </tr>
            </table>

            <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" class="col-12 p-0">
            </mat-paginator>
        </div>
    </div>
</div>