<div class="row pl-3 pr-3" dir="auto">
    <mat-form-field class="col-4 pl-0 pr-0" [ngStyle]="{'height':height}">
        <mat-select matNativeControl name="states" [(ngModel)]="selectedState" class="selected-code" dir="auto"
            [disabled]="isDisabled">
            <mat-select-trigger>
                <img class="option-img" [src]="imageUrl + selectedState?.flag" height="20" width="25">
                <span>(+{{selectedState?.code}})</span>
            </mat-select-trigger>
            <mat-option *ngFor="let state of states" [value]="state" (click)="setValue()">
                <img class="option-img" [src]="imageUrl + state?.flag" height="22" width="40">
                {{state?.name}} <span> +{{state?.code}}</span>
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="col-8 pl-0 pr-0" [ngStyle]="{'height':height}">
        <mat-label class="p-1">{{'Mobile Number' | translate}}</mat-label>
        <input class="p-1" matInput type="number" [(ngModel)]="phone" name="phone"
            (input)="onChangeNumber($event.target.value)" [required]="isRequired" [disabled]="isDisabled">
    </mat-form-field>
</div>