<div class="main-content">
    <div class="container-fluid">
        <mat-horizontal-stepper class="row" [linear]="isLiner" #stepper labelPosition="bottom" [disableRipple]="true">
            <mat-step [stepControl]="formOrders">
                <ng-template matStepLabel>{{'Order Information' | translate}}</ng-template>

                <business-order-information (onFormOrder)="onFormOrder($event)"
                (onFormInternational)="onFormInternational($event)"
                (onChangeFile)="onChangeFile($event)"
                (onChangeAddress)="onChangeAddress($event)"
                (onChangeInternationId)="onChangeInternationId($event)"
                (onChangeBusinessCustomerId)="onChangeBusinessCustomerId($event)"

                
                
                    (businessCustomersForPervious)="businessCustomersForPervious($event)" [orderId]="orderId"
                    [validateForm]="validateForm">
                </business-order-information>

                <div class="d-flex justify-content-end">
                    <button mat-button class="btn btn-success" (click)="loadPreviousOrders()">{{'Load Previous Order' |
                        translate}}</button>
                    <button mat-button class="btn btn-success" (click)="addOrderInformation(true)">{{'Create & Fill
                        Items Later' | translate}}</button>
                    <button mat-button class="btn btn-success" matStepperNext>{{'Next' | translate}}</button>
                </div>
            </mat-step>

            <mat-step>
                <ng-template matStepLabel>{{'Items Details' | translate}}</ng-template>
                <items-details (onForm)="onForm($event)"
                 (itemList)="itemList($event)"
                 [orderId]="orderId"
                 [internationalId]="internationalId"
                 [businessCustomerlId]="businessCustomerlId"
                    [validateForm]="validateForm">

                </items-details>
                <div class="d-flex justify-content-end">
                    <!-- <button mat-button class="btn btn-success">{{'Batch Actions' | translate}}</button> -->
                    <button mat-button class="btn btn-success" (click)="addOrderInformation(false)">{{'Process Order' |
                        translate}}</button>
                </div>
            </mat-step>
        </mat-horizontal-stepper>
    </div>
</div>