<div class="wrapper">
    <div class="sidebar" id="sidebar" data-color="danger" data-background-color="white">
        <app-sidebar></app-sidebar>
    </div>

    <div class="main-panel" id="main-panel">
        <div class="staticNavbar container-fluid" id="navbar">
            <app-navbar></app-navbar>
        </div>

        <router-outlet></router-outlet>

        <div *ngIf="isMaps('maps')">
            <app-footer></app-footer>
        </div>
    </div>