@import "./../../../shared/scss/colors.scss";

.business-contacts {
    margin-top: 30px;
    background-color: white;
}

.hint-error {
    color: $red;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: normal;
}

.edit-image {
    color: $blue;
    cursor: pointer;
    font-weight: bold;
    padding: 5px;
}

.user-section {
    background-color: $bg;
    border-radius: 10px;
    padding: 15px;
}

.user-image {
    border-radius: 50%;
}

.set-height {
    height: 45px;
}

table {
    width: 100%;
    border-spacing: 0 8px !important;

    td,
    th {
        padding: 5px;
    }

    th {
        color: $blue;
        font-weight: bold;
        font-size: medium;
        background-color: $light-blue;
    }

    tr:nth-child(even) {
        background-color: $light-blue;
    }

    td.mat-cell,
    th.mat-header-cell {
        padding: 5px;
        border-bottom: 1px solid $blue;
        border-top: 1px solid $blue;
        text-align: center;
    }

    td.mat-cell,
    th.mat-header-cell {
        border-left: 1px solid $blue;
    }

    td.mat-cell,
    th.mat-header-cell {
        border-right: 1px solid $blue;
    }

    table {
        border-spacing: 0 8px !important;
    }
}

:host ::ng-deep {
    .mat-paginator-container {
        background-color: white;
        font-size: medium;
        color: $blue;
    }

    .mat-checkbox-layout .mat-checkbox-label {
        color: rgb(41, 41, 41);
        font-weight: bold;
    }
}
