<div class="container-fluid business-contacts">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-plain">
                <header-as-card title="{{'Contacts' | translate}}">
                </header-as-card>
            </div>
        </div>
    </div>

    <form class="row p-3" [formGroup]="form" *ngIf="showHideForm">
        <div class="col-10 row">
            <mat-form-field setDir class="col-md-4 col-sm-12">
                <mat-label>{{'Courtisty' | translate}}</mat-label>
                <select class="pl-2 pr-2" matNativeControl formControlName="courtesyId"
                    placeholder="{{'Select Courtisty' | translate}}" required>
                    <option *ngFor="let courtesty of courtesies" [value]="courtesty.id">
                        {{courtesty['name_'+locale]}}
                    </option>
                </select>
            </mat-form-field>

            <mat-form-field setDir class="col-md-4 col-sm-12">
                <mat-label>{{'Contact Name' | translate}}</mat-label>
                <input matInput placeholder="{{'Contact Name' | translate}}" type="text" formControlName="fullName"
                    required>
            </mat-form-field>

            <!-- <mat-form-field setDir class="col-md-4 col-sm-12">
                <mat-label>{{'Email' | translate}}</mat-label>
                <input matInput placeholder="{{'Email' | translate}}" type="email" formControlName="email" required>
            </mat-form-field> -->


            <div class="col-md-12 col-sm-12 mb-3 user-section p-3">
                <div class="row">
                    <mat-form-field setDir class="col-md-4 col-sm-12">
                        <mat-label>{{'Email' | translate}}</mat-label>
                        <input matInput placeholder="{{'Username' | translate}}" type="email" formControlName="userName"
                            required autocomplete="off" >
                    </mat-form-field>

                    <mat-form-field setDir class="col-md-4 col-sm-12 mb-3 mb-3">
                        <mat-label>{{'Password' | translate}}</mat-label>
                        <input matInput placeholder="{{'Password' | translate}}" type="{{type}}" required
                            formControlName="password" autocomplete="off" >
                        <mat-icon matSuffix (click)="togglePassword()" class="eye-icon">remove_red_eye</mat-icon>
                        <mat-hint class="hint-error"
                            *ngIf="form.controls['password'].invalid && form.controls['password'].errors?.pattern">
                            {{'Password must be at least 8 characters long and must contain one lower case, one uppercase, one numeric and one special character' | translate}}
                        </mat-hint>
                    </mat-form-field>

                    <div class="col-md-4 text-center">
                        <img src="assets/img/auth.png">
                    </div>
                </div>
            </div>

            <mat-form-field setDir class="col-md-4 col-sm-12">
                <mat-label>{{'Phone Number' | translate}}</mat-label>
                <input matInput placeholder="{{'Phone Number' | translate}}" type="number" formControlName="phone">
            </mat-form-field>

            <mat-form-field setDir class="col-md-4 col-sm-12">
                <mat-label>{{'Fax No' | translate}}</mat-label>
                <input matInput placeholder="{{'Fax No' | translate}}" type="text" formControlName="fax">
            </mat-form-field>

            <!-- <mat-form-field setDir class="col-md-4 col-sm-12">
                <mat-label>{{'Account Status' | translate}}</mat-label>
                <select class="pl-2 pr-2" matNativeControl formControlName="accountStatusId"
                    placeholder="{{'Account Status' | translate}}">
                    <option *ngFor="let statusValue of status" [value]="statusValue.id">
                        {{statusValue['name_'+locale]}}
                    </option>
                </select>
            </mat-form-field> -->

            <div class="col-md-4 col-sm-12">
                <app-tel-input [isRequired]="true" (number)="number($event)" (isValid)="isValidPhoneNumber($event)"
                    (country)="onCountry($event)" [previousCountryId]="seletcedRow?.countryId"
                    [previousNumber]="seletcedRow?.mobileNumber">
                </app-tel-input>
            </div>

            <mat-form-field setDir class="col-md-4 col-sm-12">
                <mat-label>{{'Function' | translate}}</mat-label>
                <select class="pl-2 pr-2" matNativeControl formControlName="contactFunctionId"
                    placeholder="{{'Select Function' | translate}}" required>
                    <option *ngFor="let function of functions" [value]="function.id">
                        {{function['name_'+locale]}}
                    </option>
                </select>
            </mat-form-field>

            <mat-form-field setDir class="col-md-4 col-sm-12">
                <mat-label>{{'Contact Code' | translate}}</mat-label>
                <input matInput placeholder="{{'Contact Code' | translate}}" type="text" formControlName="contactCode"
                    required>
            </mat-form-field>

            <div setDir class="col-md-4 col-sm-12 pt-3" *ngIf="businessCustomer?.accountType != 2">
                <mat-checkbox formControlName="isMainContact">{{'Set As Main Contact' | translate}}</mat-checkbox>
            </div>

        </div>

        <div class="col-2">
            <div class="col-12 text-center mt-2">
                <img [src]="path" height="140" width="140" class="card-avatar profile-pic">
            </div>

            <div class="col-12 pt-2 text-center">
                <input type="file" id="upload-business-contact" hidden (change)="onSelectFile($event)"
                    accept="{{accept}}" />
                <label for="upload-business-contact" class="edit-image">
                    <mat-icon>mode_edit</mat-icon><span class="p-2">{{'Edit' | translate}}</span>
                </label>
            </div>
        </div>

    </form>

    <div class="row d-flex justify-content-end m-1" *ngIf="!disableForm">
        <button mat-raised-button class="btn btn-success ml-1 mr-1" (click)="manageContact()" *ngIf="showHideForm">
            {{operation}} {{'Contact' | translate}}
        </button>

        <button  *ngIf="businessCustomer?.accountType != 2  && !showHideForm"   mat-raised-button class="btn btn-success ml-1 mr-1" (click)="showForm()" >
            <mat-icon>add</mat-icon> {{'Add Contact' | translate}}
        </button>

        <button mat-raised-button class="btn btn-danger ml-1 mr-1" (click)="cancel()" *ngIf="showHideForm">
            {{'Cancel' | translate}}
        </button>
    </div>


    <div class="row p-3 mat-elevation-z8" dir="auto" *ngIf="contacts?.length > 0 && (!showHideForm)">
        <table mat-table [dataSource]="contacts">
            <ng-container matColumnDef="image">
                <th mat-header-cell *matHeaderCellDef>

                </th>
                <td mat-cell *matCellDef="let element">
                    <img [src]="baseUrl + '/' + element.personalPhotoURL" height="48" width="48" class="user-image">
                </td>
            </ng-container>

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> {{'#' | translate}} </th>
                <td mat-cell *matCellDef="let element;let index = index"> {{index + 1}}</td>
            </ng-container>

            <ng-container matColumnDef="nameEmail">
                <th mat-header-cell *matHeaderCellDef> {{'Name & Email' | translate}} </th>
                <td mat-cell *matCellDef="let element">
                    <h5>{{element.fullName}}</h5>
                    <h6>{{element.email}}</h6>
                </td>
            </ng-container>

            <ng-container matColumnDef="mobile">
                <th mat-header-cell *matHeaderCellDef> {{'Mobile' | translate}} </th>
                <td mat-cell *matCellDef="let element">
                    {{element.mobileNumber}}
                </td>
            </ng-container>

            <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef> {{'Phone' | translate}} </th>
                <td mat-cell *matCellDef="let element">
                    {{element.phone}}
                </td>
            </ng-container>

            <ng-container matColumnDef="faxNo">
                <th mat-header-cell *matHeaderCellDef> {{'Fax No' | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.fax}} </td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> {{'Status' | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.accountStatusName}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef class="text-center"> {{'Actions' | translate}} </th>
                <td mat-cell *matCellDef="let element" class="text-center">
                    <button mat-icon-button [matMenuTriggerFor]="actionsMenu" *ngIf="!disableForm">
                        <mat-icon>more_horiz</mat-icon>
                    </button>

                    <mat-menu #actionsMenu="matMenu" class="contact-actions">
                        <button mat-menu-item  *ngIf="businessCustomer?.accountType != 2" (click)="setMainContact(element.id)">
                            {{'Make it as Main Contact' | translate}}
                            <i class="material-icons">done_all</i>
                        </button>

                        <button mat-menu-item  (click)="editContact(element)">
                            {{'Edit' | translate}}
                            <i class="material-icons">mode_edit</i>
                        </button>

                        <button mat-menu-item [hidden]="businessCustomer?.accountType == 2"s>
                            {{'Delete' | translate}}
                            <app-confirm-deletion (confirm)="onConfirm($event,element)"
                                title="{{'Are you sure you want to delete this contact?' | translate}}">
                            </app-confirm-deletion>
                        </button>
                    </mat-menu>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>

    <div class="row d-flex justify-content-end" setDir *ngIf="contacts?.length > 0 && (!showHideForm)">
        <mat-paginator [length]="total" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 50, 100]"
            (page)="onChangePage($event)">
        </mat-paginator>
    </div>
</div>