@import "~ngx-toastr/toastr";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-lists/styles/material.css";
@import "../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-calendars/styles/material.css";
@import "../node_modules/@syncfusion/ej2-angular-calendars/styles/material.css";
@import "./app/shared/scss/colors.scss";
@import "~angular-vertical-timeline/dist/vertical-timeline.css";

/* global app style */
$blue: #014996;
$red: #d91e23;
$bg: #f9f9f9;

@font-face {
    font-family: DINNextLTArabic;
    src: url(assets/fonts/DINNextLTArabic-Regular.ttf);
}

* {
    font-family: DINNextLTArabic;
}

.dialog-header {
    background-color: $blue;
    color: white;
    padding: 15px;
}

.custom-dialog-container .mat-dialog-container {
    border-radius: 0px;
    padding: 0px;

    .btn-close-red {
        color: white;
        background-color: $red;
    }

    .btn-submit-blue {
        color: white;
        background-color: $blue;
    }

    .btn-submit-blue,
    .btn-close-red {
        border-radius: 0px;
    }
}

.dialog-close {
    cursor: pointer;
}

// for angular material any overlay (select, ...)
.cdk-overlay-container {
    z-index: 9999 !important;
}

.mat-form-field {
    font-weight: initial !important;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: $blue !important;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: $blue !important;
}

.mat-form-field-infix {
    font-size: medium !important;
    line-height: normal !important;
}

.material-icons {
    cursor: pointer;
}

.mat-elevation-z8 {
    box-shadow: none !important;
}

.mat-paginator-container {
    background-color: #eee;
    font-size: medium;
    color: $blue;
}

.mat-checkbox-ripple .mat-ripple-element,
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: $blue !important;
}

.mat-menu-item {
    font-family: DINNextLTArabic;
    .disable-btn {
        cursor: no-drop !important;
        opacity: 0.75;
    }
}

.h-45 {
    height: 45px;
}

.text-bold {
    font-weight: bold;
}

.actions {
    .btn-close-red {
        color: white;
        background-color: $red;
    }

    .btn-submit-blue {
        color: white;
        background-color: $blue;
    }

    .btn-submit-blue,
    .btn-close-red {
        border-radius: 0px;
    }
}

.selected-rows-section {
    color: $blue;
    font-weight: bold;
    font-size: medium;
    margin-bottom: 5px;
}
