<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <header-as-card title="{{'Change Password' | translate}}">
                    </header-as-card>

                    <div class="card-body">
                        <form [formGroup]="form" class="row">
                            <mat-form-field setDir class="col-md-4 col-sm-12">
                                <mat-label>{{'Old Password' | translate}}</mat-label>
                                <input matInput placeholder="{{'Password' | translate}}" type="{{type[0]}}"
                                    formControlName="currentPassword" required>
                                <mat-icon matSuffix class="icon" (click)="togglePassword(0)">remove_red_eye</mat-icon>
                            </mat-form-field>


                            <mat-form-field setDir class="col-md-4 col-sm-12">
                                <mat-label>{{'New Password' | translate}}</mat-label>
                                <input matInput placeholder="{{'Password' | translate}}" type="{{type[1]}}"
                                    formControlName="newPassword" required>
                                <mat-icon matSuffix class="icon" (click)="togglePassword(1)">remove_red_eye</mat-icon>

                                <mat-hint class="hint-error"
                                    *ngIf="form.controls['newPassword'].invalid && form.controls['newPassword'].errors?.pattern">
                                    {{'Password must be at least 8 characters long and must contain one lower case, one
                                    uppercase,
                                    one numeric and one special character' | translate}}
                                </mat-hint>
                            </mat-form-field>

                            <mat-form-field setDir class="col-md-4 col-sm-12">
                                <mat-label>{{'Confirm Password' | translate}}</mat-label>
                                <input matInput placeholder="{{'Password' | translate}}" type="{{type[2]}}"
                                    formControlName="confirmPassword" required>
                                <mat-icon matSuffix class="icon" (click)="togglePassword(2)">remove_red_eye</mat-icon>

                                <mat-hint class="hint-error"
                                    *ngIf="form.controls['confirmPassword'].invalid && form.controls['confirmPassword'].errors?.confirm">
                                    {{'Passwords do not match' | translate}}
                                </mat-hint>
                            </mat-form-field>

                            <div class="col-md-4 col-sm-12 d-flex justify-contend-start">
                                <button type="button" mat-button class="btn btn-success" (click)="submit()">
                                    {{'Change Password' | translate}}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>