.removeMargin{
    margin-top: 0px;
}
.addMargin{
    margin-top: 80px;
}
.addMarginRight{
    margin-right: 40px !important;
}.tbodyClass > tr > td {
    border: 1px solid #014996;;
    text-align: center;
}
table > thead > tr  {
    text-align: center;
    }
    .marginRight{
        margin-right: 10px;
    }
    .textCenter{
        text-align: center !important;
        font-weight: 800;
    }
    
    .labelClass{
        border: 1px solid black; 
        margin-bottom: 3px;
    }
    .centerLabel{
        border-bottom: 1px dashed black; 
       
    }
    .labelClass > h6 {
        padding-left: 10%;
        margin: auto;
        padding: 3px;
    }
    .textRight{
        font-weight: 800;
        text-align: right;
    }
    .arebic{
        text-align: right;
    }
    input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.iconClass{
    display: flex;
    justify-content: center;
}
.iconSpan{
    cursor: pointer;
}
.iconSpan >i:hover {
    background-color: gray;
    border-radius: 50%;
}
