<div class="addMargin">
    <button mat-raised-button type="submit" class="btn btn-danger pull-right addMarginRight" data-toggle="modal"
        data-target="#assignDrivers"> <i class="material-icons marginRight" data-toggle="modal"
            data-target="#ma">person_add
        </i>{{"Assign Drivers" | translate}} </button>
</div>
<div class="clearfix"></div>
<div class="main-content removeMargin">


    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <header-as-card title="{{'Distribution Order' | translate}}">
                    </header-as-card>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>{{'Distribution Order Number' | translate}}</mat-label>
                                        <input matInput placeholder="{{'Distribution Order Number' | translate}}"
                                            value="" required type="number">

                                    </mat-form-field>
                                </div>

                                <!-- <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Customers Branches</mat-label>
                                        <select matNativeControl required>
                                            <option value="" disabled selected>Select Branches </option>
                                            <option value="Capital">Capital</option>
                                            <option value="Hawalli">Hawalli</option>
                                            <option value="Mubarak Al-Kaber">Mubarak Al-Kaber</option>
                                            <option value="Ahmadi">Ahmadi</option>
                                            <option value="Farwaniya">Farwaniya</option>
                                            <option value="Jahra">Jahra</option>
                                        </select>
                                    </mat-form-field>
                                </div> -->


                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'Delivery Date' | translate}}" type="date">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">

            <div class="col-md-12">
                <div class="card card-plain">
                    <header-as-card title="{{'Order Details' | translate}}">
                    </header-as-card>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                                <thead class="">
                                    <tr>
                                        <th>
                                            #{{'SN' | translate}}
                                        </th>
                                        <th>
                                            {{'Barcode' | translate}}
                                        </th>
                                        <th>
                                            {{'AWB' | translate}}#
                                        </th>
                                        <th>
                                            {{'Sender Name' | translate}}
                                        </th>
                                        <th>
                                            {{'Receiver Name' | translate}}
                                        </th>
                                        <th>
                                            {{'Order Date' | translate}}
                                        </th>
                                        <th>
                                            {{'Shipment Details' | translate}}
                                        </th>
                                        <th>
                                            {{"Payment Methods" | translate}}
                                        </th>
                                        <th>
                                            {{"Order Status" | translate}}
                                        </th>
                                        <th>
                                            {{"Client Name" | translate}}
                                        </th>
                                        <th>
                                            {{'Actions' | translate}}
                                        </th>
                                    </tr>

                                </thead>
                                <tbody class="tbodyClass">
                                    <tr *ngFor="let item of orderDetails ; let i = index">
                                        <td class="fixWidth">
                                            {{i + 1}}
                                        </td>
                                        <td>
                                            {{item.barcode}}
                                        </td>
                                        <td>
                                            {{item.AWB}}
                                        </td>
                                        <td>
                                            {{item.receiverName}}
                                        </td>
                                        <td>
                                            {{item.senderName}}
                                        </td>
                                        <td>
                                            {{item.orderDate}}
                                        </td>
                                        <td>
                                            {{item.shipmentDetails}}
                                        </td>
                                        <td>
                                            {{item.paymentMethod}}
                                        </td>
                                        <td>
                                            {{item.orderStatus}}
                                        </td>
                                        <td>
                                            {{item.clientName}}
                                        </td>
                                        <td>
                                            <!-- <span class="material-icons-round">
                                                mode_edit
                                            </span> -->
                                            <div class="iconClass">
                                                <span class="iconSpan">
                                                    <i class="material-icons" data-toggle="modal"
                                                        data-target="#distributor">visibility </i>
                                                </span>
                                                <span class="iconSpan">
                                                    <i class="material-icons" (click)="selectedItem( item.id)"
                                                        data-toggle="modal" data-target="#FilterModel">mode_edit </i>
                                                </span>
                                                <span class="iconSpan">
                                                    <app-confirm-deletion
                                                        title="{{'Are you sure you want to delete this distributor?' | translate}}">
                                                    </app-confirm-deletion>
                                                </span>
                                            </div>
                                        </td>

                                    </tr>

                                </tbody>


                            </table>
                            <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
                        </div>
                    </div>

                </div>
                <!-- <button mat-raised-button type="submit" class="btn btn-danger pull-left" data-toggle="modal"
                    data-target="#distributor">After Distributing to the client
                </button> -->

                <button mat-raised-button type="submit" class="btn btn-danger pull-right" data-toggle="modal"
                    data-target="#uploadFile">{{'Save' | translate}}</button>
                <button mat-raised-button type="submit" class="btn btn-danger pull-right" data-toggle="modal"
                    data-target="#downloadTemplate">{{'Save & Send By Mail' | translate}}
                </button>
                <button mat-raised-button type="submit" class="btn btn-danger pull-right" data-toggle="modal"
                    data-target="#uploadFile">{{'Save & Print' | translate}}</button>
            </div>
        </div>

    </div>
</div>




<div id="distributor" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <div class="card">
                    <div class="card-header card-header-danger textCenter">
                        <h4 class="card-title">{{'AFTER DISTRIBUTING TO THE CLIENT' | translate}}
                        </h4>
                        <p class="card-category"> &nbsp;</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-6 textCenter">
                                    <div class="textCenter">{{"EXPRESS POST" | translate}}</div>
                                    <div class="textCenter">
                                        {{'TEL' | translate}} : 523723782
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="textCenter"> صريح آخر</div>
                                    <div class="textCenter">
                                        هاتف: 523723782
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 textCenter">
                                    <div>
                                        {{'Mail Receipt Form' | translate}}
                                    </div>
                                    <div>
                                        www.expresspost.com
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 textCenter">
                                    <div class="textCenter">
                                        <ngx-barcode [bc-value]="24445212" [bc-display-value]="true" [bc-height]="60">
                                        </ngx-barcode>
                                    </div>
                                    <!-- <div class="textCenter">
                                        TEL : 523723782
                                    </div> -->
                                </div>

                                <div class="col-md-6">

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="textRight">
                                                {{'From' | translate}}
                                            </div>
                                            <div class="textRight">
                                                من عند
                                            </div>

                                        </div>
                                        <div class="col-md-6 centerLabel" contenteditable="true">
                                            &nbsp;
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <br>
                            <br>
                            <div class="row">
                                <div class="col-md-3 ">
                                    <div class=" labelClass">
                                        <h6>
                                            To.
                                        </h6>
                                    </div>
                                    <!-- <div class="textCenter">
                                        TEL : 523723782
                                    </div> -->
                                </div>
                                <div class="col-md-6 ">
                                    <div class=" centerLabel" contenteditable="true">
                                        &nbsp;
                                    </div>
                                    <!-- <div class="textCenter">
                                        TEL : 523723782
                                    </div> -->
                                </div>

                                <div class="col-md-3">

                                    <div class="labelClass arebic">
                                        <h6>
                                            اسم المرسل إليه
                                        </h6>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 ">
                                    <div class=" labelClass">
                                        <h6>
                                            {{'Location' | translate}}
                                        </h6>
                                    </div>
                                    <!-- <div class="">
                                        TEL : 523723782
                                    </div> -->
                                </div>
                                <div class="col-md-6 ">
                                    <div class=" centerLabel" contenteditable="true">
                                        &nbsp;
                                    </div>
                                    <!-- <div class="">
                                        TEL : 523723782
                                    </div> -->
                                </div>

                                <div class="col-md-3">

                                    <div class=" labelClass arebic">
                                        <h6>
                                            العنوان

                                        </h6>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 ">
                                    <div class=" labelClass">
                                        <h6>
                                            A.N
                                        </h6>
                                    </div>
                                    <!-- <div class="">
                                        TEL : 523723782
                                    </div> -->
                                </div>
                                <div class="col-md-6 ">
                                    <div class=" centerLabel" contenteditable="true">
                                        &nbsp;
                                    </div>
                                    <!-- <div class="">
                                        TEL : 523723782
                                    </div> -->
                                </div>

                                <div class="col-md-3">

                                    <div class=" labelClass arebic">
                                        <h6>
                                            الرقم الآلي
                                        </h6>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 ">
                                    <div class=" labelClass">
                                        <h6>
                                            Rec. Name
                                        </h6>
                                    </div>
                                    <!-- <div class="">
                                        TEL : 523723782
                                    </div> -->
                                </div>
                                <div class="col-md-6 ">
                                    <div class=" centerLabel" contenteditable="true">
                                        &nbsp;
                                    </div>
                                    <!-- <div class="">
                                        TEL : 523723782
                                    </div> -->
                                </div>

                                <div class="col-md-3">

                                    <div class=" labelClass arebic">
                                        <h6>
                                            اسم المستلم
                                        </h6>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 ">
                                    <div class=" labelClass">
                                        <h6>
                                            {{'Discribe' | translate}}
                                        </h6>
                                    </div>
                                    <!-- <div class="">
                                        TEL : 523723782
                                    </div> -->
                                </div>
                                <div class="col-md-6 ">
                                    <div class=" centerLabel" contenteditable="true">
                                        &nbsp;
                                    </div>
                                    <!-- <div class="">
                                        TEL : 523723782
                                    </div> -->
                                </div>

                                <div class="col-md-3">

                                    <div class=" labelClass arebic">
                                        <h6>
                                            صفة المستلم

                                        </h6>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 ">
                                    <div class=" labelClass">
                                        <h6>
                                            {{"Date" | translate}}
                                        </h6>
                                    </div>
                                    <!-- <div class="">
                                        TEL : 523723782
                                    </div> -->
                                </div>
                                <div class="col-md-6 ">
                                    <div class=" centerLabel" contenteditable="true">
                                        &nbsp;
                                    </div>
                                    <!-- <div class="">
                                        TEL : 523723782
                                    </div> -->
                                </div>

                                <div class="col-md-3">

                                    <div class=" labelClass arebic">
                                        <h6>
                                            تالايخ الاستلام

                                        </h6>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 ">
                                    <div class=" labelClass">
                                        <h6>
                                            Time
                                        </h6>
                                    </div>
                                    <!-- <div class="">
                                        TEL : 523723782
                                    </div> -->
                                </div>
                                <div class="col-md-6 ">
                                    <div class=" centerLabel" contenteditable="true">
                                        &nbsp;
                                    </div>
                                    <!-- <div class="">
                                        TEL : 523723782
                                    </div> -->
                                </div>

                                <div class="col-md-3">

                                    <div class=" labelClass arebic">
                                        <h6>
                                            الساعة

                                        </h6>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 ">
                                    <div class=" labelClass">
                                        <h6>
                                            Signature
                                        </h6>
                                    </div>
                                    <!-- <div class="">
                                        TEL : 523723782
                                    </div> -->
                                </div>
                                <div class="col-md-6 ">
                                    <div class=" centerLabel" contenteditable="true">
                                        &nbsp;
                                    </div>
                                    <!-- <div class="">
                                        TEL : 523723782
                                    </div> -->
                                </div>

                                <div class="col-md-3">

                                    <div class=" labelClass arebic">
                                        <h6>
                                            التوقيع
                                        </h6>

                                    </div>
                                </div>
                            </div>



                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- <div class="modal-footer">
                <div style="margin: auto">
                    <button type="button" class="btn btn-primary shadowfor-pop-btn saveBtn"
                        (click)="onSaveCompanyDetails()">
                        Update Company Details
                    </button>
                    <button type="button" class="btn btn-danger close_btn shadowfor-pop-btn m-left-10"
                        data-dismiss="modal">
                        {{'Close' | translate}}
                    </button>
                </div>
            </div> -->
        </div>
    </div>
</div>

<!--  modal -->