<section class="contianer">
    <div class="dialog-header" mat-dialog-title>  
        <div class="row p-0">           
            <i class="col-1 d-flex justify-content-end material-icons dialog-close" mat-dialog-close>close</i>
        </div>    
    </div>
  <div  id="print-section">
    <form  [formGroup]="form" class="m-2"  setDir >
        <div dir="auto">
            <div class="logo">
                <div class="row">
                    <div class="col-md-6">
                        <a href="#" class="col-md-12 d-flex justify-content-start ml-2 mr-2">
                            <img class="sidebar-logo" src="./assets/img/express_logo.png" />
                        </a>
                      </div>
                    <div class="col-md-6">
                        <h4>اكسبرس بوست للبريد</h4>
                        <h5>EXPRESS POST</h5>
                       </div>
                
                
                </div>
            </div>
            <div class="col-md-12" >
                <label for="">{{'Date'| translate}}</label> : &nbsp;
                <span>  اتفق كل من  {{todayDate |date :'dd-MM-yyyy'}} انه فى يوم الموافق</span>
            </div>          
            <div class="col-md-12" >
                <p>{{contractForEdit.address}} /  ويمثلها السيد  {{contractForEdit.businessCustomerName}}  /شركه  </p>
               
            </div>
            <div lass="col-md-12">
              <p> :العنوان   </p>
            </div>
            <div class="col-md-12" >
                <p>طرف ثان    {{contractForEdit.businessCustomerName}}:اكسبريس بوست للتوزيع السريع ويمثلها السيد</p>       
            </div>
            <div class="col-md-12" >
                <p>  {{contractForEdit.businessCustomerName}}العنوان  </p>       
            </div>
            <div class="col-md-12" >
                <p> اتفق الطرفان على ما يلى 
                     </p>       
            </div>
            <div class="col-md-12" >
                <p>  يتعهد الطرف الثانى بتوزيع الكميات الرسائل والمطبوعات التى يمثلها الطرف الاول داخل مناطق ومحافظات دوله الكويت من الباب للباب <span> (1</span></p> <br/>   
               <p> <span>المناطق الممنوع دخولها رسميا</span> (ما عدا الجزر والمناطق الحدوديه )بدون عنوان منظم او عشوائى حسب التقسيمه التى يطلبها الطرف الاول  </p>   
            </div>
         <div class="col-md-12">
           <p>يلتزم الطرف الاول بتوزيع الطرود والرسائل الى الطرف الثانى قبل الموعد المتفق عليه حتى يتم تصنيفها مع الالتزام بالكميه والصنيف بالشكل الذي يسهل التوزيع <span> (2</span></p>
         </div>
         <div class="col-md-12">
             <p>  يلتزم الطرف الثانى بتنفيذ البنود المتفق عليها مع الطرف الاول لتنظيم اعمال تسليم الرسائل وعلى الطرف الاول تنسيق ذلك  <span> (3</span> </p>
         </div>
         <div class="col-md-12"> 
           <p>   يلتزم الطرف الاول بدفع%50 جسب الجدول المبين ادناه من قيمه هذا العقد ويتم الحساب بعد كل عمل مع الطرف الاول لعدد <span> (4</span> </p><br/>
           <p> رساله , نقطه توزيع او عدد غير محدد الكميه تحصر لاحقا  {{contractForEdit.numberOfUnits}}</p><br/>
           <p>  توزيع الرسائل والمطبوعات بسعر منظم للنقطه{{totalVal}} او اجمالى وقدره دينار كويتى للكميه <span> {{contractForEdit.pricePerUnit}}توزيع الرسائل والمطبوعات بسعر منظم للنقطه<span> (a</span></span></p><br/>
           <p> المذكوره اعلاه واى زيده تحسب  بسعر النقطه اضافه على هذا الاتفاق </p><br/>
           <p> الكميه المسموح بها للانحراف عن التوزيع او الشكاوى من الكميه الاجماليه<span> (b</span> </p><br>
         </div>
         <div class="col-md-12"> 
            <p>  عمل من تاريخ استلام الطرف الثانى للكميات ويجب تسليم كميات التوزيع قبل 24 ساعه حتى <span>{{contractForEdit.contractDays}}اتفق الطرفان على ان تكون مده التوزيع </span><span> (5</span> </p><br/>
            <p> حتى تتم تصنيفها للتوزيع , ويحق للطرف الثانى التوقف عن توزيع الكميات اللاحقه فى حاله التاخير عن الدفع </p>
         </div>
         <div class="col-md-12"> 
             <p> يلتزم الطرف الاول بكافه الشروط والقوانين والانظمه الخاصه بنظام التوزيع بدوله الكويت  واستخراج الرخص تاللازمه لذلك ومحتويات التوزيع تقع  <span> (6</span></p><br/>
             <p>على مسئوليته </p>

         </div>
         <div class="col-md-12"> 
             <p>نختص محاكم الكويت فى الفصل باى خلاف او نزاع ينشا بين الطرفين فى مساله عدم تمكنهما من الفصل بالطرق الوديه <span> (7</span> </p>
        </div>
        <div class="col-md-12"> 
             <p>يلتزم الطرف الاول بدفع مستحقات الطرف الثانى  خلال ثلاثه ايام من تاريخ تسلمه الكشوف الحساب الصادره من الطرف الثانى <span> (8</span></p>
        </div>
        <div class="col-md-12"> 
             <p>حرر هذا العقد من نسختين بين كل طرف  نسخه للعمل بها عند اللزوم </p>
        </div>
        <div class="col-md-12"> 
             <p> -:شروط اضافيه </p>
        </div>
        <div class="col-md-12"> 
            <p> ---------------------------------------------------------------------------------------------------------------------(a  </p><br/>
            <p> ---------------------------------------------------------------------------------------------------------------------(b </p>

       </div>
    
      <div class="col-md-12"  style=" display: flex; ">
        <div class="col-md-6" style=" border: 1px solid red;">
            <p> -----------------------------------------------------:توقيع العميل </p>    
            <p> -----------------------------------------------------: اسم المفوض بالتوقيع  </p> 
            <p>                                                                /   الختم   </p> 
             <p></p><br/>
             <p></p><br/>
             <p></p><br/>
             <p></p><br/>
             <p></p><br/>
             <p></p><br/>


            <p> 200   /    /    : التاريخ </p>       


        </div>
        <div class="col-md-6" style="border: 1px solid green;">
            <p> -----------------------------------------------------:توقيع العميل </p>    
            <p> -----------------------------------------------------: اسم المفوض بالتوقيع  </p> 
            <p>                                                                /   الختم   </p> 
             <p></p><br/>
             <p></p><br/>
             <p></p><br/>
             <p></p><br/>
             <p></p><br/>
             <p></p><br/>


            <p> 200   /    /    : التاريخ </p>          
        </div>
       </div>
          
        </div>
         
    
    </form>  
</div>
    <div mat-dialog-actions class="p-4">
        <button type="button" mat-button class="btn-submit-blue ml-1 mr-1" (click)="printForm()">
            {{'Print' | translate}}
        </button>
    </div>
</section>