<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div setDir class="col-md-12">
                <h3>{{label}} {{'Local Distribution Contract' | translate}}</h3>
            </div>

            <form class="m-2" [formGroup]="form">
                <div class="card">
                    <div class="row p-3">
                        <header-as-card class="col-md-12 mb-1" title="{{'Contract Info' | translate}}">
                        </header-as-card>

                        <mat-form-field setDir class="col-md-4">
                            <input matInput placeholder="{{'Contract Code' | translate}}" type="text" formControlName="code" required>
                        </mat-form-field>

                        <mat-form-field setDir class="col-md-4 col-sm-12">
                            <mat-label>{{'Service Sector' | translate}}</mat-label>
                            <select matNativeControl class="p-1" formControlName="serviceSectorId">
                                <option *ngFor="let option of serviceSectors" [value]="option.id">
                                    {{option.name}}
                              </option>
                            </select>
                        </mat-form-field>

                        <mat-form-field setDir class="col-md-4 col-sm-12">
                            <mat-label>{{'Contract Type' | translate}}</mat-label>
                            <select matNativeControl class="p-1" formControlName="contractTypeId" >
                                <option *ngFor="let option of contractTypes" [value]="option.id">
                                    {{option.name}}
                              </option>
                            </select>
                        </mat-form-field>

                        <mat-form-field setDir class="col-md-4 col-sm-12">
                            <mat-label>{{'Contract Status' | translate}}</mat-label>
                            <select matNativeControl class="p-1" formControlName="contractStatusId">
                                <option *ngFor="let option of contractStatuss" [value]="option.id">
                                    {{option.name}}
                              </option>              
                           </select>
                        </mat-form-field>

                        <mat-form-field setDir class="col-md-4">
                            <mat-label>{{'Contract Date' | translate}}</mat-label>
                            <input matInput [matDatepicker]="contractDatePicker" formControlName="contractDate" (dateChange)="date($event,'contractDate')">
                            <mat-datepicker-toggle matSuffix [for]="contractDatePicker"></mat-datepicker-toggle>
                            <mat-datepicker #contractDatePicker></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field setDir class="col-md-4">
                            <mat-label>{{'Contract Start Date' | translate}}</mat-label>
                            <input matInput [matDatepicker]="contractStartDatePicker" formControlName="contractStartDate" (dateChange)="date($event,'contractStartDate')">
                            <mat-datepicker-toggle matSuffix [for]="contractStartDatePicker"></mat-datepicker-toggle>
                            <mat-datepicker #contractStartDatePicker></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field setDir class="col-md-4">
                            <mat-label>{{'Contract End Date' | translate}}</mat-label>
                            <input matInput [matDatepicker]="contractEndDatePicker" formControlName="contractEndDate" (dateChange)="date($event,'contractEndDate')">
                            <mat-datepicker-toggle matSuffix [for]="contractEndDatePicker"></mat-datepicker-toggle>
                            <mat-datepicker #contractEndDatePicker></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>

                <div class="card">
                    <div class="row p-3">
                        <header-as-card class="col-md-12 mb-1" title="{{'Customer Info' | translate}}">
                        </header-as-card>

                        <br>
                        <br>

                        <mat-form-field setDir class="col-md-3">
                            <input matInput type="number" placeholder="{{'Number of Messages' | translate}}"
                                formControlName="noOfMessages" required>
                        </mat-form-field>

                        <div setDir class="col-md-4 mt-3">
                        
                            <mat-checkbox  formControlName="isPrintReciptListAndCollectEnabled">
                                {{"Print Receipt List and collect (Receipt Proof)" | translate}}
                             </mat-checkbox>
                        </div>

                        <div setDir class="col-md-4 mt-3">
                            <mat-checkbox formControlName="isPrintAndFixEnabledEnabled">
                                {{'Print & Fix Envelop Labels' | translate}}
                            </mat-checkbox>
                        </div>
                        <!-- <mat-form-field setDir dir="auto"  class="col-md-3">
                            <mat-select placeholder="{{'Customer' | translate}}"
                                 formControlName="businessCustomerId"
                                [value]="customer">
                                <mat-option>
                                    <ngx-mat-select-search formControlName="filterCustomerCtrl" name="filterCustomerCtrl"
                                        noEntriesFoundLabel="{{'No matching customer found' | translate}}"
                                        [clearSearchInput]="true">
                                    </ngx-mat-select-search>
                                </mat-option>
                                <mat-option
                                    *ngFor="let customer of customers | filter:form.controls['filterCustomerCtrl'].value"
                                    [value]="customer.id" matTooltip="{{customer.name}}">
                                    {{customer.name}}
                                </mat-option>
                            </mat-select>
        
                        </mat-form-field> -->
                        <mat-form-field setDir class="col-md-3 col-sm-12">
                            <mat-label>{{'Business Name' | translate}}</mat-label>
                            <select matNativeControl class="pl-2 pr-2" formControlName="businessCustomerId" 
                            (ngModelChange)="optionSelected($event,'autoBusinessName')">
                                <option *ngFor="let option of businessCustomers" [value]="option.id">
                                      {{option.businessName}}
                                </option>
                            </select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="card">
                    <div class="row p-3">
                        <header-as-card class="col-md-12 mb-1" title="{{'Service Level' | translate}}">
                        </header-as-card>

                        <br>
                        <br>

                        <div class="col-md-4 row">
                            <mat-form-field setDir class="col-md-4">
                                <input matInput type="text" required 
                                formControlName="itemsSupplyAheadOfValue"
                                 mask="0*.00">
                            </mat-form-field>

                            <mat-form-field setDir class="col-md-8">
                                <select matNativeControl placeholder="{{'Select Items Supply Ahead Of' | translate}}"
                                formControlName="itemsSupplyAheadOf"   
                                required>
                                    <option *ngFor="let period of periodTypes" [value]="period.id">
                                        {{period.name}}
                                    </option>
                                </select>
                            </mat-form-field>
                        </div>

                        <div class="col-md-4 row">
                            <mat-form-field setDir class="col-md-4">
                                <input matInput type="text" required mask="0*.00"
                                formControlName="serviceDistributionPeriodValue"
                                >
                            </mat-form-field>

                            <mat-form-field setDir class="col-md-8">
                                <select matNativeControl
                                    placeholder="{{'Select Service (Distribution) Period' | translate}}"
                                    formControlName="serviceDistributionPeriod"   
                                     required>
                                    <option *ngFor="let period of periodTypes" [value]="period.id">
                                        {{period.name}}
                                    </option>
                                </select>
                            </mat-form-field>
                        </div>

                        <mat-form-field setDir class="col-md-4">
                            <input matInput type="number" placeholder="{{'Distribution Allowance (%)' | translate}}"
                            formControlName="distriputionAllowance"  required>
                        </mat-form-field>
                    </div>
                </div>

                <div class="card">
                    <div class="row p-3">
                        <header-as-card class="col-md-12 mb-1" title="{{'Contract Value' | translate}}">
                        </header-as-card>

                        <br>
                        <br>

                        <mat-form-field setDir class="col-md-4">
                            <mat-label>{{'Price Quotation' | translate}}</mat-label>
                            <select matNativeControl placeholder="{{'Select Price Quotation' | translate}}" 
                            formControlName="rfqId"
                            (ngModelChange)="optionSelected($event,'autoPriceQuotation')"
                            required>
                            <option *ngFor="let pq of rFQList" [value]="pq.id">
                                {{pq.pqCode}}
                            </option>
                            </select>
                        </mat-form-field> 
                        <div  class="col-md-4"></div>
                        <div  class="col-md-4"></div>

                        <mat-form-field setDir class="col-md-4">
                            <input matInput type="number" placeholder="{{'Price per Unit' | translate}}"
                            formControlName="pricePerUnit" readonly  required>
                        </mat-form-field>

                        <!-- <mat-form-field setDir class="col-md-4">
                            <mat-label>{{'Price Currency' | translate}}</mat-label>
                            <select matNativeControl placeholder="{{'Select Price Currency' | translate}}" 
                            formControlName="currencyId"
                            (ngModelChange)="optionSelected($event,'autoPriceCurrency')"
                            required>
                            <option *ngFor="let curr of currencies" [value]="curr.id">
                                {{curr.code}}
                            </option>
                            </select>
                        </mat-form-field>  -->
                   
                       

                        <mat-form-field setDir class="col-md-4">
                            <input matInput type="number" placeholder="{{'Number of Units' | translate}}"
                             formControlName="numberOfUnits" (change)="txtChange()" readonly required>
                        </mat-form-field>

                        <mat-form-field setDir class="col-md-4">
                            <input matInput type="number" placeholder="{{'Total Value' | translate}}"
                             formControlName="totalValue" readonly>
                        </mat-form-field>


                        <mat-form-field setDir class="col-md-4">
                            <mat-label>{{'Currency' | translate}}</mat-label>
                            <!-- <select matNativeControl placeholder="{{'Select Currency' | translate}}" formControlName="" required>
                                <option *ngFor="let period of periodTypes" [value]="period.id">
                                    {{period.name}}
                                </option>
                            </select> -->
                            <input matInput type="text" placeholder="{{'Currency' | translate}}"
                             formControlName="currency" readonly>
                        </mat-form-field>
                    </div>
                </div>

                <div class="card">
                    <div class="row p-3">
                        <header-as-card class="col-md-12 mb-1" title="{{'Payment Terms' | translate}}">
                        </header-as-card>

                        <br>
                        <br>

                        <mat-form-field setDir class="col-md-4 pt-4">
                            <mat-label>{{'Payment Type' | translate}}</mat-label>
                            <select matNativeControl placeholder="{{'Select Payment Type' | translate}}" formControlName="paymentType" required>
                                <option *ngFor="let paymentType of paymentTypes" [value]="paymentType.id">
                                    {{paymentType.name}}
                                </option>
                            </select>
                        </mat-form-field>

                        <div class="col-md-8 row">
                            <mat-label class="col-md-12">{{'Payment Not later than (After Mission Done)' | translate}}
                            </mat-label>

                            <mat-form-field setDir class="col-md-2">
                                <input matInput type="number" formControlName="paymentNotLetterThanPeriodValue" required>
                            </mat-form-field>

                            <mat-form-field setDir class="col-md-3">
                                <select matNativeControl formControlName="paymentNotLetterThanPeriodType" required>
                                    <option *ngFor="let period of periodTypes" [value]="period.id">
                                        {{period.name}}
                                    </option>
                                </select>
                            </mat-form-field>

                            <span class="col-md-2 p-4">{{'Or' | translate}}</span>

                            <mat-form-field setDir class="col-md-2">
                                <input matInput type="number" formControlName="paymentTermsMessageNo" required>
                            </mat-form-field>

                            <span class="col-md-3 p-4">{{'Messages' | translate}}</span>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="row p-3">
                        <header-as-card class="col-md-12 mb-1" title="{{'Extra Terms List' | translate}}">
                        </header-as-card>

                        <div formArrayName="terms" class="col-12">
                            <div *ngFor="let term of terms().controls; let termIndex=index">
                                <div [formGroupName]="termIndex" class="row">
                                    <mat-form-field setDir class="col-10">
                                        <input matInput formControlName="term" placeholder="Term" type="text">
                                    </mat-form-field>

                                    <div class="col-2 p-2">
                                        <mat-icon (click)="removeTerm(termIndex)" style="color: red">{{'Delete' | translate}} </mat-icon>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 d-flex justify-content-end ">
                                <button type="button" (click)="addTerm()" class="btn btn-info ml-1 mr-1">
                                    <mat-icon>{{'Add' | translate}}</mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="row d-flex justify-content-end">
            <button type="button" mat-button class="btn-submit-blue ml-1 mr-1" (click)="printContract()">
                {{'Preview' | translate}}
            </button>

            <!-- <button type="button" mat-button class="btn-submit-blue ml-1 mr-1">
                {{'Export' | translate}}
            </button> -->

            <button type="button" mat-button class="btn-submit-blue ml-1 mr-1"  (click)="submit()" >
                {{'Save' | translate}}
            </button>

            <button type="button" mat-button class="btn-close-red ml-1 mr-1" mat-dialog-close (click)="cancel()">
                {{'Cancel' | translate}}
            </button>
        </div>
    </div>
</div>