@import "./../../../shared/scss/colors.scss";

.btn-submit-blue {
    background-color: $blue;
}

.btn-close-red {
    background-color: $red;
}

.btn-close-red,
.btn-submit-blue {
    color: white;
    border-radius: 0px;
}
.mar{
    margin-top: 30px;
}
:host ::ng-deep {
    .mat-checkbox-layout .mat-checkbox-label {
        color: black;
    }
}
