<section class="container" setDir>
    <div class="dialog-header" mat-dialog-title>
        <div class="row p-0">
            <h4 class="col-11 d-flex justify-content-start">{{label}} {{'role' | translate}}</h4>
            <i class="col-1 d-flex justify-content-end material-icons dialog-close" mat-dialog-close>close</i>
        </div>
    </div>

    <form mat-dialog-content [formGroup]="form">
        <mat-form-field appearance="fill">
            <mat-label>{{'Role Name' | translate}} </mat-label>
            <input required matInput type="text" formControlName="roleName" [readonly]="isEditMode">
        </mat-form-field>
        <mat-accordion *ngFor="let permission of permissions; let Index = index">

            <!-- Task permissions -->
            <mat-expansion-panel [expanded]="step === Index" (opened)="setStep(Index)">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{permission.name}}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list role="list">
                    <mat-list-item *ngFor="let permissionValue of permission.permissions; let i = index" class="row">
                        <div class="col-11">
                            {{permissionValue.name}}
                        </div>
                        <div class="col-1">
                            <mat-slide-toggle (change)="setValue(permissionValue ,$event)"
                                              [checked]="checkPermission(permissionValue.value)">
                            </mat-slide-toggle>
                        </div>
                    </mat-list-item>
                </mat-list>
            </mat-expansion-panel>
        </mat-accordion>
    </form>

    <div mat-dialog-actions class="p-4">
        <button type="button" mat-button class="btn-submit-blue ml-1 mr-1" (click)="manageAccessControl()"
                [disabled]="!form.valid || isSubmitted">
            {{label}}
        </button>

        <button type="button" mat-button class="btn-close-red ml-1 mr-1" mat-dialog-close>
            {{'Close' | translate}}
        </button>
    </div>
</section>