@import "../../../shared/scss/colors.scss";
:host ::ng-deep {
  .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: $red;
  }

  .mat-expansion-panel {
    background: none;
    border-radius: 0px;
    margin-bottom: 15px;
    box-shadow: none;
    border: none;

    .mat-expanded:focus {
      height: 49px !important;
    }

    mat-expansion-panel-header {
      color: $blue;
      border: 2px solid $blue;
    }
  }

  .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }

  .mat-stroked-button.mat-button-disabled.mat-button-disabled {
    color: white;
    opacity: 0.75;
  }
}

.btn-submit-blue {
  background-color: $blue;
  color: white;
  border: 0px;
}

.btn-close-red {
  background-color: $red;
  color: white;
  border: 0px;
}
