<!-- for orders -->
<table mat-table [dataSource]="list" multiTemplateDataRows class="mat-elevation-z8" *ngIf="list.length > 0" setDir>
    <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef class="text-center p-3 table-fixed-width">
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
            </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row" class="text-center p-3">
            <mat-checkbox (click)="$event.stopPropagation()" [checked]="selection.isSelected(row)"
                [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
        </td>
    </ng-container>

    <ng-container matColumnDef="driverUserName">
        <th mat-header-cell *matHeaderCellDef>{{'Driver Username' | translate}}</th>
        <td mat-cell *matCellDef="let element">
            {{element.driverUserName}}
        </td>
    </ng-container>

    <ng-container matColumnDef="itemsNo">
        <th mat-header-cell *matHeaderCellDef>{{'Items No' | translate}}</th>
        <td mat-cell *matCellDef="let element"> {{element.itemsNo}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="text-center"> {{'Actions' | translate}} </th>
        <td mat-cell *matCellDef="let element" class="text-center">
            <button mat-icon-button [matMenuTriggerFor]="actionsMenu">
                <mat-icon>more_horiz</mat-icon>
            </button>
            <mat-menu #actionsMenu="matMenu">
                <button mat-menu-item>
                    {{'Assign To Workorder' | translate}}
                </button>

                <button mat-menu-item>
                    {{'Issue Workorder' | translate}}
                </button>

                <button mat-menu-item (click)="assignDriver('by_order',element)">
                    {{'Assign to Driver' | translate}}
                </button>
            </mat-menu>
        </td>
    </ng-container>

    <ng-container matColumnDef="showHide">
        <th mat-header-cell *matHeaderCellDef class="table-fixed-width">
            <mat-icon (click)="expandCollapseAll()">expand</mat-icon>
        </th>
        <td mat-cell *matCellDef="let element">
            <mat-icon *ngIf="element != expandedElement" (click)="setExpandedElement(element)">
                arrow_drop_down
            </mat-icon>
            <mat-icon *ngIf="element == expandedElement" (click)="expandedElement = null">arrow_drop_up
            </mat-icon>
        </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let groupElement;let index = index" [attr.colspan]="columnsToDisplay.length">
            <div class="order-element-detail row"
                [@detailExpand]="(groupElement == expandedElement || allRowsExpanded) ? 'expanded' : 'collapsed'"
                *ngIf="groupElement.items?.length > 0">
                <table mat-table
                    [dataSource]="groupElement.items | paginate: { itemsPerPage: 10, currentPage: groupElement.page,id:groupElement.id}"
                    class="mat-elevation-z8 items-table col-12">

                    <ng-container matColumnDef="itemInfo">
                        <th mat-header-cell *matHeaderCellDef>{{'Item Info' | translate}}</th>
                        <td mat-cell *matCellDef="let element" class="pl-3 pr-3">
                            <div>
                                <span class="font-weight-bold">Item Code</span>: {{element.itemCode}}
                            </div>

                            <div>
                                <span class="font-weight-bold">Item Type</span>: {{element.itemType}}
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="itemStatus">
                        <th mat-header-cell *matHeaderCellDef>{{'Item Status' | translate}}</th>
                        <td mat-cell *matCellDef="let element;let index = index">
                            <mat-icon *ngIf="element.status == 'Pickup';else otherIcon" class="pickup-icon">
                                arrow_circle_up
                            </mat-icon>

                            <ng-template #otherIcon>
                                <mat-icon class="delivery-icon">arrow_circle_down</mat-icon>
                            </ng-template>

                            <span class="pl-5">
                                {{element.status}}
                            </span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="deliveryBefore">
                        <th mat-header-cell *matHeaderCellDef>{{'Delivery Before' | translate}}</th>
                        <td mat-cell *matCellDef="let element"> {{element.deliveryBeforeDate}} </td>
                    </ng-container>

                    <ng-container matColumnDef="weight">
                        <th mat-header-cell *matHeaderCellDef>{{'Weight' | translate}}</th>
                        <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef class="text-center"> {{'Actions' | translate}}
                        </th>
                        <td mat-cell *matCellDef="let element" class="text-center">
                            <button mat-icon-button [matMenuTriggerFor]="actionsMenu">
                                <mat-icon>more_horiz</mat-icon>
                            </button>
                            <mat-menu #actionsMenu="matMenu">
                                <!-- <button mat-menu-item>
                                    {{'Delete Item' | translate}}
                                </button>

                                <button mat-menu-item>
                                    {{'View Item' | translate}}
                                </button>

                                <button mat-menu-item>
                                    {{'Edit Item' | translate}}
                                </button>

                                <button mat-menu-item>
                                    {{'Change Status' | translate}}
                                </button> -->

                                <button  *ngxPermissionsOnly="['WorkOrders_AssignToDriver']" mat-menu-item (click)="assignDriver('by_item_grouped_by_order',element)">
                                    {{'Assign to Driver' | translate}}
                                </button>
                            </mat-menu>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="itemsColumnsToDisplay"></tr>
                    <tr mat-row *matRowDef="let element; columns: itemsColumnsToDisplay;">
                    </tr>
                </table>

                <div class="row pt-3" *ngIf="groupElement.items?.length > 0">
                    <div class="col-md-12 d-flex justify-content-end">
                        <pagination-controls (pageChange)="onChangeItemsPage($event,groupElement)"
                            id="{{groupElement.id}}">
                        </pagination-controls>
                    </div>
                </div>
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplay"
        [class.order-expanded-row]="expandedElement === element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="order-detail-row"></tr>
</table>

<div class="row d-flex justify-content-end" setDir dir="ltr">
    <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 50, 100]"
        (page)="onChangeByOrdersPage($event)">
    </mat-paginator>
</div>