@import "./../../shared/scss/colors.scss";

.create-label {
    font-weight: bold;
    font-size: larger;
    padding-bottom: 10px;
}

:host ::ng-deep {
    .mat-step-header .mat-step-icon-selected {
        background-color: $blue;
        margin: 0 auto;
    }

    .mat-step-header .mat-step-icon-state-edit {
        background: none;
        color: $blue;
        border: 2px solid $blue;
        margin: 0 auto;
    }

    .mat-horizontal-stepper-header-container {
        font-weight: 600;
    }

    .mat-stepper-horizontal-line {
        border-top: 5px solid $blue;
    }

    .mat-step-icon {
        height: 50px;
        width: 50px;
    }

    .mat-stepper-label-position-bottom .mat-stepper-horizontal-line {
        top: 50px;
    }

    .mat-horizontal-stepper-header:not(:last-child)::after {
        border-top-style: none;
    }

    .mat-radio-button.mat-accent .mat-radio-inner-circle {
        background-color: $blue;
    }

    .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
        border-color: $blue;
    }

    .mat-step-header {
        position: inherit;
    }

    .mat-step-text-label {
        font-weight: bold;
    }

    .mat-horizontal-stepper {
        border-radius: 25px;
    }

    .mat-step-icon .mat-icon {
        margin: 0 auto;
    }
    .mat-horizontal-stepper-header {
        pointer-events: none !important;
    }

    .mat-horizontal-stepper-header::before,
    .mat-horizontal-stepper-header::after {
        border: none;
        border-color: white;
    }
}

.login-logo {
    height: 80px;
    width: 180px;
    margin: auto;
    margin-left: 25px;
    margin-right: 25px;
}

.top-header {
    height: 80px;
    padding: 0px;
    z-index: 9999;
    background-color: white;
}

.img-flag {
    height: 30px;
    width: 60px;
}

.flag-name {
    min-width: 50px;
}
