.add-btn {
    background-color: white;
    color: #014996;
    border-radius: 0px;
    max-height: 40px;
}

.title-section-justify {
    text-align: justify;
}

.title-section-center {
    text-align: center;
}

.btn-section {
    align-items: center;
}
