<div class="card-header card-header-danger row">
    <!-- header -->
    <div [ngClass]="isCentered ? 'row col-12 title-section-center' : 'row col-9 title-section-justify'">
        <h4 class="card-title col-12">
            {{title}}
        </h4>

        <!-- sub header -->
        <h5 class="card-category col-12">
            {{subTitle}}
        </h5>
    </div>

    <div class="col-3 d-flex justify-content-end btn-section" *ngIf="btnLabel.length > 0">
        <button mat-button type="submit" (click)="clickBtn()" class="add-btn">
            {{btnLabel}}
        </button>
    </div>
</div>